<?php
$transverse = $this->module()->getClientModuleConfiguration('indicator', 'transverse');
?>
	<div
		ng-controller="indicatorFormController as self"
		ng-init="self.init(<?= $this->indicator ? $this->indicator->getId() : '' ?>)"
	>
		<ul class="breadcrumb">
			<li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
			<li>
				<a href="<?= $this->url('indicator') ?>"><?= $this->translate('indicator_module_title') ?></a>
			</li>
			<li class="active">
				<span ng-if="self.indicator.id">
					{{self.panelTitle}}
				</span>
				<span ng-if="!self.indicator.id">
					<?= $this->translate('indicator_nav_form') ?>
				</span>
			</li>
		</ul>

		<h1 class="page-title">
			<?= $this->icon('indicator') ?> <?= $this->translate('indicator_module_title') ?>
		</h1>

		<div class="row row-padding">
			<div class="col-xs-12">
				<div class="panel">
					<div class="panel-heading">
						<span ng-if="self.indicator.id">
							{{self.panelTitle}}
						</span>
						<span ng-if="!self.indicator.id">
							<?= $this->translate('indicator_nav_form') ?>
						</span>

						<div class="panel-heading-right">
							<div
								class="panel-heading-actions"
								ng-if="self.indicator.id && self.indicator._rights.delete"
								tooltip="<?= $this->translate('tooltip_delete') ?>"
							>
								<?= $this->icon('delete', 'pointer', ['ng-click' => 'self.deleteIndicator()']) ?>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-2">
								<ul class="nav nav-pills nav-stacked">
									<li class="active">
										<a href="#indicator" data-toggle="tab">
											<?= $this->icon('indicator', 'fa-fw') ?> <?= ucfirst($this->translate('indicator_entity')) ?>
										</a>
									</li>
									<li ng-show="self.indicator.id">
										<a href="#measures" data-toggle="tab">
											<?= $this->icon('measure', 'fa-fw') ?> <?= ucfirst($this->translate('measure_entities')) ?>
										</a>
									</li>
									<?php if ($transverse) : ?>
										<li ng-show="self.indicator.id">
											<a href="#deployment" data-toggle="tab">
												<?= $this->icon('deployment', 'fa-fw') ?> <?= ucfirst($this->translate('indicator_transverse_deployment')) ?>
											</a>
										</li>
									<?php endif; ?>
								</ul>
							</div>
							<div class="col-sm-10">
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="indicator">
										<form name="indicatorForm" ng-submit="self.saveIndicator()">
											<input
												type="hidden" name="id"
												ng-model="self.indicator.id"
											/>

											<div class="row">
												<div class="form-group required col-sm-6 col-lg-4">
													<label><?= $this->translate('indicator_field_name') ?></label>
													<input
														type="text"
														name="name"
														class="form-control"
														autocomplete="off"
														required
														ng-model="self.indicator.name"
														ng-readonly="!self.indicator._rights.update"
													/>
													<field-errors field="name" errors="self.errors.fields"></field-errors>
												</div>
												<div class="form-group col-sm-6 col-lg-4">
													<label><?= $this->translate('indicator_field_archived') ?></label>
													<input
														type="checkbox"
														name="archived"
														ng-model="self.indicator.archived"
														ng-readonly="!self.indicator._rights.update"
													/>
													<field-errors field="archived" errors="self.errors.fields"></field-errors>
												</div>
											</div>

											<div class="row">
												<div class="form-group col-sm-6 col-lg-4">
													<label><?= $this->translate('indicator_field_description') ?></label>
													<textarea
														name="description"
														class="form-control"
														ng-model="self.indicator.description"
														ng-readonly="!self.indicator._rights.update"
													></textarea>
													<field-errors
														field="description"
														errors="self.errors.fields"
													></field-errors>
												</div>
											</div>

											<div class="row">
												<div class="form-group col-sm-6 col-lg-4">
													<label><?= $this->translate('indicator_field_definition') ?></label>
													<textarea
														name="definition"
														class="form-control"
														ng-model="self.indicator.definition"
														ng-readonly="!self.indicator._rights.update"
													></textarea>
													<field-errors
														field="definition"
														errors="self.errors.fields"
													></field-errors>
												</div>
											</div>

											<div class="row">
												<div class="form-group col-sm-6 col-lg-4">
													<label><?= $this->translate('indicator_field_method') ?></label>
													<textarea
														name="method"
														class="form-control"
														ng-model="self.indicator.method"
														ng-readonly="!self.indicator._rights.update"
													></textarea>
													<field-errors
														field="method"
														errors="self.errors.fields"
													></field-errors>
												</div>
											</div>

											<div class="row">
												<div class="form-group col-sm-6 col-lg-4">
													<label><?= $this->translate('indicator_field_interpretation') ?></label>
													<textarea
														name="interpretation"
														class="form-control"
														ng-model="self.indicator.interpretation"
														ng-readonly="!self.indicator._rights.update"
													></textarea>
													<field-errors
														field="interpretation"
														errors="self.errors.fields"
													></field-errors>
												</div>
											</div>

											<div class="row">
												<div class="form-group col-sm-6 col-lg-4">
													<label><?= $this->translate('indicator_field_uom') ?></label>
													<input
														type="text"
														name="uom"
														class="form-control"
														autocomplete="off"
														ng-model="self.indicator.uom"
														ng-readonly="!self.indicator._rights.update"
													/>
													<field-errors field="uom" errors="self.errors.fields"></field-errors>
												</div>
											</div>

											<div class="row">
												<div class="form-group required col-sm-6 col-lg-4">
													<label><?= $this->translate('indicator_field_type') ?></label>
													<select
														class="form-control"
														required
														ng-model="self.indicator.type"
														ng-disabled="!self.indicator._rights.update"
													>
														<option value=""></option>
														<?php
														foreach (\Indicator\Entity\Indicator::getTypes() as $type) {
															echo '<option value="' . $type . '">' . $this->translate('indicator_type_' . $type) . '</option>';
														}
														?>
													</select>
													<field-errors field="type" errors="self.errors.fields"></field-errors>
												</div>
											</div>

											<div class="row">
												<div class="form-group required col-sm-6 col-lg-4">
													<label><?= $this->translate('indicator_field_operator') ?></label>
													<select
														class="form-control"
														required
														ng-model="self.indicator.operator"
														ng-disabled="!self.indicator._rights.update"
													>
														<option value=""></option>
														<?php
														foreach (\Indicator\Entity\Indicator::getOperators() as $operator) {
															echo '<option value="' . $operator . '">' . $this->translate('indicator_operator_' . $operator) . '</option>';
														}
														?>
													</select>
													<field-errors field="operator" errors="self.errors.fields"></field-errors>
												</div>
											</div>

											<div
												class="row"
												ng-show="self.indicator.type == '<?= \Indicator\Entity\Indicator::TYPE_FIXED ?>'"
											>
												<div class="form-group col-sm-6 col-lg-4">
													<button
														class="btn separator"
														type="button"
														ng-click="self.addValue();"
														ng-if="self.indicator._rights.update"
													>
														<?= $this->icon('create') ?>
														<?= $this->translate('indicator_add_value') ?>
													</button>

													<table class="table">
														<thead>
															<tr>
																<th><?= $this->translate('indicator_field_values_value') ?></th>
																<th><?= $this->translate('indicator_field_values_text') ?></th>
																<th></th>
																<?php if ($transverse) : ?>
																	<th></th>
																<?php endif; ?>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="value in self.indicator.values">
																<td>
																	<input
																		type="text"
																		class="form-control input-sm"
																		input-mask="decimal"
																		ng-model="value.value"
																		required
																		ng-readonly="!self.indicator._rights.update"
																	>
																</td>
																<td>
																	<input
																		type="text"
																		class="form-control input-sm"
																		ng-model="value.text"
																		required
																		ng-readonly="!self.indicator._rights.update"
																	/>
																</td>

																<td>
																	<input
																		type="color"
																		class="form-control input-sm"
																		ng-model="value.color"
																		required
																		ng-readonly="!self.indicator._rights.update"
																	/>
																</td>
																<?php if ($transverse) : ?>
																	<td>
																		<select
																			class="icon-select" style="color: {{value.color}}"
																			ng-model="value.icon"
																			ng-readonly="!self.indicator._rights.update"
																		>
																			<option></option>
																			<option value="star">&#xf005;</option>
																			<option value="star-half">&#xf089;</option>
																			<option value="star-o">&#xf006;</option>
																			<option value="star-half-o">&#xf123;</option>
																			<option value="circle">&#xf111;</option>
																			<option value="circle-o">&#xf10c;</option>
																			<option value="tint">&#xf043;</option>
																			<option value="cloud">&#xf0c2;</option>
																			<option value="sun-o">&#xf185;</option>
																			<option value="long-arrow-up">&#xf176;</option>
																			<option value="long-arrow-down">&#xf175;</option>
																			<option value="long-arrow-right">&#xf178;</option>
																			<option value="long-arrow-left">&#xf177;</option>
																			<option value="thermometer-empty">&#xf2cb;</option>
																			<option value="thermometer-quarter">&#xf2ca;</option>
																			<option value="thermometer-half">&#xf2c9;</option>
																			<option value="thermometer-three-quarters">&#xf2c8;</option>
																			<option value="thermometer-full">&#xf2c7;</option>
																			<option value="battery-empty">&#xf244;</option>
																			<option value="battery-quarter">&#xf243;</option>
																			<option value="battery-half">&#xf242;</option>
																			<option value="battery-three-quarters">&#xf241;</option>
																			<option value="battery-full">&#xf240;</option>
																			<option value="frown-o">&#xf119;</option>
																			<option value="meh-o">&#xf11a;</option>
																			<option value="smile-o">&#xf118;</option>
																		</select>
																	</td>
																<?php endif; ?>
																<td>
																	<a
																		ng-if="self.indicator._rights.update"
																		tooltip="<?= $this->translate('tooltip_delete') ?>"
																		class="btn btn-xs btn-default"
																		ng-click="self.removeValue(value)"
																	>
																		<?= $this->icon('delete') ?>
																	</a>
																</td>
															</tr>
														</tbody>
													</table>
													<field-errors field="values" errors="self.errors.fields"></field-errors>
												</div>
											</div>

											<?php if ($this->module()->getClientModuleConfiguration('user', 'service')) : ?>
												<div class="row">
													<div class="form-group col-sm-6 col-lg-4">
														<label><?= ucfirst($this->translate('indicator_field_services')) ?></label>
														<service-select
															ng-model="self.indicator.services"
															ng-disabled="!self.indicator._rights.update"
															name="services"
															form="indicatorForm"
															multiple="true"
														>
														</service-select>
													</div>
												</div>
											<?php endif; ?>

											<?php if ($this->module()->isActive('keyword')) : ?>
												<div class="row">
													<div class="col-sm-6 col-lg-4">
														<fieldset>
															<legend><?= $this->icon('keyword', 'fa-fw') ?> <?= $this->translate('keywords_' . Keyword\Entity\Group::GROUP_TYPE_KEYWORD) ?></legend>
															<keywords-form-group
																entity="indicator"
																kw-type="<?= Keyword\Entity\Group::GROUP_TYPE_KEYWORD; ?>"
																ng-model="self.indicator"
															>
															</keywords-form-group>
														</fieldset>
														<fieldset>
															<legend><?= $this->icon('tree', 'fa-fw') ?> <?= $this->translate('keywords_' . Keyword\Entity\Group::GROUP_TYPE_REFERENCE) ?></legend>
															<keywords-form-group
																entity="indicator"
																kw-type="<?= Keyword\Entity\Group::GROUP_TYPE_REFERENCE; ?>"
																ng-model="self.indicator"
															>
															</keywords-form-group>
														</fieldset>
													</div>
												</div>
											<?php endif; ?>

											<div ng-if="self.indicator._rights.update" class="row">
												<div class="col-xs-12">
													<button
														type="submit"
														class="btn btn-submit"
														ng-disabled="self.loading.remove || self.loading.save"
													>
														<?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
														<?= $this->translate('form_button_save') ?>
													</button>
												</div>
											</div>
										</form>
									</div>
									<div role="tabpanel" class="tab-pane" id="measures">
										<?= $this->partial('indicator/partial/measure/list.phtml', ['isMaster'=> $this->isMaster, 'from' => 'indicator', 'object' => $this->indicator]) ?>
									</div>
									<?php if ($transverse) : ?>
										<div role="tabpanel" class="tab-pane" id="deployment">
											<?= $this->partial('indicator/partial/transverse/deployment.phtml', ['object' => $this->indicator]) ?>
										</div>
									<?php endif; ?>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<?php
$fabLinks = [];

if ($this->acl()->isAllowed('indicator:e:indicator:c')) {
	$fabLinks[] = [
		'href' => $this->url('indicator/form'),
		'text' => $this->icon('create', 'fa-fw') . ' ' . $this->translate('indicator_nav_form')
	];
	$fabLinks[] = [
		'href' => $this->url('import', ['entity' => 'indicator']),
		'text' => $this->icon('import', 'fa-fw') . ' ' . $this->translate('indicator_nav_import')
	];
	$fabLinks[] = [
		'href' => $this->url('import', ['entity' => 'measure']),
		'text' => $this->icon('import', 'fa-fw') . ' ' . $this->translate('measure_nav_import')
	];
}

echo $this->fabMenu($fabLinks);
?>

<?php
$this->angular('js/src/keyword/directive/keywordSelect.js');
$this->angular('js/src/keyword/directive/keywordsFormGroup.js');

$this->angular('js/src/keyword/service/keyword.js');
$this->angular('js/src/keyword/service/group.js');
$this->angular('js/src/indicator/service/indicator.js');
$this->angular('js/src/indicator/service/deployment.js');

$this->angular('js/src/indicator/controller/indicator/form.js');
$this->angular('js/src/indicator/controller/transverse/deployment.js');

$this->angular('js/src/application/query/service/query.js');

/** Territories */
$this->angular('js/src/map/service/territory.js');
$this->angular('js/src/map/directive/territorySelect.js');
$this->angular('js/src/map/directive/territoriesFormGroup.js');

/** Projects */
$this->angular('js/src/project/service/project.js');
$this->angular('js/src/project/directive/projectSelect.js');

$this->angular('js/src/user/directive/serviceSelect.js');
$this->angular('js/src/user/service/service.js');

$this->angular('js/src/analysis/service/client.js');
$this->angular('js/src/analysis/directive/clientSelect.js');