<ul class="breadcrumb">
    <li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
    <li><a href="<?= $this->url('indicator') ?>"><?= $this->translate('indicator_module_title') ?></a></li>
    <li class="active"><?= $this->translate('indicator_nav_list') ?></li>
</ul>

<h1 class="page-title">
    <?= $this->icon('indicator') ?> <?= $this->translate('indicator_module_title') ?>
</h1>

<div class="row row-padding">
    <div class="col-xs-12">
        <div class="panel" ng-controller="indicatorListController as self" ng-init="__filters = {};">
            <table-builder options="self.options" items="self.indicators" class="table-builder">
                <div class="panel-heading">
                    <?= $this->translate('indicator_nav_list') ?>
                    <div class="panel-heading-right">
                    <div class="panel-heading-actions" ng-show="self.view == 'list'" tooltip="<?= $this->translate('tooltip_switch_view_group_indicator_tree') ?>">
                            <?= $this->icon('tree', 'fa-fw pointer', ['ng-click' => 'self.view = \'tree\'; treeTabLoaded = true']) ?>
                        </div>
                        <div class="panel-heading-actions" ng-show="self.view == 'tree'" tooltip="<?= $this->translate('tooltip_switch_view_group_indicator_list') ?>">
                            <?= $this->icon('list', 'fa-fw pointer', ['ng-click' => 'self.view = \'list\'']) ?>
                        </div>
                       <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_remove_from_list') ?>">
                            <?= $this->icon('eraser', 'fa-fw pointer', ['ng-click' => '__tb.removeFromList()']) ?>
                        </div>
                        <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_export_xls') ?>">
                            <?= $this->icon('excel', 'fa-fw pointer', ['ng-click' => '__tb.exportExcel()']) ?>
                        </div>
                        <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_refresh') ?>">
                            <?= $this->icon('refresh', 'fa-fw pointer', ['ng-click' => '__tb.loadData()']) ?>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" ng-show="self.view == 'list'">
                        <div class="col-sm-4">
                            <div class="table-filters little-panel">
                                <div class="title table-filters-header">
                                    <div class="input-group">
                                        <div class="input-group-addon pointer" data-toggle="collapse" href="#filters-collapsed">
                                           <?= $this->icon('filters', 'fa fa-caret-down') ?>
                                        </div>
                                        <input type="text" placeholder="<?= $this->translate('search', null, null, false) ?>" class="form-control"
                                               ng-model="self.fullText" id="full-text" on-enter="self.fullTextSearch()"/>
                                        <div class="input-group-addon pointer" ng-click="self.fullTextSearch()">
                                            <?= $this->icon('search', 'fa-fw') ?>
                                        </div>
                                    </div>
                                </div>
                                <div id="filters-collapsed" class="body collapse">
                                    <?= $this->tableFilter('__tb.apiParams.search.data.filters', $this->indicatorFilters()); ?>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <button class="btn" ng-click="self.resetfullTextSearch(); __tb.resetFilters(); __tb.loadData()"><?= $this->translate('table_filter_reset_button') ?></button>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <button class="btn" ng-click="self.resetfullTextSearch(); __tb.loadData()">
                                                <?= $this->icon('search', 'fa-fw') ?>
                                                <?= $this->translate('table_filter_button') ?>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <table-builder-columns></table-builder-columns>
                        </div>
                        <?php if ($this->acl()->isAllowed('application:e:query:r')) : ?>
                            <div class="col-sm-4">
                                <table-builder-queries basket="<?= $this->acl()->isAllowed('application:p:query:basket') ? 'true' : 'false'  ?>"></table-builder-queries>
                            </div>
                        <?php endif; ?>
                    </div>
                    <div class="row" ng-show="self.view == 'list'">
                        <div class="col-xs-12">
                            <form name="indicatorForm">
                                <table table-builder-table class="table table-bordered table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th tb-column tb-name="selection" class="checkbox-column"><input type="checkbox" ng-model="__tb.selection"/></th>
                                            <th tb-column tb-name="id"    tb-sortable="true" tb-toggle="true"><?= $this->translate('indicator_field_id') ?></th>
                                            <th tb-column tb-name="name"    tb-sortable="true" tb-toggle="true"><?= $this->translate('indicator_field_name') ?></th>
                                            <th tb-column tb-name="groupIndicators"  tb-toggle="true"><?= $this->translate('indicator_field_group-indicators') ?></th>
                                            <th tb-column tb-name="uom"    tb-sortable="true" tb-toggle="true"><?= $this->translate('indicator_field_uom') ?></th>
                                            <th tb-column tb-name="type"   tb-sortable="true" tb-toggle="true"><?= $this->translate('indicator_field_type') ?></th>
                                            <th tb-column tb-name="archived" tb-sortable="true" tb-toggle="true"><?= $this->translate('indicator_field_archived') ?></th>
                                            <th tb-column tb-name="description" tb-sortable="false" tb-toggle="true"><?= $this->translate('indicator_field_description') ?></th>
                                            <th tb-column tb-name="definition" tb-sortable="false" tb-toggle="true"><?= $this->translate('indicator_field_definition') ?></th>
                                            <th tb-column tb-name="method" tb-sortable="false" tb-toggle="true"><?= $this->translate('indicator_field_method') ?></th>
                                            <th tb-column tb-name="interpretation" tb-sortable="false" tb-toggle="true"><?= $this->translate('indicator_field_interpretation') ?></th>
                                            <th tb-column tb-name="operator" tb-sortable="false" tb-toggle="true"><?= $this->translate('indicator_field_operator') ?></th>
                                            <?php if ($this->module()->getClientModuleConfiguration('user', 'service')) {
                                                echo '<th tb-column tb-name="services" tb-toggle="true" tb-sortable="false">' . $this->translate('indicator_field_services') . '</th>';
                                            }
                                            ?>
                                            <?php
                                                if ($this->module()->isActive('keyword')) {
                                                    foreach ($this->groups as $group) {
                                                        echo '<th tb-column tb-name="keyword' . $group->getId() . '" tb-sortable="false" tb-toggle="true">' . $group->getName() . '</th>';
                                                    }
                                                }
                                            ?>
                                            <th tb-column tb-name="createdAt"  tb-sortable="true" tb-toggle="true" tb-hidden="true"><?= $this->translate('indicator_field_createdAt') ?></th>
                                            <th tb-column tb-name="updatedAt"  tb-sortable="true" tb-toggle="true" tb-hidden="true"><?= $this->translate('indicator_field_updatedAt') ?></th>
                                            <th tb-column tb-name="actions" class="actions-column"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="indicator in self.indicators" ng-class="{editing: self.editedLine == indicator}">
                                            <td><input type="checkbox" ng-model="indicator.selected"/></td>
                                            <td>{{indicator.id}}</td>
                                            <td class="editable">
                                                <span ng-show="self.editedLine !== indicator">
                                                    <a ng-if="indicator._rights.read" href="<?= $this->url('indicator/form') ?>/{{indicator.id}}">{{indicator.name}}</a>
                                                    <span ng-if="!indicator._rights.read">{{indicator.name}}</span>

                                                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(indicator)', 'ng-if' => 'indicator._rights.update']) ?>
                                                </span>
                                                <span ng-if="self.editedLine == indicator">
                                                    <input type="text" class="form-control input-sm" ng-model="self.editedLineFields.name" required />
                                                    <field-errors field="name" errors="self.editedLineErrors"></field-errors>
                                                </span>
                                            </td>
                                            <td>
                                                <span class="comma-separated">
                                                    <span ng-repeat="group in indicator.groupIndicators">
                                                    <a ng-if="indicator._rights.read" href="<?= $this->url('group-indicator/form') ?>/{{group.id}}">{{group.name}}</a>
                                                    <span ng-if="!indicator._rights.read">{{group.name}}</span>    
                                                    </span>
                                                </span>
                                            </td>
                                            <td class="editable">
                                                <span ng-show="self.editedLine !== indicator">
                                                    {{indicator.uom}}
                                                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(indicator)', 'ng-if' => 'indicator._rights.update']) ?>
                                                </span>
                                                <span ng-if="self.editedLine == indicator">
                                                    <input type="text" class="form-control input-sm" ng-model="self.editedLineFields.uom" />
                                                    <field-errors field="uom" errors="self.editedLineErrors"></field-errors>
                                                </span>
                                            </td>
                                            <td class="editable">
                                                <span ng-show="self.editedLine !== indicator">
                                                    {{'indicator_type_' + indicator.type | translate}}
                                                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(indicator)', 'ng-if' => 'indicator._rights.update']) ?>
                                                </span>
                                                <span ng-if="self.editedLine == indicator">
                                                    <select class="form-control input-sm" required
                                                            ng-model="self.editedLineFields.type">
                                                        <?php
                                                        foreach (\Indicator\Entity\Indicator::getTypes() as $type) {
                                                            echo '<option value="' . $type . '">' . $this->translate('indicator_type_' . $type) . '</option>';
                                                        }
                                                        ?>
                                                    </select>
                                                    <field-errors field="type" errors="self.errors.fields"></field-errors>
                                                </span>
                                            </td>
                                            <td class="editable">
                                                <span ng-show="self.editedLine !== indicator">
                                                    {{ indicator.archived ? 'Oui' : 'Non'}}
                                                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(indicator)', 'ng-if' => 'indicator._rights.update']) ?>
                                                </span>
                                                <span ng-if="self.editedLine == indicator">
                                                    <input type="checkbox" ng-model="self.editedLineFields.archived" />
                                                </span>
                                            </td>
                                            <td>
                                                <span>{{indicator.description}}</span>
                                            </td>
                                            <td>
                                                <span>{{indicator.definition}}</span>
                                            </td>
                                            <td>
                                                <span>{{indicator.method}}</span>
                                            </td>
                                            <td>
                                                <span>{{indicator.interpretation}}</span>
                                            </td>
                                            <td>
                                                <span>{{ 'indicator_operator_' + indicator.operator | translate}}</span>
                                            </td>
                                            <?php if ($this->module()->getClientModuleConfiguration('user', 'service')) : ?>
                                                <td class="editable">
                                                    <span class="comma-separated" ng-show="self.editedLine !== indicator">
                                                         <span ng-repeat="service in indicator.services">
                                                                <?php if ($this->acl()->isAllowed('user:e:service:r')) : ?>
                                                                    <a href="<?= $this->url('service/form') ?>/{{service.id}}">{{service.name}}</a>
                                                                <?php else : ?>
                                                                    {{service.name}}
                                                                <?php endif; ?>
                                                         </span>
                                                        <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(indicator)', 'ng-if' => 'indicator._rights.update']) ?>
                                                    </span>
                                                    <span ng-if="self.editedLine == indicator">
                                                        <service-select name="services" ng-model="self.editedLineFields.services"
                                                                        multiple="true" form="indicatorForm"></service-select>
                                                        <field-errors field="services" errors="self.errors.fields"></field-errors>
                                                    </span>
                                                </td>
                                            <?php endif; ?>
                                            <?php
                                                if ($this->module()->isActive('keyword')) {
                                                    foreach ($this->groups as $group) {
                                                        echo '<td class="editable">';
                                                            echo '<span class="comma-separated" ng-show="self.editedLine !== indicator">';
                                                                echo '<span ng-repeat="keyword in indicator.keywords[' . $group->getId() . ']">{{keyword.name}}</span>';
                                                                echo $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(indicator)', 'ng-if' => 'indicator._rights.update']);
                                                            echo '</span>';
                                                            echo '<span ng-if="self.editedLine == indicator">';
                                                                echo '<keyword-select name="keywords' . $group->getId() . '" ng-model="self.editedLineFields.keywords[' . $group->getId() . ']" multiple="' . ($group->isMultiple() ? 'true' : 'false') . '" configuration="{ service : { apiParams : { search: { data: { filters: { group : { op: \'eq\', val: ' . $group->getId() . ' } } } } } } }" form="indicatorForm"></keyword-select>';
                                                            echo '</span>';
                                                        echo '</td>';
                                                    }
                                                }
                                            ?>
                                            <td>{{indicator.createdAt | dateFormat : 'DD/MM/YYYY'}}</td>
                                            <td>{{indicator.updatedAt | dateFormat : 'DD/MM/YYYY'}}</td>
                                            <td>
                                                <div class="btn-group btn-group-actions" ng-if="self.editedLine !== indicator">
                                                    <?php if ($this->acl()->isAllowed('indicator:e:indicator:d')) : ?>
                                                        <a ng-if="indicator._rights.update" href="" class="btn btn-xs btn-default" ng-click="self.archiveIndicator(indicator);">
                                                        <span ng-if="!indicator.archived" tooltip="<?= $this->translate('tooltip_archive') ?>" >
                                                                <?= $this->icon('archive') ?>
                                                            </span>
                                                            <span ng-if="indicator.archived" tooltip="<?= $this->translate('tooltip_unarchive') ?>" >
                                                                <?= $this->icon('unarchive') ?>
                                                            </span>
                                                        </a>
                                                    <?php endif; ?>
                                                    <?php if ($this->acl()->isAllowed('indicator:e:indicator:r')) : ?>
                                                        <a ng-if="indicator._rights.read" href="<?= $this->url('indicator/form') ?>/{{indicator.id}}" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_edit') ?>">
                                                            <?= $this->icon('edit') ?>
                                                        </a>
                                                    <?php endif; ?>

                                                    <?php if ($this->acl()->isAllowed('indicator:e:indicator:d')) : ?>
                                                        <a ng-if="indicator._rights.delete" href="" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_delete') ?>" ng-click="self.deleteIndicator(indicator);">
                                                            <?= $this->icon('delete') ?>
                                                        </a>
                                                    <?php endif; ?>
                                                </div>
                                                <div class="btn-group btn-group-actions" ng-if="self.editedLine == indicator">
                                                    <button class="btn btn-xs btn-default" ng-click="self.saveEditedLine(indicator)" type="submit" tooltip="<?= $this->translate('tooltip_save') ?>">
                                                        <?= $this->icon('save') ?>
                                                    </button>
                                                    <button class="btn btn-xs btn-default" ng-click="self.editedLine = null" type="button" tooltip="<?= $this->translate('tooltip_cancel') ?>">
                                                        <?= $this->icon('close') ?>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="row" ng-show="self.view == 'tree'">
                        <?= $this->partial('indicator/partial/tree.phtml') ?>
                    </div>
                </div>
            </table-builder>
        </div>
    </div>
</div>

<?php
    $fabLinks = [];

    if ($this->acl()->isAllowed('indicator:e:indicator:c')) {
        $fabLinks[] = [
            'href' => $this->url('indicator/form'),
            'text' => $this->icon('create', 'fa-fw') . ' ' . $this->translate('indicator_nav_form')
        ];
        $fabLinks[] = [
            'href' => $this->url('import', ['entity' => 'indicator']),
            'text' => $this->icon('import', 'fa-fw') . ' ' . $this->translate('indicator_nav_import')
        ];
        $fabLinks[] = [
            'href' => $this->url('import', ['entity' => 'measure']),
            'text' => $this->icon('import', 'fa-fw') . ' ' . $this->translate('measure_nav_import')
        ];
    }

    echo $this->fabMenu($fabLinks);
?>

<?php
    $this->angular('js/src/keyword/directive/keywordSelect.js');

    $this->angular('js/src/keyword/service/keyword.js');
    $this->angular('js/src/indicator/service/indicator.js');
    $this->angular('js/src/indicator/service/groupindicator.js');
    $this->angular('js/src/application/query/service/query.js');

    $this->angular('js/src/indicator/controller/indicator/list.js');
    $this->angular('js/src/indicator/controller/indicator/tree.js');

    $this->angular('js/src/user/directive/serviceSelect.js');
    // $this->angular('js/src/user/service/service.js');
?>