<div ng-controller="exportFormWordController as self"
     ng-init="self.init(<?= $this->export ? $this->export->getId() : 'null' ?>,
              <?= $this->environment()->getClient()->getId() ?>,
              '<?= \Export\Entity\Export::TYPE_WORD ?>')">
    <ul class="breadcrumb">
        <li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
        <li><?= $this->translate('administration_module_title') ?></li>
        <li><a href="<?= $this->url('export') ?>"><?= $this->translate('export_module_title') ?></a></li>
        <li class="active">
            <span ng-if="!self.export.id"><?= $this->translate('exportWord_nav_form') ?></span>
        </li>
    </ul>

    <h1 class="page-title">
        <?= $this->icon('word') ?> <?= $this->translate('export_module_title') ?>
    </h1>

    <div class="row row-padding">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <span ng-if="self.export.id">
                        {{self.panelTitle}}
                    </span>
                    <span ng-if="!self.export.id">
                        <?= $this->translate('exportWord_nav_form') ?>
                    </span>

                    <div class="panel-heading-right">
                        <div class="panel-heading-actions" ng-if="self.export.id && self.export._rights.delete" tooltip="<?= $this->translate('tooltip_delete') ?>">
                            <?= $this->icon('delete', 'pointer', ['ng-click' => 'self.deleteExport()']) ?>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form name="exportForm" ng-submit="self.saveExport()">
                        <input type="hidden" name="id"
                               ng-model="self.export.id" />

                        <div class="row">
                            <div class="form-group required col-sm-4">
                                <label><?= $this->translate('export_field_name') ?></label>
                                <input type="text" name="name" class="form-control" required autocomplete="off"
                                       ng-model="self.export.name" ng-readonly="!self.export._rights.update"/>
                                <field-errors field="name" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group required col-sm-4">
                                <label><?= $this->translate('export_field_reference') ?></label>
                                <select class="form-control" required
                                        ng-model="self.export.reference" ng-disabled="!self.export._rights.update">
                                    <?php
                                    foreach (\Export\Entity\Export::getReferences() as $reference) {
                                        echo '<option value="' . $reference . '">' . $this->translate('export_reference_' . $reference) . '</option>';
                                    }
                                    ?>
                                </select>
                                <field-errors field="reference" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label><?= $this->translate('export_field_year') ?></label>
                                <input type="text" pattern="[0-9]{4}" class="form-control" ng-model="self.export.year" ng-readonly="!self.export._rights.update"/>
                                <field-errors field="year" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>

                        <div class="row separator">
                            <div class="col-xs-12">
                                <label class="separator"><?= $this->translate('export_field_templates') ?> :</label>

                                <ul class="nav nav-tabs separator">
                                    <li ng-repeat="template in self.export.templates"
                                        ng-class="{active : self.currentTemplate == template}">
                                        <a href="" ng-click="self.currentTemplate = template">
                                            {{'template_type_' + template.type | translate}}
                                        </a>
                                    </li>
                                </ul>

                                <div class="row-table">
                                    <div class="col-sm-3">
                                        <div class="panel-group" id="accordion">
                                            <div class="form-group">
                                                <label><?= $this->translate('template_field_pagebreak') ?></label>
                                                <select class="form-control" ng-model="self.currentTemplate.pageBreak"  ng-disabled="!self.export._rights.update">
                                                <?php
                                                    foreach (\Export\Entity\Template::getPageBreaks() as $option) {
                                                        echo '<option value="' . $option . '">' . $this->translate('template_pagebreak_' . $option) . '</option>';
                                                    }
                                                ?>
                                                </select>
                                            </div>

                                            <div class="input-group separator">
                                                <input type="search" ng-model="search" class="form-control"/>
                                                <div class="input-group-addon">
                                                    <?= $this->icon('search') ?>
                                                </div>
                                            </div>
                                        <?php
                                            $modals = '';
                                            $i = 0;
                                            foreach ($this->fields as $categoryName => $category) {
                                                $options = $category['options'];

                                                $ngIf = null;
                                                if (isset($options['onlyProject']) && $options['onlyProject'] === true) {
                                                    $ngIf = 'self.export.reference === \'initial\' || self.currentTemplate.type == \'parent_project\' || self.currentTemplate.type == \'node_project\' || self.currentTemplate.type == \'leaf_project\'';
                                                } else if (isset($options['onlyKeyword']) && $options['onlyKeyword'] === true) {
                                                    $ngIf = 'self.export.reference !== \'initial\' && self.currentTemplate.type !== \'parent_project\' && self.currentTemplate.type !== \'node_project\' && self.currentTemplate.type !== \'leaf_project\'';
                                                }

                                                echo '<div class="panel panel-default"  filter-list="search" '.($ngIf ? ' ng-if="'.$ngIf.'"' : '').'>';
                                                    echo '<div class="panel-heading pointer" data-toggle="collapse" data-parent="#accordion" href="#' . $categoryName . '">';
                                                        echo '<a>';
                                                            echo $this->icon($options['icon'], 'fa-fw') . ' ';
                                                            echo $options['title'];
                                                        echo '</a>';
                                                    if ($categoryName == 'pictures') {
                                                        echo '<div class="pull-right">';
                                                            echo '<a class="pointer" ng-click="self.configureVariable(\'addPictureGlobal\')"><span class="glyphicon glyphicon-plus"></span></a>';
                                                        echo '</div>';
                                                    }
                                                    echo '</div>';
                                                    echo '<div id="' . $categoryName . '" class="panel-collapse collapse">';
                                                        echo '<div class="panel-body panel-variable">';

                                                            foreach ($category as $type => $fields) {
                                                                if ($type !== 'options' && $fields) {
                                                                    switch ($type) {
                                                                        case 'data':
                                                                            $title = '<i class="fa fa-tag fa-fw"></i> Données';
                                                                            break;
                                                                        case 'charts':
                                                                            $title = '<i class="fa fa-pie-chart fa-fw"></i> Graphiques';
                                                                            break;
                                                                        case 'arrays':
                                                                            $title = '<i class="fa fa-list fa-fw"></i> Tableaux';
                                                                            break;
                                                                        default:
                                                                            $title = '<i class="fa fa-tag fa-fw"></i> ' . $type;
                                                                    }

                                                                    echo '<div class="col-sm-6">';
                                                                        echo '<b class="variables-category">' . $title . ' :</b>';
                                                                        echo '<ul class="list-unstyled separator">';
                                                                        foreach ($fields as $key => $field) {
                                                                            $ngClick = 'self.configureVariable(\'' . $key . '\')';

                                                                            $text = $field['text'];
                                                                            echo '<li>';
                                                                                echo '<label class="variable no-bold pointer" ng-click="' . $ngClick . '" title="$' . $key . '$">';
                                                                                     echo $text;
                                                                                echo '</label>';
                                                                                if (isset($field['help'])) {
                                                                                    echo '<small class="help-block">';
                                                                                        echo $field['help'];
                                                                                    echo '</small>';
                                                                                }

                                                                                if (isset($field['params'])) {
                                                                                    $i++;
                                                                                    $modals .= '<div id="params_' . preg_replace(['/(\()(.*)(\))/', '/,/'], ['_$2', '_'], $key) . '" class="modal fade">';
                                                                                        $modals .= '<div class="modal-dialog">';
                                                                                            $modals .= '<div class="modal-content">';
                                                                                                $modals .= '<form name="form' . $i . '" ng-submit="self.insertConfiguredVariable()">';
                                                                                                    $modals .= '<div class="modal-header">';
                                                                                                        $modals .= 'Paramètres de la variable : <b>' . $text . '</b>';
                                                                                                    $modals .= '</div>';
                                                                                                    $modals .= '<div class="modal-body">';
                                                                                                        foreach ($field['params'] as $paramName => $param) {
                                                                                                            $required = isset($param['required']) ? $param['required'] : true;
                                                                                                            $if       = isset($param['if'])       ? 'ng-show="' . $param['if'] . '"' : '';
                                                                                                            $modals .= '<div class="row" '. $if .'>';
                                                                                                                $modals .= '<div class="form-group col-xs-12 ' . ($required ? 'required' : '') . '">';
                                                                                                                    $modals .= '<label>' . $param['text'] . ' : </label>';
                                                                                                                    switch ($param['type']) {
                                                                                                                        case 'hidden':
                                                                                                                            $modals .= '<input type="hidden" ng-model="self.variablesParams.'.$paramName.'" ' . ($required ? 'required' : '') . ' />';
                                                                                                                            break;
	                                                                                                                      case 'number':
	                                                                                                                          $modals .= '<input type="number" name="' . $paramName . '" class="form-control" ng-model="self.variablesParams.' . $paramName . '" ' . ($required ? 'required' : '') . ' />';
	                                                                                                                          break;
                                                                                                                        case 'boolean':
                                                                                                                            $modals .= '<select name="' . $paramName . '" class="form-control" ng-model="self.variablesParams.'.$paramName.'" ' . ($required ? 'required' : '') . '>';
                                                                                                                                $modals .= '<option value=""></option>';
                                                                                                                                $modals .= '<option value="true">Oui</option>';
                                                                                                                                $modals .= '<option value="false">Non</option>';
                                                                                                                            $modals .= '</select>';
                                                                                                                            break;
                                                                                                                        case 'multiple':
                                                                                                                            $modals .= '<select name="' . $paramName . '" class="form-control" multiple ng-model="self.variablesParams.'.$paramName.'" ' . ($required ? 'required' : '') . '>';
                                                                                                                                $modals .= $required ? '' : '<option value=""></option>';
                                                                                                                                foreach ($param['options'] as $optionValue => $optionName) {
                                                                                                                                    $modals .= '<option value="' . $optionValue . '">' . $optionName . '</option>';
                                                                                                                                }
                                                                                                                            $modals .= '</select>';
                                                                                                                            break;
                                                                                                                        case 'unique':
                                                                                                                            $modals .= '<select name="' . $paramName . '" class="form-control" ng-model="self.variablesParams.'.$paramName.'" ' . ($required ? 'required' : '') . '>';
                                                                                                                                $modals .= '<option value=""></option>';
                                                                                                                                foreach ($param['options'] as $optionValue => $optionName) {
                                                                                                                                    $modals .= '<option value="' . $optionValue . '">' . $optionName . '</option>';
                                                                                                                                }
                                                                                                                            $modals .= '</select>';
                                                                                                                            break;
                                                                                                                        case 'text':
                                                                                                                            $modals .= '<input name="' . $paramName . '" class="form-control" ng-model="self.variablesParams.' . $paramName . '"' . ($required ? 'required' : '') . '/>';
                                                                                                                            break;
                                                                                                                    }
                                                                                                                $modals .= '</div>';
                                                                                                            $modals .= '</div>';
                                                                                                        }
                                                                                                    $modals .= '</div>';
                                                                                                    $modals .= '<div class="modal-footer">';
                                                                                                        $modals .= '<button class="btn btn-default" type="button" data-dismiss="modal">' . $this->translate('close') . '</button>';
                                                                                                        $modals .= '<button type="submit" class="btn btn-submit" type="button">' . $this->translate('insert') . '</button>';
                                                                                                    $modals .= '</div>';
                                                                                                $modals .= '</form>';
                                                                                            $modals .= '</div>';
                                                                                        $modals .= '</div>';
                                                                                    $modals .= '</div>';
                                                                                }

                                                                            echo '</li>';
                                                                        }
                                                                        echo '</ul>';
                                                                    echo '</div>';
                                                                }
                                                            }

                                                            if ($categoryName == 'pictures') {
                                                                echo '<div class="col-sm-6">';
                                                                    echo '<b class="variables-category">';
                                                                        echo '<i class="fa fa-tag fa-fw"></i>';
                                                                        echo $this->translate('pictures_module_global') . ' :';
                                                                    echo '</b>';
                                                                    echo '<ul class="list-unstyled separator">';
                                                                        echo '<li ng-repeat="picture in self.picturesGlobal">';
                                                                            echo '<label class="variable no-bold pointer" ng-click="self.configureVariable(\'pictureGlobal(\' + picture.id + \')\')" title="$pictureGlobal({{ picture.id }})$">{{ picture.name }}</label>';
                                                                            echo '<span class="pull-right">' . $this->icon('delete', 'pointer', ['ng-click' => 'self.deletePictureGlobal(picture.id, picture.name)']) . '</span>';
                                                                        echo '</li>';
                                                                    echo '</ul>';
                                                                echo '</div>';
                                                            }
                                                        echo '</div>';
                                                    echo '</div>';
                                                echo '</div>';
                                            }
                                        ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="tab-content">
                                            <div class="tab-pane"
                                                 ng-repeat="template in self.export.templates"
                                                 ng-class="{active : self.currentTemplate == template}">

                                                <text-editor class="template-editor"
                                                             ng-model="template.content"
                                                             ng-readonly="!self.export._rights.update" type="export" editor="self.editors[$index]"></text-editor>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="self.export._rights.update" class="row">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-submit"  ng-disabled="self.loading.remove || self.loading.save" >
                                    <?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
                                    <?= $this->translate('form_button_save') ?>
                                </button>
                            </div>
                        </div>
                    </form>
                    <?= $modals ?>
                    <div id="params_addPictureGlobal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form name="attachmentForm" ng-submit="self.savePictureGlobal()">
                                    <div class="modal-header"><?= $this->translate('picture_add_title') ?></div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group required">
                                                    <label><?= $this->translate('attachment_field_name') ?></label>
                                                    <input required type="text" ng-model="self.pictureGlobal.name" class="form-control">
                                                    <field-errors field="name" errors="self.errors"></field-errors>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group required">
                                                    <label><?= $this->translate('attachment_field_url') ?></label>
                                                    <input ng-required="!self.pictureGlobal.filename" type="file" nv-file-select uploader="self.uploader" ng-model="self.pictureGlobal.file" class="hide-tooltip"/>
                                                    <strong>{{self.pictureGlobal.filename}}</strong>
                                                    <field-errors field="url" errors="self.errors"></field-errors>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-default" type="button" data-dismiss="modal">
                                            <?= $this->translate('close') ?>
                                        </button>
                                        <button class="btn btn-submit" ng-disabled="self.loading.save || self.pictureGlobal.name == null || self.pictureGlobal.filename == null">
                                            <?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
                                            <?= $this->translate('save') ?>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php
$fabLinks = [];

if ($this->acl()->isAllowed('export:e:export:c')) {
    $fabLinks[] = [
        'href' => $this->url('export/form/word'),
        'text' => $this->icon('create', 'fa-fw') . ' ' . $this->translate('exportWord_nav_form')
    ];
    $fabLinks[] = [
        'href' => $this->url('export/form/excel'),
        'text' => $this->icon('create', 'fa-fw') . ' ' . $this->translate('exportExcel_nav_form')
    ];
    if ($this->module()->isActive('adresse')) {
        $fabLinks[] = [
            'href' => $this->url('export/form/publipostages'),
            'text' => $this->icon('create', 'fa-fw') . ' ' . $this->translate('exportPublipostage_nav_form')
        ];
    }
}

echo $this->fabMenu($fabLinks);

$this->angular('js/src/export/service/export.js');
$this->angular('js/src/export/controller/export/form-word.js');

$this->angular('js/src/attachment/controller/attachment.js');
$this->angular('js/src/attachment/service/attachment.js');
