<div id="homeIndex">
    <?php if ($this->homeAdmin->isEnabled()): ?>
        <div ng-controller="homeAdminFormController as self"
             ng-init="self.init(<?=$this->homeAdmin->getId()?>, <?=$this->environment()->getClient()->getId()?>);">
            <div class="row row-padding">
                <div ng-style="self.isNewLine(container.width, $index) ? {clear: 'both'} : null"
                     ng-repeat="container in self.home.containers | orderBy: 'order'"
                     ng-class="{
                         'col-sm-12': container.width == '<?=\Home\Entity\Container::WIDTH_ONE?>',
                         'col-sm-9' : container.width == '<?=\Home\Entity\Container::WIDTH_THREE_QUARTERS?>',
                         'col-sm-8' : container.width == '<?=\Home\Entity\Container::WIDTH_TWO_THIRDS?>',
                         'col-sm-6' : container.width == '<?=\Home\Entity\Container::WIDTH_ONE_HALF?>',
                         'col-sm-4' : container.width == '<?=\Home\Entity\Container::WIDTH_ONE_THIRD?>',
                         'col-sm-3' : container.width == '<?=\Home\Entity\Container::WIDTH_ONE_QUARTER?>'
                     }">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3>{{container.title}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 home-container separator" ng-switch="container.type">
                                    <div ng-switch-when="<?=\Home\Entity\Container::TYPE_TEXT?>">
                                        <div ng-bind-html="self.renderHtml(container.content)"></div>
                                    </div>

                                    <div ng-switch-when="<?=\Home\Entity\Container::TYPE_LIST?>">
                                        <?php if ($this->module()->isActive('project')): ?>
                                            <div ng-if="container.entity == 'project'"
                                                 ng-controller="projectListController as self"
                                                 ng-init="self.initHome('container-admin-' + container.id, container.query)">
                                                <?=$this->partial('project/index/index.phtml', ['fromHome' => true])?>
                                            </div>
                                        <?php endif;?>

                                        <?php if ($this->module()->isActive('task')): ?>
                                            <div ng-if="container.entity == 'task'"
                                                 ng-controller="taskListController as self"
                                                 ng-init="self.initHome('container-admin-' + container.id, container.query)">
                                                <?=$this->partial('task/index/index.phtml', ['fromHome' => true, 'groups' => $this->taskGroups])?>
                                            </div>
                                        <?php endif;?>
                                    </div>

                                    <div ng-switch-when="<?=\Home\Entity\Container::TYPE_CALENDAR?>">
                                        <?php if ($this->module()->isActive('time')): ?>
                                            <div ng-if="container.entity == 'timesheet'"
                                                 ng-controller="timesheetListController as self"
                                                 ng-init="self.initHome('container-' + container.id, container.query, 'calendar', <?=$this->authStorage()->getUser()->getId()?>)">
                                                <?=$this->partial('time/index/index.phtml', ['fromHome' => true, 'groups' => $this->timeGroups])?>
                                            </div>
                                        <?php endif;?>
                                    </div>

                                    <div ng-switch-when="<?=\Home\Entity\Container::TYPE_CHAT?>">
                                        <?php if ($this->module()->isActive('note')): ?>
                                            <div ng-if="container.entity == 'note'">
                                                <?=$this->partial('home/partial/chat/note.phtml')?>
                                            </div>
                                        <?php endif;?>
                                    </div>

                                    <div ng-switch-when="<?=\Home\Entity\Container::TYPE_GRAPHIC?>">
                                        <div class="well well-sm"
                                             ng-if="container.entity == 'timesheet' && container.graphicType == 'by_month'"
                                             ng-controller="graphicTimesheetController as self"
                                             ng-init="self.init(container.query)">
                                            <?=$this->partial('home/partial/graphic/timesheet.phtml')?>
                                        </div>
                                    </div>

                                    <div ng-switch-when="<?=\Home\Entity\Container::TYPE_GRAPHIC?>">
                                        <div class="well well-sm"
                                             ng-if="container.entity == 'timesheet' && container.graphicType == 'pie'"
                                             ng-controller="graphicProjectTimePieController as self"
                                             ng-init="self.init(container.query)">
                                            <?=$this->partial('home/partial/graphic/project-time.phtml')?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <?php endif?>

    <?php if ($this->acl()->isAllowed('home:e:home:r') && $this->home->isEnabled()): ?>
        <div ng-controller="homeFormController as self"
             ng-init="self.init(<?=$this->home->getId()?>, <?=$this->environment()->getClient()->getId()?>);">
            <div class="row row-padding">
                <div ng-style="self.isNewLine(container.width, $index) ? {clear: 'both'} : null"
                     ng-repeat="container in self.home.containers | orderBy: 'order'" ng-class="{
                        'col-sm-12': container.width == '<?=\Home\Entity\Container::WIDTH_ONE?>',
                        'col-sm-9' : container.width == '<?=\Home\Entity\Container::WIDTH_THREE_QUARTERS?>',
                        'col-sm-8' : container.width == '<?=\Home\Entity\Container::WIDTH_TWO_THIRDS?>',
                        'col-sm-6' : container.width == '<?=\Home\Entity\Container::WIDTH_ONE_HALF?>',
                        'col-sm-4' : container.width == '<?=\Home\Entity\Container::WIDTH_ONE_THIRD?>',
                        'col-sm-3' : container.width == '<?=\Home\Entity\Container::WIDTH_ONE_QUARTER?>'
                    }">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3>{{container.title}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 home-container separator" ng-switch="container.type">
                                    <div ng-switch-when="<?=\Home\Entity\Container::TYPE_TEXT?>">
                                        <div ng-bind-html="self.renderHtml(container.content)"></div>
                                    </div>

                                    <div ng-switch-when="<?=\Home\Entity\Container::TYPE_LIST?>">
                                        <?php if ($this->module()->isActive('project')): ?>
                                            <div ng-if="container.entity == 'project'"
                                                 ng-controller="projectListController as self"
                                                 ng-init="self.initHome('container-' + container.id, container.query)">
                                                <?=$this->partial('project/index/index.phtml', ['fromHome' => true])?>
                                            </div>
                                        <?php endif;?>

                                        <?php if ($this->module()->isActive('task')): ?>
                                            <div ng-if="container.entity == 'task'"
                                                 ng-controller="taskListController as self"
                                                 ng-init="self.initHome('container-' + container.id, container.query)">
                                                <?=$this->partial('task/index/index.phtml', ['fromHome' => true, 'groups' => $this->taskGroups])?>
                                            </div>
                                        <?php endif;?>
                                    </div>

                                    <div ng-switch-when="<?=\Home\Entity\Container::TYPE_CALENDAR?>">
                                        <?php if ($this->module()->isActive('time')): ?>
                                            <div ng-if="container.entity == 'timesheet'"
                                                 ng-controller="timesheetListController as self"
                                                 ng-init="self.initHome('container-' + container.id, container.query, 'calendar', <?=$this->authStorage()->getUser()->getId()?>)">
                                                <?=$this->partial('time/index/index.phtml', ['fromHome' => true, 'groups' => $this->timeGroups])?>
                                            </div>
                                        <?php endif;?>
                                    </div>

                                    <div ng-switch-when="<?=\Home\Entity\Container::TYPE_CHAT?>">
                                        <?php if ($this->module()->isActive('note')): ?>
                                            <div ng-if="container.entity == 'note'">
                                                <?=$this->partial('home/partial/chat/note.phtml')?>
                                            </div>
                                        <?php endif;?>
                                    </div>

                                    <div ng-switch-when="<?=\Home\Entity\Container::TYPE_GRAPHIC?>">
                                        <div class="well well-sm"
                                             ng-if="container.entity == 'timesheet' && container.graphicType == 'by_month'"
                                             ng-controller="graphicTimesheetController as self"
                                             ng-init="self.init(container.query)">
                                            <?=$this->partial('home/partial/graphic/timesheet.phtml')?>
                                        </div>
                                    </div>

                                    <div ng-switch-when="<?=\Home\Entity\Container::TYPE_GRAPHIC?>">
                                        <div class="well well-sm"
                                             ng-if="container.entity == 'timesheet' && container.graphicType == 'pie'"
                                             ng-controller="graphicProjectTimePieController as self"
                                             ng-init="self.init(container.query)">
                                            <?=$this->partial('home/partial/graphic/project-time.phtml')?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <?php endif;?>
</div>


<?php
$this->angular('js/src/user/service/user.js');
$this->angular('js/src/user/directive/userSelect.js');

$this->angular('js/src/application/query/service/query.js');
$this->angular('js/src/application/query/directive/querySelect.js');

$this->angular('js/src/home/service/home.js');
$this->angular('js/src/home/service/homeAdmin.js');
$this->angular('js/src/home/service/homeContainer.js');
$this->angular('js/src/home/controller/form.js');
$this->angular('js/src/home/controller/adminForm.js');
$this->angular('js/src/home/controller/graphicTimesheet.js');
$this->angular('js/src/home/controller/graphicProjectTimePie.js');

$this->angular('js/src/attachment/controller/attachment.js');
$this->angular('js/src/attachment/service/attachment.js');

$this->angular('js/src/project/controller/list.js');
$this->angular('js/src/project/service/project.js');

$this->angular('js/src/time/service/timesheet.js');
$this->angular('js/src/time/controller/timesheet/list.js');

$this->angular('js/src/task/service/task.js');
$this->angular('js/src/task/controller/task/list.js');

$this->headScript()->appendFile($this->basepath('vendor/angular-ui-calendar/src/calendar.js'))
    ->appendFile($this->basepath('js/plugins/fullcalendar/dist/fullcalendar.min.js'))
    ->appendFile($this->basepath('js/plugins/fullcalendar/dist/locale/fr.js'));

$this->headLink()->appendStylesheet($this->basepath('js/plugins/fullcalendar/dist/fullcalendar.min.css'));

$this->inlineScript()->captureStart();
echo "appDependencies.push('ui.calendar');";
$this->inlineScript()->captureEnd();
