<div ng-controller="territoryFormController as self" ng-init="self.init(<?= $this->territory ? $this->territory->getId() : '' ?>)">
    <ul class="breadcrumb">
        <li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
        <li><?= $this->translate('map_module_title') ?></li>
        <li><a href="<?= $this->url('map/territory') ?>"><?= $this->translate('territory_module_title') ?></a></li>
        <li class="active">
            <span ng-if="self.territory.id">
                {{self.panelTitle}}
            </span>
            <span ng-if="!self.territory.id">
                <?= $this->translate('territory_module_title') ?>
            </span>
        </li>
    </ul>

    <h1 class="page-title">
        <?= $this->icon('territory') ?> <?= $this->translate('territory_module_title') ?>
    </h1>

    <div class="row row-padding">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <span ng-if="self.territory.id">
                        {{self.panelTitle}}
                    </span>
                    <span ng-if="!self.territory.id">
                        <?= $this->translate('territory_nav_form') ?>
                    </span>

                    <div class="panel-heading-right">
                        <div class="panel-heading-actions" ng-if="self.territory.id && self.territory._rights.delete" tooltip="<?= $this->translate('tooltip_delete') ?>">
                            <?= $this->icon('delete', 'pointer', ['ng-click' => 'self.deleteTerritory()']) ?>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <form name="territoryForm" ng-submit="self.saveTerritory()">
                                <input type="hidden" name="id"
                                       ng-model="self.territory.id" />

                                <div class="row">
                                    <div class="form-group required col-sm-6 col-lg-4">
                                        <label><?= $this->translate('territory_field_name') ?></label>
                                        <input type="text" name="name" class="form-control" autocomplete="off" required
                                               ng-model="self.territory.name" ng-readonly="!self.territory._rights.update" />
                                        <field-errors field="name" errors="self.errors.fields"></field-errors>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6 col-lg-4">
                                        <label><?= $this->translate('territory_field_code') ?></label>
                                        <input type="text" name="code" class="form-control" autocomplete="off"
                                               ng-model="self.territory.code" ng-readonly="!self.territory._rights.update" />
                                        <field-errors field="code" errors="self.errors.fields"></field-errors>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6 col-lg-4">
                                        <leaflet id="map" height="250px"></leaflet>
                                    </div>
                                </div>

                                <div class="row" ng-if="self.territory._rights.update">
                                    <div class="form-group col-sm-6 col-lg-4">
                                        <label><?= $this->translate('territory_field_json_upload_file') ?></label>
                                        <input type="file" nv-file-select uploader="self.uploader" />
                                        <field-errors field="json" errors="self.errors.fields"></field-errors>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6 col-lg-4">
                                        <label><?= $this->translate('territory_field_children') ?></label>
                                        <territory-select ng-model="self.territory.children" multiple="true" ng-disabled="!self.territory._rights.update"></territory-select>
                                        <field-errors field="children" errors="self.errors.fields"></field-errors>
                                    </div>
                                </div>

                                <?php if ($this->module()->isActive('keyword')) : ?>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-4">
                                            <fieldset>
                                                <legend><?= $this->icon('keyword', 'fa-fw') ?> <?= $this->translate('keywords') ?></legend>
                                                <keywords-form-group entity="territory" ng-model="self.territory"></keywords-form-group>
                                            </fieldset>
                                        </div>
                                    </div>
                                <?php endif; ?>

                                <div ng-if="self.territory._rights.update" class="row">
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-submit" ng-disabled="self.loading.remove || self.loading.save" >
                                            <?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
                                            <?= $this->translate('form_button_save') ?>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php
$fabLinks = [];

if ($this->acl()->isAllowed('map:e:territory:c')) {
    $fabLinks[] = [
        'href' => $this->url('map/territory/form'),
        'text' => $this->icon('create', 'fa-fw') . ' ' . $this->translate('territory_nav_form')
    ];
    $fabLinks[] = [
        'href' => $this->url('map/territory/import'),
        'text' => $this->icon('import', 'fa-fw') . ' ' . $this->translate('territory_nav_import')
    ];
}

echo $this->fabMenu($fabLinks);
?>


<?php
    $this->angular('js/src/map/service/territory.js');
    $this->angular('js/src/map/service/toGeoJson.js');

    $this->angular('js/src/map/controller/territory/form.js');

    $this->angular('js/src/map/directive/territorySelect.js');

    $this->angular('js/src/keyword/directive/keywordsFormGroup.js');
    $this->angular('js/src/keyword/directive/keywordSelect.js');
    $this->angular('js/src/keyword/service/group.js');
    $this->angular('js/src/keyword/service/keyword.js');

    $this->headScript()->appendFile($this->basepath('vendor/ui-leaflet/dist/ui-leaflet.min.js'))
                       ->appendFile($this->basepath('vendor/angular-simple-logger/dist/angular-simple-logger.light.min.js'))
                       ->appendFile($this->basepath('vendor/togeojson/togeojson.js'))
                       ->appendFile($this->basepath('vendor/leaflet/dist/leaflet.js'));

    $this->headLink()->appendStylesheet($this->basepath('vendor/leaflet/dist/leaflet.css'));

$this->inlineScript()->captureStart();
    echo "appDependencies = ['nemLogging', 'ui-leaflet'];";
$this->inlineScript()->captureEnd();
