<ul class="breadcrumb">
    <li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
    <li><?= $this->translate('map_module_title') ?></li>
    <li class="active">
        <?= $this->translate('territory_nav_import') ?>
    </li>
</ul>

<h1 class="page-title">
    <?= $this->icon('import') ?> <?= $this->translate('territory_nav_import') ?>
</h1>

<div class="row row-padding" ng-controller="territoryImportController as self">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading">
                <?= $this->translate('territory_nav_import') ?>
            </div>
            <div class="panel-body">
                <div class="row separator">
                    <div class="col-xs-12">
                        <label>
                            <?= $this->translate('territory_import_upload_file') ?>
                            <?= $this->icon('loading', '', ['ng-if' => 'self.loading']) ?>
                        </label>
                        <input type="file" nv-file-select uploader="self.uploader" />
                        <div ng-if="self.error" class="errors-group">
                            <ul>
                                <li><?= $this->translate('territory_import_wrong_format') ?></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row separator">
                    <div class="col-xs-12">
                        <leaflet id="map" height="300px"></leaflet>
                    </div>
                </div>
                <div class="row separator" ng-show="self.layer !== null">
                    <div class="col-xs-12">
                        <button class="btn btn-block btn-primary" ng-click="self.save()" ng-disabled="self.loadingSave">
                            <?= $this->icon('loading', '', ['ng-if' => 'self.loadingSave']) ?>
                            <?= $this->translate('form_button_save') ?>
                        </button>
                        <div ng-if="self.errorNameRequired" class="alert alert-danger text-center">
                            <?= $this->translate('territory_some_names_are_null') ?>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="self.layer !== null">
                    <div class="col-xs-12">
                        <table class="table table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th class="fit-content">#</th>
                                    <th ng-repeat="property in self.properties">
                                        {{property}}
                                    </th>
                                    <th class="actions-column"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><?= $this->translate('territory_field_name') ?></td>
                                    <td ng-repeat="property in self.properties">
                                        <input type="radio" value="{{property}}" ng-model="self.map.name"/>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><?= $this->translate('territory_field_code') ?></td>
                                    <td ng-repeat="property in self.properties">
                                        <input type="radio" value="{{property}}" ng-model="self.map.code"/>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr ng-repeat="layer in self.layer.getLayers()" ng-click="self.highlight(layer)" ng-class="{success: self.layerFocused == layer}">
                                    <td class="text-center">{{$index}}</td>
                                    <td ng-repeat="property in self.properties" ng-class="{'has-error': property == self.map.name && (!layer.feature.properties[property])  }">
                                        <input type="text" ng-model="layer.feature.properties[property]" class="form-control"/>
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-actions">
                                            <button class="btn btn-xs btn-default" ng-click="self.focusOn(layer)" tooltip="<?= $this->translate('territory_import_focus') ?>">
                                                <?= $this->icon('focus') ?>
                                            </button>
                                            <button class="btn btn-xs btn-default" ng-click="self.deleteLayer(layer)" tooltip="<?= $this->translate('tooltip_delete') ?>">
                                                <?= $this->icon('delete') ?>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<?php
    $this->angular('js/src/map/service/territory.js');
    $this->angular('js/src/map/service/toGeoJson.js');

    $this->angular('js/src/map/controller/territory/import.js');

    $this->headScript()->appendFile($this->basepath('vendor/ui-leaflet/dist/ui-leaflet.min.js'))
                       ->appendFile($this->basepath('vendor/angular-simple-logger/dist/angular-simple-logger.light.min.js'))
                       ->appendFile($this->basepath('vendor/togeojson/togeojson.js'))
                       ->appendFile($this->basepath('vendor/leaflet/dist/leaflet.js'));

    $this->headLink()->appendStylesheet($this->basepath('vendor/leaflet/dist/leaflet.css'));

$this->inlineScript()->captureStart();
    echo "appDependencies = ['nemLogging', 'ui-leaflet'];";
$this->inlineScript()->captureEnd();
