<?php
$isMaster        = $this->environment()->getClient()->isMaster();
$budgetHTEnabled = $this->module()->getClientModuleConfiguration('budget', 'ht');
?>

<div ng-controller="conventionsController as self" ng-init="self.init(<?= str_replace('"', '\'', json_encode($this->expenseTypes())) ?>)">
    <table-builder options="self.options" items="self.conventions" class="table-builder">
        <div class="row">
            <div class="col-md-4">
                <div ng-controller="filterController as filter"
                     ng-init="filter.init('convention')"
                     class="table-filters little-panel">
                    <div class="title" data-toggle="collapse" href="#filters-collapsed-conventions">
                        <?= $this->icon('filters', 'fa-fw') ?>
                        <?= $this->translate('filters') ?>
                        <?= ucfirst($this->translate('convention_entity')) ?>
                    </div>
                    <div id="filters-collapsed-conventions" class="body collapse">
                        <?= $this->tableFilter('__tb.apiParams.search.data.filters', $this->conventionFilters($isMaster ? ['networkAccessible', 'contractor', 'members.id'] : [])); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn" ng-click="__tb.resetFilters(); __tb.loadData()"><?= $this->translate('table_filter_reset_button') ?></button>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button class="btn" ng-click="__tb.loadData()">
                            <?= $this->icon('search', 'fa-fw') ?>
                            <?= $this->translate('table_filter_button') ?>
                        </button>
                    </div>
                </div>
            </div>

            <?php if ($this->acl()->isAllowed('application:e:query:r')): ?>
                <div class="col-md-4 col-md-offset-4">
                    <div class="queries-toggler little-panel">
                        <div href="#queries-collapsed-node-tree-subvention"
                             data-toggle="collapse"
                             class="title">
                            <i class="fa fa-shopping-basket fa-fw"></i>
                            Requêtes
                        </div>

                        <div id="queries-collapsed-node-tree-subvention"
                             class="body collapse">
                            <div ng-if="self.loadingQueries"
                                 class="text-center">
                                <i class="fa fa-spin fa-circle-o-notch"></i>
                            </div>

                            <ul class="list-unstyled">
                                <li ng-repeat="query in self.queries">
                                    <a ng-click="self.loadQuery(query)"
                                       class="pointer">
                                        <i ng-if="query.shared" class="fa fa-share-alt"></i> {{ query.name }}
                                    </a>

                                    <i ng-click="self.deleteQuery(query)" ng-if="query._rights.delete"
                                       tooltip="Supprimer"
                                       class="fa fa-trash pointer pull-right">
                                    </i>
                                </li>
                            </ul>

                            <form ng-submit="self.saveQuery()"
                                  name="queryForm">
                                <div class="input-group input-group-sm">
                                    <input ng-model="self.query.name"
                                           placeholder="Nom de la requête"
                                           type="text"
                                           class="form-control"
                                           required/>

                                    <span class="input-group-btn">
                                        <?php if (!$this->acl()->onlyOwned('application:e:query:r') && !$this->acl()->onlyOwned('application:e:query:u')) : ?>
                                            <label class="checkbox-inline" style="margin: 0 10px">
                                                <input type="checkbox" ng-model="self.query.shared"/>
                                                Partagée ?
                                            </label>
                                        <?php endif; ?>
                                        <button ng-disabled="self.loadingSaveQuery"
                                                type="submit"
                                                class="btn btn-submit">
                                            <i ng-if="self.loadingSaveQuery"
                                               class="fa fa-spin fa-circle-o-notch">
                                            </i>
                                            Enregistrer
                                        </button>
                                    </span>
                                </div>

                                <field-errors field="name"
                                              errors="errors.fields">
                                </field-errors>
                            </form>
                        </div>
                    </div>
                </div>
            <?php endif ?>
        </div>
        <div class="row separator" ng-if="self.loading">
            <div class="col-xs-12 text-center">
                <?= $this->icon('loading') ?>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group pull-right">
                    <button class="btn btn-excel"
                            type="button"
                            ng-click="self.export()"
                            tooltip="<?= $this->translate('tooltip_export_xls') ?>">
                        <?= $this->icon('excel', 'fa-fw pointer') ?>
                    </button>
                </div>
            </div>
        </div>
        <?php if ($isMaster) : ?>
            <div class="row">
                <div class="col-sm-4">
                    <h4 class="text-center"><?= ucfirst($this->translate('convention_entities')) ?></h4>
                    <nvd3 options="self.charts.conventions.options" data="self.charts.conventions.data" api="self.charts.conventions.api"></nvd3>
                </div>
                <div class="col-sm-4">
                    <h4 class="text-center"><?= $this->translate('convention_field_contractors') ?></h4>
                    <nvd3 options="self.charts.contractors.options" data="self.charts.contractors.data" api="self.charts.contractors.api"></nvd3>
                </div>
                <div class="col-sm-4">
                    <h4 class="text-center"><?= ucfirst($this->translate('territory_entities')) ?></h4>
                    <nvd3 options="self.charts.territories.options" data="self.charts.territories.data" api="self.charts.territories.api"></nvd3>
                </div>
            </div>
        <?php endif; ?>
        <div class="row">
            <div class="col-xs-12">
                <table table-builder-table class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <?php if ($isMaster) : ?>
                                <th>
                                    <?= ucfirst($this->translate('client_entity')) ?>
                                </th>
                                <th>
                                    <?= ucfirst($this->translate('convention_entities')) ?>
                                </th>
                                <th>
                                    <?= $this->translate('convention_field_contractors') ?>
                                </th>
                                <th>
                                    <?= ucfirst($this->translate('territory_entities')) ?>
                                </th>
                            <?php endif; ?>
                            <th>
                                <?= ucfirst($this->translate('convention_entity')) ?>
                            </th>
                            <th>
                                <?= $this->translate('convention_field_start') ?>
                            </th>
                            <th>
                                <?= $this->translate('convention_field_end') ?>
                            </th>
                            <th>
                                <?= $this->translate('convention_field_contractor') ?>
                            </th>
                            <th>
                                <?= $this->translate('convention_field_amount') ?>
                            </th>
                            <th>
                                <?= $this->translate('convention_field_amountSubv') ?>
                            </th>
                            <th>
                                <?= $this->translate('convention_field_progress') ?>
                            </th>
                            <th>
                                <?= ucfirst($this->translate('project_entity')) ?>
                            </th>

                            <?php foreach ($this->expenseTypes() as $type): ?>
                                <th tb-column
                                    tb-name="<?= $type ?>"
                                    tb-toggle="true">
                                    <?= $this->translate('expense_type_' . $type) ?>
                                </th>

                                <?php if ($budgetHTEnabled): ?>
                                    <th tb-column
                                        tb-name="<?= $type ?>HT"
                                        tb-toggle="true">
                                        <?= $this->translate('expense_type_' . $type . '_ht') ?>
                                    </th>
                                <?php endif ?>
                            <?php endforeach ?>
                        </tr>
                    </thead>
                    <tbody <?= $isMaster ? 'ng-repeat="(client, conventions) in self.conventions | groupBy: \'_client.name\' "' : '' ?>>
                        <?php if ($isMaster) : ?>
                            <tr ng-click="_client.open = !_client.open" class="group pointer">
                                <td>
                                    <i class="fa" ng-class="{
                                    'fa-caret-right': !_client.open,
                                    'fa-caret-down': _client.open
                                }"></i>
                                    {{client}}
                                </td>
                                <td class="text-right">{{ conventions.length }}</td>
                                <td class="text-right">{{ self.getPartialTotal('contractors', conventions) || 0 }}</td>
                                <td class="text-right">{{ self.getPartialTotal('territories', conventions) || 0 }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right">{{self.getPartialTotal('amount', conventions) || 0 | currency : ''}} €</td>
                                <td class="text-right">{{self.getPartialTotal('amountSubv', conventions) || 0 | currency : ''}} €</td>
                                <td></td>
                                <td></td>
                                <?php foreach ($this->expenseTypes() as $type): ?>
                                    <td class="text-right">
                                        {{self.getPartialTotal('<?= $type ?>', conventions) || 0 | currency : ''}} €
                                    </td>

                                    <?php if ($budgetHTEnabled): ?>
                                        <td class="text-right">
                                            {{self.getPartialTotal('<?= $type ?>', conventions, true) || 0 | currency : ''}} €
                                        </td>
                                    <?php endif ?>
                                <?php endforeach ?>
                            </tr>
                        <?php endif; ?>
                        <tr ng-repeat-start="convention in <?= $isMaster ? 'conventions' : 'self.conventions' ?>"
                            ng-click="convention.open = !convention.open"
                            class="sub-group pointer"
                            <?= $isMaster ? 'ng-show="_client.open"' : '' ?>>
                            <?php if ($isMaster) : ?>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right">{{ convention.territories.length }}</td>
                            <?php endif; ?>
                            <td>
                                <i class="fa" ng-class="{
                                    'fa-caret-right': !convention.open,
                                    'fa-caret-down': convention.open
                                }"></i>
                                {{convention.name}}
                            </td>
                            <td>
                                {{ convention.start | dateFormat : 'DD/MM/YYYY'}}
                            </td>
                            <td>
                                {{ convention.end | dateFormat : 'DD/MM/YYYY'}}
                            </td>
                            <td>
                                {{ convention.contractor.name }}
                            </td>
                            <td class="text-right">
                                {{ convention.amount | currency : ''}} €
                            </td>
                            <td class="text-right">
                                {{ convention.amountSubv | currency : ''}} €
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" ng-style="{ width: convention.progress + '%' }">
                                        {{convention.progress}} %
                                    </div>
                                </div>
                            </td>
                            <td class="text-right">
                                {{ convention.lines.length }}
                            </td>
                            <?php foreach ($this->expenseTypes() as $type) : ?>
                                <td class="text-right">
                                    {{convention.amountExpense<?= ucfirst($type) ?> | currency : ''}} €
                                </td>

                                <?php if ($budgetHTEnabled): ?>
                                    <td class="text-right">
                                        {{convention.amountHTExpense<?= ucfirst($type) ?> | currency : ''}} €
                                    </td>
                                <?php endif ?>
                            <?php endforeach ?>
                        </tr>
                        <tr ng-repeat-end ng-repeat-start="line in convention.lines" ng-show="convention.open <?= $isMaster ? '&& _client.open"' : '' ?>">
                            <?php if ($isMaster) : ?>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            <?php endif; ?>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>												
                                <div class="progress">
                                    <div
                                        class="progress-bar progress-done"
                                        ng-style="{ width: line.project.stackedAdvancement.done + '%'}"
                                        title="{{line.project.stackedAdvancement.done}}%"
                                    >
                                        <small>{{line.project.stackedAdvancement.done}}%</small>
                                    </div>
                                    <div
                                        class="progress-bar progress-late"
                                        ng-style="{ width: line.project.stackedAdvancement.late + '%'}"
                                        title="{{line.project.stackedAdvancement.late}}%"
                                    >
                                        <small>{{line.project.stackedAdvancement.late}}%</small>
                                    </div>
                                    <div
                                        class="progress-bar progress-upper-target"
                                        ng-style="{ width: line.project.stackedAdvancement.upperTarget + '%'}"
                                        title="{{line.project.stackedAdvancement.upperTarget}}%"
                                    >
                                        <small>{{line.project.stackedAdvancement.upperTarget}}%</small>
                                    </div>
                                    <div
                                        class="progress-bar progress-target"
                                        ng-style="{ width: line.project.stackedAdvancement.totalTarget + '%'}"
                                        title="{{line.project.stackedAdvancement.totalTarget}}%"
                                    >
                                        <small>{{line.project.stackedAdvancement.totalTarget}}%</small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{line.project.name}}
                            </td>

                            <?php foreach ($this->expenseTypes() as $type): ?>
                                <td class="text-right">
                                    {{line.amountExpense<?= ucfirst($type) ?> | currency : ''}} €
                                </td>

                                <?php if ($budgetHTEnabled): ?>
                                    <td class="text-right">
                                        {{line.amountHTExpense<?= ucfirst($type) ?> | currency : ''}} €
                                    </td>
                                <?php endif ?>
                            <?php endforeach ?>
                        </tr>
                        <tr ng-repeat-end ng-if="false"></tr>
                    </tbody>
                    <tfoot>
                        <tr class="footer">
                            <?php if ($isMaster) : ?>
                                <td></td>
                                <td class="text-right">{{ self.conventions.length }}</td>
                                <td class="text-right">{{ self.getTotal('contractors') || 0 }}</td>
                                <td class="text-right">{{ self.getTotal('territories') || 0 }}</td>
                            <?php endif; ?>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right">{{self.getTotal('amount') || 0 | currency : ''}} €</td>
                            <td class="text-right">{{self.getTotal('amountSubv') || 0 | currency : ''}} €</td>
                            <td></td>
                            <td></td>

                            <?php foreach ($this->expenseTypes() as $type): ?>
                                <td class="text-right">
                                    {{self.getTotal('<?= $type ?>') || 0 | currency : ''}} €
                                </td>

                                <?php if ($budgetHTEnabled): ?>
                                    <td class="text-right">
                                        {{self.getTotal('<?= $type ?>', true) || 0 | currency : ''}} €
                                    </td>
                                <?php endif ?>
                            <?php endforeach ?>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </table-builder>
</div>
