<?php
$groups = [];
if ($this->module()->isActive('keyword')) {
    $groups = $this->allowedKeywordGroups('timesheet', false);
}
?>

	<div
		class="row"
		ng-controller="timesheetTabController as self"
		ng-init="self.init(
			<?php if (!$this->project): ?>
				null,
			<?php else: ?>
	      {
					id: <?= $this->project->getId() ?>,
					code: '<?= htmlspecialchars($this->project->getCode()) ?>',
				},
			<?php endif ?>
			{
        id: <?= $this->user->getId() ?>,
				name: '<?= htmlspecialchars($this->user->getName()) ?>',
				avatar: '<?= htmlspecialchars($this->user->getAvatar()) ?>'
			},
			'<?= $this->type ?>'
		)">
		<div class="col-xs-12">
			<table-builder options="self.options" items="self.timesheets" class="table-builder">
				<div class="row">
					<div class="col-sm-4">
						<div class="table-filters little-panel">
							<div class="title" data-toggle="collapse"
									 href="#filters-collapsed-timesheet-<?= $this->type ?>">
								<?= $this->icon('filters', 'fa-fw') ?>
								<?= $this->translate('filters') ?>
							</div>
							<div id="filters-collapsed-timesheet-<?= $this->type ?>" class="body collapse">
								<?= $this->tableFilter('__tb.apiParams.search.data.filters', $this->timesheetFilters(['project', 'type'])); ?>
								<div class="row">
									<div class="col-xs-6">
										<button class="btn"
														ng-click="self.resetfullTextSearch(); __tb.resetFilters(); __tb.loadData()"><?= $this->translate('table_filter_reset_button') ?></button>
									</div>
									<div class="col-xs-6 text-right">
										<button class="btn" ng-click="self.resetfullTextSearch(); __tb.loadData()">
											<?= $this->icon('search', 'fa-fw') ?>
											<?= $this->translate('table_filter_button') ?>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<table-builder-columns></table-builder-columns>
					</div>
					<div class="col-sm-4">
						<div class="btn-group pull-right">
							<button class="btn btn-lg" ng-click="__tb.removeFromList()"
											tooltip="<?= $this->translate('tooltip_remove_from_list') ?>">
								<?= $this->icon('eraser', 'fa-fw pointer') ?>
							</button>
							<button class="btn btn-lg btn-excel" type="button" ng-click="__tb.exportExcel()"
											tooltip="<?= $this->translate('tooltip_export_xls') ?>">
								<?= $this->icon('excel', 'fa-fw pointer') ?>
							</button>
						</div>

						<div class="btn-group pull-right">
							<?php if ($this->acl()->isAllowed('time:e:timesheet:c')) : ?>
								<button type="button" class="btn btn-lg"
												ng-click="self.openTimesheet()" <?= ($this->acl()->onlyOwned('project:e:project:u') ? 'ng-if="self.isMember(' . $this->user->getId() . ')"' : '') ?>>
									<?= $this->icon('create') ?>
									<?= $this->translate('timesheet_nav_form'); ?>
								</button>
							<?php endif; ?>
							<button class="btn btn-lg" ng-show="self.view == 'table'" ng-click="self.view = 'calendar'"
											tooltip="<?= $this->translate('tooltip_switch_view_timesheet_calendar') ?>">
								<?= $this->icon('calendar'); ?>
							</button>
							<button class="btn btn-lg" ng-show="self.view == 'calendar'" ng-click="self.view = 'table'"
											tooltip="<?= $this->translate('tooltip_switch_view_timesheet_list') ?>">
								<?= $this->icon('list'); ?>
							</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12" ng-if="self.view == 'calendar'">
						<div ui-calendar="self.calendar" ng-model="self.eventSources"
								 calendar="{{self.calendarName}}"></div>
					</div>
					<div class="col-xs-12" ng-show="self.view == 'table'">
						<table table-builder-table class="table table-bordered table-condensed table-hover">
							<thead>
								<tr>
									<th tb-column tb-name="selection" class="checkbox-column"><input type="checkbox"
																																									 ng-model="__tb.selection"/>
									</th>
									<th tb-column tb-name="name" tb-sortable="true"
											tb-toggle="true"><?= $this->translate('timesheet_field_name') ?></th>
									<th tb-column tb-name="user.name" tb-sortable="true"
											tb-toggle="true"><?= $this->translate('timesheet_field_user') ?></th>
									<th tb-column tb-name="start" tb-sortable="true"
											tb-toggle="true"><?= $this->translate('timesheet_field_start') ?></th>
									<th tb-column tb-name="end" tb-sortable="true"
											tb-toggle="true"><?= $this->translate('timesheet_field_end') ?></th>
									<th tb-column tb-name="hours" tb-sortable="true"
											tb-toggle="true"><?= $this->translate('timesheet_field_hours') ?></th>
									<th tb-column tb-name="description" tb-sortable="true"
											tb-toggle="true"><?= $this->translate('timesheet_field_description') ?></th>
									<?php if ($this->module()->isActive('keyword')) {
										foreach ($groups as $group) {
											echo '<th tb-column tb-name="keyword' . $group->getId() . '" tb-sortable="false" tb-toggle="true">' . $group->getName() . '</th>';
										}
									} ?>
									<?php if ($this->module()->isActive('map')) : ?>
										<th tb-column tb-name="territories" tb-sortable="false"
												tb-toggle="true"><?= ucfirst($this->translate('territory_entities')) ?></th>
									<?php endif; ?>
									<th tb-column tb-name="actions" class="actions-column"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="timesheet in self.timesheets"
										ng-class="{editing: self.editedLine == timesheet}">
									<td><input type="checkbox" ng-model="timesheet.selected"/></td>
									<td class="editable">
										<span ng-show="self.editedLine !== timesheet">
											<a ng-if="timesheet._rights.read" ng-click="self.openTimesheet(timesheet)"
												 class="pointer">{{timesheet.name}}</a>
											<span ng-if="!timesheet._rights.read">{{timesheet.name}}</span>

											<?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
										</span>
										<span ng-if="self.editedLine == timesheet">
											<input type="text" class="form-control input-sm"
														 ng-model="self.editedLineFields.name"/>
											<field-errors field="name" errors="self.editedLineErrors"></field-errors>
										</span>
									</td>
									<td class="editable">
										<span ng-show="self.editedLine !== timesheet">
											<?php if ($this->acl()->isAllowed('user:e:user:r')) : ?>
												<a href="<?= $this->url('user/form') ?>/{{timesheet.user.id}}">{{timesheet.user.name}}</a>
											<?php else : ?>
												{{timesheet.user.name}}
											<?php endif; ?>
											<?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
										</span>
										<span ng-if="self.editedLine == timesheet">
											<user-select name="user"
																	 ng-model="self.editedLineFields.user"
																	 ng-disabled="<?=
											             !$this->acl()->onlyOwned('time:e:timesheet:u')
												             ? 'false'
												             : 'true'
											             ?>"
																	 multiple="false"
																	 required="true"
																	 form="timesheetForm">
											</user-select>
											<field-errors field="user" errors="self.editedLineErrors"></field-errors>
										</span>
									</td>
									<td class="editable">
										<span ng-show="self.editedLine !== timesheet">
											{{timesheet.start}}
											<?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
										</span>
										<span ng-if="self.editedLine == timesheet">
											<input type="datetime"
														 ng-model="self.editedLineFields.start"
														 form="timesheetForm"
														 input-mask="qdatetime" class="form-control"/>
											<field-errors field="start" errors="self.editedLineErrors"></field-errors>
										</span>
									</td>
									<td class="editable">
										<span ng-show="self.editedLine !== timesheet">
											{{timesheet.end}}
											<?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
										</span>
										<span ng-if="self.editedLine == timesheet">
											<input type="datetime"
														 ng-model="self.editedLineFields.end"
														 form="timesheetForm"
														 input-mask="qdatetime" class="form-control"/>
											<field-errors field="end" errors="self.editedLineErrors"></field-errors>
										</span>
									</td>
									<td class="editable">
										<span ng-show="self.editedLine !== timesheet">
											{{timesheet.hours}} h.
											<?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
										</span>
										<span ng-if="self.editedLine == timesheet">
											<input type="text"
														 ng-model="self.editedLineFields.hours"
														 form="timesheetForm"
														 input-mask="decimal" class="form-control"/>
											<field-errors field="hours" errors="self.editedLineErrors"></field-errors>
										</span>
									</td>
									<td class="editable">
										<span ng-show="self.editedLine !== timesheet">
											{{timesheet.description}}
											<?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
										</span>
										<span ng-if="self.editedLine == timesheet">
											<input type="text" ng-model="self.editedLineFields.description"
														 form="timesheetForm" class="form-control"/>
											<field-errors field="description" errors="self.editedLineErrors"></field-errors>
										</span>
									</td>
									<?php if ($this->module()->isActive('keyword')) :
										foreach ($groups as $group) : ?>
											<td class="editable">
												<span class="comma-separated" ng-show="self.editedLine !== timesheet">
													<span ng-repeat="keyword in timesheet.keywords[<?= $group->getId() ?>]">{{keyword.name}}</span>
													<?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
												</span>
												<span ng-if="self.editedLine == timesheet">
													<keyword-select
														ng-model="self.editedLineFields.keywords[<?= $group->getId() ?>]"
														multiple="<?= $group->isMultiple() ? 'true' : 'false' ?>"
														configuration="{ service : { apiParams : { search: { data: { filters: { group : { op: 'eq', val: <?= $group->getId() ?> } } } } } } }"
														form="timesheetForm"></keyword-select>
												</span>
											</td>
										<?php endforeach;
									endif; ?>
									<?php if ($this->module()->isActive('map')) : ?>
										<td class="editable">
											<span class="comma-separated" ng-show="self.editedLine !== timesheet">
												<span
													ng-repeat="territory in timesheet.territories">{{territory.name}}</span>
												<?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
											</span>
											<span ng-if="self.editedLine == timesheet">
												<territory-select ng-model="self.editedLineFields.territories"
																					multiple="true" form="timesheetForm"></territory-select>
											</span>
										</td>
									<?php endif; ?>
									<td>
										<div class="btn-group btn-group-actions" ng-if="self.editedLine !== timesheet">
											<?php if ($this->acl()->isAllowed('time:e:timesheet:r')) : ?>
												<a ng-if="timesheet._rights.read" ng-click="self.openTimesheet(timesheet)"
													 href="#" class="btn btn-xs btn-default"
													 tooltip="<?= $this->translate('tooltip_edit') ?>">
													<?= $this->icon('edit') ?>
												</a>
											<?php endif; ?>

											<?php if ($this->acl()->isAllowed('time:e:timesheet:d')) : ?>
												<a ng-if="timesheet._rights.delete" href="#" class="btn btn-xs btn-default"
													 tooltip="<?= $this->translate('tooltip_delete') ?>"
													 ng-click="self.deleteTimesheet(timesheet);">
													<?= $this->icon('delete') ?>
												</a>
											<?php endif; ?>
										</div>

										<div class="btn-group btn-group-actions" ng-if="self.editedLine == timesheet">
											<button class="btn btn-xs btn-default" ng-click="self.saveEditedLine(timesheet)"
															type="submit" tooltip="<?= $this->translate('tooltip_save') ?>">
												<?= $this->icon('save') ?>
											</button>
											<button class="btn btn-xs btn-default" ng-click="self.editedLine = null"
															type="button" tooltip="<?= $this->translate('tooltip_cancel') ?>">
												<?= $this->icon('close') ?>
											</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</table-builder>
		</div>

		<div class="modal fade"
				 id="timesheet-form-<?= $this->type ?>">
			<div class="modal-dialog">
				<form class="modal-content" name="timesheetForm" ng-submit="self.saveTimesheet()">
					<div class="modal-header">
						<button type="button"
										class="close"
										data-dismiss="modal"
										aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" ng-if="!self.timesheet.id">
							<?= $this->translate('timesheet_nav_form') ?>
						</h4>
						<h4 class="modal-title" ng-if="self.timesheet.id">
							{{ self.panelTitle }}
						</h4>
					</div>
					<div class="modal-body">
						<input type="hidden" name="id"
									 ng-model="self.timesheet.id"/>
						<input type="hidden" name="type" ng-model="self.timesheet.type"/>
						<input type="hidden" name="project.id" ng-model="self.timesheet.project.id"/>

						<div class="row">
							<div class="form-group col-sm-12">
								<label><?= $this->translate('timesheet_field_name') ?></label>
								<input type="text" name="name" class="form-control" autocomplete="off"
											 ng-model="self.timesheet.name"
											 ng-readonly="!self.timesheet._rights.update"/>
								<field-errors field="name" errors="self.errors.fields"></field-errors>
							</div>

							<?php if ($this->module()->isActive('project')) : ?>
								<div class="form-group col-sm-12">
									<label>
										<?= $this->translate('timesheet_field_project') ?>
									</label>

									<project-select
										name="project"
										ng-model="self.timesheet.project"
										ng-disabled="!self.timesheet._rights.update"
										required="true"
										form="timesheetForm"
									></project-select>

									<field-errors
										field="project"
										errors="self.errors.fields"
									></field-errors>
								</div>
							<?php endif; ?>

							<div class="form-group required col-sm-12">
								<label><?= $this->translate('timesheet_field_user') ?></label>
								<user-select
									name="managers"
									ng-model="self.timesheet.user"
									ng-disabled="
                                        <?=
									!$this->acl()->onlyOwned('time:e:timesheet:u')
										? 'false'
										: 'true'
									?> ||
                                        (
                                            <?=
									!$this->acl()->onlyOwned('time:e:timesheet:u')
										? 'false'
										: 'true'
									?> &&
                                            !self.timesheet._rights.update
                                        )
                                    "
									multiple="false"
									required="true"
									form="timesheetForm"
								></user-select>
								<field-errors field="user" errors="self.errors.fields"></field-errors>
							</div>

							<div class="form-group required col-sm-6">
								<label><?= $this->translate('timesheet_field_start') ?></label>
								<input type="text" name="start" class="form-control" required autocomplete="off"
											 input-date input-date-mask="datetime"
											 ng-readonly="!self.timesheet._rights.update"
											 ng-model="self.timesheet.start"/>
								<field-errors field="start" errors="self.errors.fields"></field-errors>
							</div>
							<div class="form-group required col-sm-6">
								<label><?= $this->translate('timesheet_field_end') ?></label>
								<input type="text" name="end" class="form-control" required autocomplete="off"
											 input-date input-date-mask="datetime"
											 ng-readonly="!self.timesheet._rights.update"
											 ng-model="self.timesheet.end"/>
								<field-errors field="end" errors="self.errors.fields"></field-errors>
							</div>
							<div class="form-group required col-sm-6">
								<label><?= $this->translate('timesheet_field_hours') ?></label>
								<div class="input-group">
									<input type="text" name="hours" class="form-control" required autocomplete="off"
												 input-mask="decimal"
												 ng-readonly="!self.timesheet._rights.update"
												 ng-model="self.timesheet.hours"/>
									<div class="input-group-addon pointer" ng-click="self.computeHours()">
										<i class="fa fa-calculator"></i>
									</div>
								</div>
								<field-errors field="hours" errors="self.errors.fields"></field-errors>
							</div>
							<div class="form-group col-xs-12">
								<label><?= $this->translate('timesheet_field_description') ?></label>
								<textarea name="description" class="form-control"
													ng-readonly="!self.timesheet._rights.update"
													ng-model="self.timesheet.description"></textarea>
								<field-errors field="description" errors="self.errors.fields"></field-errors>
							</div>
						</div>

						<?php if ($this->module()->isActive('keyword')) : ?>
							<div class="row">
								<div class="col-xs-12">
									<fieldset>
										<legend><?= $this->icon('keyword', 'fa-fw') ?> <?= $this->translate('keywords') ?></legend>
										<keywords-form-group entity="timesheet"
																				 ng-model="self.timesheet"></keywords-form-group>
									</fieldset>
								</div>
							</div>
						<?php endif; ?>

						<?php if ($this->module()->isActive('map')) : ?>
							<div class="row">
								<div class="col-xs-12">
									<fieldset>
										<legend><?= $this->icon('territory', 'fa-fw') ?> <?= ucfirst($this->translate('territory_entities')) ?></legend>
										<div class="row">
											<div class="form-group col-xs-12">
												<territories-form-group
													ng-model="self.timesheet"></territories-form-group>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						<?php endif; ?>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left"
										ng-if="self.timesheet.id && self.timesheet._rights.delete"
										ng-click="self.deleteTimesheet(self.timesheet);"
										tooltip="<?= $this->translate('delete') ?>">
							<?= $this->icon('delete') ?>
						</button>

						<button type="button" class="btn btn-default" data-dismiss="modal">
							<?= $this->translate('close') ?>
						</button>

						<button ng-if="self.timesheet._rights.update" type="submit" class="btn btn-submit"
										ng-disabled="self.loading.remove || self.loading.save">
							<?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
							<?= $this->translate('form_button_save') ?>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

<?php
$this->angular('js/src/time/controller/timesheet/form.js');
$this->headScript()->appendFile($this->basepath('vendor/angular-ui-calendar/src/calendar.js'))
	->appendFile($this->basepath('js/plugins/fullcalendar/dist/fullcalendar.min.js'))
	->appendFile($this->basepath('js/plugins/fullcalendar/dist/locale/fr.js'));

$this->headLink()->appendStylesheet($this->basepath('js/plugins/fullcalendar/dist/fullcalendar.min.css'));

$this->inlineScript()->captureStart();
echo "appDependencies.push('ui.calendar');";
$this->inlineScript()->captureEnd();
