<div
    ng-controller="natureFormController as self"
    ng-init="self.init(<?= $this->nature ? $this->nature->getId() : '' ?>)"
>
    <ul class="breadcrumb">
        <li>
            <a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a>
        </li>
        <li><?= $this->translate('budget_module_title') ?></li>
        <li>
            <a href="<?= $this->url('budget/nature') ?>"
                ><?= $this->translate('nature_module_title') ?></a
            >
        </li>
        <li class="active">
            <span ng-if="self.nature.id">{{self.panelTitle}}</span>
            <span ng-if="!self.nature.id"><?= $this->translate('nature_nav_form') ?></span>
        </li>
    </ul>

    <h1 class="page-title">
        <?= $this->icon('nature') ?>
        <?= $this->translate('nature_module_title') ?>
    </h1>

    <div class="row row-padding">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <span ng-if="self.nature.id">
                        {{self.panelTitle}}
                    </span>
                    <span ng-if="!self.nature.id">
                        <?= $this->translate('nature_nav_form') ?>
                    </span>

                    <div class="panel-heading-right">
                        <div
                            class="panel-heading-actions"
                            ng-if="self.nature.id && self.nature._rights.delete"
                            tooltip="<?= $this->translate('tooltip_delete') ?>"
                        >
                            <?= $this->icon('delete', 'pointer', [
                                'ng-click' => 'self.deleteNature()',
                            ]) ?>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form name="natureForm" ng-submit="self.saveNature()">
                        <input type="hidden" name="id" ng-model="self.nature.id" />

                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label><?= $this->translate('nature_field_code') ?></label>
                                <input
                                    type="text"
                                    name="code"
                                    class="form-control"
                                    autocomplete="off"
                                    ng-model="self.nature.code"
                                    ng-readonly="!self.nature._rights.update"
                                />
                                <field-errors
                                    field="code"
                                    errors="self.errors.fields"
                                ></field-errors>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group required col-sm-4">
                                <label><?= $this->translate('nature_field_name') ?></label>
                                <input
                                    type="text"
                                    name="name"
                                    class="form-control"
                                    required
                                    autocomplete="off"
                                    ng-model="self.nature.name"
                                    ng-readonly="!self.nature._rights.update"
                                />
                                <field-errors
                                    field="name"
                                    errors="self.errors.fields"
                                ></field-errors>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label><?= $this->translate('nature_field_parent') ?></label>
                                <nature-select
                                    ng-model="self.nature.parent"
                                    ng-readonly="!self.nature._rights.update"
                                    configuration="{
                                        service: {
                                            apiParams: {
                                                search: {
                                                    data: {
                                                        filters: {
                                                            id: {
                                                                op: 'neq',
                                                                val: self.nature.id
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }"
                                ></nature-select>
                                <field-errors
                                    field="parent"
                                    errors="self.errors.fields"
                                ></field-errors>
                            </div>
                        </div>

                        <div class="row" ng-if="self.nature._rights.update">
                            <div class="col-xs-12">
                                <button
                                    type="submit"
                                    class="btn btn-submit"
                                    ng-disabled="self.loading.remove || self.loading.save"
                                >
                                    <?= $this->icon('loading', '', [
                                        'ng-if' => 'self.loading.save',
                                    ]) ?>
                                    <?= $this->translate('form_button_save') ?>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<?php
$fabLinks = [];

if ($this->acl()->isAllowed('budget:e:nature:c')) {
    $fabLinks[] = [
        'href' => $this->url('budget/nature/form'),
        'text' => $this->icon('create', 'fa-fw') . ' ' . $this->translate('nature_nav_form'),
    ];
    $fabLinks[] = [
        'href' => $this->url('import', ['entity' => 'nature']),
        'text' => $this->icon('import', 'fa-fw') . ' ' . $this->translate('nature_nav_import'),
    ];
}
echo $this->fabMenu($fabLinks);
?>

<?php
$this->angular('js/src/budget/service/nature.js');
$this->angular('js/src/budget/controller/nature/form.js');
$this->angular('js/src/budget/directive/natureSelect.js');

