<?php

use Time\Entity\Timesheet;

?>
    <ul class="breadcrumb">
    <li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
    <li><a href="<?= $this->url('timesheet') ?>"><?= $this->translate('time_module_title') ?></a></li>
    <li><a href="<?= $this->url('timesheet/synchronisation') ?>"><?= $this->translate('timesheet_nav_synchronisation') ?></a></li>
    <li class="active"><?= $this->translate('timesheet_synchronisation_nav_import') ?></li>
</ul>
<h1 class="page-title">
    <?= $this->icon('refresh') ?> <?= $this->translate('timesheet_synchronisation_module_title') ?>
</h1>
<div class="row row-padding"
     ng-controller="synchronisationImportController as self"
     ng-init='self.init(
        <?= json_encode($this->rows) ?>,
        <?= json_encode($this->user->getArray(), JSON_HEX_APOS) ?>,
        {start: "<?= $this->start ?>", end: "<?= $this->end ?>"},
        <?= $this->module()->isActive('project') ? 'true' : 'false' ?>
    )'>
    <?php if ($this->ics) : ?>
        <div class="row row-padding">
            <div class="col-xs-12">
                <div class="panel">
                    <div class="panel-heading"><?= $this->translate('timesheet_synchronisation_form_import') ?></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <form action="" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <label><?= $this->translate('timesheet_synchronisation_field_import') ?></label>
                                            <input type="file" nv-file-select uploader="self.uploader"/>
                                        </div>
                                    </div>
                                    <?php if ($this->module()->isActive('project')): ?>
                                        <fieldset>
                                            <legend><?= $this->translate('timesheet_synchronisation_project_join') ?></legend>
                                            <div class="row">
                                                <div class="form-group col-sm-8 col-lg-8">
                                                    <label for="fieldToParse"><?= $this->translate('timesheet_synchronisation_field_field'); ?></label>
                                                    <select id="fieldToParse" name="fieldToParse" class="form-control" ng-model="self.synchronisation.config.field">
                                                        <option value="0"><?= $this->translate('nothing'); ?></option>
                                                        <?php foreach ($this->configs['field'] as $id => $el): ?>
                                                            <option value="<?= $id; ?>"><?= $this->translate("timesheet_synchronisation_field_$el"); ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-8 col-lg-8">
                                                    <label for="closingChar"><?= $this->translate('timesheet_synchronisation_field_closing'); ?></label>
                                                    <select name="closingChar" id="closingChar" class="form-control" ng-model="self.synchronisation.config.closing">
                                                        <option value="0"><?= $this->translate('nothing'); ?></option>
                                                        <?php foreach ($this->configs['closing'] as $id => $el): ?>
                                                            <option value="<?= $id; ?>"><?= $this->translate("timesheet_synchronisation_closing_$el"); ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-4 col-lg-4">
                                                    <label for="joinProject"><?= $this->translate('timesheet_synchronisation_field_join'); ?></label>
                                                    <select class="form-control" id="joinProject" ng-model="self.synchronisation.config.join">
                                                        <option value="0"><?= $this->translate('nothing'); ?></option>
                                                        <?php foreach ($this->configs['join'] as $id => $join): ?>
                                                            <option value="<?= $id; ?>"><?= $this->translate("timesheet_field_$join"); ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </div>
                                                <div class="form-group col-sm-4 col-lg-4" ng-if="self.synchronisation.config.join == 'custom'">
                                                    <label for="customField"><?= $this->translate('timesheet_field_custom'); ?></label>
                                                    <select class="form-control" id="customField" ng-model="self.synchronisation.config.custom">
                                                        <option value="0"><?= $this->translate('nothing'); ?></option>
                                                        <?php foreach ($this->customs as $custom): ?>
                                                            <option value="<?= $custom->getId() ?>"><?= $custom->getName() ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                    <?php endif; ?>
                                    <fieldset>
                                        <legend><?= $this->translate('timesheet_import_choose_time_range') ?></legend>
                                        <div class="form-group">
                                            <label for="dateTimeStart"><?= $this->translate('timesheet_import_datetime_start'); ?></label>
                                            <input type="datetime" id="dateTimeStart" ng-model="self.time.start" input-date input-date-mask="date" class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="dateTimeEnd"><?= $this->translate('timesheet_import_datetime_end'); ?></label>
                                            <input type="datetime" id="dateTimeEnd" ng-model="self.time.end" input-date input-date-mask="date" class="form-control"/>
                                        </div>
                                    </fieldset>
                                    <button type="button" class="btn btn-submit pull-left" ng-click="self.importICS()" ng-disabled="!self.file || self.loading.save">
                                        <?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
                                        <?= $this->translate('timesheet_synchonisation_import') ?>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <?php endif; ?>
    <div class="col-xs-12">
        <form name="importForm" class="panel">
            <div class="panel-heading">
                <?= $this->translate('timesheet_synchronisation_nav_import') ?>
                <div class="panel-heading-right">
                    <div class="panel-heading-actions">
                        <input type="text"
                               placeholder="<?= $this->translate('search'); ?>..."
                               class="form-control"
                               name="search"
                               ng-model="self.search"/>
                    </div>

                    <?php if ($this->module()->isActive('keyword')): ?>
                        <div class="panel-heading-actions" tooltip="<?= ucfirst($this->translate('keyword_entities')) ?>">
                            <?= $this->icon('keyword', 'fa-fw pointer', ['data-toggle' => 'modal', 'data-target' => '#modalKeywords']) ?>
                        </div>
                    <?php endif; ?>

                    <?php if ($this->module()->isActive('map')): ?>
                        <div class="panel-heading-actions" tooltip="<?= ucfirst($this->translate('territory_entities')) ?>">
                            <?= $this->icon('territory', 'fa-fw pointer', ['data-toggle' => 'modal', 'data-target' => '#modalTerritories']) ?>
                        </div>
                    <?php endif; ?>

                    <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_delete') ?>">
                        <?= $this->icon('delete', 'fa-fw pointer', ['ng-click' => 'self.deleteTimesheets()']) ?>
                    </div>
                    <div class="panel-heading-actions" tooltip="<?= $this->translate('timesheet_save_import') ?>">
                        <?= $this->icon('save', 'fa-fw pointer', ['ng-click' => 'self.import()']) ?>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <?php if (!$this->acl()->onlyOwned('time:e:timesheet:u')): ?>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>
                                    <?= $this->translate('timesheet_field_user') ?>
                                </label>

                                <user-select
                                    name="user"
                                    ng-model="self.user"
                                    multiple="false"
                                    required="true"
                                    form="importForm"
                                ></user-select>

                                <field-errors field="user" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>
                    </div>
                <?php endif ?>

                <div class="row">
                    <table class="table col-xs-12">
                        <thead>
                        <tr>
                            <th class="fit-content"><input ng-model="self.checkboxAll" type="checkbox" ng-click="self.checkAll($event)"/></th>
                            <th><?php echo $this->translate('timesheet_field_name') ?></th>
                            <th><?php echo $this->translate('timesheet_field_type') ?></th>
                            <th><?php echo $this->translate('timesheet_field_absenceType') ?></th>

                            <?php if ($this->module()->isActive('project')): ?>
                                <th class="mw-200"><?php echo $this->translate('timesheet_field_project'); ?></th>
                            <?php endif; ?>

                            <th><?php echo $this->translate('timesheet_field_start') ?></th>
                            <th><?php echo $this->translate('timesheet_field_end') ?></th>
                            <th class="tiny-th"><?php echo $this->translate('timesheet_field_hours') ?></th>

                            <?php if ($this->module()->isActive('keyword')): ?>
                                <th class="fit-content"><?= ucfirst($this->translate('keyword_entities')); ?></th>
                            <?php endif; ?>
                            <?php if ($this->module()->isActive('map')): ?>
                                <th class="fit-content"><?= ucfirst($this->translate('territory_entities')); ?></th>
                            <?php endif; ?>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="self.loading.parse === true">
                            <td colspan="999" class="text-center">
                                <?= $this->icon('loading') ?>
                            </td>
                        </tr>
                        <tr ng-repeat="timesheet in self.timesheets | filter: self.search" class="editing">
                            <td class="text-center">
                                <input type="checkbox" ng-change="self.check(timesheet)" ng-model="timesheet.checked"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" ng-model="timesheet.name"/>
                                <field-errors field="name" errors="timesheet.errors.fields"></field-errors>
                            </td>

                            <td>
                                <select
                                    name="type"
                                    id="type"
                                    class="form-control"
                                    required
                                    ng-model="timesheet.type"
                                >
                                    <?php foreach (Timesheet::getTypes() as $type): ?>
                                        <option value="<?= $type ?>">
                                            <?= $this->translate('timesheet_type_' . $type) ?>
                                        </option>
                                    <?php endforeach ?>
                                </select>

                                <field-errors field="type" errors="self.errors.fields"></field-errors>
                            </td>

                            <td>
                                <div ng-if="timesheet.type === '<?= Timesheet::TYPE_ABSENCE ?>'">
                                    <absence-type-select
                                        name="absenceType"
                                        ng-model="timesheet.absenceType"
                                        required="true"
                                        form="importForm"
                                    ></absence-type-select>

                                    <field-errors
                                        field="start"
                                        errors="self.errors.fields"
                                    ></field-errors>
                                </div>
                            </td>

                            <?php if ($this->module()->isActive('project')): ?>
                                <td class="mw-200">
                                    <project-select ng-model="timesheet.project"
                                                    required="true"
                                                    name="project{{$index}}"
                                                    form="importForm">
                                    </project-select>
                                    <field-errors field="project" errors="timesheet.errors.fields"></field-errors>
                                </td>
                            <?php endif; ?>
                            <td>
                                <input class="form-control"
                                       type="text"
                                       input-mask="qdatetime"
                                       ng-model="timesheet.start"/>
                                <field-errors field="start" errors="timesheet.errors.fields"></field-errors>
                            </td>
                            <td>
                                <input class="form-control"
                                       type="text"
                                       input-mask="qdatetime"
                                       ng-model="timesheet.end"/>
                                <field-errors field="end" errors="timesheet.errors.fields"></field-errors>
                            </td>
                            <td>
                                <input class="form-control" type="text" input-mask="decimal" ng-model="timesheet.hours">
                            </td>

                            <?php if ($this->module()->isActive('keyword')): ?>
                            <td class="col-keywords">
                                <div class="panel-heading-actions" tooltip="<?= ucfirst($this->translate('keyword_entities')) ?>" ng-click="self.currentTimesheet = timesheet">
                                    <?= $this->icon('keyword', 'fa-fw pointer', ['data-toggle' => 'modal', 'data-target' => '#modalKeywords']) ?>
                                </div>
                                <span class="label label-default" ng-repeat="keyword in timesheet.keywordsView">{{ keyword.name }}</span>
                            </td>
                            <?php endif; ?>
                            <?php if ($this->module()->isActive('map')): ?>
                            <td class="col-keywords">
                                <div class="panel-heading-actions" tooltip="<?= ucfirst($this->translate('territory_entities')) ?>" ng-click="self.currentTimesheet = timesheet">
                                    <?= $this->icon('territory', 'fa-fw pointer', ['data-toggle' => 'modal', 'data-target' => '#modalTerritories']) ?>
                                </div>
                                <span class="label label-default" ng-repeat="territory in timesheet.territories">{{ territory.name }}</span>
                            </td>
                            <?php endif; ?>

                            <td>
                                <button class="btn btn-danger" ng-click="self.deleteTimesheet(timesheet)" tooltip="<?= $this->translate('tooltip_delete') ?>">
                                    <?= $this->icon('delete') ?>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>

        <?php if ($this->module()->isActive('keyword')): ?>
            <div class="modal fade" id="modalKeywords" tabindex="-1" role="dialog" aria-labelledby="modalKeywordsLabel">
                <div class="modal-dialog" role="document">
                    <div name="keywordForm" class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modalBookmarkLabel">
                                <?= $this->translate('timesheet_modify_keywords') ?>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <keywords-form-group entity="timesheet" multiple="true" ng-model="self.keywordGroups"></keywords-form-group>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">
                                <?= $this->translate('close') ?>
                            </button>
                            <button type="button" class="btn btn-submit pull-left" data-dismiss="modal" ng-click="self.addKeywords()">
                                <?= $this->translate('add') ?>
                            </button>
                            <button type="button" class="btn btn-submit pull-left" data-dismiss="modal" ng-click="self.replaceKeywords()">
                                <?= $this->translate('replace') ?>
                            </button>
                            <button type="button" class="btn btn-submit pull-left" data-dismiss="modal" ng-click="self.removeKeywords()">
                                <?= $this->translate('remove') ?>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        <?php endif; ?>

        <?php if ($this->module()->isActive('map')): ?>
            <div class="modal fade" id="modalTerritories">
                <div class="modal-dialog">
                    <div name="territoryForm" class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                <?= $this->translate('timesheet_modify_territories') ?>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <territory-select multiple="true" ng-model="self.territories"></territory-select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">
                                <?= $this->translate('close') ?>
                            </button>
                            <button type="button" class="btn btn-submit pull-left" data-dismiss="modal" ng-click="self.addTerritories()">
                                <?= $this->translate('add') ?>
                            </button>
                            <button type="button" class="btn btn-submit pull-left" data-dismiss="modal" ng-click="self.replaceTerritories()">
                                <?= $this->translate('replace') ?>
                            </button>
                            <button type="button" class="btn btn-submit pull-left" data-dismiss="modal" ng-click="self.removeTerritories()">
                                <?= $this->translate('remove') ?>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        <?php endif; ?>
    </div>
</div>

<?php

$this->angular('js/src/project/service/project.js');
$this->angular('js/src/project/directive/projectSelect.js');

$this->angular('js/src/time/service/synchronisation.js');
$this->angular('js/src/time/service/timesheet.js');
$this->angular('js/src/time/service/absenceType.js');
$this->angular('js/src/time/directive/absenceTypeSelect.js');

$this->angular('js/src/user/service/user.js');
$this->angular('js/src/user/directive/userSelect.js');

/**
 * Keywords
 */
$this->angular('js/src/keyword/service/group.js');
$this->angular('js/src/keyword/service/keyword.js');
$this->angular('js/src/keyword/directive/keywordsFormGroup.js');
$this->angular('js/src/keyword/directive/keywordSelect.js');

/**
 * Territories
 */
$this->angular('js/src/map/service/territory.js');
$this->angular('js/src/map/directive/territorySelect.js');

$this->angular('js/src/time/controller/synchronisation/import.js');
$this->angular('js/src/time/controller/synchronisation/form.js');

