<?php
$groups = [];
if ($this->module()->isActive('keyword')) {
	$groups = $this->allowedKeywordGroups('actor');
}
$structureGroups = [];
if ($this->module()->isActive('keyword')) {
	$structureGroups = $this->allowedKeywordGroups('structure');
}
 ?>

<div ng-controller="actorsController as self" ng-init="self.init('<?= $this->from ?>', <?= $this->object
	? $this->object->getId()
	: 'null' ?>)">
    <table-builder options="self.options" items="self.actors" class="table-builder">
        <div class="row">
            <div class="col-sm-4">
                <div class="table-filters little-panel">
                    <div class="title" data-toggle="collapse" href="#filters-collapsed-actors">
                        <?= $this->icon('filters', 'fa-fw') ?>
                        <?= $this->translate('filters') ?>
                    </div>
                    <div id="filters-collapsed-actors" class="body collapse">
                        <?php
                        $filters = [
                        	'structure' => [
                        		'label' => $this->translate('actor_field_structure'),
                        		'type' => 'structure-select',
                        	],
                        ];

                        $groups = [];
                        if ($this->module()->isActive('keyword')) {
                            $groups = $this->entityManager()->getRepository('Keyword\Entity\Group')->findByEntity('actor', false);
                        }

                        foreach ($groups as $group) {
                        	$filters['keyword.' . $group->getId()] = [
                        		'label' => $group->getName(),
                        		'type' => 'keyword-select',
                        		'group' => $group->getId(),
                        	];
                        }

                        echo $this->tableFilter('__tb.apiParams.search.data.filters', $filters);
                        ?>
                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn" ng-click="self.resetfullTextSearch(); __tb.resetFilters(); __tb.loadData()"><?= $this->translate(
                                	'table_filter_reset_button'
                                ) ?></button>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button class="btn" ng-click="self.resetfullTextSearch(); __tb.loadData()">
                                    <?= $this->icon('search', 'fa-fw') ?>
                                    <?= $this->translate('table_filter_button') ?>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <table-builder-columns></table-builder-columns>
            </div>
            <div class="col-sm-4">
                <div class="btn-group pull-right">
                    <button class="btn btn-lg" ng-click="__tb.removeFromList()" tooltip="<?= $this->translate(
                    	'tooltip_remove_from_list'
                    ) ?>">
                        <?= $this->icon('eraser', 'fa-fw pointer') ?>
                    </button>
                    <button class="btn btn-lg btn-excel" type="button" ng-click="__tb.exportExcel()" tooltip="<?= $this->translate(
                    	'tooltip_export_xls'
                    ) ?>">
                        <?= $this->icon('excel', 'fa-fw pointer') ?>
                    </button>
                </div>
                <div class="btn-group pull-right">
                    <?php if ($this->acl()->isAllowed('project:e:actor:c')): ?>
                        <button type="button" class="btn btn-lg" ng-click="self.createActor()" ng-if="self.object._rights.update">
                            <?= $this->icon('create') ?>
                            <?= $this->translate('actor_nav_form') ?>
                        </button>
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table table-builder-table class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th tb-column tb-name="selection" class="checkbox-column"><input type="checkbox" ng-model="__tb.selection"/></th>
                            <th tb-column tb-name="structure.name" tb-sortable="true" tb-toggle="true"><?= $this->translate(
                            	'actor_field_structure'
                            ) ?></th>
                            <th tb-column tb-name="structure.sigle" tb-sortable="true" tb-toggle="true"><?= $this->translate(
                            	'structure_field_sigle'
                            ) ?></th>
                            <th tb-column tb-name="structure.city" tb-sortable="true" tb-toggle="true"><?= $this->translate(
                            	'structure_field_city'
                            ) ?></th>
                            <th tb-column tb-name="structure.zipcode" tb-sortable="true" tb-toggle="true"><?= $this->translate(
                            	'structure_field_zipcode'
                            ) ?></th>
                            <th tb-column tb-name="structure.addressLine1" tb-sortable="true" tb-toggle="true"><?= $this->translate(
                            	'structure_field_addressLine1'
                            ) ?></th>
                            <th tb-column tb-name="structure.addressLine2" tb-sortable="true" tb-toggle="true"><?= $this->translate(
                            	'structure_field_addressLine2'
                            ) ?></th>
                            <th tb-column tb-name="structure.country" tb-sortable="true" tb-toggle="true"><?= $this->translate(
                            	'structure_field_country'
                            ) ?></th>
                            <th tb-column tb-name="structure.email" tb-sortable="true" tb-toggle="true"><?= $this->translate(
                            	'structure_field_email'
                            ) ?></th>
                            <th tb-column tb-name="structure.phone" tb-sortable="true" tb-toggle="true"><?= $this->translate(
                            	'structure_field_phone'
                            ) ?></th>
                            <th tb-column tb-name="structure.phone2" tb-sortable="true" tb-toggle="true"><?= $this->translate(
                            	'structure_field_phone2'
                            ) ?></th>
                            <th tb-column tb-name="structure.financer" tb-sortable="true" tb-toggle="true"><?= $this->translate(
                            	'structure_field_financer'
                            ) ?></th>
                            <th tb-column tb-name="structure.siret" tb-sortable="true" tb-toggle="true"><?= $this->translate(
                            	'structure_field_siret'
                            ) ?></th>
                            <?php if ($this->module()->isActive('keyword')) {
                                    foreach ($groups as $group) {
                                        echo '<th tb-column tb-name="keyword' .
                                            $group->getId() .
                                            '" tb-sortable="false" tb-toggle="true" tb-hidden="true">' .
                                            $group->getName() .
                                            '</th>';
                                    } 
                                    foreach ($structureGroups as $group) {
                                        echo '<th tb-column tb-name="structure.keyword' .
                                            $group->getId() .
                                            '" tb-sortable="false" tb-toggle="true" tb-hidden="true">' .
                                            $group->getName() .
                                            '</th>';
                                    } 
                            } ?>
                            <th tb-column tb-name="actions" class="actions-column"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="actor in self.actors">
                            <td><input type="checkbox" ng-model="actor.selected"/></td>
                            <td>
                                <?php if ($this->acl()->isAllowed('directory:e:structure:r')): ?>
                                    <a href="<?= $this->url(
                                    	'directory/structure/form'
                                    ) ?>/{{actor.structure.id}}">{{actor.structure.name}}</a>
                                <?php else: ?>
                                    {{actor.structure.name}}
                                <?php endif; ?>
                            </td>
                            <td>
                                {{actor.structure.sigle}}
                            </td>
                            <td>
                                {{ actor.structure.city }}
                            </td>
                            <td>
                                {{ actor.structure.zipcode }}
                            </td>
                            <td>
                                {{ actor.structure.addressLine1 }}
                            </td>
                            <td>
                                {{ actor.structure.addressLine2 }}
                            </td>
                            <td>
                                {{ actor.structure.country }}
                            </td>
                            <td>
                                {{ actor.structure.email }}
                            </td>
                            <td>
                                {{ actor.structure.phone }}
                            </td>
                            <td>
                                {{ actor.structure.phone2 }}
                            </td>
                            <td>
                                <span ng-if="actor.structure.financer"><?= $this->icon('check', 'fa-fw') ?></span>
                            </td>
                            <td>
                                {{ actor.structure.siret }}
                            </td>
                            <?php if ($this->module()->isActive('keyword')) {
                            	foreach ($groups as $group) {
                            		echo '<td class="editable">';
                            		echo '<span class="comma-separated">';
                            		echo '<span ng-repeat="keyword in actor.keywords[' .
                            			$group->getId() .
                            			']">{{keyword.name}}</span>';
                            		echo '</span>';
                            		echo '</td>';
                            	}
                            	foreach ($structureGroups as $group) {
                            		echo '<td class="editable">';
                            		echo '<span class="comma-separated">';
                            		echo '<span ng-repeat="keyword in actor.structure.keywords[' .
                            			$group->getId() .
                            			']">{{keyword.name}}</span>';
                            		echo '</span>';
                            		echo '</td>';
                            	}
                            } ?>
                            <td>
                                <div class="btn-group btn-group-actions">
                                    <?php if ($this->acl()->isAllowed('project:e:actor:u')): ?>
                                        <a ng-if="actor._rights.update" class="btn btn-xs btn-default" ng-click="self.editActor(actor);" tooltip="<?= $this->translate(
                                        	'tooltip_edit'
                                        ) ?>">
                                            <?= $this->icon('edit') ?>
                                        </a>
                                    <?php endif; ?>

                                    <?php if ($this->acl()->isAllowed('project:e:actor:d')): ?>
                                        <a ng-if="actor._rights.delete" ng-click="self.deleteActor(actor);" class="btn btn-xs btn-default" tooltip="<?= $this->translate(
                                        	'tooltip_delete'
                                        ) ?>">
                                            <?= $this->icon('delete') ?>
                                        </a>
                                    <?php endif; ?>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </table-builder>

    <div class="modal" id="actorFormModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="actorForm" ng-submit="self.saveActor()">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            {{self.actor.id ? self.panelTitle : '<?= $this->translate(
                            	'actor_nav_form'
                            ) ?>' }}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group required col-xs-12">
                                <label><?= ucfirst($this->translate('structure_entity')) ?></label>
                                <structure-select ng-model="self.actor.structure" required="true" form="actorForm" name="structure" ng-disabled="self.actor.id"></structure-select>
                                <field-errors field="structure" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>
                        <?php if ($this->module()->isActive('keyword')): ?>
                            <keywords-form-group entity="actor" ng-model="self.actor"></keywords-form-group>
                        <?php endif; ?>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" type="button" data-dismiss="modal">
                            <?= $this->translate('close') ?>
                        </button>
                        <button class="btn btn-submit" ng-disabled="self.loading.save">
                            <?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
                            <?= $this->translate('save') ?>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
