<?php
$gantt = $this->module()->getClientModuleConfiguration('project', 'gantt_view');
$indicators = [];
$transverse = false;
if ($this->module()->isActive('indicator')) {
    $transverse = $this->module()->getClientModuleConfiguration('indicator', 'transverse');
    if ($transverse) {
        $indicators = $this->entityManager()
            ->getRepository('Indicator\Entity\Indicator')
            ->findTransverse();
    }
}
?>
<div id="project-tree" ng-controller="projectTreeController as s" ng-init="s.init(<?=$this->fromProject ? 'true' : 'false'?>, <?=$this->project
? $this->project->getId()
: 'false'?>)">
    <div class="row">
        <div class="<?=$this->fromProject
? 'col-xs-12'
: 'col-sm-6 col-lg-8'?> text-align-center">
            <?php if ($this->fromProject): ?>
                <button class="btn btn-sm" ng-click="s.view = 'tree'">
                    <i class="fa fa-sitemap"></i>
                    Vue arborescente
                </button>
            <?php endif;?>

            <?php if ($this->fromProject): ?>
                <button class="btn btn-sm" ng-click="s.view = 'list'">
                    <i class="fa fa-list"></i>
                    Vue liste
                </button>
            <?php endif;?>

            <?php if ($gantt): ?>
                <button class="btn btn-sm" ng-click="s.view = 'gantt'">
                    <i class="fa fa-tasks"></i>
                    Vue gantt
                </button>
            <?php endif;?>

            <div class="row" ng-show="s.loading.tree">
                <div class="col-xs-12 text-center">
                    <?=$this->icon('loading')?>
                </div>
            </div>

            <div class="tree">
                <ul class="no-padding" ng-if="s.view === 'tree'">
                    <li ng-include="'node-tree.html'" ng-repeat="node in s.tree"></li>
                </ul>
            </div>

            <?php if ($this->fromProject): ?>
                <div ng-if="s.haveNodeIds" style="margin-top: 20px;">
                    <div ng-show="s.view === 'list'" ng-controller="projectListController as self" ng-init="self.initHome('projects-form-list', {
                            filters: {
                                publicationStatus: {
                                    op: 'neq',
                                    val: ['archived']
                                },
                                id: {
                                    op: 'eq',
                                    val: s.nodeIds.length > 0 ? s.nodeIds : 0
                                }
                            }
                        })">
                        <div>
                            <?=$this->partial('project/index/index.phtml', ['fromHome' => true])?>
                        </div>
                    </div>
                </div>
            <?php endif;?>

            <?php if ($gantt): ?>
                <div ng-if="s.view === 'gantt'" class="gantt-container">
                    <div class="gantt-options row">
                        <div class="col-xs-6">
                            <button class="btn btn-default show-fs" ng-click="s.ganttLeaveFullScreen()">Fermer</button>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="btn-group">
                                <button class="btn btn-default btn-sm pull-right dropdown-toggle" data-toggle="dropdown">
                                    <?=$this->icon('configuration')?>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">Vue</li>
                                    <li>
                                        <a ng-click="s.ganttOptions.scale = 'year'"><i ng-show="s.ganttOptions.scale === 'year'" class="fa fa-check"></i>Année</a>
                                    </li>
                                    <li>
                                        <a ng-click="s.ganttOptions.scale = 'quarter'"><i ng-show="s.ganttOptions.scale === 'quarter'" class="fa fa-check"></i>Trimestre</a>
                                    </li>
                                    <li>
                                        <a ng-click="s.ganttOptions.scale = 'month'"><i ng-show="s.ganttOptions.scale === 'month'" class="fa fa-check"></i>Mois</a>
                                    </li>
                                    <li>
                                        <a ng-click="s.ganttOptions.scale = 'week'"><i ng-show="s.ganttOptions.scale === 'week'" class="fa fa-check"></i>Semaine</a>
                                    </li>
                                    <li>
                                        <a ng-click="s.ganttOptions.scale = 'day'"><i ng-show="s.ganttOptions.scale === 'day'" class="fa fa-check"></i>Jour</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Dates</li>
                                    <li>
                                        <a ng-click="s.ganttOptions.type = 'planned'; s.changeGanttType();"><i ng-show="s.ganttOptions.type === 'planned'" class="fa fa-check"></i>Prévisionnelles</a>
                                    </li>
                                    <li>
                                        <a ng-click="s.ganttOptions.type = 'real'; s.changeGanttType();"><i ng-show="s.ganttOptions.type === 'real'" class="fa fa-check"></i>Effectives</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a ng-click="s.ganttFullScreen()">Plein écran</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div gantt data="s.gantt" view-scale="s.ganttOptions.scale" column-width="(s.ganttOptions.scale === 'day' || s.ganttOptions.scale === 'week' ? 30 : (s.ganttOptions.scale === 'year' ? 100 : 80))" max-height="700">
                        <gantt-tree header="'<?=$this->translate('project_field_code')?>'" content="'{{row.model.code}}'"></gantt-tree>
                        <gantt-table headers="{'model.name' : '<?=$this->translate(
    'project_field_name'
)?>'}"></gantt-table>
                        <gantt-dependencies read-only="true"></gantt-dependencies>
                    </div>
                </div>
            <?php endif;?>

            <script type="text/ng-template" id="node-tree.html">
                <div ng-switch="node.type" id="node-{{node.element.id}}">
                    <span ng-if="s.reference == 'initial'" ng-switch-when="project"
                          ng-click="s.loadProjects(null, node.element.id, node); node.open = !node.open;"
                          class="tree-collapse">
                        <i class="fa pointer" ng-class="{
                                'fa-folder-open': node.open,
                                'fa-folder': !node.open
                            }"></i>

                        <span ng-switch="node.element.level">
                            <?php
$levels =
null !==
$this->clientPrivateConfiguration()->getModules()['project']['levels']
? $this->clientPrivateConfiguration()->getModules()['project']['levels']
: [];
foreach ($levels as $i => $level) {
    echo '<b ng-switch-when="' . $i . '">';
    echo $level['name'];
    echo '</b>';
}
?>
                        </span>
                    </span>
                    <span ng-switch-when="project" ng-if="s.columns.publicationStatus.visible"
                          class="badge project_publicationStatus_{{node.element.publicationStatus}}">
                        {{'project_publicationStatus_' + node.element.publicationStatus | translate}}
                    </span>
                    <?php if ($transverse) {
    foreach ($indicators as $indicator) {
        echo '
                                <span ng-switch-when="project" ng-if="s.columns[\'indicator' .
        $indicator->getId() .
        '\'].visible">
                                    <span ng-if="node.element.measuresT[' .
        $indicator->getId() .
        '].icon" style="color: {{node.element.measuresT[' .
        $indicator->getId() .
        '].color}}">
                                        <i class="fa fa-{{node.element.measuresT[' .
        $indicator->getId() .
        '].icon}} fa-fw" style="font-size: 20px"></i>
                                    </span>
                                    <span ng-if="!node.element.measuresT[' .
        $indicator->getId() .
        '].icon">
                                        {{node.element.measuresT[' .
        $indicator->getId() .
            '].text}}
                                    </span>
                                </span>
                            ';
    }
}?>
                    <a ng-switch-when="project" href="<?=$this->url(
    'project/form'
)?>/{{node.element.id}}"
                       target="_blank">
                        <span ng-if="s.columns.code.visible">{{node.element.code ? node.element.code + ' - ' :
                            ''}}</span>{{node.element.name}}
                    </a>
                    <span ng-click="s.loadKeywords(s.reference, node.element.id, node); node.open = !node.open;"
                          ng-switch-when="keyword">
                        <i class="fa pointer" ng-class="{
                                'fa-folder-open': node.open,
                                'fa-folder': !node.open
                            }"></i>

                        {{node.element.name}}
                    </span>
                    <?php if ($this->module()->isActive('advancement')): ?>
                        <div ng-switch-when="project" ng-if="s.columns.advancement.visible" class="progress"
                             ng-hide="node.element.stackedAdvancement.done == 0 && node.element.stackedAdvancement.late == 0 && node.element.stackedAdvancement.upperTarget == 0 && node.element.stackedAdvancement.totalTarget == 0">
                            <div class="progress-bar progress-done"
                                 ng-style="{ width: node.element.stackedAdvancement.done + '%'}"
                                 title="{{node.element.stackedAdvancement.done}}%">
                                <small>{{node.element.stackedAdvancement.done}}%</small>
                            </div>
                            <div class="progress-bar progress-late"
                                 ng-style="{ width: node.element.stackedAdvancement.late + '%'}"
                                 title="{{node.element.stackedAdvancement.late}}%">
                                <small>{{node.element.stackedAdvancement.late}}%</small>
                            </div>
                            <div class="progress-bar progress-upper-target"
                                 ng-style="{ width: node.element.stackedAdvancement.upperTarget + '%'}"
                                 title="{{node.element.stackedAdvancement.upperTarget}}%">
                                <small>{{node.element.stackedAdvancement.upperTarget}}%</small>
                            </div>
                            <div class="progress-bar progress-target"
                                 ng-style="{ width: node.element.stackedAdvancement.totalTarget + '%'}"
                                 title="{{node.element.stackedAdvancement.totalTarget}}%">
                                <small>{{node.element.stackedAdvancement.totalTarget}}%</small>
                            </div>
                        </div>
                    <?php endif;?>
                    <div>
                        <?=$this->icon('loading', '', ['ng-if' => 'node.loading'])?>
                    </div>
                </div>
                <ul ng-show="node.open">
                    <li ng-include="'node-tree.html'" ng-repeat="node in node.children"></li>
                </ul>
            </script>
        </div>
        <span ng-init="s.initLevels(<?=str_replace('"', '\'', json_encode($levels))?>);"></span>
        <?php if (!$this->fromProject): ?>
            <div class="col-sm-6 col-lg-4 filter-arbo-projects">
                <div class="queries-toggle little-panel">
                    <div class="title" data-toggle="collapse" href="#columns-collapsed-node-tree">
                        <i class="fa fa-columns fa-fw"></i>
                        Colonnes
                    </div>
                    <div id="columns-collapsed-node-tree" class="body collapse">
                        <ul>
                            <li ng-repeat="(name, column) in s.columns" ng-if="!name.startsWith('indicator')">
                                <label>
                                    <input type="checkbox" ng-model="column.visible" ng-change="s.saveTableConfiguration()" />
                                    <span>{{ 'project_field_' + name | translate}}</span>
                                </label>
                            </li>
                            <?php if ($transverse) {
    foreach ($indicators as $indicator) {?>
                                    <li ng-init="s.columns['<?='indicator' .
        $indicator->getId()?>']= { name: '<?='indicator' .
        $indicator->getId()?>', visible: false}">
                                        <label>
                                            <input type="checkbox" ng-model="s.columns['<?='indicator' .
        $indicator->getId()?>'].visible" ng-change="s.saveTableConfiguration()" />
                                            <span><?=$indicator->getName()?></span>
                                        </label>
                                    </li>
                            <?php }
}?>
                        </ul>
                    </div>
                </div>
                <div ng-init="s.initQueries()" class="queries-toggler little-panel">
                    <div href="#queries-collapsed-node-tree" data-toggle="collapse" class="title">
                        <i class="fa fa-shopping-basket fa-fw"></i>
                        Requêtes
                    </div>
                    <div id="queries-collapsed-node-tree" class="body collapse">
                        <div ng-if="s.loadingQueries" class="text-center">
                            <i class="fa fa-spin fa-circle-o-notch"></i>
                        </div>

                        <ul class="list-unstyled">
                            <li ng-repeat="query in s.queries">
                                <a ng-click="s.loadQuery(query)" class="pointer">
                                <i ng-if="query.shared" class="fa fa-share-alt"></i> {{ query.name }}
                                </a>

                                <i ng-click="s.deleteQuery(query)" tooltip="Supprimer" class="fa fa-trash pointer pull-right">
                                </i>
                            </li>
                        </ul>

                        <form ng-submit="s.saveQuery()" name="queryForm">
                            <div class="input-group input-group-sm">
                                <input ng-model="s.query.name" placeholder="Nom de la requête" type="text" class="form-control" required />
                                <div class="input-group input-group-sm">
                                    <span class="input-group-btn">
                                        <label class="checkbox-inline" style="margin: 0 5px">
                                            <input type="checkbox" ng-model="s.query.shared" />
                                            Partagée ?
                                        </label>
                                    </span>
                                </div>

                                <div class="text-right">
                                    <button ng-disabled="s.loadingSaveQuery  " type="submit" class="btn btn-submit">
                                        <i ng-if="s.loadingSaveQuery" class="fa fa-spin fa-circle-o-notch">
                                        </i>
                                        Enregistrer
                                    </button>
                                </div>

                                <field-errors field="name" errors="errors.fields">
                                </field-errors>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="step">
                    <div class="title">
                        <span>1</span> <?=$this->translate('project_arbo_filter_select_arbo')?>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <select class="form-control" ng-model="s.reference" ng-disabled="s.loading.tree" id="treeSelect">
                                <option value="initial"><?=$this->translate(
    'project_initial_tree'
)?></option>
                                <optgroup label="<?=ucfirst(
    $this->translate('group_type_reference')
)?>">
                                    <?php foreach ($this->groups as $group): ?>
                                        <?php if (
    $group->getType() ===
    \Keyword\Entity\Group::GROUP_TYPE_REFERENCE
): ?>
                                            <option ng-value="<?=$group->getId()?>" data-level="<?=$group->getMaxLevel()?>"><?=$group->getName()?></option>
                                        <?php endif;?>
                                    <?php endforeach;?>
                                </optgroup>
                                <optgroup label="<?=ucfirst(
    $this->translate('group_type_keyword')
)?>">
                                    <?php foreach ($this->groups as $group): ?>
                                        <?php if (
    $group->getType() ===
    \Keyword\Entity\Group::GROUP_TYPE_KEYWORD &&
    in_array('project', $group->getEntities())
): ?>
                                            <option ng-value="<?=$group->getId()?>" data-level="<?=$group->getMaxLevel()?>"><?=$group->getName()?></option>
                                        <?php endif;?>
                                    <?php endforeach;?>
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 text-right">
                            <button class="btn btn-lg btn-expand" ng-click="s.expandAll()" ng-disabled="false">
                                <span ng-if="s.isExpanded"><?=$this->translate('close_all')?></span>
                                <span ng-if="!s.isExpanded"><?=$this->translate('expand_all')?></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="step">
                    <div class="title">
                        <span>2</span> <?=$this->translate('project_arbo_filter_select_level_range')?>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label><?=$this->translate('project_arbo_filter_from_level')?></label>
                                <select ng-model="s.filters.min" ng-options="level.value as level.name for level in s.levels" class="form-control"></select>
                            </div>
                            <div class="col-xs-6">
                                <label><?=$this->translate('project_arbo_filter_to_level')?></label>
                                <select ng-model="s.filters.max" ng-options="level.value as level.name disable when s.filters.min > level.value for level in s.levels" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="step" ng-if="s.reference == 'initial'">
                    <div class="title">
                        <span>3</span> <?=$this->translate(
    'project_arbo_filter_select_reference_level'
)?>
                    </div>
                    <div ng-repeat="level in s.filters.levels">
                        <label>
                            <input type="radio" ng-model="s.filters.reference" ng-value="{{level.value}}" />
                            {{level.name}}
                        </label>
                    </div>
                </div>
                <div class="step">
                    <div class="title">
                        <span>{{ s.reference == 'initial' ? 4 :
                        3}}</span> <?=$this->translate('project_arbo_filter_level_filters')?>
                    </div>
                    <div ng-repeat="level in s.filters.levels" class="separator">
                        <div ng-controller="treeLevelController as tlctrl" ng-init="tlctrl.level = level">
                            <div>
                                <b>{{level.name}}</b>
                                <label class="pull-right no-bold" ng-if="s.reference !== 'initial'">
                                    <?=$this->translate('project_arbo_filter_clear_keywords')?>
                                    <input type="checkbox" ng-model="level.clear" />
                                </label>
                            </div>
                            <div ng-if="level.value >= s.filters.reference || s.reference !== 'initial' || level.mode === 'all'">
                                <?=$this->tableFilter('level.filters', $this->projectFilters(), true)?>
                            </div>
                            <div ng-if="level.value < s.filters.reference && s.reference == 'initial'">
                                <div>
                                    <label class="no-bold">
                                        <input type="radio" ng-model="level.mode" value="all" />
                                        {{"<?=$this->translate(
    'project_arbo_filter_mode_all'
)?>".replace('%1', (s.levels |
                                    filter : {value: level.value})[0].name)}}
                                    </label>
                                </div>

                                <div>
                                    <label class="no-bold">
                                        <input type="radio" ng-model="level.mode" value="parent" />
                                        {{"<?=$this->translate(
    'project_arbo_filter_mode_parent'
)?>".replace('%1',
                                    (s.levels | filter : {value: level.value+1})[0].name)}}
                                    </label>
                                </div>

                                <div>
                                    <label class="no-bold">
                                        <input type="radio" ng-model="level.mode" value="leaves" />
                                        {{"<?=$this->translate(
    'project_arbo_filter_mode_leaves'
)?>".replace('%1',
                                    (s.levels | filter : {value: level.value + 1 })[0].name).replace('%2', (s.levels |
                                    filter : {value: level.value})[0].name)}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step">
                    <div class="title">
                        <span>{{ s.reference == 'initial' ? 5 :
                        4}}</span> <?=$this->translate('project_arbo_filter_sort_order')?>
                    </div>
                    <div>
                        <select class="form-control" ng-model="s.filters.sort">
                            <option value="code"><?=$this->translate('project_field_code')?></option>
                            <option value="name"><?=$this->translate('project_field_name')?></option>
                        </select>
                    </div>
                </div>
                <div class="separator">
                    <button ng-click="s.filter()" class="btn btn-submit">
                        <?=$this->icon('search', 'fa-fw')?>
                        <?=$this->translate('search')?>
                    </button>

                    <button ng-click="s.showExportModal('<?=ucfirst(
    \Export\Entity\Export::TYPE_EXCEL
)?>')" class="btn btn-submit pull-right">
                        <?=$this->icon('excel', 'fa-fw')?>
                        <?=$this->translate('excel')?>
                    </button>
                    <button ng-click="s.showExportModal('<?=ucfirst(
    \Export\Entity\Export::TYPE_WORD
)?>')" class="btn btn-submit pull-right">
                        <?=$this->icon('word', 'fa-fw')?>
                        <?=$this->translate('word')?>
                    </button>
                </div>
            </div>
        <?php endif;?>
    </div>

    <div class="modal" id="exportWordModalTree">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><?=$this->translate(
    'project_exportWord_module_title'
)?></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <select class="form-control" ng-model="s.exportModel">
                                <?php foreach ($this->exports as $export): ?>
                                    <?php if (
    $export->getType() === \Export\Entity\Export::TYPE_WORD
): ?>
                                        <option ng-if="s.reference <?=$export->getReference() ==
\Export\Entity\Export::EXPORT_REFERENCE_INITIAL
? ''
: '!'?>== 'initial'" value="<?=$export->getId()?>"><?=$export->getName()?>
                                        </option>
                                    <?php endif;?>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        <?=$this->translate('close')?>
                    </button>

                    <button class="btn btn-submit" ng-disabled="s.loading.export || !s.exportModel" ng-click="s.export('<?=ucfirst(
    \Export\Entity\Export::TYPE_WORD
)?>');">
                        <?=$this->icon('loading', '', ['ng-if' => 's.loading.export'])?>
                        <?=$this->translate('export')?>
                    </button>

                    <form id="exportWordFormTree" action="<?=$this->url(
    'project/tree'
)?>" method="POST" target="_blank">
                        <input type="hidden" name="export" value="{{s.exportModel}}" />
                        <input type="hidden" name="filters" value="{{s.filters}}" />
                        <input type="hidden" name="cols" value="{{s.exportCols}}" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="exportExcelModalTree">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ng-submit="s.export('<?=ucfirst(\Export\Entity\Export::TYPE_EXCEL)?>')">
                    <div class="modal-header">
                        <h4 class="modal-title"><?=$this->translate(
    'project_exportExcel_module_title'
)?></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <select class="form-control" ng-model="s.exportModel">
                                    <?php foreach ($this->exports as $export): ?>
                                        <?php if (
    $export->getType() === \Export\Entity\Export::TYPE_EXCEL
): ?>
                                            <option value="<?=$export->getId()?>">
                                                <?=$export->getName()?>
                                            </option>
                                        <?php endif;?>
                                    <?php endforeach;?>

                                    <?php if (count($this->customExportsExcel) > 0): ?>
                                        <optgroup label="<?=ucfirst(
    $this->translate('export_custom_entity')
)?>">
                                            <?php foreach ($this->customExportsExcel as $export): ?>
                                                <option ng-if="s.reference <?=$export->getReference() ==
\Export\Entity\Export::EXPORT_REFERENCE_INITIAL
? ''
: '!'?>== 'initial'" value="<?=$export->getKey()?>">
                                                    <?=$export->getName()?>
                                                </option>
                                            <?php endforeach;?>
                                        </optgroup>
                                    <?php endif;?>
                                </select>
                            </div>
                        </div>
                        <div ng-if="s.isCustomExport()" class="row" style="margin-top: 10px;">
                            <div class="col-xs-12">
                                <?php foreach ($this->customExportsExcel as $export): ?>
                                    <div ng-if="s.exportModel === '<?=$export->getKey()?>'">
                                        <?php foreach ($export->getParams() as $property => $param): ?>
                                            <div class="form-group <?=$param['required']
? 'required'
: ''?>">
                                                <label for="<?=$property?>">
                                                    <?=$param['text']?>
                                                </label>
                                                <?php switch ($param['type']):
case 'text': ?>
                                                        <input type="text" name="<?=$property?>" ng-model="s.customExport.<?=$property?>" required="<?=$param['required']?>" class="form-control">
                                                    <?php break;
case 'number': ?>
                                                        <input type="number" step="0.01" name="<?=$property?>" ng-model="s.customExport.<?=$property?>" required="<?=$param['required']?>" class="form-control">
                                                    <?php break;
case 'date': ?>
                                                        <input id="<?=$property?>" type="datetime" ng-model="s.customExport.<?=$property?>" input-date input-date-mask="date" required="<?=$param['required']?>" class="form-control">
                                                    <?php break;
case 'user-select': ?>
                                                        <user-select id="<?=$property?>" name="<?=$property?>" ng-model="s.customExport.<?=$property?>" required="<?=$param['required']?>" multiple="<?=$param['options']['multiple']?>">
                                                        </user-select>
                                                    <?php break;
case 'group-select': ?>
                                                        <group-select id="<?=$property?>" name="<?=$property?>" ng-model="s.customExport.<?=$property?>" required="<?=$param['required']?>" multiple="<?=$param['options']['multiple']?>" configuration="<?=$param['options']['configuration']?>">
                                                        </group-select>
                                                <?php break;
    endswitch;?>
                                            </div>
                                        <?php endforeach;?>
                                    </div>
                                <?php endforeach;?>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" type="button" data-dismiss="modal">
                            <?=$this->translate('close')?>
                        </button>

                        <button class="btn btn-submit" ng-disabled="s.loading.export || !s.exportModel">
                            <?=$this->icon('loading', '', ['ng-if' => 's.loading.export'])?>
                            <?=$this->translate('export')?>
                        </button>
                    </div>
                </form>
                <form id="exportExcelFormTree" action="<?=$this->url(
        'project/tree'
    )?>" method="POST" target="_blank">
                    <input type="hidden" name="export" value="{{s.exportModel}}" />
                    <input type="hidden" name="customExport" value="{{s.customExport}}" />
                    <input type="hidden" name="filters" value="{{s.filters}}" />
                    <input type="hidden" name="cols" value="{{s.exportCols}}" />
                </form>
            </div>
        </div>
    </div>
</div>

<?php
$env = getenv('APP_ENV') ?: 'development';

    $this->headLink()
        ->prependStylesheet(
            $this->basepath(
                'vendor/angular-gantt/dist/angular-gantt' . ($env === 'development' ? '' : '.min') . '.css'
            )
        )
        ->prependStylesheet(
            $this->basepath(
                'vendor/angular-gantt/dist/angular-gantt-tree-plugin' .
                ($env === 'development' ? '' : '.min') .
                '.css'
            )
        )
        ->prependStylesheet(
            $this->basepath(
                'vendor/angular-gantt/dist/angular-gantt-table-plugin' .
                ($env === 'development' ? '' : '.min') .
                '.css'
            )
        )
        ->prependStylesheet(
            $this->basepath(
                'vendor/angular-gantt/dist/angular-gantt-dependencies-plugin' .
                ($env === 'development' ? '' : '.min') .
                '.css'
            )
        )
        ->prependStylesheet(
            $this->basepath(
                'vendor/angular-ui-tree/dist/angular-ui-tree' .
                ($env === 'development' ? '' : '.min') .
                '.css'
            )
        );

    $this->headScript()
        ->prependFile(
            $this->basepath(
                'vendor/angular-gantt/dist/angular-gantt' . ($env === 'development' ? '' : '.min') . '.js'
            )
        )
        ->prependFile(
            $this->basepath(
                'vendor/angular-gantt/dist/angular-gantt-tree-plugin' .
                ($env === 'development' ? '' : '.min') .
                '.js'
            )
        )
        ->prependFile(
            $this->basepath(
                'vendor/angular-gantt/dist/angular-gantt-table-plugin' .
                ($env === 'development' ? '' : '.min') .
                '.js'
            )
        )
        ->prependFile(
            $this->basepath(
                'vendor/angular-gantt/dist/angular-gantt-dependencies-plugin' .
                ($env === 'development' ? '' : '.min') .
                '.js'
            )
        )
        ->prependFile(
            $this->basepath(
                'vendor/angular-moment/angular-moment' . ($env === 'development' ? '' : '.min') . '.js'
            )
        )
        ->prependFile(
            $this->basepath(
                'vendor/angular-ui-tree/dist/angular-ui-tree' . ($env === 'development' ? '' : '.min') . '.js'
            )
        )
        ->prependFile(
            $this->basepath(
                'vendor/jsPlumb/dist/js/jsplumb' . ($env === 'development' ? '' : '.min') . '.js'
            )
        );

    $this->inlineScript()->captureStart();
    echo "appDependencies.push('gantt');";
    echo "appDependencies.push('gantt.table');";
    echo "appDependencies.push('gantt.tree');";
    echo "appDependencies.push('gantt.dependencies');";
    echo "appDependencies.push('angularMoment');";
    echo "appDependencies.push('ui.tree');";
    $this->inlineScript()->captureEnd();
