<div ng-controller="deploymentController as self" ng-init="self.init(<?= $this->object ? $this->object->getId() : 'null' ?>)">
    <div ng-repeat="group in self.groups" class="deployment-group">
        <h4>{{group.name}}</h4>
        <div ng-repeat="level in self.asArray(group.maxLevel) track by $index"
             class="deployment-level"
            style="padding-left: {{$index * 20}}px">
            <label><input type="checkbox" ng-click="self.toggleDeployment(group.id, $index)" ng-checked="self.isChecked(group.id, $index)"/> <?= $this->translate('level_entity') ?> {{$index + 1}}</label>
        </div>
    </div>
</div>
