<div ng-controller="transverseListController as self">
    <div ng-repeat="indicator in self.indicators" class="col-xs-12">
        <form name="measureForm">
            <fieldset class="transverseFieldset">
                <legend>{{indicator.indicator.name}}</legend>
                <div class="row" ng-show="indicator.measure.indicator">
                    <div class="form-group required col-sm-8">
                        <input type="text" input-mask="decimal" required class="form-control"
                               ng-if="indicator.measure.indicator.type == '<?= \Indicator\Entity\Indicator::TYPE_FREE?>'" ng-model="indicator.measure.value"
                               ng-readonly="!indicator.measure._rights.update" />

                        <div ng-if="indicator.measure.indicator.type ==  '<?= \Indicator\Entity\Indicator::TYPE_FIXED?>'" class="measure-slider">
                            <rzslider
                                    rz-slider-model="indicator.measure.value"
                                    rz-slider-options="self.getSliderOptions(indicator.measure)"
                                    rz-slider-tpl-url="slider-template.html"></rzslider>
                        </div>

                        <field-errors field="value" errors="self.errors.fields"></field-errors>
                    </div>
                    <div class="form-group required col-sm-2">
                        <input type="text" name="date" class="form-control" required autocomplete="off"
                               input-date input-date-mask="date"
                               ng-model="indicator.measure.date" ng-readonly="!indicator.measure._rights.update" />
                        <field-errors field="date" errors="self.errors.fields"></field-errors>
                    </div>
                    <div class="col-sm-2 form-group form-group-action" ng-if="indicator.measure._rights.update">
                        <div class="btn-group btn-group-actions">
                            <button class="btn btn-submit" ng-disabled="indicator.indicator.loading"
                                    ng-click="self.saveMeasure(indicator.measure, true);"
                                    tooltip="<?= $this->translate('tooltip_add') ?>"
                                    type="button">
                                <?= $this->icon('loading', '', ['ng-if' => 'indicator.indicator.loading']) ?>
                                <?= $this->icon('plus', '', ['ng-if' => '!indicator.indicator.loading']) ?>
                            </button>
                            <button class="btn btn-submit" ng-disabled="indicator.indicator.loading" ng-if="indicator.measure.id"
                                    ng-click="self.saveMeasure(indicator.measure);"
                                    tooltip="<?= $this->translate('tooltip_edit') ?>"
                                    type="button">
                                <?= $this->icon('loading', '', ['ng-if' => 'indicator.indicator.loading']) ?>
                                <?= $this->icon('save', '', ['ng-if' => '!indicator.indicator.loading']) ?>
                            </button>
                            <button class="btn btn-submit" ng-disabled="indicator.indicator.loading" ng-if="indicator.measure.id"
                                    tooltip="<?= $this->translate('tooltip_delete') ?>"
                                    type="button" ng-click="self.deleteMeasure(indicator.measure)">
                                <?= $this->icon('loading', '', ['ng-if' => 'indicator.indicator.loading']) ?>
                                <?= $this->icon('delete', '', ['ng-if' => '!indicator.indicator.loading']) ?>
                            </button>
                            <button class="btn btn-submit"
                                    tooltip="<?= $this->translate('tooltip_show') ?>"
                                    type="button" ng-click="self.goTo(indicator.indicator)">
                                <?= $this->icon('show') ?>
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/ng-template" id="slider-template.html">
    <div class="rzslider">
        <!-- // 0 (left) Highlight outside two handles -->
        <span class="rz-bar-wrapper rz-left-out-selection">
    <span class=rz-bar></span>
  </span>
        <!-- // 1 (right) Highlight outside two handles -->
        <span class="rz-bar-wrapper rz-right-out-selection">
    <span class=rz-bar></span>
  </span>
        <!-- // 2 The slider bar -->
        <span class="rz-bar-wrapper">
    <span class="rz-bar"></span>
  </span>
        <!-- // 3 Highlight between two handles -->
        <span class="rz-bar-wrapper">
    <span class="rz-bar rz-selection" ng-style="barStyle"></span>
  </span>
        <!-- // 4 Left slider handle -->
        <span class="rz-pointer rz-pointer-min" ng-style=minPointerStyle></span>
        <!-- // 5 Right slider handle -->
        <span class="rz-pointer rz-pointer-max" ng-style=maxPointerStyle></span>
        <!-- // 6 Floor label -->
        <span class="rz-bubble rz-limit rz-floor"></span>
        <!-- // 7 Ceiling label -->
        <span class="rz-bubble rz-limit rz-ceil"></span>
        <!-- // 8 Label above left slider handle -->
        <span class="rz-bubble rz-model-value"></span>
        <!-- // 9 Label above right slider handle -->
        <span class="rz-bubble rz-model-high"></span>
        <!-- // 10 Range label when the slider handles are close ex. 15 - 17 -->
        <span class="rz-bubble"></span>
        <!-- // 11 The ticks -->
        <ul ng-show="showTicks" class="rz-ticks">
            <li ng-repeat="t in ticks track by $index" class="rz-tick" ng-class="{'rz-selected': t.selected}" ng-style="t.style" ng-attr-uib-tooltip="{{ t.tooltip }}"
                ng-attr-tooltip-placement="{{t.tooltipPlacement}}" ng-attr-tooltip-append-to-body="{{ t.tooltip ? true : undefined}}">
                <span ng-if="t.value != null" class="rz-tick-value" ng-attr-uib-tooltip="{{ t.valueTooltip }}" ng-attr-tooltip-placement="{{t.valueTooltipPlacement}}">{{ t.value }}</span>
                <span ng-if="t.legend.text != null" class="rz-tick-legend">{{ t.legend.text }}</span>
                <span ng-if="t.legend.icon != null" class="rz-tick-value"><i class="fa fa-{{ t.legend.icon }} fa-fw" style="color: {{t.legend.color}}"></i></span>
            </li>
        </ul>
    </div>
</script>