<ul class="breadcrumb">
    <li>
        <a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a>
    </li>
    <li><?= $this->translate('budget_module_title') ?></li>
    <li class="active"><?= $this->translate('management_unit_module_title') ?></li>
</ul>

<h1 class="page-title">
    <?= $this->icon('managementUnit') ?>
    <?= $this->translate('management_unit_module_title') ?>
</h1>

<div class="row row-padding">
    <div class="col-xs-12">
        <div class="panel" ng-controller="managementUnitListController as self">
            <table-builder options="self.options" items="self.managementUnits" class="table-builder">
                <div class="panel-heading">
                    <?= $this->translate('management_unit_nav_list') ?>
                    <div class="panel-heading-right">
                        <div
                            class="panel-heading-actions"
                            tooltip="<?= $this->translate('tooltip_remove_from_list') ?>"
                        >
                            <?= $this->icon('eraser', 'fa-fw pointer', [
                                'ng-click' => '__tb.removeFromList()',
                            ]) ?>
                        </div>
                        <div
                            class="panel-heading-actions"
                            tooltip="<?= $this->translate('tooltip_export_xls') ?>"
                        >
                            <?= $this->icon('excel', 'fa-fw pointer', [
                                'ng-click' => '__tb.exportExcel()',
                            ]) ?>
                        </div>
                        <div
                            class="panel-heading-actions"
                            tooltip="<?= $this->translate('tooltip_refresh') ?>"
                        >
                            <?= $this->icon('refresh', 'fa-fw pointer', [
                                'ng-click' => '__tb.loadData()',
                            ]) ?>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="table-filters little-panel">
                                <div class="title table-filters-header">
                                    <div class="input-group">
                                        <div
                                            class="input-group-addon pointer"
                                            data-toggle="collapse"
                                            href="#filters-collapsed"
                                        >
                                            <?= $this->icon('filters', 'fa-fw') ?>
                                            <span class="caret"></span>
                                        </div>
                                        <input
                                            type="text"
                                            placeholder="<?= $this->translate('search', null, null, false) ?>"
                                            class="form-control"
                                            ng-model="self.fullText"
                                            id="full-text"
                                            on-enter="self.fullTextSearch()"
                                        />
                                        <div
                                            class="input-group-addon pointer"
                                            ng-click="self.fullTextSearch()"
                                        >
                                            <?= $this->icon('search', 'fa-fw') ?>
                                        </div>
                                    </div>
                                </div>
                                <div id="filters-collapsed" class="body collapse">
                                    <?php
                                    $filters = [
                                        'code' => [
                                            'label' => $this->translate('management_unit_field_code'),
                                            'type' => 'string',
                                        ],
                                        'name' => [
                                            'label' => $this->translate('management_unit_field_name'),
                                            'type' => 'string',
                                        ],
                                        'createdAt' => [
                                            'label' => $this->translate('management_unit_field_createdAt'),
                                            'type' => 'date',
                                        ],
                                        'updatedAt' => [
                                            'label' => $this->translate('management_unit_field_updatedAt'),
                                            'type' => 'date',
                                        ],
                                    ];

                                    foreach ($this->groups as $group) {
                                        $filters['keyword.' . $group->getId()] = [
                                            'label' => $group->getName(),
                                            'type' => 'keyword-select',
                                            'group' => $group->getId(),
                                        ];
                                    }

                                    echo $this->tableFilter('__tb.apiParams.search.data.filters', $filters);
                                    ?>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <button
                                                class="btn"
                                                ng-click="self.resetfullTextSearch(); __tb.resetFilters(); __tb.loadData()"
                                            >
                                                <?= $this->translate('table_filter_reset_button') ?>
                                            </button>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <button
                                                class="btn"
                                                ng-click="self.resetfullTextSearch(); __tb.loadData()"
                                            >
                                                <?= $this->icon('search', 'fa-fw') ?>
                                                <?= $this->translate('table_filter_button') ?>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <table-builder-columns></table-builder-columns>
                        </div>
                        <?php if ($this->acl()->isAllowed('application:e:query:r')): ?>
                            <div class="col-sm-4">
                                <table-builder-queries></table-builder-queries>
                            </div>
                        <?php endif; ?>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <form name="managementUnitForm">
                                <table
                                    table-builder-table
                                    class="table table-bordered table-condensed table-hover"
                                >
                                    <thead>
                                        <tr>
                                            <th
                                                tb-column
                                                tb-name="selection"
                                                class="checkbox-column"
                                            >
                                                <input type="checkbox" ng-model="__tb.selection" />
                                            </th>

                                            <th
                                                tb-column
                                                tb-name="code"
                                                tb-sortable="true"
                                                tb-toggle="true"
                                            >
                                                <?= $this->translate('management_unit_field_code') ?>
                                            </th>

                                            <th
                                                tb-column
                                                tb-name="name"
                                                tb-sortable="true"
                                                tb-toggle="true"
                                            >
                                                <?= $this->translate('management_unit_field_name') ?>
                                            </th>

                                            <th
                                                tb-column
                                                tb-name="parent"
                                                tb-sortable="true"
                                                tb-toggle="true"
                                            >
                                                <?= $this->translate('management_unit_field_parent') ?>
                                            </th>

                                            <th
                                                tb-column
                                                tb-name="createdAt"
                                                tb-sortable="true"
                                                tb-toggle="true"
                                                tb-hidden="true"
                                            >
                                                <?= $this->translate('management_unit_field_createdAt') ?>
                                            </th>

                                            <th
                                                tb-column
                                                tb-name="updatedAt"
                                                tb-sortable="true"
                                                tb-toggle="true"
                                                tb-hidden="true"
                                            >
                                                <?= $this->translate('management_unit_field_updatedAt') ?>
                                            </th>

                                            <th
                                                tb-column
                                                tb-name="actions"
                                                class="actions-column"
                                            ></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            ng-repeat="managementUnit in self.managementUnits"
                                            ng-class="{editing: self.editedLine == managementUnit}"
                                        >
                                            <td>
                                                <input type="checkbox" ng-model="managementUnit.selected" />
                                            </td>
                                            
                                            <td class="editable">
                                                <span ng-show="self.editedLine !== managementUnit">
                                                    <a
                                                        ng-if="managementUnit._rights.read"
                                                        href="<?= $this->url('budget/management-unit/form') ?>/{{managementUnit.id}}"
                                                    >
                                                        {{managementUnit.code}}
                                                    </a>

                                                    <span ng-if="!managementUnit._rights.read">
                                                        {{managementUnit.code}}
                                                    </span>

                                                    <?= $this->icon('inline-edit', '', [
                                                        'ng-click' => 'self.editLine(managementUnit)',
                                                        'ng-if' => 'managementUnit._rights.update',
                                                    ]) ?>
                                                </span>

                                                <span ng-if="self.editedLine == managementUnit">
                                                    <input
                                                        type="text"
                                                        class="form-control input-sm"
                                                        ng-model="self.editedLineFields.code"
                                                    />

                                                    <field-errors
                                                        field="code"
                                                        errors="self.editedLineErrors"
                                                    ></field-errors>
                                                </span>
                                            </td>
                                            
                                            <td class="editable">
                                                <span ng-show="self.editedLine !== managementUnit">
                                                    <a
                                                        ng-if="managementUnit._rights.read"
                                                        href="<?= $this->url('budget/management-unit/form') ?>/{{managementUnit.id}}">
                                                        {{managementUnit.name}}
                                                    </a>

                                                    <span ng-if="!managementUnit._rights.read">
                                                        {{managementUnit.name}}
                                                    </span>

                                                    <?= $this->icon('inline-edit', '', [
                                                        'ng-click' => 'self.editLine(managementUnit)',
                                                        'ng-if' => 'managementUnit._rights.update',
                                                    ]) ?>
                                                </span>
                                                <span ng-if="self.editedLine == managementUnit">
                                                    <input
                                                        type="text"
                                                        class="form-control input-sm"
                                                        ng-model="self.editedLineFields.name"
                                                        required
                                                    />
                                                    <field-errors
                                                        field="name"
                                                        errors="self.editedLineErrors"
                                                    ></field-errors>
                                                </span>
                                            </td>

                                            <td class="editable">
                                                <span ng-show="self.editedLine !== managementUnit">
                                                    <a
                                                        ng-if="managementUnit.parent._rights.read"
                                                        href="<?= $this->url('budget/management-unit/form') ?>/{{managementUnit.parent.id}}">
                                                        {{managementUnit.parent.name}}
                                                    </a>

                                                    <span ng-if="!managementUnit.parent._rights.read">
                                                        {{managementUnit.parent.name}}
                                                    </span>

                                                    <?= $this->icon('inline-edit', '', [
                                                        'ng-click' => 'self.editLine(managementUnit)',
                                                        'ng-if' => 'managementUnit._rights.update',
                                                    ]) ?>
                                                </span>
                                                <span ng-if="self.editedLine == managementUnit">
                                                    <management-unit-select
                                                        ng-model="self.editedLineFields.parent"
                                                        configuration="{
                                                            service: {
                                                                apiParams: {
                                                                    search: {
                                                                        data: {
                                                                            filters: {
                                                                                id: {
                                                                                    op: 'neq',
                                                                                    val: self.editedLineFields.id
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }"
                                                    ></management-unit-select>
                                                    <field-errors
                                                        field="parent"
                                                        errors="self.editedLineErrors"
                                                    ></field-errors>
                                                </span>
                                            </td>

                                            <td>
                                                {{managementUnit.createdAt | dateFormat : 'DD/MM/YYYY'}}
                                            </td>

                                            <td>
                                                {{managementUnit.updatedAt | dateFormat : 'DD/MM/YYYY'}}
                                            </td>

                                            <td>
                                                <div
                                                    class="btn-group btn-group-actions"
                                                    ng-if="self.editedLine !== managementUnit"
                                                >
                                                    <?php if ($this->acl()->isAllowed('budget:e:managementUnit:r')): ?>
                                                        <a
                                                            ng-if="managementUnit._rights.read"
                                                            href="<?= $this->url('budget/management-unit/form') ?>/{{managementUnit.id}}"
                                                            class="btn btn-xs btn-default"
                                                            tooltip="<?= $this->translate('tooltip_edit') ?>"
                                                        >
                                                            <?= $this->icon('edit') ?>
                                                        </a>
                                                    <?php endif; ?>

                                                    <?php if ($this->acl()->isAllowed('budget:e:managementUnit:d')): ?>
                                                        <a
                                                            ng-if="managementUnit._rights.delete"
                                                            href=""
                                                            class="btn btn-xs btn-default"
                                                            tooltip="<?= $this->translate('tooltip_delete') ?>"
                                                            ng-click="self.deleteOrganization(managementUnit)"
                                                        >
                                                            <?= $this->icon('delete') ?>
                                                        </a>
                                                    <?php endif; ?>
                                                </div>
                                                <div
                                                    class="btn-group btn-group-actions"
                                                    ng-if="self.editedLine == managementUnit"
                                                >
                                                    <button
                                                        class="btn btn-xs btn-default"
                                                        ng-click="self.saveEditedLine(managementUnit)"
                                                        type="submit"
                                                        tooltip="<?= $this->translate('tooltip_save') ?>"
                                                    >
                                                        <?= $this->icon('save') ?>
                                                    </button>
                                                    <button
                                                        class="btn btn-xs btn-default"
                                                        ng-click="self.editedLine = null"
                                                        type="button"
                                                        tooltip="<?= $this->translate('tooltip_cancel') ?>"
                                                    >
                                                        <?= $this->icon('close') ?>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </table-builder>
        </div>
    </div>
</div>

<?php
$fabLinks = [];

if ($this->acl()->isAllowed('budget:e:managementUnit:c')) {
    $fabLinks[] = [
        'href' => $this->url('budget/management-unit/form'),
        'text' => $this->icon('create', 'fa-fw') . ' ' . $this->translate('management_unit_nav_form'),
    ];
    $fabLinks[] = [
        'href' => $this->url('import', ['entity' => 'managementUnit']),
        'text' => $this->icon('import', 'fa-fw') . ' ' . $this->translate('management_unit_nav_import'),
    ];
}
echo $this->fabMenu($fabLinks);
?>

<?php
$this->angular('js/src/budget/controller/management-unit/list.js');
$this->angular('js/src/budget/service/managementUnit.js');
$this->angular('js/src/budget/directive/managementUnitSelect.js');

$this->angular('js/src/application/query/service/query.js');

