<div ng-controller="campainFormController as self"
		ng-init="self.init(<?= $this->campain ? $this->campain->getId() : '' ?>)">
	<ul class="breadcrumb">
		<li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
		<li>
			<a href="<?= $this->url('campain') ?>"><?= $this->translate('campain_module_title') ?></a>
		</li>
		<li class="active">
			<span ng-if="self.campain.id">
				{{self.panelTitle}}
			</span>
			<span ng-if="!self.campain.id">
				<?= $this->translate('campain_nav_form') ?>
			</span>
		</li>
	</ul>

	<h1 class="page-title">
		<?= $this->icon('campain') ?> <?= $this->translate('campain_module_title') ?>
	</h1>

	<div class="row row-padding">
		<div class="col-xs-12">
			<div class="panel">
				<div class="panel-heading">
					<span ng-if="self.campain.id">
						{{self.panelTitle}}
					</span>
					<span ng-if="!self.campain.id">
						<?= $this->translate('campain_nav_form') ?>
					</span>

					<div class="panel-heading-right">
						<div
							class="panel-heading-actions"
							ng-if="self.campain.id && self.campain._rights.delete"
							tooltip="<?= $this->translate('tooltip_delete') ?>">
							<?= $this->icon('delete', 'pointer', ['ng-click' => 'self.deleteCampain()']) ?>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-2">
							<div class="separator">
								<ul class="campain-form-nav nav nav-pills nav-stacked">
									<li class="active">
										<a href="#campain" data-toggle="tab">
										<?= $this->icon('campain') ?></i> <?= $this->translate('campain_nav_campain') ?></a>
									</li>
									<li ng-if="self.campain.id !== undefined">
										<a href="#indicator" data-toggle="tab">
										<?= $this->icon('indicator') ?></i> <?= $this->translate('campain_nav_indicator') ?></a>
									</li>
									<li ng-if="self.campain.id !== undefined">
										<a href="#measure" data-toggle="tab">
										<?= $this->icon('measure') ?></i> <?= $this->translate('campain_nav_measure') ?></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-10">
							<div class="tab-content">
								<div class="tab-pane active" id="campain">
									<form name="campainForm" ng-submit="self.savecampain()">
										<input type="hidden" name="id"
											ng-model="self.campain.id"/>

										<div class="row">
											<div class="form-group required col-sm-6 col-lg-4">
												<label for="name"><?= $this->translate('campain_field_name') ?></label>
												<input
													type="text"
													id="name"
													name="name"
													class="form-control"
													autocomplete="off"
													required
													ng-model="self.campain.name"
													ng-readonly="!self.campain._rights.update"
												/>
												<field-errors field="name" errors="self.errors.fields"></field-errors>
											</div>
										</div>

										<div class="row">
											<div class="form-group required col-sm-6 col-lg-4">
												<label for="evaluationManagers">
													<?= $this->translate('campain_field_evaluationManagers'); ?>
												</label>
												<user-select id="evaluationManagers" name="evaluationManagers" multiple="true" 
												ng-model="self.campain.evaluationManagers" required></user-select>
											</div>
										</div>

										<div class="row">
											<div class="form-group col-sm-6 col-lg-4 required">
												<label for="startDate"><?= $this->translate('measure_field_start') ?></label>
												<input
													type="text"
													id="startDate"
													name="startDate"
													class="form-control"
													autocomplete="off"
													input-mask="qdate"
													required
													ng-model="self.campain.startDate"
													ng-readonly="!self.campain._rights.update"
												/>
												<field-errors field="startDate" errors="self.errors.fields"></field-errors>
											</div>
											<div class="form-group col-sm-6 col-lg-4 required">
												<label for="endDate"><?= $this->translate('measure_field_date') ?></label>
												<input
													type="text"
													id="endDate"
													name="endDate"
													class="form-control"
													autocomplete="off"
													input-mask="qdate"
													required
													ng-model="self.campain.endDate"
													ng-readonly="!self.campain._rights.update"
												/>
												<field-errors field="endDate" errors="self.errors.fields"></field-errors>
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-sm-6 col-lg-4">
												<label for="description">
													<?= $this->translate('campain_field_description'); ?>
												</label>
												<textarea
													type="text" id="description" name="description" class="form-control"
													autocomplete="off"
													ng-model="self.campain.description" 
													ng-readonly="!self.campain._rights.update"></textarea>
											</div>
										</div>

										<div ng-if="self.campain._rights.update" class="row">
											<div class="col-xs-12">
												<button
													type="submit"
													class="btn btn-submit"
													ng-disabled="self.loading.remove || self.loading.save">
													<?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
													<?= $this->translate('form_button_save') ?>
												</button>
											</div>
										</div>
									</form>
								</div>
								<div ng-if="self.campain.id !== undefined" class="tab-pane" id="indicator">
									<?= $this->partial('partial/indicator/list.phtml', ['object' => $this->campain ]) ?>
								</div>
								<div ng-if="self.campain.id !== undefined" class="tab-pane" id="measure">
								<?= $this->partial('partial/measure/list.phtml', ['isMaster'=> false, 'from' => 'campain', 'object' => $this->campain]) ?>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<?php
    $fabLinks = [];

    if ($this->acl()->isAllowed('campain:e:campain:c')) {
        $fabLinks[] = [
            'href' => $this->url('campain/form'),
            'text' => $this->icon('create', 'fa-fw') . ' ' . $this->translate('campain_nav_form')
        ];
    }

    echo $this->fabMenu($fabLinks);
?>

<?php
$this->angular('js/src/campain/controller/campain/form.js');
$this->angular('js/src/campain/service/campain.js');

$this->angular('js/src/user/service/user.js');

$this->angular('js/src/application/query/service/query.js');
$this->angular('js/src/user/directive/userSelect.js');
?>
