<div ng-controller="timesheetFormController as self" ng-init='self.init(
        <?= $this->timesheet ? $this->timesheet->getId() : 'null' ?>,
        <?= json_encode($this->authStorage()->getUser()->getArray()) ?>,
        null,
        <?= $this->acl()->isAllowed('time:e:timesheet:c')?'true':'false' ?>,
        <?= $this->acl()->isAllowed('time:e:timesheet:r')?'true':'false' ?>,
        <?= $this->acl()->isAllowed('time:e:timesheet:u')?'true':'false' ?>,
        <?= $this->acl()->isAllowed('time:e:timesheet:d')?'true':'false' ?>)' >
    <ul class="breadcrumb">
        <li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
        <li><a href="<?= $this->url('timesheet') ?>"><?= $this->translate('time_module_title') ?></a></li>
        <li class="active">
            <span ng-if="self.timesheet.id">
                {{self.panelTitle}}
            </span>
            <span ng-if="!self.timesheet.id">
                <?= $this->translate('timesheet_nav_form') ?>
            </span>
        </li>
    </ul>

    <h1 class="page-title">
        <?= $this->icon('time') ?> <?= $this->translate('time_module_title') ?>
    </h1>

    <div class="row row-padding">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <span ng-if="self.timesheet.id">
                        {{self.panelTitle}}
                    </span>
                    <span ng-if="!self.timesheet.id">
                        <?= $this->translate('timesheet_nav_form') ?>
                    </span>

                    <div class="panel-heading-right">
                        <div class="panel-heading-actions" ng-if="self.timesheet.id && self.timesheet._rights.delete" tooltip="<?= $this->translate('tooltip_delete') ?>">
                            <?= $this->icon('delete', 'pointer', ['ng-click' => 'self.deleteTimesheet()']) ?>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form name="timesheetForm" ng-submit="self.saveTimesheet()">
                        <input type="hidden" name="id" ng-model="self.timesheet.id" />

                        <div class="row">
                            <div class="form-group col-sm-8 col-lg-8">
                                <label><?= $this->translate('timesheet_field_name') ?></label>
                                <input type="text" name="name" class="form-control" autocomplete="off" ng-model="self.timesheet.name" ng-readonly="!self.timesheet._rights.update" />
                                <field-errors field="name" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group required col-sm-8 col-lg-8">
                                <label><?= $this->translate('timesheet_field_user') ?></label>

                                <user-select name="user" ng-model="self.timesheet.user" ng-disabled="
                                        <?=
                                            !$this->acl()->onlyOwned('time:e:timesheet:u')
                                                ? 'false'
                                                : 'true'
                                        ?> ||
                                        (
                                            <?=
                                                !$this->acl()->onlyOwned('time:e:timesheet:u')
                                                    ? 'false'
                                                    : 'true'
                                            ?> &&
                                            !self.timesheet._rights.update
                                        )
                                    " required="true" form="timesheetForm"></user-select>

                                <field-errors field="user" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>

                        <?php if ($this->module()->isActive('project')) : ?>
                            <div class="row">
                                <div class="form-group required col-sm-8 col-lg-8">
                                    <label><?= $this->translate('timesheet_field_project') ?></label>
                                    <project-select name="project" ng-model="self.timesheet.project" ng-disabled="!self.timesheet._rights.update" required="true" form="timesheetForm" sort='["code", "name"]'></project-select>
                                    <field-errors field="project" errors="self.errors.fields"></field-errors>
                                </div>
                            </div>
                        <?php endif; ?>

                        <div class="row">
                            <div class="form-group required col-sm-4 col-lg-4">
                                <label><?= $this->translate('timesheet_field_start') ?></label>
                                <input type="text" name="start" class="form-control" required autocomplete="off" input-date input-date-mask="datetime" id="datetimepicker-start" ng-model="self.timesheet.start" ng-readonly="!self.timesheet._rights.update" />
                                <field-errors field="start" errors="self.errors.fields"></field-errors>
                            </div>
                            <div class="form-group required col-sm-4 col-lg-4">
                                <label><?= $this->translate('timesheet_field_end') ?></label>
                                <input type="text" name="end" class="form-control datetimepicker" required autocomplete="off" input-date input-date-mask="datetime" ng-model="self.timesheet.end" ng-readonly="!self.timesheet._rights.update" />
                                <field-errors field="end" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group required col-sm-4 col-lg-4">
                                <label><?= $this->translate('timesheet_field_hours') ?></label>
                                <div class="input-group">
                                    <input type="text" name="hours" class="form-control" required autocomplete="off" input-mask="decimal" ng-model="self.timesheet.hours" ng-readonly="!self.timesheet._rights.update" />
                                    <div class="input-group-addon pointer" ng-click="self.computeHours()">
                                        <i class="fa fa-calculator"></i>
                                    </div>
                                </div>
                                <field-errors field="hours" errors="self.errors.fields"></field-errors>
                            </div>

                            <div class="form-group col-sm-4">
                                <label><?= $this->translate('timesheet_field_settings_time') ?></label>
                                <settings-time-select name="settings-time" ng-model="self.settingsTime" form="timesheetWeekly"></settings-time-select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group required col-sm-4 col-lg-4">
                                <label><?= $this->translate('timesheet_field_type') ?></label>
                                <select name="type" id="type" class="form-control" required ng-model="self.timesheet.type" ng-readonly="!self.timesheet._rights.update">
                                    <?php foreach (\Time\Entity\Timesheet::getTypes() as $type) : ?>
                                        <option value="<?= $type ?>">
                                            <?= $this->translate('timesheet_type_' . $type) ?>
                                        </option>
                                    <?php endforeach; ?>
                                </select>
                                <field-errors field="type" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4 col-lg-4">
                                <label><?= $this->translate('timesheet_field_description') ?></label>
                                <textarea name="description" class="form-control" ng-model="self.timesheet.description" ng-readonly="!self.timesheet._rights.update"></textarea>
                                <field-errors field="description" errors="self.errors.fields"></field-errors>
                            </div>

                            <div ng-if="self.timesheet.type === '<?= \Time\Entity\Timesheet::TYPE_ABSENCE ?>'" class="form-group required col-sm-4 col-lg-4">
                                <label><?= $this->translate('timesheet_field_absenceType') ?></label>
                                <absence-type-select name="absenceType" ng-model="self.timesheet.absenceType" ng-disabled="!self.timesheet._rights.update" required="true" form="timesheetForm">
                                </absence-type-select>
                                <field-errors field="start" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>

                        <?php if ($this->module()->isActive('keyword')) : ?>
                            <div class="row">
                                <div class="col-xs-12">
                                    <fieldset>
                                        <legend><?= $this->icon('keyword', 'fa-fw') ?> <?= $this->translate('keywords') ?></legend>
                                        <keywords-form-group entity="timesheet" ng-model="self.timesheet"></keywords-form-group>
                                    </fieldset>
                                </div>
                            </div>
                        <?php endif; ?>

                        <?php if ($this->module()->isActive('map')) : ?>
                            <div class="row">
                                <div class="col-xs-12">
                                    <fieldset>
                                        <legend><?= $this->icon('territory', 'fa-fw') ?> <?= ucfirst($this->translate('territory_entities')) ?></legend>
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <territories-form-group ng-model="self.timesheet"></territories-form-group>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        <?php endif; ?>

                        <div ng-if="self.timesheet._rights.update" class="row">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-submit" ng-disabled="self.loading.remove || self.loading.save">
                                    <?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
                                    <?= $this->translate('form_button_save') ?>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<?php
$fabLinks = [];

if ($this->acl()->isAllowed('time:e:timesheet:c')) {
    $fabLinks[] = [
        'href' => $this->url('timesheet/form'),
        'text' => $this->icon('create', 'fa-fw') . ' ' . $this->translate('timesheet_nav_form'),
    ];
    $fabLinks[] = [
        'href' => $this->url('import', ['entity' => 'timesheet']),
        'text' => $this->icon('import', 'fa-fw') . ' ' . $this->translate('timesheet_nav_import'),
    ];
}

echo $this->fabMenu($fabLinks);
?>

<?php
$this->angular('js/src/keyword/directive/keywordsFormGroup.js');
$this->angular('js/src/keyword/directive/keywordSelect.js');
$this->angular('js/src/user/directive/userSelect.js');
$this->angular('js/src/project/directive/projectSelect.js');
$this->angular('js/src/time/directive/absenceTypeSelect.js');
$this->angular('js/src/time/service/settingsTime.js');
$this->angular('js/src/time/directive/settingsTimeSelect.js');



$this->angular('js/src/keyword/service/group.js');
$this->angular('js/src/keyword/service/keyword.js');
$this->angular('js/src/time/service/timesheet.js');
$this->angular('js/src/time/service/absenceType.js');
$this->angular('js/src/project/service/project.js');
$this->angular('js/src/user/service/user.js');

$this->angular('js/src/time/controller/timesheet/form.js');

/** Territories */
$this->angular('js/src/map/service/territory.js');
$this->angular('js/src/map/directive/territorySelect.js');
$this->angular('js/src/map/directive/territoriesFormGroup.js');
