<?php $fromHome = isset($this->fromHome) ? $this->fromHome : false;

$projectGroups = [];
if ($this->module()->isActive('keyword')) {
	$projectGroups = $this->allowedKeywordGroups('project', false);
}
$userGroups = [];
if ($this->module()->isActive('keyword')) {
	$userGroups = $this->allowedKeywordGroups('user', false);
}
?>

<?php if (!$fromHome) : ?>
    <ul class="breadcrumb">
        <li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
        <li><a href="<?= $this->url('timesheet') ?>"><?= $this->translate('time_module_title') ?></a></li>
        <li class="active"><?= $this->translate('timesheet_nav_list') ?></li>
    </ul>

    <h1 class="page-title">
        <?= $this->icon('time') ?> <?= $this->translate('time_module_title') ?>
    </h1>

    <div class="row row-padding">
        <div class="col-xs-12">
            <div class="panel" ng-controller="timesheetListController as self" ng-init="self.init(<?= $this->authStorage()->getUser()->getId() ?>)">
            <?php endif; ?>
            <table-builder options="self.options" items="self.timesheets" class="table-builder">
                <?php if (!$fromHome) : ?>
                    <div class="panel-heading">
                        <?= $this->translate('timesheet_nav_list_with_criteria') ?>
                        <div class="panel-heading-right">
                            <div class="panel-heading-actions" ng-show="self.view == 'table'" tooltip="<?= $this->translate('tooltip_switch_view_timesheet_calendar') ?>">
                                <?= $this->icon('calendar', 'fa-fw pointer', ['ng-click' => 'self.view = \'calendar\'']) ?>
                            </div>
                            <div class="panel-heading-actions" ng-show="self.view == 'calendar'" tooltip="<?= $this->translate('tooltip_switch_view_timesheet_list') ?>">
                                <?= $this->icon('list', 'fa-fw pointer', ['ng-click' => 'self.view = \'table\'']) ?>
                            </div>
                            <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_remove_from_list') ?>">
                                <?= $this->icon('eraser', 'fa-fw pointer', ['ng-click' => '__tb.removeFromList()']) ?>
                            </div>
                            <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_export_xls') ?>">
                                <?= $this->icon('excel', 'fa-fw pointer', ['ng-click' => 'self.showExportModal()']) ?>
                            </div>
                            <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_refresh') ?>">
                                <?= $this->icon('refresh', 'fa-fw pointer', ['ng-click' => '__tb.loadData()']) ?>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                    <?php endif; ?>
                    <div class="row">
                        <?php if (!$fromHome) : ?>
                            <div class="col-sm-4">
                                <div class="table-filters little-panel">
                                    <div class="title table-filters-header">
                                        <div class="input-group">
                                            <div class="input-group-addon pointer" data-toggle="collapse" href="#filters-collapsed">
                                                <?= $this->icon('filters', 'fa-fw') ?>
                                                <span class="caret"></span>
                                            </div>
                                            <input type="text" placeholder="<?= $this->translate('search', null, null, false) ?>" class="form-control" ng-model="self.fullText" id="full-text" on-enter="self.fullTextSearch()" />
                                            <div class="input-group-addon pointer" ng-click="self.fullTextSearch()">
                                                <?= $this->icon('search', 'fa-fw') ?>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="filters-collapsed" class="body collapse">
                                        <?= $this->tableFilter('__tb.apiParams.search.data.filters', $this->timesheetFilters()); ?>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <button class="btn" ng-click="self.resetfullTextSearch(); __tb.resetFilters(); __tb.loadData()"><?= $this->translate('table_filter_reset_button') ?></button>
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                <button class="btn" ng-click="self.resetfullTextSearch(); __tb.loadData()">
                                                    <?= $this->icon('search', 'fa-fw') ?>
                                                    <?= $this->translate('table_filter_button') ?>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>
                        <div class="col-sm-4">
                            <table-builder-columns ng-show="self.view == 'table'"></table-builder-columns>
                        </div>
                        <?php if ($this->acl()->isAllowed('application:e:query:r') && !$fromHome) : ?>
                            <div class="col-sm-4">
                                <table-builder-queries></table-builder-queries>
                            </div>
                        <?php endif; ?>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 btn-group" ng-show="__tb.isAnItemSelected()">
                            <button class="btn btn-xs" ng-click="self.deleteMultiple()" type="button" tooltip="<?= $this->translate('tooltip_remove_from_list') ?>">
                                <?= $this->icon('trash') ?>
                            </button>
                            <button class="btn btn-xs" ng-click="self.showMultipleEditModal()" type="button" tooltip="<?= $this->translate('tooltip_multiple_edit') ?>">
                                <?= $this->icon('inline-edit') ?>
                            </button>
                        </div>
                        <div class="col-xs-12" ng-if="self.view == 'calendar'">
                            <div ui-calendar="self.calendar" ng-model="self.eventSources" calendar="{{self.calendarName}}"></div>
                        </div>

                        <div class="col-xs-12" ng-if="self.view == 'team'">
                            <div ui-calendar="self.teamCalendar" ng-model="self.eventSources" calendar="{{self.calendarName}}"></div>
                        </div>

                        <div class="col-xs-12" ng-show="self.view == 'table'">
                            <table table-builder-table class="table table-bordered table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th tb-column tb-name="selection" class="checkbox-column"><input type="checkbox" ng-model="__tb.selection" />
                                        </th>
                                        <th tb-column tb-name="name" tb-sortable="true" tb-toggle="true"><?= $this->translate('timesheet_field_name') ?></th>
                                        <th tb-column tb-name="user.name" tb-sortable="true" tb-toggle="true"><?= $this->translate('timesheet_field_user') ?></th>
                                        <?php if ($this->module()->isActive('project')) : ?>
                                            <th tb-column tb-name="project.name" tb-sortable="true" tb-toggle="true"><?= $this->translate('timesheet_field_project') ?></th>
                                            <th tb-column tb-name="project.hierarchySup.name" tb-sortable="false" tb-toggle="true"><?= $this->translate('project_field_parent') ?></th>
                                            <th tb-column tb-name="project.code" tb-sortable="true" tb-toggle="true"><?= $this->translate('timesheet_field_code') ?></th>
                                        <?php endif; ?>
                                        <th tb-column tb-name="start" tb-sortable="true" tb-toggle="true"><?= $this->translate('timesheet_field_start') ?></th>
                                        <th tb-column tb-name="end" tb-sortable="true" tb-toggle="true"><?= $this->translate('timesheet_field_end') ?></th>
                                        <th tb-column tb-name="hours" tb-sortable="true" tb-toggle="true"><?= $this->translate('timesheet_field_hours') ?></th>
                                        <th tb-column tb-name="type" tb-sortable="true" tb-toggle="true"><?= $this->translate('timesheet_field_type') ?></th>
                                        <th tb-column tb-name="description" tb-sortable="true" tb-toggle="true"><?= $this->translate('timesheet_field_description') ?></th>
                                        <?php if ($this->module()->isActive('keyword')) {
                                            foreach ($this->groups as $group) {
                                                echo '<th tb-column tb-name="keyword' . $group->getId() . '" tb-sortable="false" tb-toggle="true">' . $group->getName() . '</th>';
                                            }
                                        } ?>
                                        <?php if ($this->module()->isActive('map')) : ?>
                                            <th tb-column tb-name="territories" tb-sortable="false" tb-toggle="true"><?= ucfirst($this->translate('territory_entities')) ?></th>
                                        <?php endif; ?>
                                        <th tb-column tb-name="absenceType.name" tb-sortable="false" tb-toggle="true"><?= ucfirst($this->translate('timesheet_field_absenceType')) ?></th>
                                        <?php foreach ($projectGroups as $projectGroup) {
                                            echo '<th tb-column tb-name="project.keywords.hierarchySup' .
                                            $projectGroup->getId() .
                                            '" tb-sortable="false" tb-toggle="true" tb-hidden="true">' .
                                            $this->translate('project_entity'). ' - ' .
                                            $projectGroup->getName() .
                                            '</th>';
                                        } ?>
                                        <?php foreach ($userGroups as $userGroup) {
                                            echo '<th tb-column tb-name="user.keywords.hierarchySup' .
                                                $userGroup->getId() .
                                                '" tb-sortable="false" tb-toggle="true" tb-hidden="true">' .
                                                $this->translate('user_entity'). ' - ' .
                                                $userGroup->getName() .
                                                '</th>';
                                        } ?>
                                        <th tb-column tb-name="createdAt" tb-sortable="true" tb-toggle="true" tb-hidden="true"><?= $this->translate('timesheet_field_createdAt') ?></th>
                                        <th tb-column tb-name="updatedAt" tb-sortable="true" tb-toggle="true" tb-hidden="true"><?= $this->translate('timesheet_field_updatedAt') ?></th>
                                        <th tb-column tb-name="actions" class="actions-column"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="timesheet in self.timesheets" ng-class="{editing: self.editedLine == timesheet}">
                                        <td><input type="checkbox" ng-model="timesheet.selected" /></td>
                                        <td class="editable">
                                            <span ng-show="self.editedLine !== timesheet">
                                                <a ng-if="timesheet._rights.read" href="<?= $this->url('timesheet/form') ?>/{{timesheet.id}}">{{timesheet.name}}</a>
                                                <span ng-if="!timesheet._rights.read">{{timesheet.name}}</span>

                                                <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
                                            </span>
                                            <span ng-if="self.editedLine == timesheet">
                                                <input type="text" class="form-control input-sm" ng-model="self.editedLineFields.name" />
                                                <field-errors field="name" errors="self.editedLineErrors"></field-errors>
                                            </span>
                                        </td>
                                        <td class="editable">
                                            <span ng-show="self.editedLine !== timesheet">
                                                <?php if ($this->acl()->isAllowed('user:e:user:r')) : ?>
                                                    <a href="<?= $this->url('user/form') ?>/{{timesheet.user.id}}">{{timesheet.user.name}}</a>
                                                <?php else : ?>
                                                    {{timesheet.user.name}}
                                                <?php endif; ?>
                                                <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
                                            </span>
                                            <span ng-if="self.editedLine == timesheet">
                                                <user-select name="user" ng-model="self.editedLineFields.user" multiple="false" required="true" form="timesheetForm">
                                                </user-select>
                                                <field-errors field="user" errors="self.editedLineErrors"></field-errors>
                                            </span>
                                        </td>
                                        <?php if ($this->module()->isActive('project')) : ?>
                                            <td class="editable">
                                                <span ng-show="self.editedLine !== timesheet">
                                                    <?php if ($this->acl()->isAllowed('project:e:project:r')) : ?>
                                                        <a href="<?= $this->url('project/form') ?>/{{timesheet.project.id}}">{{timesheet.project.name}}</a>
                                                    <?php else : ?>
                                                        {{timesheet.project.name}}
                                                    <?php endif; ?>
                                                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
                                                </span>
                                                <span ng-if="self.editedLine == timesheet">
                                                    <project-select name="project" ng-model="self.editedLineFields.project" multiple="false" required="true" sort='["code", "name"]' form="timesheetForm">
                                                    </project-select>
                                                    <field-errors field="project" errors="self.editedLineErrors"></field-errors>
                                                </span>
                                            </td>
                                            <td>
                                                <span class="comma-separated" ng-show="self.editedLine !== timesheet">
                                                    <span ng-repeat="parent in timesheet.project.hierarchySup">{{parent.name}}</span>
                                                </span>
                                            </td>
                                            <td>
                                                {{ timesheet.project.code }}
                                            </td>
                                        <?php endif; ?>
                                        <td class="editable">
                                            <span ng-show="self.editedLine !== timesheet">
                                                {{timesheet.start}}
                                                <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
                                            </span>
                                            <span ng-if="self.editedLine == timesheet">
                                                <input type="datetime" ng-model="self.editedLineFields.start" form="timesheetForm" input-mask="qdatetime" class="form-control" />
                                                <field-errors field="start" errors="self.editedLineErrors"></field-errors>
                                            </span>
                                        </td>
                                        <td class="editable">
                                            <span ng-show="self.editedLine !== timesheet">
                                                {{timesheet.end}}
                                                <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
                                            </span>
                                            <span ng-if="self.editedLine == timesheet">
                                                <input type="datetime" ng-model="self.editedLineFields.end" form="timesheetForm" input-mask="qdatetime" class="form-control" />
                                                <field-errors field="end" errors="self.editedLineErrors"></field-errors>
                                            </span>
                                        </td>
                                        <td class="editable">
                                            <span ng-show="self.editedLine !== timesheet">
                                                {{timesheet.hours}} h.
                                                <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
                                            </span>
                                            <span ng-if="self.editedLine == timesheet">
                                                <input type="text" ng-model="self.editedLineFields.hours" form="timesheetForm" input-mask="decimal" class="form-control" />
                                                <field-errors field="hours" errors="self.editedLineErrors"></field-errors>
                                            </span>
                                        </td>
                                        <td class="editable">
                                            <span ng-show="self.editedLine !== timesheet">
                                                {{'timesheet_type_' + timesheet.type | translate}}
                                                <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
                                            </span>
                                            <span ng-if="self.editedLine == timesheet">
                                                <select ng-model="self.editedLineFields.type" class="form-control" required form="timesheetForm">
                                                    <?php foreach (\Time\Entity\Timesheet::getTypes() as $type) : ?>
                                                        <option value="<?= $type ?>" ng-selected="self.editedLineFields.type == '<?= $type ?>'">
                                                            <?= $this->translate('timesheet_type_' . $type) ?>
                                                        </option>
                                                    <?php endforeach; ?>
                                                </select>
                                                <field-errors field="type" errors="self.editedLineErrors"></field-errors>
                                            </span>
                                        </td>
                                        <td class="editable">
                                            <span ng-show="self.editedLine !== timesheet">
                                                {{timesheet.description}}
                                                <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
                                            </span>
                                            <span ng-if="self.editedLine == timesheet">
                                                <input type="text" ng-model="self.editedLineFields.description" form="timesheetForm" class="form-control" />
                                                <field-errors field="description" errors="self.editedLineErrors"></field-errors>
                                            </span>
                                        </td>
                                        <?php if ($this->module()->isActive('keyword')) :
                                            foreach ($this->groups as $group) : ?>
                                                <td class="editable">
                                                    <span class="comma-separated" ng-show="self.editedLine !== timesheet">
                                                        <span ng-repeat="keyword in timesheet.keywords[<?= $group->getId() ?>]">{{keyword.name}}</span>
                                                        <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
                                                    </span>
                                                    <span ng-if="self.editedLine == timesheet">
                                                        <keyword-select ng-model="self.editedLineFields.keywords[<?= $group->getId() ?>]" multiple="<?= $group->isMultiple() ? 'true' : 'false' ?>" configuration="{ service : { apiParams : { search: { data: { filters: { group : { op: 'eq', val: <?= $group->getId() ?> } } } } } } }" form="timesheetForm"></keyword-select>
                                                    </span>
                                                </td>
                                        <?php endforeach;
                                        endif; ?>
                                        <?php if ($this->module()->isActive('map')) : ?>
                                            <td class="editable">
                                                <span class="comma-separated" ng-show="self.editedLine !== timesheet">
                                                    <span ng-repeat="territory in timesheet.territories">{{territory.name}}</span>
                                                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
                                                </span>
                                                <span ng-if="self.editedLine == timesheet">
                                                    <territory-select ng-model="self.editedLineFields.territories" multiple="true" form="timesheetForm"></territory-select>
                                                </span>
                                            </td>
                                        <?php endif; ?>
                                        <td class="editable">
                                            <span ng-show="self.editedLine !== timesheet">
                                                {{timesheet.absenceType.name}}
                                                <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timesheet)', 'ng-if' => 'timesheet._rights.update']) ?>
                                            </span>
                                            <span ng-if="self.editedLine == timesheet">
                                                <absence-type-select name="absenceType" ng-model="self.editedLineFields.absenceType" form="timesheetForm">
                                                </absence-type-select>
                                                <field-errors field="absenceType.name" errors="self.editedLineErrors"></field-errors>
                                            </span>
                                        </td>

                                        <?php foreach ($projectGroups as $projectGroup) {
                                            echo '<td>';
                                            echo '<span class="comma-separated">';
                                            echo '<span ng-repeat="keyword in timesheet.project.keywords[' .
                                                $projectGroup->getId() .
                                                ']"><b>{{keyword.name}}</b>{{ keyword.hierarchySup .length > 0 ? " : " : "" }}';
                                                echo '<span class="comma-separated"><span ng-repeat="hierarchy in keyword.hierarchySup">{{hierarchy.name}}</span></span>';

                                            echo '</span>';
                                            echo '</span>';
                                            echo '</td>';
                                        } ?>
                                        <?php foreach ($userGroups as $userGroup) {
                                            echo '<td>';
                                            echo '<span class="comma-separated">';
                                            echo '<span ng-repeat="keyword in timesheet.user.keywords[' .
                                                $userGroup->getId() .
                                                ']"><b>{{keyword.name}}</b>{{ keyword.hierarchySup .length > 0 ? " : " : "" }}';
                                                echo '<span class="comma-separated"><span ng-repeat="hierarchy in keyword.hierarchySup">{{hierarchy.name}}</span></span>';

                                            echo '</span>';
                                            echo '</span>';
                                            echo '</td>';
                                        } ?>
                                        <td>{{timesheet.createdAt | dateFormat : 'DD/MM/YYYY'}}</td>
                                        <td>{{timesheet.updatedAt | dateFormat : 'DD/MM/YYYY'}}</td>
                                        <td>
                                            <div class="btn-group btn-group-actions" ng-if="self.editedLine !== timesheet">
                                                <?php if ($this->acl()->isAllowed('time:e:timesheet:r')) : ?>
                                                    <a ng-if="timesheet._rights.read" href="<?= $this->url('timesheet/form') ?>/{{timesheet.id}}" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_edit') ?>">
                                                        <?= $this->icon('edit') ?>
                                                    </a>
                                                <?php endif; ?>

                                                <?php if ($this->acl()->isAllowed('time:e:timesheet:c')) : ?>
                                                    <a class="btn btn-xs btn-default" ng-click="self.duplicate(timesheet)" tooltip="<?= $this->translate('tooltip_copy') ?>">
                                                        <?= $this->icon('duplicate'); ?>
                                                    </a>
                                                <?php endif; ?>

                                                <?php if ($this->acl()->isAllowed('time:e:timesheet:d')) : ?>
                                                    <a ng-if="timesheet._rights.delete" href="" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_delete') ?>" ng-click="self.deleteTimesheet(timesheet);">
                                                        <?= $this->icon('delete') ?>
                                                    </a>
                                                <?php endif; ?>
                                            </div>

                                            <div class="btn-group btn-group-actions" ng-if="self.editedLine == timesheet">
                                                <button class="btn btn-xs btn-default" ng-click="self.saveEditedLine(timesheet)" type="submit" tooltip="<?= $this->translate('tooltip_save') ?>">
                                                    <?= $this->icon('save') ?>
                                                </button>
                                                <button class="btn btn-xs btn-default" ng-click="self.editedLine = null" type="button" tooltip="<?= $this->translate('tooltip_cancel') ?>">
                                                    <?= $this->icon('close') ?>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal" id="exportModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"><?= $this->translate('time_export_module_title') ?></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <select class="form-control" ng-model="self.exportModel">
                                                <option value="default">
                                                    <?= $this->translate('time_export_default') ?>
                                                </option>
                                                <?php if ($this->exports) : ?>
                                                    <?php foreach ($this->exports as $export) : ?>
                                                        <option value="<?= $export->getId() ?>">
                                                            <?= $export->getName() ?>
                                                        </option>
                                                    <?php endforeach ?>
                                                <?php endif; ?>

                                                <?php if (is_array($this->customExportsExcel) && count($this->customExportsExcel) > 0) : ?>
                                                    <optgroup label="<?= ucfirst($this->translate('export_custom_entity')) ?>">
                                                        <?php foreach ($this->customExportsExcel as $export) : ?>
                                                            <option value="<?= $export->getKey() ?>">
                                                                <?= $export->getName() ?>
                                                            </option>
                                                        <?php endforeach ?>
                                                    </optgroup>
                                                <?php endif ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div ng-if="self.isCustomExport()" class="row" style="margin-top: 10px;">
                                        <div class="col-xs-12">
                                            <?php if ($this->customExportsExcel) : ?>
                                                <?php foreach ($this->customExportsExcel as $export) : ?>
                                                    <div ng-if="self.exportModel === '<?= $export->getKey() ?>'">
                                                        <?php foreach ($export->getParams() as $property => $param) : ?>
                                                            <div class="form-group <?= $param['required'] ? 'required' : '' ?>">
                                                                <label for="<?= $property ?>">
                                                                    <?= $param['text'] ?>
                                                                </label>
                                                                <?php switch ($param['type']):
                                                                    case 'text': ?>
                                                                        <input type="text" name="<?= $property ?>" ng-model="self.customExport.<?= $property ?>" required="<?= $param['required'] ?>" class="form-control">
                                                                    <?php break;
                                                                    case 'number': ?>
                                                                        <input type="number" step="0.01" name="<?= $property ?>" ng-model="self.customExport.<?= $property ?>" required="<?= $param['required'] ?>" class="form-control">
                                                                    <?php break;
                                                                    case 'user-select': ?>
                                                                        <user-select id="<?= $property ?>" name="<?= $property ?>" ng-model="self.customExport.<?= $property ?>" required="<?= $param['required'] ?>" multiple="<?= $param['options']['multiple'] ?>">
                                                                        </user-select>
                                                                    <?php break;
                                                                    case 'date': ?>
                                                                        <input id="<?= $property ?>" type="datetime" ng-model="self.customExport.<?= $property ?>" input-date input-date-mask="date" required="<?= $param['required'] ?>" class="form-control">
                                                                <?php break;
                                                                endswitch ?>
                                                            </div>
                                                        <?php endforeach ?>
                                                    </div>
                                                <?php endforeach ?>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default" type="button" data-dismiss="modal">
                                        <?= $this->translate('close') ?>
                                    </button>

                                    <button class="btn btn-submit" ng-disabled="self.loading.export || !self.exportModel" ng-click="self.export()">
                                        <?= $this->icon('loading', '', ['ng-if' => 'self.loading.export']) ?>
                                        <?= $this->translate('export') ?>
                                    </button>

                                    <form id="exportForm" action="<?= $this->url('timesheet/export/do') ?>" method="POST" target="_blank">
                                        <input type="hidden" name="export" value="{{self.exportModel}}" />
                                        <input type="hidden" name="customExport" value="{{self.customExport}}" />
                                        <input type="hidden" name="filters" value="{{__tb.apiParams.search.data.filters}}" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="{{self.timesheetFormModalName}}" ng-controller="timesheetFormController as self" class="modal fade" ng-init='self.init(
                        null,null,null,
                        <?= $this->acl()->isAllowed('time:e:timesheet:c')?'true':'false' ?>,
                        <?= $this->acl()->isAllowed('time:e:timesheet:r')?'true':'false' ?>,
                        <?= $this->acl()->isAllowed('time:e:timesheet:u')?'true':'false' ?>,
                        <?= $this->acl()->isAllowed('time:e:timesheet:d')?'true':'false' ?>)'
                    >
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <form name="timesheetForm" ng-submit="self.saveTimesheetModal();">
                                    <div class="modal-header">
                                        <span ng-if="self.timesheet.id">
                                            {{self.timesheet.name | ucfirst}}
                                        </span>
                                        <span ng-if="!self.timesheet.id">
                                            <?= $this->translate('timesheet_nav_form') ?>
                                        </span>
                                        <a ng-if="self.timesheet.id && self.timesheet._rights.delete" ng-click="self.deleteTimesheetModal(self.timesheet);" class="pull-right" tooltip="<?= $this->translate('tooltip_delete') ?>">
                                            <?= $this->icon('delete') ?>
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-sm-8 col-lg-8">
                                                <label><?= $this->translate('timesheet_field_name') ?></label>
                                                <input type="text" name="name" class="form-control" autocomplete="off" ng-model="self.timesheet.name" ng-readonly="!self.timesheet._rights.update" />
                                                <field-errors field="name" errors="self.errors.fields"></field-errors>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group required col-sm-8 col-lg-8">
                                                <label><?= $this->translate('timesheet_field_user') ?></label>
                                                <user-select name="user" ng-model="self.timesheet.user" ng-disabled="!self.timesheet._rights.update" required="true" form="timesheetForm"></user-select>
                                                <field-errors field="user" errors="self.errors.fields"></field-errors>
                                            </div>
                                        </div>

                                        <?php if ($this->module()->isActive('project')) : ?>
                                            <div class="row">
                                                <div class="form-group required col-sm-8 col-lg-8">
                                                    <label><?= $this->translate('timesheet_field_project') ?></label>
                                                    <project-select name="project" ng-model="self.timesheet.project" ng-disabled="!self.timesheet._rights.update" required="true" form="timesheetForm" sort='["code", "name"]'></project-select>
                                                    <field-errors field="project" errors="self.errors.fields"></field-errors>
                                                </div>
                                            </div>
                                        <?php endif; ?>

                                        <div class="row">
                                            <div class="form-group required col-sm-4 col-lg-4">
                                                <label><?= $this->translate('timesheet_field_start') ?></label>
                                                <input type="text" name="start" class="form-control" required autocomplete="off" input-date input-date-mask="datetime" id="datetimepicker-start" ng-model="self.timesheet.start" ng-readonly="!self.timesheet._rights.update" />
                                                <field-errors field="start" errors="self.errors.fields"></field-errors>
                                            </div>
                                            <div class="form-group required col-sm-4 col-lg-4">
                                                <label><?= $this->translate('timesheet_field_end') ?></label>
                                                <input type="text" name="end" class="form-control datetimepicker" required autocomplete="off" input-date input-date-mask="datetime" ng-model="self.timesheet.end" ng-readonly="!self.timesheet._rights.update" />
                                                <field-errors field="end" errors="self.errors.fields"></field-errors>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group required col-sm-4 col-lg-4">
                                                <label><?= $this->translate('timesheet_field_hours') ?></label>
                                                <div class="input-group">
                                                    <input type="text" name="hours" class="form-control" required autocomplete="off" input-mask="decimal" ng-model="self.timesheet.hours" ng-readonly="!self.timesheet._rights.update" />
                                                    <div class="input-group-addon pointer" ng-click="self.computeHours()">
                                                        <i class="fa fa-calculator"></i>
                                                    </div>
                                                </div>
                                                <field-errors field="hours" errors="self.errors.fields"></field-errors>
                                            </div>
                                            <div class="form-group required col-sm-4 col-lg-4">
                                                <label><?= $this->translate('timesheet_field_type') ?></label>
                                                <select name="type" id="type" class="form-control" required7 ng-model="self.timesheet.type" ng-readonly="!self.timesheet._rights.update">
                                                    <?php foreach (\Time\Entity\Timesheet::getTypes() as $type) : ?>
                                                        <option value="<?= $type ?>">
                                                            <?= $this->translate('timesheet_type_' . $type) ?>
                                                        </option>
                                                    <?php endforeach; ?>
                                                </select>
                                                <field-errors field="type" errors="self.errors.fields"></field-errors>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-sm-4 col-lg-4">
                                                <label><?= $this->translate('timesheet_field_description') ?></label>
                                                <textarea name="description" class="form-control" ng-model="self.timesheet.description" ng-readonly="!self.timesheet._rights.update"></textarea>
                                                <field-errors field="description" errors="self.errors.fields"></field-errors>
                                            </div>

                                            <div ng-if="self.timesheet.type === '<?= \Time\Entity\Timesheet::TYPE_ABSENCE ?>'" class="form-group required col-sm-4 col-lg-4">
                                                <label><?= $this->translate('timesheet_field_absenceType') ?></label>
                                                <absence-type-select name="absenceType" ng-model="self.timesheet.absenceType" ng-disabled="!self.timesheet._rights.update" required="true" form="timesheetForm"></absence-type-select>
                                                <field-errors field="start" errors="self.errors.fields"></field-errors>
                                            </div>
                                        </div>

                                        <?php if ($this->module()->isActive('keyword')) : ?>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <fieldset>
                                                        <legend><?= $this->icon('keyword', 'fa-fw') ?> <?= $this->translate('keywords') ?></legend>
                                                        <keywords-form-group entity="timesheet" ng-model="self.timesheet"></keywords-form-group>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        <?php endif; ?>

                                        <?php if ($this->module()->isActive('map')) : ?>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <fieldset>
                                                        <legend><?= $this->icon('territory', 'fa-fw') ?> <?= ucfirst($this->translate('territory_entities')) ?></legend>
                                                        <div class="row">
                                                            <div class="form-group col-xs-12">
                                                                <territories-form-group ng-model="self.timesheet"></territories-form-group>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        <?php endif; ?>
                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn btn-default" type="button" data-dismiss="modal">
                                            <?= $this->translate('close') ?>
                                        </button>

                                        <button class="btn btn-submit" ng-if="self.right.c || self.right.u" ng-disabled="self.loading.save">
                                            <?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
                                            <?= $this->translate('save') ?>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <?php if (!$fromHome) : ?>
                    </div>
                <?php endif; ?>

                <div class="modal" id="multipleEditModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"><?= $this->translate('project_multipleEdit_title') ?></h4>
                            </div>
                            <div class="modal-body">
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-xs-6">
                                        <label><?= $this->translate('timesheet_field_type') ?></label>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <label for="multipleEdit.use.type"><?= $this->translate('use') ?></label>
                                        <input type="checkbox" id="multipleEdit.use.type" ng-model="self.multipleEdit.use.type">
                                    </div>
                                    <div class="col-xs-12">
                                        <select name="type" id="type" class="form-control" required ng-model="self.multipleEdit.type">
                                            <?php foreach (\Time\Entity\Timesheet::getTypes() as $type) : ?>
                                                <option value="<?= $type ?>">
                                                    <?= $this->translate('timesheet_type_' . $type) ?>
                                                </option>
                                            <?php endforeach; ?>
                                        </select>
                                        <div class="errors-group" ng-if="self.multipleEditErrors.type">
                                            <ul>
                                                <li ng-repeat="(project, errors) in self.multipleEditErrors.type">
                                                    {{project}} :
                                                    <span ng-repeat="error in errors">{{error}}<br></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-6" ng-if="self.multipleEdit.type === '<?= \Time\Entity\Timesheet::TYPE_ABSENCE ?>'" >
                                        <label><?= $this->translate('timesheet_field_absenceType') ?></label>
                                    </div>
                                    <div class="col-xs-6 text-right" ng-if="self.multipleEdit.type === '<?= \Time\Entity\Timesheet::TYPE_ABSENCE ?>'" >
                                        <label for="multipleEdit.use.absenceType"><?= $this->translate('use') ?></label>
                                        <input type="checkbox" id="multipleEdit.use.absenceType" ng-model="self.multipleEdit.use.absenceType">
                                    </div>
                                    <div class="col-xs-12" ng-if="self.multipleEdit.type === '<?= \Time\Entity\Timesheet::TYPE_ABSENCE ?>'" >
                                        <div class="form-group required">
                                            <absence-type-select name="absenceType" ng-model="self.multipleEdit.absenceType" required="true">
                                            </absence-type-select>
                                            <field-errors field="start" errors="self.errors.fields"></field-errors>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label><?= $this->translate('timesheet_field_hours') ?></label>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <label for="multipleEdit.use.hours"><?= $this->translate('use') ?></label>
                                        <input type="checkbox" id="multipleEdit.use.hours" ng-model="self.multipleEdit.use.hours">
                                    </div>
                                    <div class="col-xs-12">
                                        <input type="text" name="hours" class="form-control" required autocomplete="off" input-mask="decimal" ng-model="self.multipleEdit.hours"/>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 10px;" ng-repeat="(field, projects) in self.multipleEditErrors" ng-if="['type'].indexOf(field) === -1">
                                    <div class="col-xs-12">
                                        <div class="errors-group">
                                            <label>{{field | ucfirst}}</label>
                                            <ul>
                                                <li ng-repeat="(project, errors) in projects">
                                                    {{project}} :
                                                    <span ng-repeat="error in errors">{{error}}<br></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" type="button" data-dismiss="modal">
                                    <?= $this->translate('close') ?>
                                </button>

                                <button class="btn btn-submit" ng-disabled="self.loading.multipleEdit" ng-click="self.doMultipleEdit()">
                                    <?= $this->icon('loading', '', ['ng-if' => 'self.loading.multipleEdit']) ?>
                                    <?= $this->translate('save') ?>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </table-builder>
            <?php if (!$fromHome) : ?>
            </div>
        </div>
    </div>

<?php
                $fabLinks = [];

                if ($this->acl()->isAllowed('time:e:timesheet:c')) {
                    $fabLinks[] = [
                        'href' => $this->url('timesheet/form'),
                        'text' => $this->icon('create', 'fa-fw') . ' ' . $this->translate('timesheet_nav_form'),
                    ];
                    $fabLinks[] = [
                        'href' => $this->url('import', ['entity' => 'timesheet']),
                        'text' => $this->icon('import', 'fa-fw') . ' ' . $this->translate('timesheet_nav_import'),
                    ];
                    $fabLinks[] = [
                        'href' => $this->url('timesheet/synchronisation/import', [], ['query' => ['ics' => 'true']]),
                        'text' => $this->icon('import', 'fa-fw') . ' ' . $this->translate('timesheet_nav_import_ics'),
                    ];
                }

                echo $this->fabMenu($fabLinks);
            endif;
?>

<?php
$this->angular('js/src/keyword/directive/keywordsFormGroup.js');
$this->angular('js/src/keyword/directive/keywordSelect.js');
$this->angular('js/src/keyword/directive/groupSelect.js');
$this->angular('js/src/user/directive/userSelect.js');
$this->angular('js/src/project/directive/projectSelect.js');
$this->angular('js/src/map/directive/territorySelect.js');
$this->angular('js/src/time/directive/absenceTypeSelect.js');

$this->angular('js/src/keyword/service/group.js');
$this->angular('js/src/keyword/service/keyword.js');
$this->angular('js/src/time/service/timesheet.js');
$this->angular('js/src/time/service/absenceType.js');
$this->angular('js/src/application/query/service/query.js');
$this->angular('js/src/project/service/project.js');
$this->angular('js/src/user/service/user.js');
$this->angular('js/src/map/service/territory.js');

$this->angular('js/src/time/controller/timesheet/list.js');
$this->angular('js/src/time/controller/timesheet/form.js');

/** Territories */
$this->angular('js/src/map/service/territory.js');
$this->angular('js/src/map/directive/territorySelect.js');
$this->angular('js/src/map/directive/territoriesFormGroup.js');

$this->headScript()->appendFile($this->basepath('vendor/angular-ui-calendar/src/calendar.js'))
    ->appendFile($this->basepath('js/plugins/fullcalendar/dist/fullcalendar.min.js'))
    ->appendFile($this->basepath('js/plugins/fullcalendar/dist/locale/fr.js'));

$this->headLink()->appendStylesheet($this->basepath('js/plugins/fullcalendar/dist/fullcalendar.min.css'));

$this->inlineScript()->captureStart();
echo "appDependencies.push('ui.calendar');";
$this->inlineScript()->captureEnd();
