<?php
$projectActive = $this->module()->isActive('project');
?>

    <ul class="breadcrumb">
        <li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
        <li><a href="<?= $this->url('timesheet') ?>"><?= $this->translate('time_module_title') ?></a></li>
        <li class="active"><?= $this->translate('timesheet_nav_weekly_add') ?></li>
    </ul>

    <h1 class="page-title">
        <?= $this->icon('calendar') ?> <?= $this->translate('timesheet_nav_weekly_add') ?>
    </h1>
    <div class="row row-padding" ng-controller="timesheetWeeklyController as self">
        <div class="col-xs-12">
            <form class="panel"
                  name="timesheetWeekly"
                  ng-init="self.init(<?= $this->authStorage()->getUser()->getId() ?>, <?= $projectActive ? 'true' : 'false' ?>)"
                  ng-submit="self.save()">
                <div class="panel-heading">
                    <?= $this->translate('timesheet_nav_weekly_add') ?>
                    <div class="panel-heading-right">
                        <?php if (count($queries) > 0): ?>
                            <div class="panel-heading-actions">
                                <select ng-change="self.selectQuery()"
                                        ng-model="self.selectedQueryId"
                                        title="<?= $this->translate('query_entity') ?>"
                                        class="form-control input-sm form-control-inline">
                                    <option value="">
                                        <?= ucfirst($this->translate('query_entity')) ?>
                                    </option>
                                    <?php foreach ($queries as $query): ?>
                                        <option value="<?= $query->getId() ?>">
                                            <?= $query->getName() ?>
                                        </option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                        <?php endif ?>
                        <div class="panel-heading-actions">
                            <button type="button" class="btn btn-primary btn-xs" ng-click="self.addWeek(-1)">
                                <i class="fa fa-arrow-left"></i>
                            </button>
                            Semaine <span ng-model="self.currentWeek">{{ self.currentDate | dateFormat: "w (YYYY)" }}</span>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="self.addWeek(1)">
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                        <?php if ($this->module()->isActive('keyword')): ?>
                            <div class="panel-heading-actions" tooltip="<?= ucfirst($this->translate('keyword_entities')) ?>">
                                <?= $this->icon('keyword', 'fa-fw pointer', ['data-toggle' => 'modal', 'data-target' => '#modalKeywords']) ?>
                            </div>
                        <?php endif; ?>
                        <?php if ($this->module()->isActive('map')): ?>
                            <div class="panel-heading-actions" tooltip="<?= ucfirst($this->translate('territory_entities')) ?>">
                                <?= $this->icon('territory', 'fa-fw pointer', ['data-toggle' => 'modal', 'data-target' => '#modalTerritories']) ?>
                            </div>
                        <?php endif; ?>
                        <div class="panel-heading-actions dropdown" tooltip="<?= ucfirst($this->translate('bookmark_entities')) ?>">
                            <?= $this->icon('bookmark', 'fa-fw pointer', ['data-toggle' => 'dropdown']) ?>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                                <li ng-class="{'disabled': self.rows.length == 0}">
                                    <a href="#" data-toggle="modal" data-target="#modalBookmark">
                                        <?= $this->icon('create'); ?>
                                        <?= $this->translate('timesheet_save_new_bookmark') ?>
                                    </a>
                                </li>
                                <li class="dropdown-header">
                                    <?= $this->icon('configuration'); ?>
                                    <?= $this->translate('timesheet_load_bookmark') ?>
                                </li>
                                <li ng-repeat="bookmark in self.bookmarks" ng-click="self.loadBookmark(bookmark)">
                                    <a href="#">
                                        {{ bookmark.name }}
                                        
                                        <span class="pull-right" ng-click="self.deleteBookmark(bookmark)">
                                            <?= $this->icon('trash') ?>
                                        </span>
                                        <span class="pull-right" style="margin-right:5px"  data-toggle="modal" data-target="#modalBookmark" class="pull-right" ng-click="self.bookmark = bookmark">
                                            <?= $this->icon('edit') ?> 
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-heading-actions" tooltip="<?= ucfirst($this->translate('timesheet_save_weekly')) ?>">
                            <button class="btn btn-flat no-hover"
                                    type="submit"
                                    ng-disabled="self.rows.length == 0 || self.saving.timesheets">
                                <?= $this->icon('save') ?>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <?php if (!$this->acl()->onlyOwned('time:e:timesheet:u')) : ?>
                            <div class="form-group required col-sm-4">
                                <label><?= $this->translate('timesheet_field_user') ?></label>
                                <user-select name="user" ng-model="self.user" required="true" form="timesheetWeekly"></user-select>
                            </div>
                        <?php endif; ?>
                        <div class="form-group col-sm-4">
                            <label><?= $this->translate('timesheet_field_settings_time') ?></label>
                            <settings-time-select name="settings-time" ng-model="self.settingsTime" required="true" form="timesheetWeekly"></settings-time-select>
                        </div>
                    </div>
                    <div class="table-scroller">
                        <table class="table table-bordered table-condensed table-hover table-weekly" >
                            <thead>
                                <tr>
                                    <th >
                                        <input ng-model="self.checkboxAll" type="checkbox" ng-change="self.checkAll()"/>
                                    </th>
                                    <th ><?= $this->translate('timesheet_field_name') ?></th>
                                    <?php if ($this->module()->isActive('project')): ?>
                                        <th class="mw-200" ng-click="self.sortBy('project.code')">
                                            <?= $this->translate('timesheet_field_project') ?>
                                            <span class="sortorder" ng-show="self.propertyName === 'project.code'" ng-class="{reverse: self.reverse}"></span>
                                        </th>
                                    <?php endif; ?>
                                    <th><?= $this->translate('timesheet_field_type') ?></th>
                                    <th><?= $this->translate('timesheet_field_absenceType') ?></th>
                                    <th class="tiny-th" ng-repeat="date in self.dates">
                                        {{ date.day | ucfirst }}
                                        <br/>
                                        {{ date.date | dateFormat: 'DD/MM'}}
                                    </th>
                                    <?php if ($this->module()->isActive('keyword')): ?>
                                        <th ><?= $this->translate('keywords'); ?></th>
                                    <?php endif; ?>
                                    <?php if ($this->module()->isActive('map')): ?>
                                        <th ><?= ucfirst($this->translate('territory_entities')); ?></th>
                                    <?php endif; ?>
                                    <th class="tiny-th"><?= $this->translate('total') ?></th>
                                    <th class="fit-content"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="{{ 9 + self.dates.length }}">
                                        <button type="button" ng-click="self.addRow()" class="btn btn-primary btn-md btn-expand">Ajouter une ligne</button>
                                    </td>
                                </tr>
                                <tr ng-repeat="row in self.rows | orderBy:'-'" class="editing">
                                    <td class="text-center">
                                        <input ng-change="self.check(row)" ng-model="row.checked" type="checkbox">
                                    </td>
                                    <td>
                                        <input ng-model="row.name" class="form-control"/>
                                    </td>
                                    <?php if ($this->module()->isActive('project')): ?>
                                        <td class="mw-200">
                                            <project-select ng-model="row.project"
                                                            required="true"
                                                            name="project{{$index}}"
                                                            form="timesheetWeekly"
                                                            sort='["code", "name"]'>
                                            </project-select>
                                            <field-errors field="project" errors="row.errors.fields"></field-errors>
                                        </td>
                                    <?php endif; ?>
                                    <td>
                                        <select name="type" id="type" class="form-control" required
                                                ng-model="row.type" form="timesheetWeekly">
                                            <?php foreach (\Time\Entity\Timesheet::getTypes() as $type): ?>
                                                <option value="<?= $type ?>">
                                                    <?= $this->translate('timesheet_type_' . $type) ?>
                                                </option>
                                            <?php endforeach; ?>
                                        </select>
                                    </td>
                                    <td>
                                        <div ng-if="row.type === '<?= \Time\Entity\Timesheet::TYPE_ABSENCE ?>'">
                                            <absence-type-select 
                                                name="absenceType"
                                                ng-model="row.absenceType"
                                                form="timesheetWeekly">
                                            </absence-type-select>
                                        </div>
                                    </td>
                                    <td ng-repeat="date in self.dates">
                                        <input ng-model="row[date.day]" class="form-control" input-mask="decimal"/>
                                    </td>
                                    <?php if ($this->module()->isActive('keyword')): ?>
                                    <td class="col-keywords">
                                        <div class="panel-heading-actions" tooltip="<?= ucfirst($this->translate('keyword_entities')) ?>" ng-click="self.currentRow = row">
                                            <?= $this->icon('keyword', 'fa-fw pointer', ['data-toggle' => 'modal', 'data-target' => '#modalKeywords']) ?>
                                        </div>
                                        <span class="label label-default" ng-repeat="keyword in row.keywordsView">{{ keyword.name }}</span>
                                    </td>
                                    <?php endif; ?>
                                    <?php if ($this->module()->isActive('map')): ?>
                                    <td class="col-keywords">
                                        <div class="panel-heading-actions" tooltip="<?= ucfirst($this->translate('territory_entities')) ?>" ng-click="self.currentRow = row">
                                            <?= $this->icon('territory', 'fa-fw pointer', ['data-toggle' => 'modal', 'data-target' => '#modalTerritories']) ?>
                                        </div>
                                        <span class="label label-default" ng-repeat="territory in row.territories">{{ territory.name }}</span>
                                    </td>
                                    <?php endif; ?>

                                    <td class="text-center">
                                        {{ row['total'] | number:2 }}
                                    </td>

                                    <td class="text-center">
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="self.deleteRow(row)" tooltip="<?= $this->translate('tooltip_delete') ?>">
                                            <?= $this->icon('delete') ?>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="fit-content"></td>
                                    <td class="fat-th text-center">
                                        <?= $this->translate('total') ?>
                                    </td>
                                    <?php if ($this->module()->isActive('project')): ?>
                                        <td class="mw-200"></td>
                                    <?php endif; ?>
                                    <td></td>
                                    <td></td>
                                    <td class="tiny-th text-center" ng-repeat="date in self.dates">
                                        {{ self.totals[date.day] | number:2 }}
                                    </td>
                                    <?php if ($this->module()->isActive('keyword')): ?>
                                        <td class="fit-content"></td>
                                    <?php endif; ?>
                                    <?php if ($this->module()->isActive('map')): ?>
                                        <td class="fit-content"></td>
                                    <?php endif; ?>
                                    <td class="text-center">{{ self.total | number:2 }}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text-center" colspan="{{ 9 + self.dates.length }}">
                                        <?= $this->icon('loading', '', ['ng-if' => 'self.loadingHistoric']) ?>
                                    </td>
                                </tr>
                                <tr ng-repeat-start="type in self.types" ng-if="self.timesheetsProject[type].length || self.timesheetsWOProject[type].length">
                                    <td colspan="{{ 9 + self.dates.length }}" class="text-center td-header">
                                        <?= $this->translate('historic') ?> {{ 'timesheet_type_' + type | translate }}
                                    </td>
                                </tr>
                                <tr ng-repeat="row in self.timesheetsProject[type]">
                                    <td></td>
                                    <td></td>
                                    <?php if ($this->module()->isActive('project')): ?>
                                        <td class="mw-200">
                                            <a href="<?= $this->url('project/form') ?>/{{row.id}}">{{row.name}}</a>
                                        </td>
                                    <?php endif; ?>
                                    <td></td>
                                    <td></td>
                                    <td ng-repeat="day in self.dates" class="text-center">
                                        <div ng-repeat="date in row.dates">
                                            <span ng-if="day.formated == date.day">
                                                {{  date.hours | number:2 }}
                                            </span>
                                        </div>
                                    </td>
                                    <?php if ($this->module()->isActive('keyword')): ?>
                                        <td></td>
                                    <?php endif; ?>
                                    <?php if ($this->module()->isActive('map')): ?>
                                        <td></td>
                                    <?php endif; ?>
                                    <td class="text-center">{{ row.total | number:2 }}</td>
                                    <td></td>
                                </tr>
                                <tr ng-repeat="row in self.timesheetsWOProject[type]">
                                    <td></td>
                                    <td>
                                        <a href="<?= $this->url('timesheet/form') ?>/{{row.id}}">{{row.name}}</a>
                                    </td>
                                    <?php if ($this->module()->isActive('project')): ?>
                                        <td class="mw-200"></td>
                                    <?php endif; ?>
                                    <td></td>
                                    <td></td>
                                    <td ng-repeat="day in self.dates" class="text-center">
                                        <div ng-repeat="date in row.dates">
                                            <span ng-if="day.formated == date.day">{{  date.hours | number:2}}</span>
                                        </div>
                                    </td>
                                    <?php if ($this->module()->isActive('keyword')): ?>
                                        <td></td>
                                    <?php endif; ?>
                                    <?php if ($this->module()->isActive('map')): ?>
                                        <td></td>
                                    <?php endif; ?>
                                    <td class="text-center">{{  row.total | number:2 }}</td>
                                    <td></td>
                                </tr>
                                <tr ng-if="self.timesheetsProject[type].length || self.timesheetsWOProject[type].length">
                                    <td class="fit-content"></td>
                                    <td class="fat-th text-center">
                                        <?= $this->translate('total') ?> {{ 'timesheet_type_' + type | translate }}
                                    </td>
                                    <?php if ($this->module()->isActive('project')): ?>
                                        <td class="mw-200"></td>
                                    <?php endif; ?>
                                    <td></td>
                                    <td></td>
                                    <td class="tiny-th text-center" ng-repeat="date in self.dates">
                                        <span ng-if="self.type == type">
                                            {{  (self.totals[date.day] + self.historyTotals[type][date.day]) | number:2 }}
                                        </span>
                                                <span ng-if="self.type != type">
                                            {{   self.historyTotals[type][date.day] | number:2 }}
                                        </span>
                                    </td>
                                    <?php if ($this->module()->isActive('keyword')): ?>
                                        <td class="fit-content"></td>
                                    <?php endif; ?>
                                    <?php if ($this->module()->isActive('map')): ?>
                                        <td class="fit-content"></td>
                                    <?php endif; ?>
                                    <td class="text-center">{{  self.historyTotals[type]['total'] | number:2 }}</td>
                                    <td></td>
                                </tr>
                                <tr ng-repeat-end ng-if="false">
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </form>

            <!-- Modal -->
            <div class="modal fade" id="modalBookmark" tabindex="-1" role="dialog" aria-labelledby="modalBookmarkLabel">
                <div class="modal-dialog" role="document">
                    <form name="bookmarkAddForm" class="modal-content" ng-submit="self.saveBookmark()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="modalBookmarkLabel">
                                <?= $this->translate('timesheet_save_new_bookmark') ?>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="bookmark-name">
                                    <?= $this->translate('timesheet_bookmark_field_name') ?>
                                </label>
                                <input type="text"
                                       id="bookmark-name"
                                       ng-model="self.bookmark.name"
                                       class="form-control"
                                       required/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-default pull-right"
                                    data-dismiss="modal">
                                <?= $this->translate('close') ?>
                            </button>
                            <button type="submit"
                                    class="btn btn-submit pull-left"
                                    ng-disabled="self.saving.bookmark">
                                <span ng-if="self.saving.bookmark"><i class="fa fa-spinner fa-spin"></i></span>
                                <?= $this->translate('save') ?>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <?php if ($this->module()->isActive('keyword')): ?>
                <div class="modal fade" id="modalKeywords" tabindex="-1" role="dialog" aria-labelledby="modalKeywordsLabel">
                    <div class="modal-dialog" role="document">
                        <div name="keywordForm" class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modalBookmarkLabel">
                                    <?= $this->translate('timesheet_modify_keywords') ?>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <keywords-form-group entity="timesheet" multiple="true" ng-model="self.keywordGroups"></keywords-form-group>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">
                                    <?= $this->translate('close') ?>
                                </button>
                                <button type="button" class="btn btn-submit pull-left" data-dismiss="modal" ng-click="self.addKeywords()">
                                    <?= $this->translate('add') ?>
                                </button>
                                <button type="button" class="btn btn-submit pull-left" data-dismiss="modal" ng-click="self.replaceKeywords()">
                                    <?= $this->translate('replace') ?>
                                </button>
                                <button type="button" class="btn btn-submit pull-left" data-dismiss="modal" ng-click="self.removeKeywords()">
                                    <?= $this->translate('remove') ?>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <?php if ($this->module()->isActive('map')): ?>
                <div class="modal fade" id="modalTerritories">
                    <div class="modal-dialog">
                        <div name="territoryForm" class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    <?= $this->translate('timesheet_modify_territories') ?>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <territory-select multiple="true" ng-model="self.territories"></territory-select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">
                                    <?= $this->translate('close') ?>
                                </button>
                                <button type="button" class="btn btn-submit pull-left" data-dismiss="modal" ng-click="self.addTerritories()">
                                    <?= $this->translate('add') ?>
                                </button>
                                <button type="button" class="btn btn-submit pull-left" data-dismiss="modal" ng-click="self.replaceTerritories()">
                                    <?= $this->translate('replace') ?>
                                </button>
                                <button type="button" class="btn btn-submit pull-left" data-dismiss="modal" ng-click="self.removeTerritories()">
                                    <?= $this->translate('remove') ?>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <style>
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
</style>

<?php
$this->angular('js/src/application/query/service/query.js');

$this->angular('js/src/user/directive/userSelect.js');
$this->angular('js/src/user/service/user.js');

$this->angular('js/src/keyword/directive/keywordsFormGroup.js');
$this->angular('js/src/keyword/directive/keywordSelect.js');
$this->angular('js/src/keyword/service/group.js');
$this->angular('js/src/keyword/service/keyword.js');

$this->angular('js/src/map/directive/territorySelect.js');
$this->angular('js/src/map/service/territory.js');

$this->angular('js/src/project/directive/projectSelect.js');
$this->angular('js/src/project/service/project.js');

$this->angular('js/src/time/controller/timesheet/weekly.js');
$this->angular('js/src/time/directive/absenceTypeSelect.js');
$this->angular('js/src/time/service/bookmark.js');
$this->angular('js/src/time/service/absenceType.js');
$this->angular('js/src/time/service/timesheet.js');
$this->angular('js/src/time/service/settingsTime.js');
$this->angular('js/src/time/directive/settingsTimeSelect.js');
