<ul class="breadcrumb">
    <li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
    <li><?= $this->translate('time_module_title') ?></li>
    <li class="active"><?= $this->translate('time_export_module_title') ?></li>
</ul>

<h1 class="page-title">
    <?= $this->icon('excel') ?> <?= $this->translate('time_export_module_title') ?>
</h1>

<div class="row row-padding">
    <div class="col-sm-12">
        <div class="panel" ng-controller="timeExportListController as self">
            <table-builder options="self.options" items="self.timeExports" class="table-builder">
                <div class="panel-heading">
                    <?= $this->translate('time_export_nav_list') ?>
                    <div class="panel-heading-right">
                        <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_remove_from_list') ?>">
                            <?= $this->icon('eraser', 'fa-fw pointer', ['ng-click' => '__tb.removeFromList()']) ?>
                        </div>
                        <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_export_xls') ?>">
                            <?= $this->icon('excel', 'fa-fw pointer', ['ng-click' => '__tb.exportExcel()']) ?>
                        </div>
                        <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_refresh') ?>">
                            <?= $this->icon('refresh', 'fa-fw pointer', ['ng-click' => '__tb.loadData()']) ?>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="table-filters little-panel">
                                <div class="title table-filters-header">
                                    <div class="input-group">
                                        <div class="input-group-addon pointer" data-toggle="collapse" href="#filters-collapsed">
                                            <?= $this->icon('filters', 'fa-fw') ?>
                                            <span class="caret"></span>
                                        </div>
                                        <input type="text" placeholder="<?= $this->translate('search', null, null, false) ?>" class="form-control"
                                               ng-model="self.fullText" id="full-text" on-enter="self.fullTextSearch()"/>
                                        <div class="input-group-addon pointer" ng-click="self.fullTextSearch()">
                                            <?= $this->icon('search', 'fa-fw') ?>
                                        </div>
                                    </div>
                                </div>
                                <div id="filters-collapsed" class="body collapse">
                                    <?php
                                    $filters = [
                                        'name'      => [
                                            'label' => $this->translate('time_export_field_name'),
                                            'type'  => 'string',
                                        ],
                                        'createdAt' => [
                                            'label' => $this->translate('time_export_field_createdAt'),
                                            'type'  => 'date',
                                        ],
                                        'updatedAt' => [
                                            'label' => $this->translate('time_export_field_updatedAt'),
                                            'type'  => 'date',
                                        ],
                                    ];

                                    echo $this->tableFilter('__tb.apiParams.search.data.filters', $filters);
                                    ?>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <button class="btn" ng-click="self.resetfullTextSearch(); __tb.resetFilters(); __tb.loadData()"><?= $this->translate('table_filter_reset_button') ?></button>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <button class="btn" ng-click="self.resetfullTextSearch(); __tb.loadData()">
                                                <?= $this->icon('search', 'fa-fw') ?>
                                                <?= $this->translate('table_filter_button') ?>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <table-builder-columns></table-builder-columns>
                        </div>
                        <?php if ($this->acl()->isAllowed('application:e:query:r')) : ?>
                            <div class="col-sm-4">
                                <table-builder-queries></table-builder-queries>
                            </div>
                        <?php endif; ?>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <form name="exportForm">
                                    <table table-builder-table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th tb-column tb-name="selection" class="checkbox-column"><input type="checkbox" ng-model="__tb.selection"/></th>
                                                <th tb-column tb-name="name" tb-toggle="true" tb-sortable="true"><?= $this->translate('time_export_field_name') ?></th>
                                                <th tb-column tb-name="createdAt" tb-toggle="true" tb-sortable="true" tb-hidden="true"><?= $this->translate('time_export_field_createdAt') ?></th>
                                                <th tb-column tb-name="updatedAt" tb-toggle="true" tb-sortable="true" tb-hidden="true"><?= $this->translate('time_export_field_updatedAt') ?></th>
                                                <th tb-column tb-name="actions" class="actions-column"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="timeExport in self.timeExports" ng-class="{editing: self.editedLine == user}">
                                                <td><input type="checkbox" ng-model="timeExport.selected"/></td>
                                                <td class="editable">
                                                    <span ng-show="self.editedLine !== timeExport">
                                                        <a href="<?= $this->url('timesheet/export/form') ?>/{{timeExport.id}}">{{timeExport.name}}</a>
                                                        <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(timeExport)', 'ng-if' => 'timeExport._rights.update']) ?>
                                                    </span>
                                                    <span ng-if="self.editedLine == timeExport">
                                                        <input type="text" name="name" class="form-control input-sm" ng-model="self.editedLineFields.name" required/>
                                                        <field-errors field="name" errors="self.editedLineErrors"></field-errors>
                                                    </span>
                                                </td>
                                                <td>{{timeExport.createdAt | dateFormat : 'DD/MM/YYYY'}}</td>
                                                <td>{{timeExport.updatedAt | dateFormat : 'DD/MM/YYYY'}}</td>
                                                <td>
                                                    <div class="btn-group btn-group-actions" ng-if="self.editedLine != timeExport">
                                                        <?php if ($this->acl()->isAllowed('time:e:export:r')) : ?>
                                                            <a href="<?= $this->url('timesheet/export/form') ?>/{{timeExport.id}}" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_edit') ?>"
                                                               ng-if="timeExport._rights.read">
                                                                <?= $this->icon('edit') ?>
                                                            </a>
                                                        <?php endif; ?>

                                                        <?php if ($this->acl()->isAllowed('time:e:export:d')) : ?>
                                                            <a href="" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_delete') ?>"
                                                               ng-if="timeExport._rights.delete" ng-click="self.deleteTimeExport(timeExport)">
                                                                <?= $this->icon('delete') ?>
                                                            </a>
                                                        <?php endif; ?>
                                                    </div>
                                                    <div class="btn-group btn-group-actions" ng-if="self.editedLine == timeExport">
                                                        <button class="btn btn-xs btn-default" ng-click="self.saveEditedLine(timeExport)" type="submit" tooltip="<?= $this->translate('tooltip_save') ?>">
                                                            <?= $this->icon('save') ?>
                                                        </button>
                                                        <button class="btn btn-xs btn-default" ng-click="self.editedLine = null" type="button" tooltip="<?= $this->translate('tooltip_cancel') ?>">
                                                            <?= $this->icon('close') ?>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </table-builder>
        </div>
    </div>
</div>


<?php
$fabLinks = [];

if ($this->acl()->isAllowed('export:e:export:c')) {
    $fabLinks[] = [
        'href' => $this->url('timesheet/export/form'),
        'text' => $this->icon('create', 'fa-fw') . ' ' . $this->translate('time_export_nav_form'),
    ];
}

echo $this->fabMenu($fabLinks);
?>

<?php
$this->angular('js/src/application/query/service/query.js');

$this->angular('js/src/time/service/timeExport.js');
$this->angular('js/src/time/controller/time-export/list.js');
