<div class="separator"></div>

<h1 class="page-title">
    <i class="fa fa-meh-o"></i> <?=  $this->translate('An error occurred') ?>
</h1>

<div class="row row-padding">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading">
                <?= $this->message ?>
            </div>
            <div class="panel-body">
                <?php if (true): ?>

                    <?php if(true): ?>
                        <hr/>
                        <h2><?php echo $this->translate('Additional information') ?>:</h2>
                        <h3><?php echo get_class($this->exception); ?></h3>
                        <dl>
                            <dt><?php echo $this->translate('File') ?>:</dt>
                            <dd>
                                <pre class="prettyprint linenums"><?php echo $this->exception->getFile() ?>:<?php echo $this->exception->getLine() ?></pre>
                            </dd>
                            <dt><?php echo $this->translate('Message') ?>:</dt>
                            <dd>
                                <pre class="prettyprint linenums"><?php echo $this->escapeHtml($this->exception->getMessage()) ?></pre>
                            </dd>
                            <dt><?php echo $this->translate('Stack trace') ?>:</dt>
                            <dd>
                                <pre class="prettyprint linenums"><?php echo $this->escapeHtml($this->exception->getTraceAsString()) ?></pre>
                            </dd>
                        </dl>
                        <?php
                        $e = $this->exception->getPrevious();
                        $icount = 0;
                        if ($e) :
                            ?>
                            <hr/>
                            <h2><?php echo $this->translate('Previous exceptions') ?>:</h2>
                            <ul class="unstyled">
                                <?php while($e) : ?>
                                    <li>
                                        <h3><?php echo get_class($e); ?></h3>
                                        <dl>
                                            <dt><?php echo $this->translate('File') ?>:</dt>
                                            <dd>
                                                <pre class="prettyprint linenums"><?php echo $e->getFile() ?>:<?php echo $e->getLine() ?></pre>
                                            </dd>
                                            <dt><?php echo $this->translate('Message') ?>:</dt>
                                            <dd>
                                                <pre class="prettyprint linenums"><?php echo $this->escapeHtml($e->getMessage()) ?></pre>
                                            </dd>
                                            <dt><?php echo $this->translate('Stack trace') ?>:</dt>
                                            <dd>
                                                <pre class="prettyprint linenums"><?php echo $this->escapeHtml($e->getTraceAsString()) ?></pre>
                                            </dd>
                                        </dl>
                                    </li>
                                    <?php
                                    $e = $e->getPrevious();
                                    $icount += 1;
                                    if ($icount >= 50) {
                                        echo "<li>There may be more exceptions, but we have no enough memory to proccess it.</li>";
                                        break;
                                    }
                                endwhile;
                                ?>
                            </ul>
                        <?php endif; ?>
                    <?php endif; ?>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>
