<div class="panel"
     ng-controller="contactEmailController as self"
     ng-init="self.init()">
    <div class="panel-heading">
        {{ 'contactEmail_nav_list' | translate }}

        <div class="panel-heading-right">
            <?php if ($this->acl()->isAllowed('directory:e:contactEmail:c')): ?>
                <div ng-click="self.openModal()"
                     class="panel-heading-actions"
                     tooltip="<?= $this->translate('tooltip_add') ?>">
                    <i class="fa fa-plus pointer"></i>
                </div>
            <?php endif ?>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="checkbox-column">
                                <input type="checkbox"/>
                            </th>
                            <th>
                                <?= $this->translate('contactEmail_field_name') ?>
                            </th>
                            <th>
                                <?= $this->translate('contactEmail_field_email') ?>
                            </th>
                            <th class="actions-column"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contactEmail in self.contactEmails">
                            <td><input type="checkbox"/></td>
                            <td>{{contactEmail.name}}</td>
                            <td>{{contactEmail.email}}</td>
                            <td>
                                <div class="btn-group btn-group-actions">
                                    <?php if ($this->acl()->isAllowed('directory:e:contactEmail:u')): ?>
                                        <a ng-if="contactEmail._rights.update"
                                           ng-click="self.openModal(contactEmail)"
                                           class="btn btn-xs btn-default"
                                           tooltip="<?= $this->translate('tooltip_edit') ?>">
                                            <?= $this->icon('edit') ?>
                                        </a>
                                    <?php endif ?>

                                    <?php if ($this->acl()->isAllowed('directory:e:contactEmail:d')): ?>
                                        <a ng-if="contactEmail._rights.delete"
                                           ng-click="self.delete(contactEmail)"
                                           class="btn btn-xs btn-default"
                                           tooltip="<?= $this->translate('tooltip_delete') ?>">
                                            <?= $this->icon('delete') ?>
                                        </a>
                                    <?php endif ?>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal" id="contactEmailModal">
        <div class="modal-dialog">
            <form class="modal-content" name="contactEmailForm" ng-submit="self.save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        {{ self.panelTitle }}
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" ng-model="self.contactEmail.id"/>

                        <div class="form-group required col-xs-12">
                            <label>
                                <?= $this->translate('contactEmail_field_name') ?>
                            </label>

                            <input ng-model="self.contactEmail.name"
                                   name="name"
                                   type="text"
                                   class="form-control">

                            <field-errors field="name"
                                          errors="self.errors.fields">
                            </field-errors>
                        </div>

                        <div class="form-group required col-xs-12">
                            <label>
                                <?= $this->translate('contactEmail_field_email') ?>
                            </label>

                            <input ng-model="self.contactEmail.email"
                                   name="email"
                                   type="text"
                                   class="form-control">

                            <field-errors field="email"
                                          errors="self.errors.fields">
                            </field-errors>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">
                        <?= $this->translate('cancel') ?>
                    </button>
                    <button type="submit"
                            class="btn btn-submit"
                            ng-disabled="self.loading.save">
                        <?= $this->translate('save') ?>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
