<div class="panel" ng-controller="jobController as self">
	<div class="panel-heading">
		<span ng-if="self.objType == 'structure'">
            {{ 'structure_job_list' | translate }}
        </span>
		<span ng-if="self.objType == 'contact'">
		<?= $this->translate('job_nav_list') ?>
        </span>

		<div class="panel-heading-right">
			<?php if ($this->acl()->isAllowed('directory:e:job:c')) : ?>
				<div ng-click="self.openLinkModal()"
				     class="panel-heading-actions"
				     tooltip="<?= $this->translate('tooltip_add') ?>">
					<i class="fa fa-plus pointer"></i>
				</div>
			<?php endif; ?>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<table class="table table-bordered table-condensed table-hover">
					<thead>
						<tr>
							<th class="checkbox-column">
								<input type="checkbox"/>
							</th>
							<th>
								<?= $this->translate('job_field_name') ?>
							</th>
							<th ng-if="self.objType != 'contact'">
								<?= $this->translate('job_field_contact') ?>
							</th>
							<th ng-if="self.objType != 'structure'">
								<?= $this->translate('job_field_structure') ?>
							</th>
							<?php
                                    if ($this->module()->isActive('keyword')) {
                                        foreach ($this->groups as $group) {
                                            echo '<th tb-name="keyword' . $group->getId() . '" tb-sortable="false" tb-toggle="true">' . $group->getName() . '</th>';
                                        }
                                    }
                                ?>
							<th class="actions-column"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="link in links">
							<td><input type="checkbox"/></td>
							<td>{{link.job.name}}-{{self.objType}}</td>
							<td ng-if="self.objType != 'contact'">
								<?php if ($this->acl()->isAllowed('directory:e:contact:u')): ?>
									<a href="<?= $this->url('directory/contact/form') ?>/{{link.contact.id}}">
										{{link.contact.name}}
									</a>
								<?php else: ?>
									{{link.contact.name}}
								<?php endif; ?>
							</td>
							<td ng-if="self.objType != 'structure'">
								<?php if ($this->acl()->isAllowed('directory:e:structure:u')): ?>
									<a href="<?= $this->url('directory/structure/form') ?>/{{link.structure.id}}">
										{{link.structure.name}}
									</a>
								<?php else: ?>
									{{link.structure.name}}
								<?php endif; ?>
							</td>
							<?php
                                if ($this->module()->isActive('keyword')) {
                                    foreach ($this->groups as $group) {
                                        echo '<td class="editable">';
                                        echo '<span class="comma-separated">';
                                        echo '<span ng-repeat="keyword in link.keywords[' . $group->getId() . ']">{{keyword.name}}</span>';
                                        echo '</span>';
                                        echo '</td>';
                                     }
                                }
                            ?>
							<td>
								<div class="btn-group btn-group-actions">
									<?php if ($this->acl()->isAllowed('directory:e:job:u')) : ?>
										<a href="#"
										   ng-click="self.openLinkModal(link)"
										   class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_edit') ?>">
											<?= $this->icon('edit') ?>
										</a>
									<?php endif; ?>

									<?php if ($this->acl()->isAllowed('directory:e:job:d')) : ?>
										<a href="#"
										   ng-click="self.deleteLink(link)"
										   class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_delete') ?>">
											<?= $this->icon('delete') ?>
										</a>
									<?php endif; ?>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- Job Modal -->
	<div class="modal" id="linkModal">
		<div class="modal-dialog">
			<form class="modal-content" name="linkForm" ng-submit="self.saveLink()">
				<div class="modal-header">
					<h4 class="modal-title">
						{{ self.panelTitle }}
					</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<input type="hidden" ng-model="self.link.id"/>
						<div class="form-group required col-xs-12">
							<label for="linkJob"><?= $this->translate('job_field_name') ?></label>
							<job-select id="linkJob"
							            ng-model="self.link.job"
							            name="jobStructure"
							            only-value="true"
							            form="linkForm"
							            configuration="{selectize:{create:self.jobCreate, persist:false}}"
							            required="true"></job-select>
							<field-errors field="name" errors="self.errors.job.fields"></field-errors>
						</div>
						<?php if ($this->module()->isActive('keyword')) : ?>
                                    <div class="row">
									  <div class="form-group required col-xs-12">
                                            <fieldset>                                            
                                                <keywords-form-group entity="contactJobStructure" ng-model="self.link"></keywords-form-group>
                                            </fieldset>
                                        </div>
                                    </div>
                                <?php endif; ?>

						<div class="form-group required col-xs-12" ng-if="self.objType == 'structure'">
							<label for="linkContact"><?= $this->translate('job_field_contact') ?></label>
							<contact-select id="linkContact" ng-model="self.link.contact"
							                name="linkContact" form="linkForm"
							                required="true"></contact-select>
							<field-errors field="contact.name" errors="self.errors.job.fields"></field-errors>
						</div>
						<div class="form-group required col-xs-12" ng-if="self.objType == 'contact'">
							<label for="linkStructure"><?= $this->translate('job_field_structure') ?></label>
							<structure-select name="linkStructure"
							                  form="linkForm"
							                  id="linkStructure"
							                  ng-model="self.link.structure"
							                  required="true"></structure-select>
							<field-errors field="structure.name" errors="self.errors.job.fields"></field-errors>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button"
					        class="btn btn-default"
					        data-dismiss="modal">
						<?= $this->translate('cancel') ?>
					</button>
					<button type="submit"
					        class="btn btn-submit"
					        ng-disabled="self.loading.remove || self.loading.save || !self.link.contact">
						<?= $this->translate('save') ?>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
