<div class="panel-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="tab-content">
                <div ng-class="{'fixed-table-wrapper': self.type === 'keyword'}"  class="tab-pane active" id="keyword-tab">
                    <table class="table table-bordered table-condensed table-hover">
                        <thead>
                        <tr>
                            <th>
                                <?= $this->translate('group_field_name') ?>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="group in self.groups | filter : {type: self.type}">
                            <td ng-style="group.open ? {'border-bottom-color':'#FEFEFE'} : null">
                                                <span class="pointer" ng-click="self.openGroup(group); group.open = !group.open">
                                                    <i class="fa" ng-class="{
                                                        'fa-folder-open': group.open,
                                                        'fa-folder': !group.open
                                                    }"></i>
                                                    {{group.name}}
                                                </span>

                                <div class="btn-group btn-group-actions pull-right">
                                    <?php if ($this->acl()->isAllowed('keyword:e:group:u')) : ?>
                                        <a ng-if="group._rights.update" ng-click="self.createKeyword(group);" class="btn btn-xs btn-default" tooltip="<?= $this->translate('keyword_nav_form') ?>">
                                            <?= $this->icon('create') ?>
                                        </a>
                                    <?php endif; ?>

                                    <?php if ($this->acl()->isAllowed('keyword:e:group:r')) : ?>
                                        <a ng-if="group._rights.read" ng-click="self.editGroup(group);" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_edit') ?>">
                                            <?= $this->icon('edit') ?>
                                        </a>
                                    <?php endif; ?>

                                    <?php if ($this->acl()->isAllowed('keyword:e:group:u')) : ?>
                                        <a ng-if="group._rights.update"
                                           class="btn btn-xs btn-default"
                                           tooltip="{{ !group.archived ? '<?= $this->translate('tooltip_archive') ?>' : '<?= $this->translate('tooltip_unarchive') ?>' }}"
                                           ng-click="self.archiveGroup(group)">
                                                            <span ng-if="!group.archived">
                                                                <?= $this->icon('archive') ?>
                                                            </span>
                                            <span ng-if="group.archived">
                                                                <?= $this->icon('unarchive') ?>
                                                            </span>
                                        </a>
                                    <?php endif; ?>

                                    <?php if ($this->acl()->isAllowed('keyword:e:group:d')) : ?>
                                        <a ng-if="group._rights.delete" ng-click="self.deleteGroup(group);" href="" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_delete') ?>">
                                            <?= $this->icon('delete') ?>
                                        </a>
                                    <?php endif; ?>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat-end ng-show="group.open">
                            <td colspan="1">
                                <div ng-if="group.loading" class="text-center">
                                    <?= $this->icon('loading') ?>
                                </div>
                                <ul class="tree">
                                    <ng-include src="'keyword-tree.html'" ng-repeat="keyword in group.keywords | orderBy: 'order'"></ng-include>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="keyword-tree.html">
    <li>
            <span ng-if="keyword.children.length > 0">
                <i class="fa fa-folder-open"></i>
            </span>
        <a>{{ keyword.name }}</a>

        <div class="btn-group btn-group-actions">
            <?php if ($this->acl()->isAllowed('keyword:e:keyword:r')) : ?>
                <a ng-if="keyword._rights.read" ng-click="self.editKeyword(keyword);" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_edit') ?>">
                    <?= $this->icon('edit') ?>
                </a>
            <?php endif; ?>

            <?php if ($this->acl()->isAllowed('keyword:e:keyword:u')) : ?>
                <a ng-if="keyword._rights.update"
                   class="btn btn-xs btn-default"
                   tooltip="{{ !keyword.archived ? '<?= $this->translate('tooltip_archive') ?>' : '<?= $this->translate('tooltip_unarchive') ?>' }}"
                   ng-click="self.archiveKeyword(keyword)">
                        <span ng-if="!keyword.archived">
                            <?= $this->icon('archive') ?>
                        </span>
                    <span ng-if="keyword.archived">
                            <?= $this->icon('unarchive') ?>
                        </span>
                </a>
            <?php endif; ?>

            <?php if ($this->acl()->isAllowed('keyword:e:keyword:d')) : ?>
                <a ng-if="keyword._rights.delete" ng-click="self.deleteKeyword(keyword);" href="" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_delete') ?>">
                    <?= $this->icon('delete') ?>
                </a>
            <?php endif; ?>

            <?php if ($this->acl()->isAllowed('keyword:e:keyword:d')) : ?>
                <a ng-if="keyword._rights.delete" ng-click="self.showFusionModal(keyword)" class="btn btn-xs btn-default" tooltip="<?= $this->translate('fusion') ?>">
                    <?= $this->icon('fusion') ?>
                </a>
            <?php endif ?>
        </div>
        <ul ng-include src="'keyword-tree.html'" ng-repeat="keyword in keyword.children | orderBy: 'order'"></ul>
    </li>
</script>
