<ul class="breadcrumb">
    <li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
    <li><?= $this->translate('administration_module_title') ?></li>
    <li class="active"><?= $this->translate('user_module_title') ?></li>
</ul>

<h1 class="page-title">
    <?= $this->icon('users') ?> <?= $this->translate('user_module_title') ?>
</h1>

<div class="row row-padding">
    <div class="col-sm-12">
        <div class="panel"
             ng-controller="userListController as self"
             ng-init="self.init(<?= json_encode($this->authStorage()->getUser()->getId()) ?>)">
            <table-builder options="self.options" items="self.users" class="table-builder">
                <div class="panel-heading">
                    <?= $this->translate('user_nav_list') ?>
                    <div class="panel-heading-right">
                        <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_remove_from_list') ?>">
                            <?= $this->icon('eraser', 'fa-fw pointer', ['ng-click' => '__tb.removeFromList()']) ?>
                        </div>
                        <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_export_xls') ?>">
                            <?= $this->icon('excel', 'fa-fw pointer', ['ng-click' => '__tb.exportExcel()']) ?>
                        </div>
                        <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_refresh') ?>">
                            <?= $this->icon('refresh', 'fa-fw pointer', ['ng-click' => '__tb.loadData()']) ?>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="table-filters little-panel">
                                <div class="title table-filters-header">
                                    <div class="input-group">
                                        <div class="input-group-addon pointer" data-toggle="collapse" href="#filters-collapsed">
                                            <?= $this->icon('filters', 'fa-fw') ?>
                                            <span class="caret"></span>
                                        </div>
                                        <input type="text" placeholder="<?= $this->translate('search', null, null, false) ?>" class="form-control"
                                               ng-model="self.fullText" id="full-text" on-enter="self.fullTextSearch()"/>
                                        <div class="input-group-addon pointer" ng-click="self.fullTextSearch()">
                                            <?= $this->icon('search', 'fa-fw') ?>
                                        </div>
                                    </div>
                                </div>
                                <div id="filters-collapsed" class="body collapse">
                                    <?= $this->tableFilter('__tb.apiParams.search.data.filters', $this->userFilters()); ?>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <button class="btn" ng-click="self.resetfullTextSearch(); __tb.resetFilters(); __tb.loadData()"><?= $this->translate('table_filter_reset_button') ?></button>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <button class="btn" ng-click="self.resetfullTextSearch(); __tb.loadData()">
                                                <?= $this->icon('search', 'fa-fw') ?>
                                                <?= $this->translate('table_filter_button') ?>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <table-builder-columns></table-builder-columns>
                        </div>
                        <?php if ($this->acl()->isAllowed('application:e:query:r')) : ?>
                            <div class="col-sm-4">
                                <table-builder-queries></table-builder-queries>
                            </div>
                        <?php endif; ?>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <form name="userForm">
                                    <table table-builder-table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th tb-column tb-name="selection" class="checkbox-column"><input type="checkbox" ng-model="__tb.selection"/></th>
                                                <th tb-column tb-name="id" tb-toggle="true" tb-sortable="true"><?= $this->translate('user_field_id_short') ?></th>
                                                <th tb-column tb-name="avatar" class="fit-content"></th>
                                                <th tb-column tb-name="firstName" tb-toggle="true" tb-sortable="true"><?= $this->translate('user_field_firstName') ?></th>
                                                <th tb-column tb-name="lastName"  tb-toggle="true" tb-sortable="true"><?= $this->translate('user_field_lastName') ?></th>
                                                <th tb-column tb-name="email"     tb-toggle="true" tb-sortable="true"><?= $this->translate('user_field_email') ?></th>
                                                <th tb-column tb-name="login"     tb-toggle="true" tb-sortable="true"><?= $this->translate('user_field_login') ?></th>
                                                <th tb-column tb-name="role.name" tb-toggle="true" tb-sortable="true"><?= $this->translate('user_field_role') ?></th>                                                
                                                <?php
                                                if ($this->module()->isActive('keyword')) {
                                                    foreach ($this->groups as $group) {
                                                        echo '<th tb-column tb-name="keyword' . $group->getId() . '" tb-sortable="false" tb-toggle="true">' . $group->getName() . '</th>';
                                                    }
                                                }
                                                ?>
                                                <th tb-column tb-name="disabled" tb-toggle="true" tb-sortable="true" tooltip="<?=$this->translate('user_field_disabled_tooltip')?>" data-placement="left">
                                                    <?= $this->translate('user_field_disabled') ?></th>
                                                <th tb-column tb-name="createdAt" tb-toggle="true" tb-sortable="true" tb-hidden="true"><?= $this->translate('user_field_createdAt') ?></th>
                                                <th tb-column tb-name="updatedAt" tb-toggle="true" tb-sortable="true" tb-hidden="true"><?= $this->translate('role_field_updatedAt') ?></th>
                                                <th tb-column tb-name="actions" class="actions-column"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="user in self.users" ng-class="{editing: self.editedLine == user}">
                                                <td><input type="checkbox" ng-model="user.selected"/></td>
                                                <td>{{user.id}}</td>
                                                <td class="editable">
                                                    <img ng-src="{{user.avatar}}" class="avatar"/>
                                                </td>
                                                <td class="editable">
                                                    <span ng-show="self.editedLine !== user">
                                                        {{user.firstName}}
                                                        <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(user)', 'ng-if' => 'user._rights.update']) ?>
                                                    </span>
                                                    <span ng-if="self.editedLine == user">
                                                        <input type="text" name="firstName" class="form-control input-sm"  ng-model="self.editedLineFields.firstName" required />
                                                        <field-errors field="firstName" errors="self.editedLineErrors"></field-errors>
                                                    </span>
                                                </td>
                                                <td class="editable">
                                                    <span ng-show="self.editedLine !== user">
                                                        {{user.lastName}}
                                                        <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(user)', 'ng-if' => 'user._rights.update']) ?>
                                                    </span>
                                                    <span ng-if="self.editedLine == user">
                                                        <input type="text" name="lastName" class="form-control input-sm"  ng-model="self.editedLineFields.lastName" required />
                                                        <field-errors field="lastName" errors="self.editedLineErrors"></field-errors>
                                                    </span>
                                                </td>
                                                <td class="editable">
                                                    <span ng-show="self.editedLine !== user">
                                                        {{user.email}}
                                                        <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(user)', 'ng-if' => 'user._rights.update']) ?>
                                                    </span>
                                                    <span ng-if="self.editedLine == user">
                                                        <input type="text" name="email" class="form-control input-sm"  ng-model="self.editedLineFields.email" />
                                                        <field-errors field="email" errors="self.editedLineErrors"></field-errors>
                                                    </span>
                                                </td>
                                                <td class="editable">
                                                    <span ng-show="self.editedLine !== user">
                                                        <a ng-if="user._rights.read" href="<?= $this->url('user/form') ?>/{{user.id}}">{{user.login}}</a>
                                                        <span ng-if="!user._rights.read">{{user.name}}</span>

                                                        <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(user)', 'ng-if' => 'user._rights.update']) ?>
                                                    </span>
                                                    <span ng-if="self.editedLine == user">
                                                        <input type="text" name="login" class="form-control input-sm"  ng-model="self.editedLineFields.login" required />
                                                        <field-errors field="login" errors="self.editedLineErrors"></field-errors>
                                                    </span>
                                                </td>
                                                <td class="editable">
                                                    <span ng-show="self.editedLine !== user">
                                                        <?php if ($this->acl()->isAllowed('user:e:role:r')) : ?>
                                                        <a href="<?= $this->url('role/form') ?>/{{user.role.id}}">{{user.role.name}}</a>
                                                        <?php else : ?>
                                                        {{user.role.name}}
                                                        <?php endif; ?>
                                                        <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(user)', 'ng-if' => 'user._rights.update && ' . ($this->acl()->isAllowed('user:p:user:role') ? 'true' : 'false')]) ?>
                                                    </span>
                                                    <span ng-if="self.editedLine == user">
                                                        <role-select name="role" ng-model="self.editedLineFields.role"
                                                                     required="true" form="userForm"></role-select>
                                                        <field-errors field="role" errors="self.errors.fields"></field-errors>
                                                    </span>
                                                </td>
                                                <?php
                                                    if ($this->module()->isActive('keyword')) {
                                                        foreach ($this->groups as $group) {
                                                            echo '<td class="editable">';
                                                                echo '<span class="comma-separated" ng-show="self.editedLine !== user">';
                                                                    echo '<span ng-repeat="keyword in user.keywords[' . $group->getId() . ']">{{keyword.name}}</span>';
                                                                    echo $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(user)', 'ng-if' => 'user._rights.update']);
                                                                echo '</span>';
                                                                echo '<span ng-if="self.editedLine == user">';
                                                                    echo '<keyword-select ng-model="self.editedLineFields.keywords[' . $group->getId() . ']" multiple="' . ($group->isMultiple() ? 'true' : 'false') . '" configuration="{ service : { apiParams : { search: { data: { filters: { group : { op: \'eq\', val: ' . $group->getId() . ' } } } } } } }" form="indicatorForm"></keyword-select>';
                                                                echo '</span>';
                                                            echo '</td>';
                                                        }
                                                    }
                                                ?>
                                                <td class="editable">
                                                    <span ng-show="self.editedLine !== user">
                                                        {{ user.disabled ? '<?= $this->translate('yes') ?>' : '<?= $this->translate('no') ?>' }}

                                                        <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(user)', 'ng-if' => 'user.id !== self.userConnectedId && user._rights.update']) ?>
                                                    </span>
                                                    <span ng-if="self.editedLine == user">
                                                        <span ng-if="user.id !== self.userConnectedId">
                                                            <select ng-model="self.editedLineFields.disabled"
                                                                    class="form-control">
                                                                <option ng-value="false"><?= $this->translate('no') ?></option>
                                                                <option ng-value="true"><?= $this->translate('yes') ?></option>
                                                            </select>
                                                        </span>
                                                        <span ng-if="user.id === self.userConnectedId">
                                                            {{ user.disabled ? '<?= $this->translate('yes') ?>' : '<?= $this->translate('no') ?>' }}
                                                        </span>
                                                    </span>
                                                </td>
                                                <td>{{user.createdAt | dateFormat : 'DD/MM/YYYY'}}</td>
                                                <td>{{user.updatedAt | dateFormat : 'DD/MM/YYYY'}}</td>
                                                <td>
                                                    <div class="btn-group btn-group-actions" ng-if="self.editedLine != user">
                                                        <?php if ($this->acl()->isAllowed('user:e:user:r')) : ?>
                                                        <a href="<?= $this->url('user/form') ?>/{{user.id}}" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_edit') ?>"
                                                           ng-if="user._rights.read">
                                                            <?= $this->icon('edit') ?>
                                                        </a>
                                                        <?php endif; ?>

                                                        <?php if ($this->acl()->isAllowed('user:e:user:d')) : ?>
                                                        <a href="" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_delete') ?>"
                                                           ng-if="user._rights.delete" ng-click="self.deleteUser(user);">
                                                            <?= $this->icon('delete') ?>
                                                        </a>
                                                        <?php endif; ?>
                                                    </div>
                                                    <div class="btn-group btn-group-actions" ng-if="self.editedLine == user">
                                                        <button class="btn btn-xs btn-default" ng-click="self.saveEditedLine(user)" type="submit" tooltip="<?= $this->translate('tooltip_save') ?>">
                                                            <?= $this->icon('save') ?>
                                                        </button>
                                                        <button class="btn btn-xs btn-default" ng-click="self.editedLine = null" type="button" tooltip="<?= $this->translate('tooltip_cancel') ?>">
                                                            <?= $this->icon('close') ?>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </table-builder>
        </div>
    </div>
</div>


<?php
    $fabLinks = [];

    if ($this->acl()->isAllowed('user:e:user:c')) {
        $fabLinks[] = [
            'href' => $this->url('user/form'),
            'text' => $this->icon('create', 'fa-fw') . ' ' . $this->translate('user_nav_form')
        ];
        $fabLinks[] = [
            'href' => $this->url('import', ['entity' => 'user']),
            'text' => $this->icon('import', 'fa-fw') . ' ' . $this->translate('user_nav_import')
        ];
    }

    echo $this->fabMenu($fabLinks);
?>

<?php
$this->angular('js/src/user/service/role.js');
$this->angular('js/src/user/directive/roleSelect.js');

$this->angular('js/src/user/service/user.js');
$this->angular('js/src/user/directive/userSelect.js');
$this->angular('js/src/user/controller/userList.js');

$this->angular('js/src/keyword/service/keyword.js');
$this->angular('js/src/keyword/service/group.js');
$this->angular('js/src/keyword/directive/keywordSelect.js');
$this->angular('js/src/keyword/directive/groupSelect.js');

$this->angular('js/src/application/query/service/query.js');
