<div ng-controller="attachmentController as att" ng-init="att.init('<?= $this->from ?>', '<?= $this->right ?>', <?= $this->object ? $this->object->getId() : 'null' ?>,  <?= $this->model_id ? $this->model_id : 'null'?>)">
    <div class="row drop-zone">
        <div class="col-xs-12">
        <?=$this->partial('attachment/partial/grid.phtml', [
                                            'right' => $this->right,
                                            'from' => $this->from,
                                            'object' =>  $this->object,
                                            'id' => $this->id,
                                            'model_id' => $this->model_id,
                                        ])?>
        </div>
    </div>

    <?= $this->partial('attachment/partial/form.phtml') ?>
</div>

<?php
$this->angular('js/src/attachment/controller/attachment.js');
$this->angular('js/src/attachment/service/attachment.js');


