<?php
$ht = $this->module()->getClientModuleConfiguration('budget', 'ht');
$evolution = $this->module()->getClientModuleConfiguration('budget', 'evolution');
?>

<div id="expenseFormModal" class="modal fade" ng-controller="expenseFormController as self" ng-init="self.init('<?= $this->from ?>', <?= $this->object ? $this->object->getId() : 'null' ?>)">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="expenseForm" name="expenseForm" ng-submit="self.saveExpense();">
				<div class="modal-header">
					{{self.expense.id ? self.panelTitle :
					(<?= $this->module()->isActive('convention') ? 'true' : 'false' ?> && self.object.external
					? '<?= $this->translate('subvention_nav_form') ?>' :
					'<?= $this->translate('expense_nav_form') ?>') }}
				</div>
				<div class="modal-body">
					<input type="hidden" name="id" ng-model="self.expense.id" />

					<ul class="nav nav-tabs nav-justified separator">
						<li class="active">
							<a href="#expense-general" data-toggle="tab">
								<?= ucfirst($this->translate('expense_entity')) ?>
							</a>
						</li>
						<li>
							<a href="#expense-details" data-toggle="tab">
								Détails
							</a>
						</li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="expense-general">
							<div class="row" ng-if="self.from.id === self.expense.project.id">
								<div class="form-group col-xs-12">
									<label><?= $this->translate('expense_field_poste') ?></label>
									<poste-expense-select name="poste" ng-model="self.expense.poste" ng-disabled="!self.expense._rights.update || lockBudget" form="expenseForm" configuration="{
											service: {
													apiParams: {
															search: {
																	data: {
																			filters: {
																					project: {
																							op: 'eq',
																							val: self.from.id
																					}
																			}
																	}
															}
													}
											}
									}"></poste-expense-select>
									<field-errors field="poste" errors="self.errors.fields"></field-errors>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-xs-12">
									<label><?= $this->translate('expense_field_name') ?></label>
									<input type="text" name="name" class="form-control" autocomplete="off" ng-model="self.expense.name" ng-readonly="!self.expense._rights.update || lockBudget" />
									<field-errors field="name" errors="self.errors.fields"></field-errors>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-xs-12">
									<label><?= $this->translate('expense_field_amount') ?></label>
									<div class="input-group">
										<input type="text" name="amount" class="form-control" autocomplete="off" input-mask="decimal" ng-model="self.expense.amount" ng-readonly="!self.expense._rights.update || lockBudget" />
										<div class="input-group-addon">
											<i class="fa fa-euro"></i>
										</div>
									</div>
									<field-errors field="amount" errors="self.errors.fields"></field-errors>
								</div>
							</div>

							<?php if ($ht) : ?>
								<div class="row">
									<div class="form-group col-xs-12">
										<label><?= $this->translate('expense_field_amountHT') ?></label>
										<div class="input-group">
											<input type="text" name="amountHT" class="form-control" autocomplete="off" input-mask="decimal" ng-model="self.expense.amountHT" ng-readonly="!self.expense._rights.update || lockBudget" />
											<div class="input-group-addon">
												<i class="fa fa-euro"></i>
											</div>
										</div>
										<field-errors field="amountHT" errors="self.errors.fields"></field-errors>
									</div>
								</div>
							<?php endif ?>

							<div class="row">
								<div class="form-group required col-xs-12">
									<label><?= $this->translate('expense_field_type') ?></label>
									<select class="form-control" required ng-model="self.expense.type" ng-disabled="!self.expense._rights.update || lockBudget">
										<?php
										foreach ($this->allowedExpenseTypes() as $type) {
											echo '<option value="' . $type . '">' . $this->translate('expense_type_' . $type) . '</option>';
										}
										?>
									</select>
									<field-errors field="type" errors="self.errors.fields"></field-errors>
								</div>
							</div>

							<div class="row">
								<div class="form-group required col-xs-12">
									<label><?= $this->translate('expense_field_date') ?></label>
									<input type="text" name="date" class="form-control" required autocomplete="off" input-date input-date-mask="date" ng-model="self.expense.date" ng-readonly="!self.expense._rights.update || lockBudget" ng-blur="self.updateExerciseYear()" />
									<field-errors field="date" errors="self.errors.fields"></field-errors>
								</div>
							</div>

							<?php if ($evolution) : ?>
								<div class="row">
									<div class="form-group col-xs-12">
										<label><?= $this->translate('expense_field_evolution') ?></label>
										<input type="checkbox" name="evolution" ng-model="self.expense.evolution" ng-readonly="!self.expense._rights.update || lockBudget" />
										<field-errors field="evolution" errors="self.errors.fields"></field-errors>
									</div>
								</div>
							<?php endif ?>

							<?php if ($this->module()->isActive('keyword')) : ?>
								<div class="row">
									<div class="form-group col-xs-12">
										<keywords-form-group entity="expense" ng-model="self.expense"></keywords-form-group>
									</div>
								</div>
							<?php endif; ?>
						</div>

						<div class="tab-pane" id="expense-details">
							<div class="row">

								<?php if ($this->acl()->isAllowed('budget:e:managementUnit:r')) : ?>
									<div class="form-group col-xs-12">
										<label><?= $this->translate('management_unit_entity') ?></label>
										<management-unit-select name="managementUnit" ng-model="self.expense.managementUnit" ng-disabled="!self.expense._rights.update || lockBudget" form="expenseForm"></management-unit-select>
										<field-errors field="managementUnit" errors="self.errors.fields"></field-errors>
									</div>
								<?php endif; ?>

								<div class="form-group col-xs-12">
									<label><?= $this->translate('expense_field_tiers') ?></label>
									<input type="text" name="tiers" class="form-control" autocomplete="off" ng-model="self.expense.tiers" ng-readonly="!self.expense._rights.update || lockBudget" />
									<field-errors field="tiers" errors="self.errors.fields"></field-errors>
								</div>

								<div class="form-group col-xs-12">
									<label><?= $this->translate('expense_field_anneeExercice') ?></label>
									<input type="text" name="anneeExercice" class="form-control" autocomplete="off" ng-model="self.expense.anneeExercice" ng-readonly="!self.expense._rights.update || lockBudget" />
									<field-errors field="anneeExercice" errors="self.errors.fields"></field-errors>
								</div>

								<div class="form-group col-xs-12">
									<label><?= $this->translate('expense_field_bordereau') ?></label>
									<input type="text" name="bordereau" class="form-control" autocomplete="off" ng-model="self.expense.bordereau" ng-readonly="!self.expense._rights.update || lockBudget" />
									<field-errors field="bordereau" errors="self.errors.fields"></field-errors>
								</div>

								<div class="form-group col-xs-12">
									<label><?= $this->translate('expense_field_mandat') ?></label>
									<input type="text" name="mandat" class="form-control" autocomplete="off" ng-model="self.expense.mandat" ng-readonly="!self.expense._rights.update || lockBudget" />
									<field-errors field="mandat" errors="self.errors.fields"></field-errors>
								</div>

								<div class="form-group col-xs-12">
									<label><?= $this->translate('expense_field_engagement') ?></label>
									<input type="text" name="engagement" class="form-control" autocomplete="off" ng-model="self.expense.engagement" ng-readonly="!self.expense._rights.update || lockBudget" />
									<field-errors field="engagement" errors="self.errors.fields"></field-errors>
								</div>

								<div class="form-group col-xs-12">
									<label><?= $this->translate('expense_field_complement') ?></label>
									<input type="text" name="complement" class="form-control" autocomplete="off" ng-model="self.expense.complement" ng-readonly="!self.expense._rights.update || lockBudget" />
									<field-errors field="complement" errors="self.errors.fields"></field-errors>
								</div>

								<div class="form-group col-xs-12">
									<label><?= $this->translate('expense_field_dateFacture') ?></label>
									<input type="text" name="dateFacture" class="form-control" autocomplete="off" input-date input-date-mask="date" ng-model="self.expense.dateFacture" ng-readonly="!self.expense._rights.update || lockBudget" />
									<field-errors field="dateFacture" errors="self.errors.fields"></field-errors>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-default" type="button" data-dismiss="modal">
						<?= $this->translate('close') ?>
					</button>
					<button class="btn btn-submit" ng-disabled="self.loading.save" ng-if="!lockBudget && self.expense._rights.update">
						<?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
						<?= $this->translate('save') ?>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>