<div ng-controller="accountFormController as self" ng-init="self.init(<?= $this->account ? $this->account->getId() : '' ?>)">
    <ul class="breadcrumb">
        <li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
        <li><?= $this->translate('budget_module_title') ?></li>
        <li><a href="<?= $this->url('budget/account') ?>"><?= $this->translate('account_module_title') ?></a></li>
        <li class="active">
            <span ng-if="self.account.id">{{self.panelTitle}}</span>
            <span ng-if="!self.account.id"><?= $this->translate('account_nav_form') ?></span>
        </li>
    </ul>

    <h1 class="page-title">
        <?= $this->icon('account') ?> <?= $this->translate('account_module_title') ?>
    </h1>

    <div class="row row-padding">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <span ng-if="self.account.id">
                        {{self.panelTitle}}
                    </span>
                    <span ng-if="!self.account.id">
                        <?= $this->translate('account_nav_form') ?>
                    </span>

                    <div class="panel-heading-right">
                        <div class="panel-heading-actions" ng-if="self.account.id && self.account._rights.delete" tooltip="<?= $this->translate('tooltip_delete') ?>">
                            <?= $this->icon('delete', 'pointer', ['ng-click' => 'self.deleteAccount()']) ?>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form name="accountForm" ng-submit="self.saveaccount()">
                        <input type="hidden" name="id"
                               ng-model="self.account.id" />

                        <div class="row">
                            <div class="form-group required col-sm-4">
                                <label><?= $this->translate('account_field_code') ?></label>
                                <input type="text" name="code" class="form-control" required autocomplete="off"
                                       ng-model="self.account.code" ng-readonly="!self.account._rights.update" />
                                <field-errors field="code" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group required col-sm-4">
                                <label><?= $this->translate('account_field_name') ?></label>
                                <input type="text" name="name" class="form-control" required autocomplete="off"
                                       ng-model="self.account.name" ng-readonly="!self.account._rights.update" />
                                <field-errors field="name" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label>
                                    <input type="checkbox" ng-model="self.account.default" ng-readonly="!self.account._rights.update"/>
                                    <?= $this->translate('account_field_default') ?>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label><?= $this->translate('account_field_description') ?></label>
                                <textarea  name="description" class="form-control"
                                       ng-model="self.account.description" ng-readonly="!self.account._rights.update"></textarea>
                                <field-errors field="description" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label><?= $this->translate('account_field_parent') ?></label>
                                <account-select ng-model="self.account.parent" ng-disabled="!self.account._rights.update" required="false" configuration="{
                                        service: {
                                            apiParams: {
                                                search: {
                                                    data: {
                                                        filters: {
                                                            id: {
                                                                op: 'neq',
                                                                val: self.account.id
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }"></account-select>
                                <field-errors field="parent" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group required col-sm-4">
                                <label><?= $this->translate('account_field_type') ?></label>
                                <select name="type" class="form-control" required
                                        ng-model="self.account.type" ng-disabled="!self.account._rights.update || self.account.parent">
                                    <option value=""></option>
                                    <?php
                                        foreach (\Budget\Entity\account::getTypes() as $type) {
                                            echo '<option value="' . $type . '">' . $this->translate('account_type_' . $type) . '</option>';
                                        }
                                    ?>
                                </select>
                                <field-errors field="type" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>

                        <div class="row" ng-if="self.account._rights.update">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-submit"  ng-disabled="self.loading.remove || self.loading.save" >
                                    <?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
                                    <?= $this->translate('form_button_save') ?>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<?php
$fabLinks = [];

if ($this->acl()->isAllowed('budget:e:account:c')) {
    $fabLinks[] = [
        'href' => $this->url('budget/account/form'),
        'text' => $this->icon('create', 'fa-fw') . ' ' . $this->translate('account_nav_form')
    ];
    $fabLinks[] = [
        'href' => $this->url('import', ['entity' => 'account']),
        'text' => $this->icon('import', 'fa-fw') . ' ' . $this->translate('account_nav_import')
    ];
}

echo $this->fabMenu($fabLinks);
?>

<?php
    $this->angular('js/src/budget/service/account.js');
    $this->angular('js/src/budget/directive/accountSelect.js');
    $this->angular('js/src/budget/controller/account/form.js');
