<ul class="breadcrumb">
	<li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
	<li><?= $this->translate('budget_module_title') ?></li>
	<li class="active"><?= $this->translate('budget_import_module_title') ?></li>
</ul>

<h1 class="page-title">
    <?= $this->icon('refresh') ?> <?= $this->translate('budget_automated_import_module_title') ?>
</h1>

<div class="panel panel-body">
    <div class="panel" ng-controller="importConfigurationListController as self" ng-init='self.init(<?= json_encode($this->authStorage()->getUser()->getArray(), JSON_HEX_APOS) ?>)'>
        <div class="panel-heading">
          <?= $this->translate('budget_automated_import_nav_list') ?>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-condensed table-hover" table-builder options="self.options" items="self.importConfigurations" >
                <thead>
                <tr>
									<th tb-column tb-name="object" tb-sortable="true" tb-toggle="true">
											<?= $this->translate('import_budget_object') ?>
									</th>
									<th tb-column tb-name="type" tb-sortable="true" tb-toggle="true">
											<?= $this->translate('import_budget_type') ?>
									</th>
									<th tb-column tb-name="importType" tb-sortable="true" tb-toggle="true">
											<?= $this->translate('import_configuration_importType_field_name') ?>
									</th>
									<th tb-column tb-name="year" tb-sortable="true" tb-toggle="true">
											<?= $this->translate('import_configuration_year_field_name') ?>
									</th>
									<th tb-column tb-name="status" tb-sortable="true" tb-toggle="true">
											<?= $this->translate('import_configuration_budgetStatus_field_name') ?>
									</th>
									<th tb-column tb-name="accountparent" tb-sortable="true" tb-toggle="true">
											<?= $this->translate('import_configuration_inPosteAccountParent_field_name') ?>
									</th>
									<th tb-column tb-name="delimiter" tb-sortable="true" tb-toggle="true">
											<?= $this->translate('import_configuration_delimiter_field_name') ?>
									</th>
									<th tb-column tb-name="ignorefirstline" tb-sortable="true" tb-toggle="true">
											<?= $this->translate('import_configuration_ignoreFirstLine_field_name') ?>
									</th>
									<th tb-column tb-name="path" tb-sortable="true" tb-toggle="true">
											<?= $this->translate('import_configuration_path_field_name') ?>
									</th>
									<th tb-column tb-name="frequency" tb-sortable="true" tb-toggle="true">
											<?= $this->translate('import_configuration_frequency_field_name') ?>
									</th>
									<th tb-column tb-name="query" tb-sortable="true" tb-toggle="true">
											<?= $this->translate('import_configuration_query_field_name') ?>
									</th>
									<th tb-column tb-name="lastimport" tb-sortable="true" tb-toggle="true">
											<?= $this->translate('import_configuration_lastImportAt_field_name') ?>
									</th>

									<th class="actions-column"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="importConfiguration in self.importConfigurations" ng-class="{editing: self.editedLine == importConfiguration}">
									<td class="editable">
										<span ng-show="self.editedLine !== importConfiguration">
											<span ng-if="importConfiguration.budgetEntity === 'expense'"><?= ucfirst($this->translate('expense_entity')) ?></span>
											<span ng-if="importConfiguration.budgetEntity === 'income'"><?= ucfirst($this->translate('income_entity')) ?></span>
										</span>

										<span ng-if="self.editedLine == importConfiguration">
											<select class="form-control input-sm" ng-model="self.editedLineFields.budgetEntity" required>
												<option value="expense" ng-selected="self.editedLineFields.budgetEntity === importConfiguration.budgetEntity"><?= ucfirst($this->translate('expense_entity')) ?></option>
												<option value="income" ng-selected="self.editedLineFields.budgetEntity === importConfiguration.budgetEntity"><?= ucfirst($this->translate('income_entity')) ?></option>
											</select>
											<field-errors field="name" errors="self.editedLineErrors"></field-errors>
										</span>
										<?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(importConfiguration)', 'ng-if' => 'importConfiguration._rights.update']) ?>
									</td>
									<td class="editable">
										<span ng-show="self.editedLine !== importConfiguration">
											{{ importConfiguration.budgetEntity + '_type_' + importConfiguration.budgetType | translate }}
										</span>

										<span ng-if="self.editedLine == importConfiguration">
												<select class="form-control input-sm" ng-model="self.editedLineFields.budgetType" required>
													<?php
                          foreach ($this->allowedExpenseTypes() as $type) {
                              echo '<option ng-if="self.editedLineFields.budgetEntity == \'expense\'" value="' . $type . '">' . $this->translate('expense_type_' . $type) . '</option>';
                          }
                          foreach ($this->allowedIncomeTypes() as $type) {
                              echo '<option ng-if="self.editedLineFields.budgetEntity == \'income\'" value="' . $type . '">' . $this->translate('income_type_' . $type) . '</option>';
                          }
                          ?>
												</select>
												<field-errors field="name" errors="self.editedLineErrors"></field-errors>
										</span>
										<?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(importConfiguration)', 'ng-if' => 'importConfiguration._rights.update']) ?>
									</td>
									<td class="editable">
										<span ng-show="self.editedLine !== importConfiguration">
											{{ 'import_budget_mode_' + importConfiguration.importType | translate }}
										</span>
										<span ng-show="self.editedLine == importConfiguration">
											<select ng-model="self.editedLineFields.importType" class="form-control">
												<option value="add"><?= $this->translate('import_budget_mode_add') ?></option>
												<option value="eraseAll"><?= $this->translate('import_budget_mode_eraseAll') ?></option>
												<option value="eraseProjects"><?= $this->translate('import_budget_mode_eraseProjects') ?></option>
											</select>
										</span>
										<?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(importConfiguration)', 'ng-if' => 'importConfiguration._rights.update']) ?>
									</td>
									<td class="editable">
										<span ng-show="self.editedLine !== importConfiguration">
											{{ importConfiguration.year }}
										</span>
										<span ng-if="self.editedLine == importConfiguration">
											<input ng-model="self.editedLineFields.year" class="form-control"/>
										</span>
										<?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(importConfiguration)', 'ng-if' => 'importConfiguration._rights.update']) ?>
									</td>
									<td class="editable">
										<span ng-show="self.editedLine !== importConfiguration">
											{{ importConfiguration.budgetStatus.name }}
										</span>
										<span ng-if="self.editedLine == importConfiguration">
											<budget-status-select ng-model="self.editedLineFields.budgetStatus" only-value="true"></budget-status-select>
										</span>
                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(importConfiguration)', 'ng-if' => 'importConfiguration._rights.update']) ?>
									</td>
									<td class="editable">
										<span ng-show="self.editedLine !== importConfiguration">
											<span ng-if="importConfiguration.inPosteAccountParent === true">{{ 'yes'|translate }}</span>
											<span ng-if="importConfiguration.inPosteAccountParent === false">{{ 'no'|translate }}</span>
										</span>
										<span ng-if="self.editedLine == importConfiguration">
											<input type="checkbox" ng-model="self.editedLineFields.inPosteAccountParent"/>
										</span>
                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(importConfiguration)', 'ng-if' => 'importConfiguration._rights.update']) ?>
									</td>
									<td class="editable">
										<span ng-show="self.editedLine !== importConfiguration">
											{{ importConfiguration.delimiter }}
										</span>
										<span ng-if="self.editedLine == importConfiguration">
											<input type="text" ng-model="self.editedLineFields.delimiter"/>
										</span>
                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(importConfiguration)', 'ng-if' => 'importConfiguration._rights.update']) ?>
									</td>
									<td class="editable">
										<span ng-show="self.editedLine !== importConfiguration">
											<span ng-if="importConfiguration.ignoreFirstLine === true">{{ 'yes'|translate }}</span>
											<span ng-if="importConfiguration.ignoreFirstLine === false">{{ 'no'|translate }}</span>
										</span>
										<span ng-if="self.editedLine == importConfiguration">
											<input type="checkbox" ng-model="self.editedLineFields.ignoreFirstLine"/>
										</span>
                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(importConfiguration)', 'ng-if' => 'importConfiguration._rights.update']) ?>
									</td>
									<td class="editable">
										<span ng-show="self.editedLine !== importConfiguration">
											{{ importConfiguration.path }}
										</span>
										<span ng-if="self.editedLine == importConfiguration">
											<input type="text" class="form-control" ng-model="self.editedLineFields.path"/>
										</span>
                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(importConfiguration)', 'ng-if' => 'importConfiguration._rights.update']) ?>
									</td>
									<td class="editable">
										<span ng-show="self.editedLine !== importConfiguration">
											{{ self.getFrequencyLabel(importConfiguration.frequency) }}
										</span>
										<span ng-if="self.editedLine == importConfiguration">
											<select ng-model="self.editedLineFields.frequency" class="form-control">
												<option value="0"><?= $this->translate('import_configuration_frequency_daily'); ?></option>
												<option value="1"><?= $this->translate('import_configuration_frequency_weekly'); ?></option>
												<option value="2"><?= $this->translate('import_configuration_frequency_monthly'); ?></option>
											</select>
										</span>
                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(importConfiguration)', 'ng-if' => 'importConfiguration._rights.update']) ?>
									</td>
									<td>
											{{ importConfiguration.query.name }}
									</td>
									<td>
											{{ importConfiguration.lastImportAt }}
									</td>
									<td>
										<div class="btn-group btn-group-actions" ng-if="self.editedLine == importConfiguration">
											<button class="btn btn-xs btn-default" ng-click="self.saveEditedLine(importConfiguration)" type="submit" tooltip="<?= $this->translate('tooltip_save') ?>">
													<?= $this->icon('save') ?>
											</button>
											<button class="btn btn-xs btn-default" ng-click="self.editedLine = null" type="button" tooltip="<?= $this->translate('tooltip_cancel') ?>">
													<?= $this->icon('close') ?>
											</button>
										</div>
										<button class="btn btn-xs btn-default" ng-click="self.run(importConfiguration.id)" type="button" tooltip="<?= $this->translate('budget_automated_import_start_manually_label') ?>">
                        <?= $this->icon('import') ?>
										</button>
                      <?php if ($this->acl()->isAllowed('budget:e:importConfiguration:d')) : ?>
												<a ng-if="importConfiguration._rights.delete" href="" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_delete') ?>" ng-click="self.deleteImport(importConfiguration)">
                            <?= $this->icon('delete') ?>
												</a>
                      <?php endif; ?>
									</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<?php
$fabLinks = [];

if ($this->acl()->isAllowed('budget:e:importConfiguration:c')) {
    $fabLinks[] = [
        'href' => $this->url('budget/import-configuration'),
        'text' => $this->icon('list', 'fa-fw') . ' ' . $this->translate('budget_automated_import_nav_list'),
    ];
    $fabLinks[] = [
        'href' => $this->url('budget/import'),
        'text' => $this->icon('import', 'fa-fw') . ' ' . $this->translate('budget_import_module_title')
    ];
}

echo $this->fabMenu($fabLinks);

$this->angular('js/src/budget/directive/budgetStatusSelect.js');
$this->angular('js/src/budget/service/budgetStatus.js');

$this->angular('js/src/application/query/service/query.js');
$this->angular('js/src/budget/service/importConfiguration.js');
$this->angular('js/src/budget/controller/import-configuration/list.js');
