<div ng-controller="noteListController as self" ng-init="self.initHome(<?= $this->authStorage()->getUser()->getId() ?>)" class="chat">
    <ul class="chats" ng-repeat="note in self.notes | orderBy: '-id'" ng-switch="note.createdBy.id">
        <li class="out" ng-switch-when="<?= $this->authStorage()->getUser()->getId() ?>">
            <div class="media">
                <div class="pull-right thumb">
                    <a href="<?= $this->url('user/form') ?>/{{note.createdBy.id}}"><img class="media-object img-circle" src="{{note.createdBy.avatar}}"></a>
                </div>
                <div class="media-body">
                    <p class="media-heading">
                        <a href="<?= $this->url('user/form') ?>/{{note.createdBy.id}}" class="name"><?= ucfirst($this->translate('you')) ?></a> le <span class="datetime">{{note.createdAt | dateFormat : 'DD/MM/YYYY à HH:mm'}}</span>
                    </p>
                    <a class="entity" ng-href="/{{note.entityObject.type}}/form/{{note.entityObject.id}}">
                        {{note.entityObject.name}}
                    </a>
                    <span class="body"><b>{{note.name}}</b><br>{{note.message}}</span>
                    <span class="attachment" ng-if="note.attachment"><a href="{{note.attachment.url}}" target="_blank">{{'note_field_attachment' | translate}}</a></span>
                </div>
            </div>
        </li>
        <li class="in" ng-switch-default>
            <div class="media">
                <div class="pull-left thumb">
                    <a href="<?= $this->url('user/form') ?>/{{note.createdBy.id}}"><img class="media-object img-circle" src="{{note.createdBy.avatar}}"></a>
                </div>
                <div class="media-body">
                    <p class="media-heading">
                        <a href="<?= $this->url('user/form') ?>/{{note.createdBy.id}}" class="name">{{note.createdBy.name}}</a> le <span class="datetime">{{note.createdAt | dateFormat : 'DD/MM/YYYY à HH:mm'}}</span>
                    </p>
                    <a class="entity" ng-href="/{{note.entityObject.type}}/form/{{note.entityObject.id}}">
                        {{note.entityObject.name}}
                    </a>
                    <span class="body"><b>{{note.name}}</b><br>{{note.message}}</span>
                    <span class="attachment" ng-if="note.attachment"><a href="{{note.attachment.url}}" target="_blank">{{'note_field_attachment' | translate}}</a></span>
                </div>
            </div>
        </li>
    </ul>
</div>

<?php
$this->angular('js/src/note/controller/list.js');
$this->angular('js/src/note/service/note.js');

$this->angular('js/src/project/service/project.js');
$this->angular('js/src/convention/service/convention.js');
?>