<?php
$isMaster = $this->environment()->getClient()->isMaster();
?>

<div ng-controller="yearController as self"
     ng-init="self.initQueries()">
    <?php if ($this->acl()->isAllowed('application:e:query:r')): ?>
        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                <div class="queries-toggler little-panel">
                    <div href="#queries-collapsed-node-tree-year"
                         data-toggle="collapse"
                         class="title">
                        <i class="fa fa-shopping-basket fa-fw"></i>
                        Requêtes
                    </div>

                    <div id="queries-collapsed-node-tree-year"
                         class="body collapse">
                        <div ng-if="self.loadingQueries"
                             class="text-center">
                            <i class="fa fa-spin fa-circle-o-notch"></i>
                        </div>

                        <ul class="list-unstyled">
                            <li ng-repeat="query in self.queries">
                                <a ng-click="self.loadQuery(query)"
                                   class="pointer">
                                    <i ng-if="query.shared" class="fa fa-share-alt"></i> {{ query.name }}
                                </a>

                                <i ng-click="self.deleteQuery(query)" ng-if="query._rights.delete"
                                   tooltip="Supprimer"
                                   class="fa fa-trash pointer pull-right">
                                </i>
                            </li>
                        </ul>

                        <form ng-submit="self.saveQuery()"
                              name="queryForm">
                            <div class="input-group input-group-sm">
                                <input ng-model="self.query.name"
                                       placeholder="Nom de la requête"
                                       type="text"
                                       class="form-control"
                                       required/>

                                <span class="input-group-btn">
                                    <?php if (!$this->acl()->onlyOwned('application:e:query:r') && !$this->acl()->onlyOwned('application:e:query:u')) : ?>
                                        <label class="checkbox-inline" style="margin: 0 10px">
                                            <input type="checkbox" ng-model="self.query.shared"/>
                                            Partagée ?
                                        </label>
                                    <?php endif; ?>
                                    <button ng-disabled="self.loadingSaveQuery"
                                            type="submit"
                                            class="btn btn-submit">
                                        <i ng-if="self.loadingSaveQuery"
                                           class="fa fa-spin fa-circle-o-notch">
                                        </i>
                                        Enregistrer
                                    </button>
                                </span>
                            </div>

                            <field-errors field="name"
                                          errors="errors.fields">
                            </field-errors>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <?php endif ?>
    <div class="row">
        <div class="col-md-4">
            <div ng-controller="projectFilterController as filter"
                 ng-init="filter.init('project')"
                 class="table-filters little-panel">
                <div class="title" data-toggle="collapse" href="#filters-collapsed-year-project">
                    <?= $this->icon('filters', 'fa-fw') ?>
                    <?= $this->translate('filters') ?>
                    <?=  ucfirst($this->translate('project_entity')) ?>
                </div>
                <div id="filters-collapsed-year-project" class="body collapse project">
                    <?= $this->tableFilter('self.filters.project', $this->projectFilters($isMaster ? ['networkAccessible', 'managers', 'validators', 'members', 'actors', 'ownership', 'parent', 'financer', 'financer', 'level', 'budgetStatus'] : ['financer'])); ?>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div ng-controller="filterController as filter"
                 ng-init="filter.init('structure')"
                 class="table-filters little-panel">
                <div class="title" data-toggle="collapse" href="#filters-collapsed-year-structure">
                    <?= $this->icon('filters', 'fa-fw') ?>
                    <?= $this->translate('filters') ?>
                    <?= ucfirst($this->translate('envelope_field_financer')) ?>
                </div>
                <div id="filters-collapsed-year-structure" class="body collapse">
                    <?= $this->tableFilter('self.filters.structure', $this->structureFilters($isMaster ? ['financer', 'job', 'contact'] : ['financer'])); ?>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div ng-controller="filterController"
                 class="table-filters little-panel">
                <div class="title" data-toggle="collapse" href="#filters-collapsed-keywords-group">
                    <?=  ucfirst($this->translate('group_by')) ?>
                </div>
                <div id="filters-collapsed-keywords-group" class="body collapse">
                    <select class="form-control" ng-model="self.filters.group">
                        <option value="financer">
                            <?=  ucfirst($this->translate('envelope_field_financer')) ?>
                        </option>
                        <?php if ($this->module()->isActive('keyword')): ?>
                            <option value="keyword">
                                <?=  ucfirst($this->translate('keyword_entity')) ?>
                            </option>
                        <?php endif ?>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row separator">
        <div class="col-md-4 col-md-offset-4">
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn" ng-click="self.resetFilters();">
                        <?= $this->translate('table_filter_reset_button') ?>
                    </button>
                </div>
                <div class="col-xs-6 text-right">
                    <button class="btn" ng-click="self.applyFilters();">
                        <?= $this->icon('search', 'fa-fw') ?>
                        <?= $this->translate('table_filter_button') ?>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row separator" ng-if="self.loading">
        <div class="col-xs-12 text-center">
            <?= $this->icon('loading') ?>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-left">
                <?= $this->translate('number_filters') ?>
            </div>

            <div class="btn-group pull-right">
                <button class="btn btn-excel"
                        type="button"
                        ng-click="self.export()"
                        tooltip="<?= $this->translate('tooltip_export_xls') ?>">
                    <?= $this->icon('excel', 'fa-fw pointer') ?>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-scroller">
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <?php if ($isMaster) : ?>
                                <th><?= ucfirst($this->translate('client_entity')) ?></th>
                            <?php endif; ?>
                            <th><?= ucfirst($this->translate('envelope_field_financer')) ?></th>
                            <?php foreach (\Budget\Entity\Income::getTypes() as $type) {
                                echo '<th colspan="{{self.years.length + 1}}">' . $this->translate('income_type_' . $type) . '</th>';
                            } ?>
                            <th rowspan="2" class="total"><?= ucfirst($this->translate('total')) ?></th>
                        </tr>
                        <tr>
                            <?php if ($isMaster) : ?>
                                <th></th>
                            <?php endif; ?>
                            <th></th>
                            <?php foreach (\Budget\Entity\Income::getTypes() as $type) : ?>
                                <th ng-repeat="year in self.years">
                                    {{year.name}}
                                </th>
                                <th class="total"><?= ucfirst($this->translate('total')) ?></th>
                            <?php endforeach; ?>
                        </tr>
                    </thead>

                    <tbody <?= $isMaster ? 'ng-repeat="(client, financers) in self.financers | groupBy: \'_client.name\' "' : '' ?>>
                        <?php if ($isMaster) : ?>
                            <tr ng-click="_client.open = !_client.open" class="group pointer">
                                <td>
                                    <i class="fa" ng-class="{'fa-caret-right': !_client.open, 'fa-caret-down': _client.open}"></i>
                                    {{client}}
                                </td>
                                <td></td>
                                <?php foreach (\Budget\Entity\Income::getTypes() as $type) : ?>
                                    <td ng-repeat="year in self.years" class="text-right">
                                        {{self.getPartialTotal(year.name, financers[0]._client.id, '<?= $type ?>') | currency : ''}} €
                                    </td>
                                    <td class="text-right"></td>
                                <?php endforeach; ?>
                                <td></td>
                            </tr>
                        <?php endif; ?>
                        <tr ng-repeat="financer in <?= $isMaster ? 'financers' : 'self.financers'?>" <?= $isMaster ? 'ng-show="_client.open"' : '' ?>>
                            <?php if ($isMaster) : ?>
                                <td></td>
                            <?php endif; ?>
                            <td>{{financer.name}}</td>
                            <?php foreach (\Budget\Entity\Income::getTypes() as $type) : ?>
                                <td ng-repeat="year in self.years" class="text-right">
                                    {{year.data[financer._client.id + '_' + financer.id].<?= $type ?> || 0 | currency : ''}} €
                                </td>
                                <td class="text-right total">{{ financer.data.<?= $type ?> || 0 | currency : ''}} €</td>
                            <?php endforeach; ?>
                            <td class="text-right">{{ financer.data.total || 0 | currency : ''}} €</td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr class="footer">
                            <?php if ($isMaster) : ?>
                                <td></td>
                            <?php endif; ?>
                            <td>Total</td>
                            <?php foreach (\Budget\Entity\Income::getTypes() as $type) : ?>
                                <td ng-repeat="year in self.years" class="text-right">
                                    {{year.total.<?= $type ?> || 0 | currency : ''}} €
                                </td>
                                <td></td>
                            <?php endforeach; ?>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
