<?php

$incomeTypes = $this->incomeTypes();
$posteIncomeBalances = $this->posteIncomeBalances();

$expenseTypes = $this->expenseTypes();
$posteExpenseBalances = $this->posteExpenseBalances();

?>


<div ng-controller="envelopeFormController as self" ng-init="self.init(<?= $this->envelope ? $this->envelope->getId() : '' ?>)">
    <ul class="breadcrumb">
        <li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
        <li><?= $this->translate('budget_module_title') ?></li>
        <li><a href="<?= $this->url('budget/envelope') ?>"><?= $this->translate('envelope_module_title') ?></a></li>
        <li class="active">
            <span ng-if="self.envelope.id">{{self.panelTitle}}</span>
            <span ng-if="!self.envelope.id"><?= $this->translate('envelope_nav_form') ?></span>
        </li>
    </ul>

    <h1 class="page-title">
        <?= $this->icon('envelope') ?> <?= $this->translate('envelope_module_title') ?>
    </h1>

    <div class="row row-padding">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <span ng-if="self.envelope.id">
                        {{self.panelTitle}}
                    </span>
                    <span ng-if="!self.envelope.id">
                        <?= $this->translate('envelope_nav_form') ?>
                    </span>

                    <div class="panel-heading-right">
                        <div class="panel-heading-actions" ng-if="self.envelope.id && self.envelope._rights.delete" tooltip="<?= $this->translate('tooltip_delete') ?>">
                            <?= $this->icon('delete', 'pointer', ['ng-click' => 'self.deleteEnvelope()']) ?>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <form name="envelopeForm" ng-submit="self.saveEnvelope()">
                                <input type="hidden" name="id" ng-model="self.envelope.id" />

                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label><?= $this->translate('envelope_field_code') ?></label>
                                        <input type="text" name="code" class="form-control" autocomplete="off" ng-model="self.envelope.code" ng-readonly="!self.envelope._rights.update" />
                                        <field-errors field="code" errors="self.errors.fields"></field-errors>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group required col-sm-12">
                                        <label><?= $this->translate('envelope_field_name') ?></label>
                                        <input type="text" name="name" class="form-control" required autocomplete="off" ng-model="self.envelope.name" ng-readonly="!self.envelope._rights.update" />
                                        <field-errors field="name" errors="self.errors.fields"></field-errors>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group required col-sm-12">
                                        <label><?= $this->translate('envelope_field_financer') ?></label>
                                        <structure-select name="financer" ng-model="self.envelope.financer" ng-disabled="!self.envelope._rights.update" required="true" configuration="{
                                        service: {
                                            apiParams: {
                                                search: {
                                                    data: {
                                                        filters: {
                                                            financer: {
                                                                op: 'eq',
                                                                val: 1
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                }" form="envelopeForm"></structure-select>
                                        <field-errors field="financer" errors="self.errors.fields"></field-errors>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label><?= $this->translate('envelope_field_start') ?></label>
                                        <input type="text" name="start" class="form-control" autocomplete="off" input-date input-date-mask="date" ng-model="self.envelope.start" ng-readonly="!self.envelope._rights.update" />
                                        <field-errors field="start" errors="self.errors.fields"></field-errors>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label><?= $this->translate('envelope_field_end') ?></label>
                                        <input type="text" name="end" class="form-control" autocomplete="off" input-date input-date-mask="date" ng-model="self.envelope.end" ng-readonly="!self.envelope._rights.update" />
                                        <field-errors field="end" errors="self.errors.fields"></field-errors>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label><?= $this->translate('envelope_field_amount') ?></label>
                                        <div class="input-group">
                                            <input type="text" name="amount" class="form-control" autocomplete="off" input-mask="decimal" ng-model="self.envelope.amount" ng-readonly="!self.envelope._rights.update" />
                                            <div class="input-group-addon">
                                                <i class="fa fa-euro"></i>
                                            </div>
                                        </div>
                                        <field-errors field="amount" errors="self.errors.fields"></field-errors>
                                    </div>
                                </div>

                                <?php if ($this->module()->isActive('keyword')) : ?>
                                    <div class="row">
                                        <div class="form-group col-sm-12">
                                            <keywords-form-group entity="envelope" ng-model="self.envelope"></keywords-form-group>
                                        </div>
                                    </div>
                                <?php endif; ?>

                                <div class="row" ng-if="self.envelope._rights.update">
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-submit" ng-disabled="self.loading.remove || self.loading.save">
                                            <?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
                                            <?= $this->translate('form_button_save') ?>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                            <ul class="nav nav-tabs">
                                <li>
                                    <a href="#posteExpense" data-toggle="tab">
                                        <?= ucfirst($this->translate('poste_expense_entity')); ?>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#posteIncome" data-toggle="tab">
                                        <?= ucfirst($this->translate('poste_income_entity')); ?>
                                    </a>
                                </li>
                            </ul>

                            <div class="panel">
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div id="posteExpense" class="tab-pane">
                                            <div style="max-height: 400px; overflow-y: auto;">
                                                <table class="table table-bordered table-condensed table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th style="position: sticky; top: -1px;"><?= ucfirst($this->translate('project_entity')) ?></th>
                                                            <th style="position: sticky; top: -1px;"><?= $this->translate('poste_expense_field_amount') ?></th>
                                                            <?php foreach ($expenseTypes as $type) : ?>
                                                                <th style="position: sticky; top: -1px;">
                                                                    <?= $this->translate('expense_type_' . $type) ?>
                                                                </th>
                                                            <?php endforeach; ?>
                                                            <?php foreach ($posteExpenseBalances as $balance) : ?>
                                                                <th style="position: sticky; top: -1px; width: 120px;" tooltip="<?= $this->translate('poste_expense_formule_' . $balance) ?>">
                                                                    <?= $this->translate('poste_expense_balance_' . $balance) ?>
                                                                </th>
                                                            <?php endforeach; ?>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <?php foreach ($this->postesExpense as $poste) : ?>
                                                            <tr>
                                                                <td>
                                                                    <a href="<?= $this->url('project/form'); ?>/<?= $poste['id']; ?>" tooltip="<?= $poste['name']; ?>">
                                                                        <?= mb_strimwidth($poste['name'], 0, 63, '...'); ?>
                                                                    </a>
                                                                </td>
                                                                <td style="text-align: right;">
                                                                    <?= number_format($poste['amount']); ?>€
                                                                </td>
                                                                <?php foreach ($expenseTypes as $type) : ?>
                                                                    <td style="text-align: right;">
                                                                        <?= number_format($poste[$type]); ?>€
                                                                    </td>
                                                                <?php endforeach; ?>
                                                                <?php foreach ($posteExpenseBalances as $balance) : ?>
                                                                    <td style="width: 120px; text-align: right;">
                                                                        <?= number_format($poste[$balance]); ?>€
                                                                    </td>
                                                                <?php endforeach; ?>
                                                            </tr>
                                                        <?php endforeach; ?>
                                                        <tr>
                                                            <td>
                                                                <?= $this->translate('envelope_projects_total') ?>
                                                            </td>
                                                            <td style="text-align: right;">
                                                                <?= number_format($this->totalsExpense['amount']); ?>€
                                                            </td>
                                                            <?php foreach ($expenseTypes as $type) : ?>
                                                                <td style="text-align: right;">
                                                                    <?= number_format($this->totalsExpense[$type]); ?>€
                                                                </td>
                                                            <?php endforeach; ?>
                                                            <?php foreach ($posteExpenseBalances as $balance) : ?>
                                                                <td style="text-align: right; width: 120px;">
                                                                    <?= number_format($this->totalsExpense[$balance]); ?>€
                                                                </td>
                                                            <?php endforeach; ?>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="posteIncome" class="tab-pane active">
                                            <div style="max-height: 400px; overflow-y: auto;">
                                                <table class="table table-bordered table-condensed table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th style="position: sticky; top: -1px;"><?= ucfirst($this->translate('project_entity')) ?></th>
                                                            <th style="position: sticky; top: -1px;"><?= $this->translate('poste_income_field_amount') ?></th>
                                                            <?php foreach ($incomeTypes as $type) : ?>
                                                                <th style="position: sticky; top: -1px;">
                                                                    <?= $this->translate('income_type_' . $type) ?>
                                                                </th>
                                                            <?php endforeach; ?>
                                                            <?php foreach ($posteIncomeBalances as $balance) : ?>
                                                                <th style="position: sticky; top: -1px; width: 120px;" tooltip="<?= $this->translate('poste_income_formule_' . $balance) ?>">
                                                                    <?= $this->translate('poste_income_balance_' . $balance) ?>
                                                                </th>
                                                            <?php endforeach; ?>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <?php foreach ($this->postesIncome as $poste) : ?>
                                                            <tr>
                                                                <td>
                                                                    <a href="<?= $this->url('project/form'); ?>/<?= $poste->getProject()->getId(); ?>" tooltip="<?= $poste->getProject()->getName(); ?>">
                                                                        <?= mb_strimwidth($poste->getProject()->getName(), 0, 63, '...'); ?>
                                                                    </a>
                                                                </td>
                                                                <td style="text-align: right;">
                                                                    <?= number_format($poste->getAmount()); ?>€
                                                                </td>
                                                                <?php foreach ($incomeTypes as $type) : ?>
                                                                    <td style="text-align: right;">
                                                                        <?php
                                                                        $method = "getAmount" . ucfirst($type);
                                                                        echo number_format($poste->$method());
                                                                        ?>€
                                                                    </td>
                                                                <?php endforeach; ?>
                                                                <?php foreach ($posteIncomeBalances as $balance) : ?>
                                                                    <td style="width: 120px; text-align: right;">
                                                                        <?php
                                                                        $method = "getAmount" . ucfirst($balance);
                                                                        echo number_format($poste->$method());
                                                                        ?>€
                                                                    </td>
                                                                <?php endforeach; ?>
                                                            </tr>
                                                        <?php endforeach; ?>
                                                        <tr>
                                                            <td>
                                                                <?= $this->translate('envelope_projects_total') ?>
                                                            </td>
                                                            <td style="text-align: right;">
                                                                <?= number_format($this->totalsIncome['amount']); ?>€
                                                            </td>
                                                            <?php foreach ($incomeTypes as $type) : ?>
                                                                <td style="text-align: right;">
                                                                    <?= number_format($this->totalsIncome[$type]); ?>€
                                                                </td>
                                                            <?php endforeach; ?>
                                                            <?php foreach ($posteIncomeBalances as $balance) : ?>
                                                                <td style="text-align: right; width: 120px;">
                                                                    <?= number_format($this->totalsIncome[$balance]); ?>€
                                                                </td>
                                                            <?php endforeach; ?>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php
$fabLinks = [];

if ($this->acl()->isAllowed('budget:e:envelope:c')) {
    $fabLinks[] = [
        'href' => $this->url('budget/envelope/form'),
        'text' => $this->icon('create', 'fa-fw') . ' ' . $this->translate('envelope_nav_form')
    ];
    $fabLinks[] = [
        'href' => $this->url('import', ['entity' => 'envelope']),
        'text' => $this->icon('import', 'fa-fw') . ' ' . $this->translate('envelope_nav_import')
    ];
}

echo $this->fabMenu($fabLinks);
?>

<?php
$this->angular('js/src/keyword/directive/keywordSelect.js');
$this->angular('js/src/keyword/directive/keywordsFormGroup.js');

$this->angular('js/src/keyword/service/keyword.js');
$this->angular('js/src/keyword/service/group.js');

$this->angular('js/src/budget/service/envelope.js');
$this->angular('js/src/directory/service/structure.js');
$this->angular('js/src/directory/directive/structureSelect.js');
$this->angular('js/src/budget/controller/envelope/form.js');
