<ul class="breadcrumb">
    <li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
    <li><?= $this->translate('budget_module_title') ?></li>
    <li class="active"><?= $this->translate('envelope_module_title') ?></li>
</ul>

<h1 class="page-title">
    <?= $this->icon('envelope') ?> <?= $this->translate('envelope_module_title') ?>
</h1>

<div class="row row-padding">
    <div class="col-xs-12">
        <div class="panel" ng-controller="envelopeListController as self">
            <table-builder options="self.options" items="self.envelopes" class="table-builder">
                <div class="panel-heading">
                    <?= $this->translate('envelope_nav_list') ?>
                    <div class="panel-heading-right">
                        <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_remove_from_list') ?>">
                            <?= $this->icon('eraser', 'fa-fw pointer', ['ng-click' => '__tb.removeFromList()']) ?>
                        </div>
                        <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_export_xls') ?>">
                            <?= $this->icon('excel', 'fa-fw pointer', ['ng-click' => '__tb.exportExcel()']) ?>
                        </div>
                        <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_refresh') ?>">
                            <?= $this->icon('refresh', 'fa-fw pointer', ['ng-click' => '__tb.loadData()']) ?>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="table-filters little-panel">
                                <div class="title table-filters-header">
                                    <div class="input-group">
                                        <div class="input-group-addon pointer" data-toggle="collapse" href="#filters-collapsed">
                                            <?= $this->icon('filters', 'fa-fw') ?>
                                            <span class="caret"></span>
                                        </div>
                                        <input type="text" placeholder="<?= $this->translate('search', null, null, false) ?>" class="form-control"
                                               ng-model="self.fullText" id="full-text" on-enter="self.fullTextSearch()"/>
                                        <div class="input-group-addon pointer" ng-click="self.fullTextSearch()">
                                            <?= $this->icon('search', 'fa-fw') ?>
                                        </div>
                                    </div>
                                </div>
                                <div id="filters-collapsed" class="body collapse">
                                    <?php

                                    $filters = [
                                        'id' => [
                                            'label' => $this->translate('envelope_field_id'),
                                            'type'  => 'string'
                                        ],
                                        'code' => [
                                            'label' => $this->translate('envelope_field_code'),
                                            'type'  => 'string'
                                        ],
                                        'name' => [
                                            'label' => $this->translate('envelope_field_name'),
                                            'type'  => 'string'
                                        ],
                                        'financer.id' => [
                                            'label' => $this->translate('envelope_field_financer.id'),
                                            'type'  => 'financer-select'
                                        ],
                                        'financer' => [
                                            'label' => $this->translate('envelope_field_financer'),
                                            'type'  => 'financer-select'
                                        ],
                                        'start' => [
                                            'label' => $this->translate('envelope_field_start'),
                                            'type'  => 'date'
                                        ],
                                        'end' => [
                                            'label' => $this->translate('envelope_field_end'),
                                            'type'  => 'date'
                                        ],
                                        'amount' => [
                                            'label' => $this->translate('envelope_field_amount'),
                                            'type'  => 'number'
                                        ],
                                        'createdAt' => [
                                            'label' => $this->translate('envelope_field_createdAt'),
                                            'type'  => 'date'
                                        ],
                                        'updatedAt' => [
                                            'label' => $this->translate('envelope_field_updatedAt'),
                                            'type'  => 'date'
                                        ],
                                    ];

                                    foreach ($this->groups as $group) {
                                        $filters['keyword.' . $group->getId()] = [
                                            'label' => $group->getName(),
                                            'type'  => 'keyword-select',
                                            'group' => $group->getId()
                                        ];
                                    }

                                    echo $this->tableFilter('__tb.apiParams.search.data.filters', $filters);
                                    ?>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <button class="btn" ng-click="self.resetfullTextSearch(); __tb.resetFilters(); __tb.loadData()"><?= $this->translate('table_filter_reset_button') ?></button>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <button class="btn" ng-click="self.resetfullTextSearch(); __tb.loadData()">
                                                <?= $this->icon('search', 'fa-fw') ?>
                                                <?= $this->translate('table_filter_button') ?>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <table-builder-columns></table-builder-columns>
                        </div>
                        <?php if ($this->acl()->isAllowed('application:e:query:r')) : ?>
                            <div class="col-sm-4">
                                <table-builder-queries></table-builder-queries>
                            </div>
                        <?php endif; ?>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <form name="envelopeForm">
                                <table table-builder-table class="table table-bordered table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th tb-column tb-name="selection" class="checkbox-column"><input type="checkbox" ng-model="__tb.selection"/></th>
                                            <th tb-column tb-name="id"          tb-sortable="true" tb-toggle="true"><?= $this->translate('envelope_field_id') ?></th>
                                            <th tb-column tb-name="code"          tb-sortable="true" tb-toggle="true"><?= $this->translate('envelope_field_code') ?></th>
                                            <th tb-column tb-name="name"          tb-sortable="true" tb-toggle="true"><?= $this->translate('envelope_field_name') ?></th>
                                            <th tb-column tb-name="financer.id" tb-sortable="true" tb-toggle="true"><?= $this->translate('envelope_field_financer.id') ?></th>
                                            <th tb-column tb-name="financer.name" tb-sortable="true" tb-toggle="true"><?= $this->translate('envelope_field_financer') ?></th>
                                            <th tb-column tb-name="start"         tb-sortable="true" tb-toggle="true"><?= $this->translate('envelope_field_start') ?></th>
                                            <th tb-column tb-name="end"           tb-sortable="true" tb-toggle="true"><?= $this->translate('envelope_field_end') ?></th>
                                            <th tb-column tb-name="amount"        tb-sortable="true" tb-toggle="true"><?= $this->translate('envelope_field_amount') ?></th>
                                            <?php
                                            if ($this->module()->isActive('keyword')) {
                                                foreach ($this->groups as $group) {
                                                    echo '<th tb-column tb-name="keyword' . $group->getId() . '" tb-sortable="false" tb-toggle="true">' . $group->getName() . '</th>';
                                                }
                                            }
                                            ?>
                                            <th tb-column tb-name="createdAt"     tb-sortable="true" tb-toggle="true" tb-hidden="true"><?= $this->translate('envelope_field_createdAt') ?></th>
                                            <th tb-column tb-name="updatedAt"     tb-sortable="true" tb-toggle="true" tb-hidden="true"><?= $this->translate('envelope_field_updatedAt') ?></th>
                                            <th tb-column tb-name="actions" class="actions-column"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="envelope in self.envelopes" ng-class="{editing: self.editedLine == envelope}">
                                            <td><input type="checkbox" ng-model="envelope.selected"/></td>
                                            <td>{{envelope.id}}</td>
                                            <td class="editable">
                                                <span ng-show="self.editedLine !== envelope">
                                                    <a ng-if="envelope._rights.read" href="<?= $this->url('budget/envelope/form') ?>/{{envelope.id}}">{{envelope.code}}</a>
                                                    <span ng-if="!envelope._rights.read">{{envelope.code}}</span>

                                                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(envelope)', 'ng-if' => 'envelope._rights.update']) ?>
                                                </span>
                                                <span ng-if="self.editedLine == envelope">
                                                    <input type="text" class="form-control input-sm" ng-model="self.editedLineFields.code" />
                                                    <field-errors field="code" errors="self.editedLineErrors"></field-errors>
                                                </span>
                                            </td>
                                            <td class="editable">
                                                <span ng-show="self.editedLine !== envelope">
                                                    <a ng-if="envelope._rights.read" href="<?= $this->url('budget/envelope/form') ?>/{{envelope.id}}">{{envelope.name}}</a>
                                                    <span ng-if="!envelope._rights.read">{{envelope.name}}</span>

                                                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(envelope)', 'ng-if' => 'envelope._rights.update']) ?>
                                                </span>
                                                <span ng-if="self.editedLine == envelope">
                                                    <input type="text" class="form-control input-sm" ng-model="self.editedLineFields.name" required />
                                                    <field-errors field="name" errors="self.editedLineErrors"></field-errors>
                                                </span>
                                            </td>
                                            <td class="editable">
                                                <span ng-show="self.editedLine !== envelope">
                                                    {{envelope.financer.id}}
                                                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(envelope)', 'ng-if' => 'envelope._rights.update']) ?>
                                                </span>
                                            </td>
                                            <td class="editable">
                                                <span ng-show="self.editedLine !== envelope">
                                                    <?php if ($this->acl()->isAllowed('directory:e:structure:r')) : ?>
                                                        <a href="<?= $this->url('directory/structure/form') ?>/{{envelope.financer.id}}">{{envelope.financer.name}}</a>
                                                    <?php else : ?>
                                                        {{envelope.financer.name}}
                                                    <?php endif; ?>
                                                <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(envelope)', 'ng-if' => 'envelope._rights.update']) ?>
                                                </span>
                                                <span ng-if="self.editedLine == envelope">
                                                    <structure-select name="financer" ng-model="self.editedLineFields.financer"
                                                          required="true" form="envelopeForm" configuration="{
                                                            service: {
                                                                apiParams: {
                                                                    search: {
                                                                        data: {
                                                                            filters: {
                                                                                financer: {
                                                                                    op: 'eq',
                                                                                    val: 1
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                    }"></structure-select>
                                                    <field-errors field="financer" errors="self.errors.fields"></field-errors>
                                                </span>
                                            </td>
                                            <td class="editable">
                                                <span ng-show="self.editedLine !== envelope">
                                                    {{envelope.start | dateFormat : 'DD/MM/YYYY'}}
                                                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(envelope)', 'ng-if' => 'envelope._rights.update']) ?>
                                                </span>
                                                <span ng-if="self.editedLine == envelope">
                                                    <input type="text" name="start" class="form-control input-sm" autocomplete="off"
                                                           input-mask="qdate"
                                                           ng-model="self.editedLineFields.start" />
                                                    <field-errors field="date" errors="self.editedLineErrors"></field-errors>
                                                </span>
                                            </td>
                                            <td class="editable">
                                                <span ng-show="self.editedLine !== envelope">
                                                    {{envelope.end | dateFormat : 'DD/MM/YYYY'}}
                                                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(envelope)', 'ng-if' => 'envelope._rights.update']) ?>
                                                </span>
                                                <span ng-if="self.editedLine == envelope">
                                                    <input type="text" name="end" class="form-control input-sm" autocomplete="off"
                                                           input-mask="qdate"
                                                           ng-model="self.editedLineFields.end" />
                                                    <field-errors field="end" errors="self.editedLineErrors"></field-errors>
                                                </span>
                                            </td>
                                            <td class="editable text-right">
                                                <span ng-show="self.editedLine !== envelope">
                                                    {{envelope.amount | currency : ''}} €
                                                <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(envelope)', 'ng-if' => 'envelope._rights.update']) ?>
                                                </span>
                                                <span ng-if="self.editedLine == envelope">
                                                    <input type="text" name="amount" class="form-control input-sm" autocomplete="off"
                                                           input-mask="decimal"
                                                           ng-model="self.editedLineFields.amount" />
                                                    <field-errors field="amount" errors="self.editedLineErrors"></field-errors>
                                                </span>
                                            </td>
                                            <?php
                                                if ($this->module()->isActive('keyword')) {
                                                    foreach ($this->groups as $group) {
                                                        echo '<td class="editable">';
                                                            echo '<span class="comma-separated" ng-show="self.editedLine !== envelope">';
                                                                echo '<span ng-repeat="keyword in envelope.keywords[' . $group->getId() . ']">{{keyword.name}}</span>';
                                                                echo $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(envelope)', 'ng-if' => 'envelope._rights.update']);
                                                            echo '</span>';
                                                            echo '<span ng-if="self.editedLine == envelope">';
                                                                echo '<keyword-select ng-model="self.editedLineFields.keywords[' . $group->getId() . ']" multiple="' . ($group->isMultiple() ? 'true' : 'false') . '" configuration="{ service : { apiParams : { search: { data: { filters: { group : { op: \'eq\', val: ' . $group->getId() . ' } } } } } } }" form="indicatorForm"></keyword-select>';
                                                            echo '</span>';
                                                        echo '</td>';
                                                    }
                                                }
                                            ?>
                                            <td>{{envelope.createdAt | dateFormat : 'DD/MM/YYYY'}}</td>
                                            <td>{{envelope.updatedAt | dateFormat : 'DD/MM/YYYY'}}</td>
                                            <td>
                                                <div class="btn-group btn-group-actions" ng-if="self.editedLine !== envelope">
                                                    <?php if ($this->acl()->isAllowed('budget:e:envelope:r')) : ?>
                                                        <a ng-if="envelope._rights.read" href="<?= $this->url('budget/envelope/form') ?>/{{envelope.id}}" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_edit') ?>">
                                                            <?= $this->icon('edit') ?>
                                                        </a>
                                                    <?php endif; ?>

                                                    <?php if ($this->acl()->isAllowed('budget:e:envelope:d')) : ?>
                                                        <a ng-if="envelope._rights.delete" href="" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_delete') ?>" ng-click="self.deleteEnvelope(envelope)">
                                                            <?= $this->icon('delete') ?>
                                                        </a>
                                                    <?php endif; ?>
                                                </div>
                                                <div class="btn-group btn-group-actions" ng-if="self.editedLine == envelope">
                                                    <button class="btn btn-xs btn-default" ng-click="self.saveEditedLine(envelope)" type="submit" tooltip="<?= $this->translate('tooltip_save') ?>">
                                                        <?= $this->icon('save') ?>
                                                    </button>
                                                    <button class="btn btn-xs btn-default" ng-click="self.editedLine = null" type="button" tooltip="<?= $this->translate('tooltip_cancel') ?>">
                                                        <?= $this->icon('close') ?>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </table-builder>
        </div>
    </div>
</div>

<?php
$fabLinks = [];

if ($this->acl()->isAllowed('budget:e:envelope:c')) {
    $fabLinks[] = [
        'href' => $this->url('budget/envelope/form'),
        'text' => $this->icon('create', 'fa-fw') . ' ' . $this->translate('envelope_nav_form')
    ];
    $fabLinks[] = [
        'href' => $this->url('import', ['entity' => 'envelope']),
        'text' => $this->icon('import', 'fa-fw') . ' ' . $this->translate('envelope_nav_import')
    ];
}

echo $this->fabMenu($fabLinks);
?>

<?php
$this->angular('js/src/keyword/directive/keywordSelect.js');

$this->angular('js/src/keyword/service/keyword.js');

$this->angular('js/src/budget/service/envelope.js');
$this->angular('js/src/application/query/service/query.js');
$this->angular('js/src/directory/service/structure.js');
$this->angular('js/src/directory/directive/structureSelect.js');

$this->angular('js/src/budget/controller/envelope/list.js');
