<div>
    <div class="queries-toggler little-panel">
        <div class="title" data-toggle="collapse" href="#queries-collapsed-{{name}}">
            <i class="fa fa-shopping-basket fa-fw"></i>
            {{headers ? 'En-têtes du tableau' : 'Requêtes'}}
        </div>
        <div id="queries-collapsed-{{name}}" class="body collapse">
            <div class="text-center" ng-if="loading">
                <i class="fa fa-spin fa-circle-o-notch"></i>
            </div>
            <ul class="list-unstyled">
                <li ng-repeat="query in queries">
                    <a ng-click="load(query)" class="pointer">
                        <i ng-if="query.shared" class="fa fa-share-alt"></i> {{query.name}}
                    </a>
                    <i class="fa fa-trash pointer pull-right" ng-click="deleteQuery(query);" tooltip="Supprimer" ng-if="query._rights.delete"></i>
                </li>
            </ul>
            <form name="queryForm" ng-submit="save()">
                <input type="text" class="form-control" placeholder="Nom {{headers ? '' : 'de la requête'}}" required ng-model="query.name"/>
             
                <div class="input-group input-group-sm">                
                    <span class="input-group-btn">
                        <label class="checkbox-inline" style="margin: 0 10px">
                            <input type="checkbox" ng-model="query.shared"/>
                            Partagée ?
                        </label>
                        <label class="checkbox-inline" style="margin: 0 10px" ng-if="service">
                            <input type="checkbox" ng-model="query.sharedService"/>
                            Partagée au service ?
                        </label>                 
                    </span>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-submit" ng-disabled="loadingSave">
                        <i class="fa fa-spin fa-circle-o-notch" ng-if="loadingSave"></i>
                        Enregistrer
                    </button>
                </div>
          
                <field-errors field="name" errors="errors.fields"></field-errors>
            </form>
        </div>
    </div>
</div>
