<div ng-controller="indicatorsCampainListController as self" ng-init="self.init(<?= $this->object ? $this->object->getId() : 'null' ?>)">
    <table-builder options="self.options" items="self.indicators" class="table-builder col-lg-12">    
        <div class="row">
            <div class="col-sm-4">
                <div ng-controller="filterController as filter" ng-init="filter.init()" class="table-filters little-panel">
                    <div class="title" data-toggle="collapse" href="#filters-collapsed">
                        <?= $this->icon('filters', 'fa-fw') ?>
                        <?= $this->translate('filters') ?>
                    </div>
                    <div id="filters-collapsed" class="body collapse">
                        <?= $this->tableFilter('__tb.apiParams.search.data.filters', $this->indicatorFilters()); ?>
                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn" ng-click="self.resetfullTextSearch(); __tb.resetFilters(); __tb.loadData()">
                                    <?= $this->translate('table_filter_reset_button') ?></button>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button class="btn" ng-click="self.resetfullTextSearch(); __tb.loadData()">
                                    <?= $this->icon('search', 'fa-fw') ?>
                                    <?= $this->translate('table_filter_button') ?>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <table-builder-columns></table-builder-columns>
            </div>
            <?php if ($this->acl()->isAllowed('application:e:query:r')) : ?>
            <div class="col-sm-4">
                <table-builder-queries></table-builder-queries>
            </div>
            <?php endif; ?>
        </div>

        <div class="row">
            
                <div class="row">
                    <div class="col-xs-12">
                        <table table-builder-table class="table table-bordered table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th tb-column tb-name="selection" class="checkbox-column"><input type="checkbox" ng-model="__tb.selection"/></th>
                                    <th tb-column tb-name="id"    tb-sortable="true" tb-toggle="true"><?= $this->translate('indicator_field_id') ?></th>
                                    <th tb-column tb-name="name"    tb-sortable="true" tb-toggle="true"><?= $this->translate('indicator_field_name') ?></th>
                                    <th tb-column tb-name="uom"    tb-sortable="true" tb-toggle="true"><?= $this->translate('indicator_field_uom') ?></th>
                                    <th tb-column tb-name="type"   tb-sortable="true" tb-toggle="true"><?= $this->translate('indicator_field_type') ?></th>
                                    <?php if ($this->module()->getClientModuleConfiguration('user', 'service')) {
                                        echo '<th tb-column tb-name="services" tb-toggle="true" tb-sortable="false">' . $this->translate('indicator_field_services') . '</th>';
                                    }
                                    ?>
                                    <?php
                                        if ($this->module()->isActive('keyword')) {
                                            foreach ($this->allowedKeywordGroups('indicator', false) as $group) {
                                                echo '<th tb-column tb-name="keyword' . $group->getId() . '" tb-sortable="false" tb-toggle="true">' . $group->getName() . '</th>';
                                            }
                                        }
                                    ?>
                                    <th tb-column tb-name="createdAt"  tb-sortable="true" tb-toggle="true" tb-hidden="true"><?= $this->translate('indicator_field_createdAt') ?></th>
                                    <th tb-column tb-name="updatedAt"  tb-sortable="true" tb-toggle="true" tb-hidden="true"><?= $this->translate('indicator_field_updatedAt') ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="indicator in self.indicators">
                                    <td><input type="checkbox" ng-model="indicator.selected"/></td>
                                    <td>{{indicator.id}}</td>
                                    <td>
                                        <span>
                                            <a ng-if="indicator._rights.read" href="<?= $this->url('indicator/form') ?>/{{indicator.id}}">{{indicator.name}}</a>
                                            <span ng-if="!indicator._rights.read">{{indicator.name}}</span>

                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            {{indicator.uom}}
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            {{'indicator_type_' + indicator.type | translate}}
                                        </span>
                                    </td>
                                    <?php if ($this->module()->getClientModuleConfiguration('user', 'service')) : ?>
                                        <td>
                                            <span class="comma-separated">
                                                    <span ng-repeat="service in indicator.services">
                                                        <?php if ($this->acl()->isAllowed('user:e:service:r')) : ?>
                                                            <a href="<?= $this->url('service/form') ?>/{{service.id}}">{{service.name}}</a>
                                                        <?php else : ?>
                                                            {{service.name}}
                                                        <?php endif; ?>
                                                    </span>
                                            </span>
                                        </td>
                                    <?php endif; ?>
                                    <?php
                                        if ($this->module()->isActive('keyword')) {
                                            foreach ($this->allowedKeywordGroups('indicator', false) as $group) {
                                                echo '<td>';
                                                    echo '<span class="comma-separated">';
                                                        echo '<span ng-repeat="keyword in indicator.keywords[' . $group->getId() . ']">{{keyword.name}}</span>';
                                                    echo '</span>';
                                                echo '</td>';
                                            }
                                        }
                                    ?>
                                    <td>{{indicator.createdAt | dateFormat : 'DD/MM/YYYY'}}</td>
                                    <td>{{indicator.updatedAt | dateFormat : 'DD/MM/YYYY'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </table-builder>
</div>

<?php
    $this->angular('js/src/indicator/service/indicator.js');
    $this->angular('js/src/indicator/directive/indicatorSelect.js');
?>
