<div id="taskFormModal" class="modal fade" ng-controller="taskFormController as self" ng-init="self.init('<?= $this->from ?>', <?= $this->object ? $this->object->getId() : 'null' ?>)">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="taskForm" ng-submit="self.saveTask();">
                <div class="modal-header">
                    {{self.panelTitle}}
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group required col-xs-12">
                            <label><?= $this->translate('task_field_name') ?></label>
                            <input type="text" name="name" class="form-control" required autocomplete="off"
                                   ng-model="self.task.name" ng-readonly="!self.task._rights.update" />
                            <field-errors field="name" errors="self.errors.fields"></field-errors>
                        </div>
                    </div>
                    <?php if ($this->module()->isActive('project') && $this->from !== 'project') : ?>
                    <div class="row">
                        <div class="form-group required col-xs-12">
                            <label><?= $this->translate('task_field_project') ?></label>
                            <project-select name="project" ng-model="self.task.project" ng-disabled="!self.task._rights.update" required="true" form="taskForm"></project-select>
                            <field-errors field="project" errors="self.errors.fields"></field-errors>
                        </div>
                    </div>
                    <?php endif; ?>
                    <?php if ($this->from == 'project') : ?>
                        <div class="row">
                            <div class="form-group required col-xs-12">
                                <label><?= $this->translate('task_field_users') ?></label>
                                <user-select name="users" ng-model="self.task.users" ng-disabled="!self.task._rights.update" required="true" form="taskForm" multiple="true"></user-select>
                                <field-errors field="users" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>
                    <?php endif; ?>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label><?= $this->translate('task_field_progress') ?></label>
                            <div class="input-group">
                                <input type="text" name="progress" class="form-control" autocomplete="off" input-mask="integer"
                                       ng-model="self.task.progress" ng-readonly="!self.task._rights.update" />
                                <span class="input-group-addon">
                                    %
                                </span>
                            </div>
                            <field-errors field="progress" errors="self.errors.fields"></field-errors>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group required col-xs-6">
                            <label><?= $this->translate('task_field_start') ?></label>
                            <input type="text" name="start" class="form-control" required autocomplete="off" input-date input-date-mask="date"
                                   ng-model="self.task.start" ng-readonly="!self.task._rights.update" />
                            <field-errors field="start" errors="self.errors.fields"></field-errors>
                        </div>
                        <div class="form-group required col-xs-6">
                            <label><?= $this->translate('task_field_end') ?></label>
                            <input type="text" name="end" class="form-control" required autocomplete="off" input-date input-date-mask="date"
                                   ng-model="self.task.end" ng-readonly="!self.task._rights.update" />
                            <field-errors field="end" errors="self.errors.fields"></field-errors>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label><?= $this->translate('task_field_description') ?></label>
                            <textarea  name="description" class="form-control" ng-model="self.task.description" ng-readonly="!self.task._rights.update"></textarea>
                            <field-errors field="description" errors="self.errors.fields"></field-errors>
                        </div>
                    </div>
                    <?php if ($this->module()->isActive('keyword')) : ?>
                        <keywords-form-group entity="task" ng-model="self.task"></keywords-form-group>
                    <?php endif; ?>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        <?= $this->translate('close') ?>
                    </button>
                    <button class="btn btn-submit" ng-disabled="self.loading.save" ng-if="self.task._rights.update">
                        <?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
                        <?= $this->translate('save') ?>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
