<?php
$fromHome = isset($this->fromHome) ? $this->fromHome : false;

$kanban = $this->module()->getClientModuleConfiguration('task', 'kanban');
?>

<?php if (!$fromHome) : ?>
<ul class="breadcrumb">
    <li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
    <li><a href="<?= $this->url('task') ?>"><?= $this->translate('task_module_title') ?></a></li>
    <li class="active"><?= $this->translate('task_nav_list') ?></li>
</ul>

<h1 class="page-title">
    <?= $this->icon('task') ?> <?= $this->translate('task_module_title') ?>
</h1>

<div class="row row-padding">
    <div class="col-xs-12">
        <div class="panel" ng-controller="taskListController as self" ng-init="self.init(<?= $this->authStorage()->getUser()->getId() ?>)">
            <?php endif; ?>
            <table-builder options="self.options" items="self.tasks" class="table-builder">
                <?php if (!$fromHome) : ?>
                <div class="panel-heading">
                    <?= $this->translate('task_nav_list_with_criteria') ?>
                    <div class="panel-heading-right">
                        <?php if ($kanban) : ?>
                            <div class="panel-heading-actions" ng-show="self.view == 'list'"
                                 tooltip="<?= $this->translate('tooltip_switch_view_task_kanban') ?>">
                                <?= $this->icon('kanban', 'fa-fw pointer', ['ng-click' => 'self.view = \'kanban\';']) ?>
                            </div>
                            <div class="panel-heading-actions" ng-show="self.view == 'kanban'"
                                 tooltip="<?= $this->translate('tooltip_switch_view_task_list') ?>">
                                <?= $this->icon('list', 'fa-fw pointer', ['ng-click' => 'self.view = \'list\'']) ?>
                            </div>
                        <?php endif; ?>
                        <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_remove_from_list') ?>">
                            <?= $this->icon('eraser', 'fa-fw pointer', ['ng-click' => '__tb.removeFromList()']) ?>
                        </div>
                        <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_export_xls') ?>">
                            <?= $this->icon('excel', 'fa-fw pointer', ['ng-click' => '__tb.exportExcel()']) ?>
                        </div>
                        <div class="panel-heading-actions" tooltip="<?= $this->translate('tooltip_refresh') ?>">
                            <?= $this->icon('refresh', 'fa-fw pointer', ['ng-click' => '__tb.loadData()']) ?>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <?php endif; ?>
                    <div class="row">
                        <?php if (!$fromHome) : ?>
                        <div class="col-sm-4">
                            <div class="table-filters little-panel">
                                <div class="title table-filters-header">
                                    <div class="input-group">
                                        <div class="input-group-addon pointer" data-toggle="collapse" href="#filters-collapsed">
                                            <?= $this->icon('filters', 'fa-fw') ?>
                                            <span class="caret"></span>
                                        </div>
                                        <input type="text" placeholder="<?= $this->translate('search', null, null, false) ?>" class="form-control"
                                               ng-model="self.fullText" id="full-text" on-enter="self.fullTextSearch()"/>
                                        <div class="input-group-addon pointer" ng-click="self.fullTextSearch()">
                                            <?= $this->icon('search', 'fa-fw') ?>
                                        </div>
                                    </div>
                                </div>
                                <div id="filters-collapsed" class="body collapse">
                                    <?= $this->tableFilter('__tb.apiParams.search.data.filters', $this->taskFilters()); ?>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <button class="btn" ng-click="self.resetfullTextSearch(); __tb.resetFilters(); __tb.loadData()"><?= $this->translate('table_filter_reset_button') ?></button>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <button class="btn" ng-click="self.resetfullTextSearch(); __tb.loadData()">
                                                <?= $this->icon('search', 'fa-fw') ?>
                                                <?= $this->translate('table_filter_button') ?>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php endif; ?>
                        <div class="col-sm-4">
                            <table-builder-columns ng-show="self.view == 'list'"></table-builder-columns>
                        </div>
                        <?php if ($this->acl()->isAllowed('application:e:query:r') && !$fromHome) : ?>
                            <div class="col-sm-4">
                                <table-builder-queries></table-builder-queries>
                            </div>
                        <?php endif; ?>
                    </div>
                    <div class="row">
                        <?php if (!$fromHome) : ?>
                        <div class="col-xs-12" ng-if="self.view == 'kanban'">
                            <?= $this->partial('task/partial/kanban.phtml'); ?>
                        </div>
                        <?php endif; ?>
                        <div class="col-xs-12" ng-show="self.view == 'list'">
                            <form name="taskForm">
                                <table table-builder-table class="table table-bordered table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th tb-column tb-name="selection" class="checkbox-column"><input type="checkbox" ng-model="__tb.selection"/></th>
                                            <th tb-column tb-name="name"    tb-sortable="true" tb-toggle="true"><?= $this->translate('task_field_name') ?></th>
                                            <?php if ($this->module()->isActive('project')) : ?>
                                            <th tb-column tb-name="project.name" tb-sortable="true" tb-toggle="true"><?= $this->translate('task_field_project') ?></th>
                                            <?php endif; ?>
                                            <th tb-column tb-name="start"  tb-sortable="true" tb-toggle="true"><?= $this->translate('task_field_start') ?></th>
                                            <th tb-column tb-name="end"    tb-sortable="true" tb-toggle="true"><?= $this->translate('task_field_end') ?></th>
                                            <th tb-column tb-name="progress"  tb-sortable="true" tb-toggle="true"><?= $this->translate('task_field_progress') ?></th>
                                            <?php
                                                if ($this->module()->isActive('keyword')) {
                                                    foreach ($this->groups as $group) {
                                                        echo '<th tb-column tb-name="keyword' . $group->getId() . '" tb-sortable="false" tb-toggle="true">' . $group->getName() . '</th>';
                                                    }
                                                }
                                            ?>
                                            <th tb-column tb-name="createdAt"  tb-sortable="true" tb-toggle="true" tb-hidden="true"><?= $this->translate('task_field_createdAt') ?></th>
                                            <th tb-column tb-name="updatedAt"  tb-sortable="true" tb-toggle="true" tb-hidden="true"><?= $this->translate('task_field_updatedAt') ?></th>
                                            <th tb-column tb-name="actions" class="actions-column"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="task in self.tasks">
                                            <td><input type="checkbox" ng-model="task.selected"/></td>
                                            <td class="editable">
                                                <span ng-show="self.editedLine !== task">
                                                    <a ng-if="task._rights.read" ng-click="self.editTask(task)" class="pointer">{{task.name}}</a>
                                                    <span ng-if="!task._rights.read">{{task.name}}</span>

                                                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(task)', 'ng-if' => 'task._rights.update']) ?>
                                                </span>
                                                <span ng-if="self.editedLine == task">
                                                    <input type="text" name="name" class="form-control" required autocomplete="off"
                                                           ng-model="self.editedLineFields.name"  />
                                                    <field-errors field="name" errors="self.editedLineErrors"></field-errors>
                                                </span>
                                            </td>
                                            <?php if ($this->module()->isActive('project')) : ?>
                                            <td class="editable">
                                                <span ng-show="self.editedLine !== task">
                                                    <?php if ($this->acl()->isAllowed('project:e:project:r')) : ?>
                                                        <a href="<?= $this->url('project/form') ?>/{{task.project.id}}">{{task.project.name}}</a>
                                                    <?php else : ?>
                                                       {{task.project.name}}
                                                    <?php endif; ?>
                                                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(task)', 'ng-if' => 'task._rights.update']) ?>
                                                </span>
                                                <span ng-if="self.editedLine == task">
                                                    <project-select name="project" ng-model="self.editedLineFields.project"
                                                                    required="true" form="taskForm"></project-select>
                                                    <field-errors field="project" errors="self.editedLineErrors"></field-errors>
                                                </span>
                                            </td>
                                            <?php endif; ?>
                                            <td class="editable">
                                                <span ng-show="self.editedLine !== task">
                                                    {{task.start | dateFormat : 'DD/MM/YYYY'}}
                                                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(task)', 'ng-if' => 'task._rights.update']) ?>
                                                </span>
                                                <span ng-if="self.editedLine == task">
                                                    <input type="text" name="start" class="form-control" required autocomplete="off" input-mask="qdate"
                                                           ng-model="self.editedLineFields.start" />
                                                    <field-errors field="start" errors="self.editedLineErrors"></field-errors>
                                                </span>
                                            </td>
                                            <td class="editable">
                                                <span ng-show="self.editedLine !== task">
                                                    {{task.end | dateFormat : 'DD/MM/YYYY'}}
                                                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(task)', 'ng-if' => 'task._rights.update']) ?>
                                                </span>
                                                <span ng-if="self.editedLine == task">
                                                    <input type="text" name="end" class="form-control" required autocomplete="off" input-mask="qdate"
                                                           ng-model="self.editedLineFields.end" />
                                                    <field-errors field="end" errors="self.editedLineErrors"></field-errors>
                                                </span>
                                            </td>
                                            <td class="editable text-right">
                                                <span ng-show="self.editedLine !== task">
                                                    <div class="progress">
                                                        <div class="progress-bar" ng-style="{width: task.progress + '%'}">
                                                            {{task.progress}} %
                                                        </div>
                                                    </div>
                                                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(task)', 'ng-if' => 'task._rights.update']) ?>
                                                </span>
                                                <span ng-if="self.editedLine == task">
                                                    <input type="text" name="progress" class="form-control" required autocomplete="off" input-mask="integer"
                                                           ng-model="self.editedLineFields.progress" />
                                                    <field-errors field="progress" errors="self.editedLineErrors"></field-errors>
                                                </span>
                                            </td>
                                            <?php
                                            if ($this->module()->isActive('keyword')) {
                                                foreach ($this->groups as $group) {
                                                    echo '<td class="editable">';
                                                        echo '<span class="comma-separated" ng-show="self.editedLine !== task">';
                                                            echo '<span ng-repeat="keyword in task.keywords[' . $group->getId() . ']">{{keyword.name}}</span>';
                                                            echo $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(task)', 'ng-if' => 'task._rights.update']);
                                                        echo '</span>';
                                                        echo '<span ng-if="self.editedLine == task">';
                                                            echo '<keyword-select ng-model="self.editedLineFields.keywords[' . $group->getId() . ']" multiple="' . ($group->isMultiple() ? 'true' : 'false') . '" configuration="{ service : { apiParams : { search: { data: { filters: { group : { op: \'eq\', val: ' . $group->getId() . ' } } } } } } }" form="taskForm"></keyword-select>';
                                                        echo '</span>';
                                                    echo '</td>';
                                                }
                                            }
                                            ?>
                                            <td>{{task.createdAt | dateFormat : 'DD/MM/YYYY'}}</td>
                                            <td>{{task.updatedAt | dateFormat : 'DD/MM/YYYY'}}</td>
                                            <td>
                                                <div class="btn-group btn-group-actions" ng-if="self.editedLine !== task">
                                                    <?php if ($this->acl()->isAllowed('task:e:task:r')) : ?>
                                                        <a ng-if="task._rights.read" ng-click="self.editTask(task)" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_edit') ?>">
                                                            <?= $this->icon('edit') ?>
                                                        </a>
                                                    <?php endif; ?>

                                                    <?php if ($this->acl()->isAllowed('task:e:task:d')) : ?>
                                                        <a ng-if="task._rights.delete" ng-click="self.deleteTask(task)" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_delete') ?>">
                                                            <?= $this->icon('delete') ?>
                                                        </a>
                                                    <?php endif; ?>
                                                </div>
                                                <div class="btn-group btn-group-actions" ng-if="self.editedLine == task">
                                                    <button class="btn btn-xs btn-default" ng-click="self.saveEditedLine(task)" type="submit" tooltip="<?= $this->translate('tooltip_save') ?>">
                                                        <?= $this->icon('save') ?>
                                                    </button>
                                                    <button class="btn btn-xs btn-default" ng-click="self.editedLine = null" type="button" tooltip="<?= $this->translate('tooltip_cancel') ?>">
                                                        <?= $this->icon('close') ?>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                    <?php if (!$fromHome) : ?>
                </div>
            <?php endif; ?>
            </table-builder>
            <?php if (!$fromHome) : ?>

            <?= $this->partial('task/index/form.phtml', ['from' => 'task', 'object' => null]) ?>

            <?php
            $fabLinks = [];

            if ($this->acl()->isAllowed('task:e:task:c')) {
                $fabLinks[] = [
                    'ng-click' => 'self.createTask(); showFab = false',
                    'href'     => '#',
                    'text'     => $this->icon('create', 'fa-fw') . ' ' . $this->translate('task_nav_form')
                ];
                $fabLinks[] = [
                    'href' => $this->url('import', ['entity' => 'task']),
                    'text' => $this->icon('import', 'fa-fw') . ' ' . $this->translate('task_nav_import')
                ];
            }

            echo $this->fabMenu($fabLinks); ?>
        </div>
    </div>
</div>
<?php endif; ?>




<?php
$this->angular('js/src/project/directive/projectSelect.js');
$this->angular('js/src/keyword/directive/keywordSelect.js');
$this->angular('js/src/keyword/directive/groupSelect.js');
$this->angular('js/src/keyword/directive/keywordsFormGroup.js');
$this->angular('js/src/user/directive/userSelect.js');

$this->angular('js/src/keyword/service/keyword.js');
$this->angular('js/src/keyword/service/group.js');
$this->angular('js/src/task/service/task.js');
$this->angular('js/src/application/query/service/query.js');
$this->angular('js/src/project/service/project.js');
$this->angular('js/src/user/service/user.js');


$this->angular('js/src/task/controller/task/list.js');
$this->angular('js/src/task/controller/task/form.js');
$this->angular('js/src/task/controller/task/kanban.js');
?>

