<?php
$isMaster = $this->environment()->getClient()->isMaster();
?>

<div ng-controller="projectsController as self">
    <table-builder options="self.options" items="self.projects" class="table-builder">
        <div class="row">
            <div class="col-sm-4">
                <h4 class="separator text-center"><?= ucfirst($this->translate('project_entity')) ?></h4>
                <div class="table-filters little-panel">
                    <div class="title" data-toggle="collapse" href="#filters-collapsed-projects">
                        <?= $this->icon('filters', 'fa-fw') ?>
                        <?= $this->translate('filters') ?>
                    </div>
                    <div id="filters-collapsed-projects" class="body collapse">
                        <?= $this->tableFilter('__tb.apiParams.search.data.filters', $this->projectFilters($isMaster ? ['networkAccessible', 'managers', 'validators', 'members', 'actors', 'ownership', 'parent', 'financer', 'level', 'budgetStatus'] : [])); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn" ng-click="__tb.resetFilters(); __tb.loadData()"><?= $this->translate('table_filter_reset_button') ?></button>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button class="btn" ng-click="__tb.loadData()">
                            <?= $this->icon('search', 'fa-fw') ?>
                            <?= $this->translate('table_filter_button') ?>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row separator" ng-if="self.loading">
            <div class="col-xs-12 text-center">
                <?= $this->icon('loading') ?>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group pull-right">
                    <button class="btn btn-excel"
                            type="button"
                            ng-click="self.export()"
                            tooltip="<?= $this->translate('tooltip_export_xls') ?>">
                        <?= $this->icon('excel', 'fa-fw pointer') ?>
                    </button>
                </div>
            </div>
        </div>
        <?php if ($isMaster) : ?>
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="text-center"><?= ucfirst($this->translate('project_entities')) ?></h4>
                    <nvd3 options="self.charts.projects.options" data="self.charts.projects.data" api="self.charts.projects.api"></nvd3>
                </div>
                <div class="col-sm-6">
                    <h4 class="text-center"><?= ucfirst($this->translate('actor_entities')) ?></h4>
                    <nvd3 options="self.charts.actors.options" data="self.charts.actors.data" api="self.charts.actors.api"></nvd3>
                </div>
            </div>
        <?php endif; ?>
        <div class="row">
            <div class="col-xs-12">
                <table table-builder-table class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <?php if ($isMaster) : ?>
                                <th>
                                    <?= ucfirst($this->translate('client_entity')) ?>
                                </th>
                                <th>
                                    <?= ucfirst($this->translate('project_entities')) ?>
                                </th>
                                <th>
                                    <?= ucfirst($this->translate('actor_entities')) ?>
                                </th>
                            <?php endif; ?>
                            <th>
                                <?= ucfirst($this->translate('project_entity')) ?>
                            </th>
                        </tr>
                    </thead>
                    <tbody <?= $isMaster ? 'ng-repeat="(client, projects) in self.projects | groupBy: \'_client.name\' "' : '' ?>>
                        <?php if ($isMaster) : ?>
                            <tr ng-click="_client.open = !_client.open" class="group pointer">
                                <td>
                                    <i class="fa" ng-class="{
                                        'fa-caret-right': !_client.open,
                                        'fa-caret-down': _client.open
                                    }"></i>
                                    {{client}}
                                </td>
                                <td class="text-right">{{ projects.length }}</td>
                                <td class="text-right">{{ self.getPartialTotal('actors', projects) || 0 }}</td>
                                <td></td>
                            </tr>
                        <?php endif; ?>
                        <tr ng-repeat-start="project in <?= $isMaster ? 'projects' : 'self.projects' ?>"
                            <?= $isMaster ? 'ng-show="_client.open"' : '' ?>>
                            <?php if ($isMaster) : ?>
                                <td></td>
                                <td></td>
                                <td class="text-right">{{ project.actors.length }}</td>
                            <?php endif; ?>
                            <td>
                                {{project.name}}
                            </td>
                        </tr>
                        <tr ng-repeat-end ng-if="false"></tr>
                    </tbody>
                    <tfoot>
                        <tr class="footer">
                            <?php if ($isMaster) : ?>
                                <td></td>
                                <td class="text-right">{{ self.projects.length }}</td>
                                <td class="text-right">{{ self.getTotal('actors') || 0 }}</td>
                            <?php endif; ?>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </table-builder>
</div>
