<?php $env = getenv('APP_ENV') ?: 'development';?>

<?=$this->doctype();?>

<html lang="fr">
<head>
    <meta charset="utf-8">
    <?=$this->headTitle($this->translate('site_title', null, null, false))->setSeparator(' - ')->setAutoEscape(false)?>

    <?=
$this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0')
->appendHttpEquiv('X-UA-Compatible', 'IE=edge');
?>

    <?=
$this->headLink()
->prependStylesheet($this->basepath('theme/' . $this->environment()->getClient()->getTheme() . '/css/theme.css'))
//->prependStylesheet($this->basepath('css/default.css'))
->prependStylesheet($this->basepath('vendor/angularjs-slider/dist/rzslider.css'))
->prependStylesheet($this->basepath('vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker' . ($env === 'development' ? '' : '.min') . '.css'))
->prependStylesheet($this->basepath('vendor/nvd3/build/nv.d3' . ($env === 'development' ? '' : '.min') . '.css'))
->prependStylesheet($this->basepath('vendor/font-awesome/css/font-awesome' . ($env === 'development' ? '' : '.min') . '.css'))
->prependStylesheet($this->basepath('vendor/selectize/dist/css/selectize.bootstrap3.css'))
->prependStylesheet($this->basepath('vendor/bootstrap/dist/css/bootstrap' . ($env === 'development' ? '' : '.min') . '.css'))
?>

    <?php if (!preg_match('/(local|dev|test)/', $_SERVER['SERVER_NAME'])): ?>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            <?php if ($this->authStorage()->isAuthenticated() && null !== $this->authStorage()->getUser()->getEmail()) : ?>
            Tawk_API.visitor = {
                name: <?=json_encode($this->authStorage()->getUser()->getFirstName() . ' ' . $this->authStorage()->getUser()->getLastName())?>,
                email: <?=json_encode($this->authStorage()->getUser()->getEmail())?>,
                hash: '<?=hash_hmac('sha256', $this->authStorage()->getUser()->getEmail(), '7c6e673eda46fe751a91e711cd62502b459f4695');?>',
            };
            <?php endif;?>
            (function() {
                var s1 = document.createElement('script'),
                    s0 = document.getElementsByTagName('script')[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/61f91905b9e4e21181bce9c5/1fqqgjfd9';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();

			<?php endif; ?>
        </script>
		<!--End of Tawk.to Script-->

		<!-- Google Analytics -->
		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments);
				}, i[r].l = 1 * new Date();
				a = s.createElement(o),
					m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m);
			})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-42495037-2', 'auto');
			ga('send', 'pageview');
			ga('linker:autoLink', ['<?= $_SERVER['SERVER_NAME'] ?>']);
		</script>
		<!-- End Google Analytics -->

	<script type="text/javascript">
		appDependencies = [];
	</script>
	<style type="text/css">
		[ng\:cloak],
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak {
			display: none !important;
		}
	</style>
</head>
<body ng-cloak>
<header class="header-container">

    <div class="start">
        <?php if ($this->environment()->getClient()->getTheme() !== 'parc'): ?>
            <?php if ($this->environment()->getClient()->getLogo()): ?>
                <img
                        src="/<?=$this->environment()->getClient()->getLogo()?>"
                        alt="<?=$this->environment()->getClient()->getName()?>"
                        class="logo-header"
                >
            <?php else: ?>
                <span class="client-name"><?=$this->environment()->getClient()->getName()?></span>
            <?php endif;?>

        <?php endif;?>

        <?php if ($this->environment()->getClient()->getTheme() === 'parc'): ?>
            <a href="/" class="home-link">
                <span class="nav-link-icon"><i class="fa fa-home fa-fw" title="icon : home"></i></span>
                <span class="nav-link-text"><?php echo $this->translate('menu_accueil_title'); ?></span>
            </a>
            <a href="https://documentation-eva.readthedocs.io/fr/latest/" class="home-link">
                <span class="nav-link-icon"><i class="fa fa-info-circle title="icon : help"></i></span>
                <span class="nav-link-text"><?php echo $this->translate('menu_accueil_help'); ?></span>
            </a>


        <?php endif;?>

        <div class="environment-info">
        </div>
    </div>

    <div class="middle">
        <?php if ($this->environment()->getClient()->getTheme() === 'parc'): ?>

            <?php if ($this->environment()->getClient()->getLogo()): ?>
                <img
                        src="/<?=$this->environment()->getClient()->getLogo()?>"
                        alt="<?=$this->environment()->getClient()->getName()?>"
                        class="logo-header"
                >
            <?php else: ?>
                <span class="client-name"><?=$this->environment()->getClient()->getName()?></span>
            <?php endif;?>

        <?php endif;?>
    </div>

    <div class="end">
        <?php if ($this->authStorage()->isAuthenticated()): ?>
        <?php if ($this->module()->isActive('memo')): ?>
        <div class="memo-btn {{showMemo ? 'open' : ''}}" ng-controller="memoController as self"">
        <div class="dropdown">
            <a class="dropdown-toggle" ng-click="showMemo = !showMemo">
                <i class="fa fa-sticky-note-o">
                    <i class="fa fa-certificate" ng-if="self.memo.content"></i>
                </i>
                <span class="caret"></span>
            </a>
            <textarea
                    class="dropdown-menu dropdown-menu-right"
                    ng-show="showMemo"
                    ng-model="self.memo.content"
            ></textarea>
        </div>
    </div>
    <?php endif;?>

    <?php if ($this->environment()->getClient()->getTheme() !== 'parc'): ?>
    <div class="user-header">
        <?php if ($this->acl()->isAllowed('user:e:user:r')): ?>
            <a href="<?=$this->url('user/form') . "/" . $this->authStorage()->getUser()->getId()?>">
                <?=$this->authStorage()->getUser()->getFirstName()?> (<?=$this->authStorage()->getUser()->getLogin()?>)
                <img class="avatar" src="<?=$this->authStorage()->getUser()->getAvatar()?>" />
            </a>
        <?php else: ?>
            <?=$this->authStorage()->getUser()->getFirstName()?> (<?=$this->authStorage()->getUser()->getLogin()?>)
            <img class="avatar" src="<?=$this->authStorage()->getUser()->getAvatar()?>" />
        <?php endif;?>
        <?php else: ?>
        <div class="user-header" ng-mouseenter="show_menu=true" ng-mouseleave="show_menu=false">
            <?=$this->authStorage()->getUser()->getFirstName()?> (<?=$this->authStorage()->getUser()->getLogin()?>)
            <img class="avatar" src="<?=$this->authStorage()->getUser()->getAvatar()?>" />
            <div class="menu-profile" ng-show="show_menu">
                <div><a href="<?=$this->url('user/form') . "/" . $this->authStorage()->getUser()->getId()?>">
                                <span class="nav-link-icon">
                                    <i class="fa fa-user-circle-o fa-fw" title="icon : profile"></i>
                                </span>
                        <span class="nav-link-text"><?php echo $this->translate('menu_custom_profil'); ?></span>
                    </a>
                </div>
                <div>
                    <a href="/user/auth/logout">
                                <span class="nav-link-icon">
                                    <i class="fa fa-power-off fa-fw" title="icon : logout"></i>
                                </span>
                        <span class="nav-link-text"><?php echo $this->translate('menu_quit'); ?></span>
                    </a>
                </div>
            </div>
            <?php endif;?>

        </div>

        <?php endif;?>

        <div class="nav-toggle text-right">
            <i
                    class="fa fa-fw pointer"
                    ng-click="openNav = !openNav"
                    ng-class="{'fa-bars': !openNav, 'fa-close': openNav}"
            ></i>
        </div>

    </div>
</header>

<div class="layout-container">
    <?php if ($this->authStorage()->isAuthenticated()): ?>
        <div
                class="nav-container"
                ng-controller="navbarController as self"
                ng-class="{open: openNav}"
        >
            <div class="nav-scroller">
                <ul class="nav">
                    <?php echo $this->menu() ?>
                </ul>
                <?php if ($this->environment()->getClient()->getTheme() !== 'parc'): ?>
                    <ul class="nav">
                        <li class="nav-link-logout">
                            <a href="<?=$this->url('user/auth/logout')?>">
                                <span class="nav-link-icon"><?=$this->icon('logout', 'fa-fw')?></span>
                                <span class="nav-link-text"><?=$this->translate('user_nav_logout')?></span>
                            </a>
                        </li>
                    </ul>
                <?php endif;?>
            </div>
        </div>
    <?php endif;?>

    <div class="content-container">
        <div class="content-scroller">
            <div class="container-fluid">
                <?=$this->content;?>
            </div>
        </div>
    </div>

    <div id="flashMessage-container"></div>
</div>

<footer class="footer">

</footer>
<span id="__theme"><?=$this->environment()->getClient()->getTheme()?></span>

<?=
$this->headScript()
->prependFile($this->basepath('vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'))
->prependFile($this->basepath('vendor/angularjs-slider/dist/rzslider.js'))
->prependFile($this->basepath('vendor/angular-selectize2/dist/angular-selectize.js'))
->prependFile($this->basepath('vendor/angular-ui-tinymce/' . ($env === 'development' ? 'src' : 'dist') . '/tinymce' . ($env === 'development' ? '' : '.min') . '.js'))
->prependFile($this->basepath('vendor/angular-ui-sortable/sortable' . ($env === 'development' ? '' : '.min') . '.js'))
->prependFile($this->basepath('vendor/angular-filter/dist/angular-filter' . ($env === 'development' ? '' : '.min') . '.js'))
->prependFile($this->basepath('vendor/angular-file-upload/dist/angular-file-upload' . ($env === 'development' ? '' : '.min') . '.js'))
->prependFile($this->basepath('vendor/angular-nvd3/dist/angular-nvd3' . ($env === 'development' ? '' : '.min') . '.js'))
->prependFile($this->basepath('vendor/angular/angular' . ($env === 'development' ? '' : '.min') . '.js'))
->prependFile($this->basepath('vendor/nvd3/build/nv.d3' . ($env === 'development' ? '' : '.min') . '.js'))
->prependFile($this->basepath('vendor/d3/d3' . ($env === 'development' ? '' : '.min') . '.js'))
->prependFile($this->basepath('vendor/bootstrap/dist/js/bootstrap' . ($env === 'development' ? '' : '.min') . '.js'))
->prependFile($this->basepath('vendor/jquery.inputmask/dist/' . ($env === 'development' ? '' : 'min/') . 'jquery.inputmask.bundle' . ($env === 'development' ? '' : '.min') . '.js'))
->prependFile($this->basepath('vendor/moment/locale/fr.js'))
->prependFile($this->basepath('vendor/moment/min/moment.min.js'))
->prependFile($this->basepath('vendor/selectize/dist/js/standalone/selectize' . ($env === 'development' ? '' : '.min') . '.js'))
->prependFile($this->basepath('js/plugins/tinymce-placeholder-attribute/placeholder/plugin' . ($env === 'development' ? '' : '.min') . '.js'))
->prependFile($this->basepath('vendor/tinymce/tinymce' . ($env === 'development' ? '' : '.min') . '.js'))
->prependFile($this->basepath('vendor/jquery-ui/jquery-ui' . ($env === 'development' ? '' : '.min') . '.js'))
->prependFile($this->basepath('vendor/jquery/dist/jquery' . ($env === 'development' ? '' : '.min') . '.js'))
->prependFile($this->basepath('clients/' . $this->environment()->getClient()->getKey() . '/language.js'))
?>

<?php
$this->angular('js/src/shared/layout/controller/navbar.js', 'prepend');
$this->angular('js/src/shared/service/restFactory.js', 'prepend');
$this->angular('js/src/shared/service/selectFactory.js', 'prepend');
$this->angular('js/src/shared/service/treeBuilder.js', 'prepend');
$this->angular('js/src/shared/service/flashMessenger.js', 'prepend');
$this->angular('js/src/shared/service/guid.js', 'prepend');
$this->angular('js/src/shared/service/translator.js', 'prepend');
$this->angular('js/src/user/service/configuration.js', 'prepend');
$this->angular('js/src/shared/directive/textEditor.js', 'prepend');
$this->angular('js/src/shared/directive/fieldErrors.js', 'prepend');
$this->angular('js/src/shared/directive/tableBuilder.js', 'prepend');
$this->angular('js/src/shared/directive/inputDate.js', 'prepend');
$this->angular('js/src/shared/directive/inputBoolean.js', 'prepend');
$this->angular('js/src/shared/directive/inputMask.js', 'prepend');
$this->angular('js/src/shared/directive/tooltip.js', 'prepend');
$this->angular('js/src/shared/directive/onEnter.js', 'prepend');
$this->angular('js/src/user/service/control.js', 'prepend');
$this->angular('js/src/user/controller/login.js', 'prepend');
$this->angular('js/src/memo/controller/form.js', 'prepend');
$this->angular('js/src/memo/service/memo.js', 'prepend');
$this->angular('js/src/app.js', 'prepend');
?>

<?=$this->inlineScript()?>
<?=$this->angular()?>
</body>
</html>
