<div class="note-button-container pointer" ng-click="showNoteModal();" tooltip="{{'note_entities' | translate | ucfirst}}">
    <i class="fa fa-sticky-note-o"></i>
    <span class="note-counter badge" ng-show="notes.length > 0">{{notes.length}}</span>
</div>

<div id="noteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">{{'note_entities' | translate | ucfirst}}</div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="note in notes">
                        <p>
                            <b>{{note.name}}</b>
                            <a href="#" class="btn btn-danger btn-xs btn-round pull-right margin-left-md"
                               ng-if="note.createdBy.id == currentUser"
                               ng-click="deleteNote(note)">
                                <i class="fa fa-trash"></i>
                            </a>
                            <small class="pull-right">
                                <em>par {{note.createdBy.name}} le {{note.createdAt |  dateFormat : 'DD/MM/YYYY à HH:mm'}}</em>
                            </small>
                        </p>

                        <p ng-if="note.message" class="text-justify">
                            {{note.message}}
                        </p>

                        <a ng-if="note.attachment" href="{{note.attachment.url}}" target="_blank">{{'note_field_attachment' | translate}}</a>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <form name="noteForm" ng-submit="saveNote()">
                    <div class="row" ng-show="showNoteForm">
                        <div class="col-xs-12 text-left">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>{{'note_field_name' | translate}}</label>
                                        <input type="text" class="form-control" required ng-model="note.name"/>
                                        <field-errors field="name" errors="errors.fields"></field-errors>
                                    </div>
                                </div>
                                <div class="col-xs-6" ng-if="uploader">
                                    <div class="form-group">
                                        <label>{{'note_field_attachment' | translate}}</label>
                                        <input type="file" nv-file-select uploader="uploader" ng-model="note.attachment.file" />
                                        <field-errors field="attachment" errors="errors.fields"></field-errors>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>{{'note_field_message' | translate}}</label>
                                        <textarea name="message" class="form-control" ng-model="note.message"></textarea>
                                        <field-errors field="text" errors="errors.fields"></field-errors>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-default" type="button" data-dismiss="modal">
                                {{'close' | translate}}
                            </button>
                            <button class="btn btn-default" type="button" ng-click="showNoteForm = true" ng-show="!showNoteForm">
                                <i class="fa fa-plus"></i> {{'add_note' | translate}}
                            </button>
                            <button class="btn btn-submit" type="submit" ng-show="showNoteForm" ng-disabled="loading.save">
                                {{'save' | translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
