<div id="statusFormModal" class="modal fade" ng-controller="budgetStatusFormController as self">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="taskForm" ng-submit="self.saveStatus();">
                <div class="modal-header">
                    {{self.panelTitle}}
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group required col-xs-12">
                            <label><?= $this->translate('budgetStatus_field_name') ?></label>
                            <input type="text" name="name" class="form-control" required autocomplete="off"
                                   ng-model="self.status.name" ng-readonly="!self.status._rights.update" />
                            <field-errors field="name" errors="self.errors.fields"></field-errors>
                        </div>

                        <div class="form-group col-xs-12">
                            <label><?= $this->translate('budgetStatus_field_lock') ?></label>
                            <br />
                            <input type="checkbox" id="lock"
                                   ng-model="self.status.lock"
                                   ng-disabled="!self.status._rights.update" />
                            <field-errors field="lock" errors="self.errors.fields"></field-errors>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        <?= $this->translate('close') ?>
                    </button>
                    <button class="btn btn-submit" ng-disabled="self.loading.save || !self.status._rights.update">
                        <?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
                        <?= $this->translate('save') ?>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
