<div ng-controller="roleFormController as self" ng-init="self.init(<?= $this->role ? $this->role->getId() : '' ?>)">
    <ul class="breadcrumb">
        <li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
        <li><?= $this->translate('administration_module_title') ?></li>
        <li><a href="<?= $this->url('role') ?>"><?= $this->translate('role_module_title') ?></a></li>
        <li class="active">
            <span ng-if="self.role.id">{{self.panelTitle}}</span>
            <span ng-if="!self.role.id"><?= $this->translate('role_nav_form') ?></span>
        </li>
    </ul>

    <h1 class="page-title">
        <?= $this->icon('role') ?> <?= $this->translate('role_module_title') ?>
    </h1>

    <div class="row row-padding">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <span ng-if="self.role.id">
                        {{self.panelTitle}}
                    </span>
                    <span ng-if="!self.role.id">
                        <?= $this->translate('role_nav_form') ?>
                    </span>

                    <div class="panel-heading-right">
                        <div class="panel-heading-actions" ng-if="self.role.id && self.role._rights.delete" tooltip="<?= $this->translate('tooltip_delete') ?>">
                            <?= $this->icon('delete', 'pointer', ['ng-click' => 'self.deleteRole()']) ?>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form name="roleForm" ng-submit="self.saveRole()">
                        <input type="hidden" name="id"
                               ng-model="self.role.id" />
                        <div class="row">
                            <div class="form-group required col-sm-4">
                                <label><?= $this->translate('role_field_name') ?></label>
                                <input type="text" name="name" class="form-control" required autocomplete="off"
                                       ng-model="self.role.name" ng-readonly="!self.role._rights.update" />
                                <field-errors field="name" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col-sm-10">
                                <table class="table table-bordered">
                                    <tr>
                                        <th class="text-center fit-content"></th>
                                        <th class="text-center fit-content">Créer</th>
                                        <th class="text-center fit-content">Voir</th>
                                        <th class="text-center fit-content">Modifier</th>
                                        <th class="text-center fit-content">Supprimer</th>
                                    </tr>
                                    <?php foreach ($this->modules as $module):
                                        $aclConfiguration = $module->getAclconfiguration(); ?>

                                        <?php if (isset($aclConfiguration['entities']) && $aclConfiguration['entities']): ?>
                                            <tr>
                                                <th class="header"><?= $this->translate($module->getKey() . '_module_title') ?></th>
                                                <th class="header text-center">Créer </th>
                                                <th class="header text-center">Voir</th>
                                                <th class="header text-center">Modifier</th>
                                                <th class="header text-center">Supprimer</th>
                                            </tr>

                                            <?php foreach ($aclConfiguration['entities'] as $entity):
                                                $entityKey  = $module->getKey() . ':e:' . $entity['name'];
                                                $entityName = mb_strtoupper(mb_substr($this->translate($entity['name'] . '_entity'), 0, 1)) . mb_substr($this->translate($entity['name'] . '_entity'), 1); ?>

                                                <tr>
                                                    <td><?= $entityName ?></td>

                                                    <?php foreach (['c', 'r', 'u', 'd'] as $crud):
                                                        $rightKey = $entityKey . ':'. $crud;
                                                        $ngDisabled = $crud == 'r' ? '' : '|| !self.role.rights[\'' . $entityKey . ':r\'].value';
                                                        $ngChange   = $crud == 'r' ? 'ng-change="self.rightReadChanged(\'' . $module->getKey() . '\', \'' . $entity['name'] . '\')"' : '';
                                                        $hasOwnerConfig = isset($entity['owner']) && in_array('own', $entity['owner']);
                                                    ?>

                                                        <td ng-init="self.role.rights['<?= $rightKey ?>'] = { value: false, owner: 'all'}"
                                                            ng-class=" { success: self.role.rights['<?= $rightKey ?>'].value }"
                                                            class="text-center">
                                                            <input ng-model="self.role.rights['<?= $rightKey ?>'].value"
                                                                   ng-disabled="!self.role._rights.update <?= $ngDisabled ?>"
                                                                   <?= $ngChange ?>
                                                                   type="checkbox">

                                                            <?php if ($crud !== 'c'): ?>
                                                                <br>
                                                                <select ng-model="self.role.rights['<?= $rightKey ?>'].owner"
                                                                        ng-disabled="!self.role._rights.update"
                                                                        ng-show="self.role.rights['<?= $rightKey ?>'].value && <?= ($hasOwnerConfig ? 'true' : 'false') ?>">
                                                                    <option value="all"><?= $this->translate('role_field_rights_owner_all') ?></option>                                                                    
                                                                    <?php if ($hasOwnerConfig) : ?>
                                                                    <option value="own"><?= $this->translate('role_field_rights_owner_own') ?></option>
                                                                    <?php endif; ?>
                                                                </select><br><br>
                                                                <select ng-if="<?= $entity['name'] == 'project' ?>"
                                                                        ng-model="self.role.rights['<?= $rightKey ?>'].status"
                                                                        ng-disabled="!self.role._rights.update"
                                                                        ng-show="self.role.rights['<?= $rightKey ?>'].value && <?= ($hasOwnerConfig ? 'true' : 'false') ?>" 
                                                                        multiple>
                                                                    <?php foreach($projectStatuses as $status) : ?>
                                                                        <option value="<?= $status ?>"><?= $this->translate('project_publicationStatus_'.$status) ?></option>
                                                                    <?php endforeach ?>
                                                                </select>
                                                            <?php endif ?>
                                                        </td>
                                                    <?php endforeach ?>
                                                </tr>

                                                <?php if (isset($entity['properties']) && is_array($entity['properties']) && count($entity['properties']) > 0): ?>
                                                    <?php foreach ($entity['properties'] as $property):
                                                        $propertyName  = lcfirst($this->translate($entity['name'] . '_field_' . $property));
                                                        $propertyRight = $module->getKey() . ':p:' . $entity['name'] . ':' . $property;

                                                        $displayProperty = true;
                                                        ?>
                                                        <?php if($displayProperty): ?>
                                                        <tr>
                                                            <td>
                                                                <?= $entityName ?> : <?= $propertyName ?>
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td ng-init="self.role.rights['<?= $propertyRight ?>'] = { value: false }"
                                                                ng-class="{ success: self.role.rights['<?= $propertyRight ?>'].value }"
                                                                class="text-center">
                                                                <input ng-model="self.role.rights['<?= $propertyRight ?>'].value"
                                                                       ng-disabled="
                                                                                   !self.role._rights.update ||
                                                                                   !self.role.rights['<?= $entityKey ?>:r'].value ||
                                                                                   !self.role.rights['<?= $entityKey ?>:u'].value"
                                                                       type="checkbox">
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                        <?php endif; ?>

                                                    <?php endforeach ?>
                                                <?php endif ?>

                                                <?php if (isset($entity['conditions']) && is_array($entity['conditions']) && count($entity['conditions']) > 0): ?>
                                                    <?php foreach ($entity['conditions'] as $condition):
                                                        $propertyName  = lcfirst($this->translate($entity['name'] . '_field_' . $condition['property']));
                                                        $conditionRight = $module->getKey() . ':c:' . $entity['name'] . ':' . $condition['property']; ?>
                                                        <tr>
                                                            <td>
                                                                <?= $entityName ?> : <?= $propertyName ?>
                                                            </td>
                                                            <?php foreach (['c', 'r', 'u', 'd'] as $crud):
                                                                $rightKey = $conditionRight . ':'. $crud; ?>
                                                                <?php if ($crud !== 'r'): ?>
                                                                    <td>
                                                                        <select class="form-control" multiple
                                                                                ng-model="self.role.rights['<?= $rightKey ?>'].value"
                                                                                ng-disabled="
                                                                                    !self.role._rights.update ||
                                                                                    !self.role.rights['<?= $entityKey . ':' . $crud ?>'].value">
                                                                            <?php foreach ($condition['options'] as $option) : ?>
                                                                                <option value="<?= $option['value'] ?>"><?= $this->translate($option['text']) ?></option>
                                                                            <?php endforeach; ?>
                                                                        </select>
                                                                    </td>
                                                                <?php else: ?>
                                                                    <td></td>
                                                                <?php endif; ?>
                                                            <?php endforeach; ?>
                                                        </tr>
                                                    <?php endforeach ?>
                                                <?php endif; ?>
                                            <?php endforeach ?>
                                        <?php endif ?>
                                    <?php endforeach ?>
                                </table>
                                <field-errors field="rights" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>
                        <br />
                        <div class="row" ng-if="self.role._rights.update">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-submit"  ng-disabled="self.loading.remove || self.loading.save" >
                                    <?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
                                    <?= $this->translate('form_button_save') ?>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<?php
$fabLinks = [];

if ($this->acl()->isAllowed('user:e:role:c')) {
    $fabLinks[] = [
        'href' => $this->url('role/form'),
        'text' => $this->icon('create', 'fa-fw') . ' ' . $this->translate('role_nav_form')
    ];
}

echo $this->fabMenu($fabLinks);
?>

<?php
    $this->angular('js/src/user/service/role.js');
    $this->angular('js/src/user/controller/roleForm.js');
