<div ng-controller="unsubscribeController as self">
    <div class="container" id="unsubscribe-page">
        <div class="row">
            <div class="col-xs-12 text-center">
                <?php if ($this->contact->getSubscriptionStatus() !== \Directory\Entity\Contact::SUBSCRIPTION_STATUS_DECLINED) : ?>
                <form action="" method="post">
                    <?= $this->translate('contact_unsubscribe_message') ?>
                    <br />
                    <br />
                    <button type="submit" class="btn btn-danger">
                        <?= $this->translate('contact_unsubscribe_btn_confirm') ?>
                    </button>
                </form>
                <?php else : ?>
                    <?= $this->translate('contact_unsubscribe_success') ?>
                <?php endif; ?>
            </div>
        </div>
    </div>

</div>
<?php
$this->angular('js/src/directory/controller/contact/unsubscribe.js');