<?php
$budgetHTEnabled = $this->module()->getClientModuleConfiguration('budget', 'ht');
?>

	<div
		ng-controller="conventionFormController as self"
		ng-init="self.init(
             <?= $this->convention ? $this->convention->getId() : 'null' ?>,
             <?= str_replace('"', '\'', json_encode($this->expenseTypes())) ?>
         )"
	>
		<ul class="breadcrumb">
			<li><a href="<?= $this->url('root') ?>"><?= $this->icon('home') ?></a></li>
			<li>
				<a href="<?= $this->url('convention') ?>"><?= $this->translate('convention_module_title') ?></a>
			</li>
			<li class="active">
				<span ng-if="self.convention.id">{{self.panelTitle}}</span>
				<span ng-if="!self.convention.id"><?= $this->translate('convention_nav_form') ?></span>
			</li>
		</ul>

		<h1 class="page-title">
			<?= $this->icon('convention') ?> <?= $this->translate('convention_module_title') ?>
		</h1>

		<div class="row row-padding">
			<div class="col-xs-12">
				<div class="panel">
					<div class="panel-heading">
						<span ng-if="self.convention.id">
							{{self.panelTitle}}
						</span>
						<span ng-if="!self.convention.id">
							<?= $this->translate('convention_nav_form') ?>
						</span>

						<div class="panel-heading-right">
							<div class="panel-heading-actions" ng-if="self.convention.id">
								<note-module
									entity="Convention\Entity\Convention"
									right="convention:e:convention"
									primary="self.convention.id"
								></note-module>
							</div>

							<div
								class="panel-heading-actions"
								ng-if="self.convention.id && self.convention._rights.delete"
								tooltip="<?= $this->translate('tooltip_delete') ?>"
							>
								<?= $this->icon('delete', 'pointer', ['ng-click' => 'self.deleteConvention()']) ?>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-2">
								<ul class="convention-form-nav nav nav-pills nav-stacked">
									<li class="active">
										<a href="#convention" data-toggle="tab">
											<?= $this->icon('convention', 'fa-fw') ?> <?= ucfirst($this->translate('convention_entity')) ?>
										</a>
									</li>
									<li ng-show="self.convention.id">
										<a href="#projects" data-toggle="tab">
											<?= $this->icon('project', 'fa-fw') ?> <?= ucfirst($this->translate('project_entities')) ?>
										</a>
									</li>									
									<li ng-show="self.convention.id">
										<a href="#attachments" data-toggle="tab">
											<?= $this->icon('attachment', 'fa-fw') ?> <?= ucfirst($this->translate('attachments_entities')) ?>
										</a>
									</li>
								</ul>
							</div>

							<div class="col-sm-10">
								<div class="tab-content">
									<div class="tab-pane active" id="convention">
										<form name="conventionForm" ng-submit="self.saveConvention()">
											<input
												type="hidden" name="id"
												ng-model="self.convention.id"
											/>

											<?php if ($this->environment()->getClient()->hasNetwork()) : ?>
												<div class="row">
													<div class="form-group col-md-6">
														<label>
															<?= $this->translate('convention_field_networkAccessible') ?>
															<input
																type="checkbox"
																ng-model="self.convention.networkAccessible"
																ng-disabled="!self.convention._rights.update"
															/>
														</label>
														<field-errors
															field="networkAccessible"
															errors="self.errors.fields"
														></field-errors>
													</div>
												</div>
											<?php endif; ?>

											<div class="row">
												<div class="form-group required col-md-6">
													<label><?= $this->translate('convention_field_name') ?></label>
													<input
														type="text"
														name="name"
														class="form-control"
														required
														autocomplete="off"
														ng-model="self.convention.name"
														ng-readonly="!self.convention._rights.update"
													/>
													<field-errors field="name" errors="self.errors.fields"></field-errors>
												</div>
											</div>

											<div class="row">
												<div class="form-group col-md-6">
													<label><?= $this->translate('convention_field_contractor') ?></label>
													<structure-select
														name="financer"
														ng-model="self.convention.contractor"
														ng-disabled="!self.convention._rights.update"
														required="false"
														form="conventionForm"
													></structure-select>
													<field-errors field="financer" errors="self.errors.fields"></field-errors>
												</div>
											</div>

											<div class="row">
												<div class="form-group col-md-6">
													<label><?= $this->translate('convention_field_number') ?></label>
													<input
														type="text"
														name="number"
														class="form-control"
														autocomplete="off"
														ng-model="self.convention.number"
														ng-readonly="!self.convention._rights.update"
													/>
													<field-errors field="number" errors="self.errors.fields"></field-errors>
												</div>
											</div>

											<div class="row">
												<div class="form-group col-md-6">
													<label><?= $this->translate('convention_field_numberArr') ?></label>
													<input
														type="text"
														name="numberArr"
														class="form-control"
														autocomplete="off"
														ng-model="self.convention.numberArr"
														ng-readonly="!self.convention._rights.update"
													/>
													<field-errors
														field="numberArr"
														errors="self.errors.fields"
													></field-errors>
												</div>
											</div>

											<div class="row">
												<div class="form-group col-xs-6">
													<label><?= $this->translate('convention_field_progress') ?></label>
													<div class="input-group">
														<input
															type="text"
															name="progress"
															class="form-control"
															autocomplete="off"
															input-mask="integer"
															ng-model="self.convention.progress"
															ng-readonly="!self.convention._rights.update"
														/>
														<span class="input-group-addon">%</span>
													</div>
													<field-errors field="progress" errors="self.errors.fields"></field-errors>
												</div>
											</div>

											<div class="row">
												<div class="form-group col-xs-6 col-md-3">
													<label><?= $this->translate('convention_field_start') ?></label>
													<input
														type="text"
														name="start"
														class="form-control"
														autocomplete="off"
														input-date
														input-date-mask="date"
														ng-model="self.convention.start"
														ng-readonly="!self.convention._rights.update"
													/>
													<field-errors field="start" errors="self.errors.fields"></field-errors>
												</div>
												<div class="form-group col-xs-6 col-md-3">
													<label><?= $this->translate('convention_field_end') ?></label>
													<input
														type="text"
														name="end"
														class="form-control"
														autocomplete="off"
														input-date
														input-date-mask="date"
														ng-model="self.convention.end"
														ng-readonly="!self.convention._rights.update"
													/>
													<field-errors field="end" errors="self.errors.fields"></field-errors>
												</div>
											</div>

											<div class="row">
												<div class="form-group col-md-6">
													<label><?= $this->translate('convention_field_description') ?></label>
													<textarea
														name="description"
														class="form-control"
														ng-model="self.convention.description"
														ng-readonly="!self.convention._rights.update"
													></textarea>
													<field-errors
														field="description"
														errors="self.errors.fields"
													></field-errors>
												</div>
											</div>

											<div class="row">
												<div class="form-group col-xs-6 col-md-3">
													<label><?= $this->translate('convention_field_decisionDate') ?></label>
													<input
														type="text"
														name="decisionDate"
														class="form-control"
														autocomplete="off"
														input-date
														input-date-mask="date"
														ng-model="self.convention.decisionDate"
														ng-readonly="!self.convention._rights.update"
													/>
													<field-errors
														field="decisionDate"
														errors="self.errors.fields"
													></field-errors>
												</div>
												<div class="form-group col-xs-6 col-md-3">
													<label><?= $this->translate('convention_field_notificationDate') ?></label>
													<input
														type="text"
														name="notificationDate"
														class="form-control"
														autocomplete="off"
														input-date
														input-date-mask="date"
														ng-model="self.convention.notificationDate"
														ng-readonly="!self.convention._rights.update"
													/>
													<field-errors
														field="notificationDate"
														errors="self.errors.fields"
													></field-errors>
												</div>
											</div>

											<div class="row">
												<div class="form-group col-xs-6 col-md-3">
													<label><?= $this->translate('convention_field_returnDate') ?></label>
													<input
														type="text"
														name="returnDate"
														class="form-control"
														autocomplete="off"
														input-date
														input-date-mask="date"
														ng-model="self.convention.returnDate"
														ng-readonly="!self.convention._rights.update"
													/>
													<field-errors
														field="returnDate"
														errors="self.errors.fields"
													></field-errors>
												</div>
											</div>

											<div class="row">
												<div class="form-group col-xs-6 col-md-3">
													<label><?= $this->translate('convention_field_amount') ?></label>
													<input
														type="text"
														name="amount"
														class="form-control"
														autocomplete="off"
														input-mask="decimal"
														ng-model="self.convention.amount"
														ng-readonly="!self.convention._rights.update"
													/>
													<field-errors field="amount" errors="self.errors.fields"></field-errors>
												</div>
												<div class="form-group col-xs-6 col-md-3">
													<label><?= $this->translate('convention_field_amountSubv') ?></label>
													<input
														type="text"
														name="amountSubv"
														class="form-control"
														autocomplete="off"
														input-mask="decimal"
														ng-model="self.convention.amountSubv"
														ng-readonly="!self.convention._rights.update"
													/>
													<field-errors
														field="amountSubv"
														errors="self.errors.fields"
													></field-errors>
												</div>
											</div>

											<div class="row">
												<div class="form-group col-xs-6 col-md-6">
													<label><?= $this->translate('convention_field_members') ?></label>
													<user-select
														ng-model="self.convention.members"
														multiple="true"
														ng-disabled="!self.convention._rights.update"
													></user-select>
													<field-errors field="members" errors="self.errors.fields"></field-errors>
												</div>
											</div>

											<?php if ($this->module()->isActive('keyword')) : ?>
												<div class="row">
													<div class="col-sm-6">
														<fieldset>
															<legend><?= $this->icon('keyword', 'fa-fw') ?> <?= $this->translate('keywords') ?></legend>
															<keywords-form-group
																entity="convention"
																ng-model="self.convention"
															></keywords-form-group>
														</fieldset>
													</div>
												</div>
											<?php endif; ?>

											<?php if ($this->module()->isActive('map')) : ?>
												<div class="row">
													<div class="col-sm-6">
														<fieldset>
															<legend><?= $this->icon('territory', 'fa-fw') ?> <?= ucfirst($this->translate('territory_entities')) ?></legend>
															<div class="row">
																<div class="form-group col-xs-12">
																	<territories-form-group ng-model="self.convention"></territories-form-group>
																</div>
															</div>
														</fieldset>
													</div>
												</div>
											<?php endif; ?>

											<div class="row" ng-if="self.convention._rights.update">
												<div class="col-xs-12">
													<button
														type="submit"
														class="btn btn-submit"
														ng-disabled="self.loading.remove || self.loading.save"
													>
														<?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
														<?= $this->translate('form_button_save') ?>
													</button>
												</div>
											</div>
										</form>
									</div>

									<div class="tab-pane" id="projects">
										<?php if ($this->acl()->isAllowed('convention:e:convention:u')) : ?>
											<div class="row separator">
												<div class="col-sm-4">
													<button
														type="button"
														class="btn btn-lg"
														ng-click="self.createConventionLine();"
													>
														<?= $this->icon('create') ?>
														<?= $this->translate('convention_line_nav_form') ?>
													</button>
												</div>
											</div>
										<?php endif; ?>
										<div class="row">
											<div class="col-xs-12">
												<form name="conventionLineForm">
													<div class="table-responsive">
														<table
															id="convention-line-table"
															class="table table-bordered table-hover"
														>
															<thead>
																<tr>
																	<th>
																		<?= $this->translate('convention_line_field_project') ?>
																	</th>
																	<th>
																		<?= $this->translate('convention_synthese_total_amount_project') ?>
																	</th>
																	<th>
																		<?= $this->translate('convention_line_field_percentage') ?>
																	</th>
																	<th
																		colspan="{{self.convention.financers.length * 2 + 1}}"
																		class="text-center"
																	>
																		<?= $this->translate('convention_synthese_financer_repartition') ?>
																	</th>
																	<th>
																		<?= $this->translate('convention_synthese_time_spent') ?>
																	</th>
																	<th>
																		<?= $this->translate('convention_synthese_autofinancement') ?>
																	</th>
																	<th
																		colspan="<?= $budgetHTEnabled
																			? 2 * sizeOf($this->expenseTypes())
																			: sizeOf($this->expenseTypes()) ?>"
																		class="text-center"
																	>
																		<?= ucfirst($this->translate('convention_subventions_entities')) ?>
																	</th>
																	<th></th>
																</tr>
																<tr>
																	<th></th>
																	<th></th>
																	<th></th>
																	<th colspan="2" ng-repeat="financer in self.convention.financers">
																		{{financer.name}}
																	</th>
																	<th>Total</th>
																	<th></th>
																	<th></th>

																	<?php foreach ($this->expenseTypes() as $type): ?>
																		<th>
																			<?= $this->translate('expense_type_' . $type) ?>
																		</th>

																		<?php if ($budgetHTEnabled): ?>
																			<th>
																				<?= $this->translate('expense_type_' . $type . '_ht') ?>
																			</th>
																		<?php endif ?>
																	<?php endforeach ?>

																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="line in self.convention.lines">
																	<td class="no-wrap">
																		<a href="<?= $this->url('project/form') ?>/{{line.project.id}}#conventions">
																			{{line.project.code}} - {{line.project.name}}
																		</a>
																	</td>
																	<td class="text-right no-wrap">
																		{{line.project.amountIncomeArboRequested | currency : ''}} €
																	</td>
																	<td class="editable text-right no-wrap">
																		<span ng-show="self.editedLine !== line">
																			{{line.percentage}}%
																			<?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(line)', 'ng-if' => 'self.convention._rights.update']) ?>
																		</span>
																		<span ng-if="self.editedLine == line">
																			<input
																				type="text"
																				class="form-control input-sm"
																				ng-model="self.editedLineFields.percentage"
																			/>
																			<field-errors
																				field="percentage"
																				errors="self.editedLineErrors"
																			></field-errors>
																		</span>
																	</td>
																	<td
																		ng-repeat-start="financer in self.convention.financers"
																		class="text-right no-wrap"
																	>
																		<span ng-if="line.project.financerRepartitionIncomeArboRequested[financer.id]">
																			{{self.getAmountFinancerProject(line.percentage, line.project.amountIncomeArboRequested, line.project.financerRepartitionIncomeArboRequested[financer.id].percentage) | currency : ''}} €
																		</span>
																	</td>
																	<td ng-repeat-end class="text-right no-wrap fit-content">
																		<span ng-if="line.project.financerRepartitionIncomeArboRequested[financer.id]">
																			{{line.project.financerRepartitionIncomeArboRequested[financer.id].percentage | number : 1 || 0}}%
																		</span>
																	</td>
																	<td class="text-right no-wrap">
																		{{(line.project.amountIncomeArboRequested * line.percentage) / 100 | currency : ''}} €
																	</td>
																	<td class="text-right no-wrap">
																		{{(line.project.timeSpent * line.percentage) / 100}} h.
																	</td>
																	<td class="text-right no-wrap">
																		{{(line.project.amountIncomeAutofinancementArboRequested * line.percentage) / 100 | currency : ''}} €
																	</td>

																	<?php foreach ($this->expenseTypes() as $type): ?>
																		<td class="text-right no-wrap">
																			{{(line.project.amountExpenseArbo<?= ucfirst($type) ?> * line.percentage) / 100 | currency : ''}} €
																		</td>

																		<?php if ($budgetHTEnabled): ?>
																			<td class="text-right no-wrap">
																				{{(line.project.amountHTExpenseArbo<?= ucfirst($type) ?> * line.percentage) / 100 | currency : ''}} €
																			</td>
																		<?php endif ?>
																	<?php endforeach ?>

																	<td>
																		<div
																			class="btn-group btn-group-actions"
																			ng-if="self.editedLine !== line"
																		>
																			<?php if ($this->acl()->isAllowed('convention:e:convention:u')) : ?>
																				<a
																					ng-if="self.convention._rights.delete"
																					href=""
																					class="btn btn-xs btn-default"
																					tooltip="<?= $this->translate('tooltip_delete') ?>"
																					ng-click="self.deleteLine(line)"
																				>
																					<?= $this->icon('delete') ?>
																				</a>
																			<?php endif; ?>
																		</div>
																		<div
																			class="btn-group btn-group-actions"
																			ng-if="self.editedLine == line"
																		>
																			<button
																				class="btn btn-xs btn-default"
																				ng-click="self.saveEditedLine(line)"
																				type="submit"
																				tooltip="<?= $this->translate('tooltip_save') ?>"
																			>
																				<?= $this->icon('save') ?>
																			</button>
																			<button
																				class="btn btn-xs btn-default"
																				ng-click="self.editedLine = null"
																				type="button"
																				tooltip="<?= $this->translate('tooltip_cancel') ?>"
																			>
																				<?= $this->icon('close') ?>
																			</button>
																		</div>
																	</td>
																</tr>
															</tbody>
															<tfoot>
																<tr class="footer">
																	<th>Total</th>
																	<th class="text-right no-wrap">
																		{{self.getTotalAmountIncomeRequested() | currency : ''}} €
																	</th>
																	<th></th>
																	<th
																		ng-repeat-start="financer in self.convention.financers"
																		class="text-right no-wrap"
																	>
																		{{self.getAmountFinancerTotal(financer) | currency : ''}} €
																	</th>
																	<th ng-repeat-end></th>
																	<th class="text-right no-wrap">
																		{{self.getPartTotalAmountIncomeRequested() | currency : ''}} €
																	</th>
																	<th class="text-right no-wrap">
																		{{self.getTotalTimeSpent()}} h.
																	</th>
																	<th class="text-right no-wrap">
																		{{self.getTotalAmountIncomeAutofinancementRequested() | currency : ''}} €
																	</th>

																	<?php foreach ($this->expenseTypes() as $type): ?>
																		<th class="text-right no-wrap">
																			{{self.getTotalAmountExpense('<?= $type ?>') | currency : ''}} €
																		</th>

																		<?php if ($budgetHTEnabled): ?>
																			<th class="text-right no-wrap">
																				{{self.getTotalAmountExpense('<?= $type ?>', true) | currency : ''}} €
																			</th>
																		<?php endif ?>
																	<?php endforeach ?>

																	<th></th>
																</tr>
															</tfoot>
														</table>
													</div>
												</form>
											</div>
										</div>
									</div>

									<div class="tab-pane" id="attachments" ng-if="self.convention.id">
										<?= $this->partial('attachment/partial/list.phtml', ['right' => 'convention:e:convention', 'from' => 'Convention\\\Entity\\\Convention', 'object' => $this->convention, 'model_id' => 'self.convention.id']) ?>
									</div>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<?= $this->partial('convention/partial/line/form.phtml', ['from' => 'convention', 'object' => $this->convention]) ?>
	</div>

<?php
$fabLinks = [];

if ($this->acl()->isAllowed('convention:e:convention:c')) {
	$fabLinks[] = [
		'href' => $this->url('convention/form'),
		'text' => $this->icon('create', 'fa-fw') . ' ' . $this->translate('convention_nav_form'),
	];
	$fabLinks[] = [
		'href' => $this->url('import', ['entity' => 'convention']),
		'text' => $this->icon('import', 'fa-fw') . ' ' . $this->translate('convention_nav_import'),
	];
}

echo $this->fabMenu($fabLinks);

$this->angular('js/src/keyword/directive/keywordsFormGroup.js');
$this->angular('js/src/keyword/directive/keywordSelect.js');
$this->angular('js/src/keyword/service/group.js');
$this->angular('js/src/keyword/service/keyword.js');

$this->angular('js/src/user/directive/userSelect.js');
$this->angular('js/src/user/service/user.js');

$this->angular('js/src/application/query/service/query.js');

$this->angular('js/src/convention/service/convention.js');
$this->angular('js/src/convention/service/line.js');
$this->angular('js/src/project/directive/projectSelect.js');
$this->angular('js/src/directory/service/structure.js');
$this->angular('js/src/project/service/project.js');
$this->angular('js/src/directory/directive/structureSelect.js');
$this->angular('js/src/convention/controller/convention/form.js');
$this->angular('js/src/convention/controller/line/form.js');

/** Notes **/
$this->angular('js/src/note/directive/noteModule.js');
$this->angular('js/src/note/service/note.js');

/** Territories */
$this->angular('js/src/map/service/territory.js');
$this->angular('js/src/map/directive/territorySelect.js');
$this->angular('js/src/map/directive/territoriesFormGroup.js');
