.btn {
  border-radius: 0;
  font-size: 1rem;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.btn.btn-flat {
  background-color: transparent;
  box-shadow: none;
  outline: 0;
}
.btn.btn-flat.no-hover:hover {
  box-shadow: none !important;
}
.btn.btn-excel {
  background-color: #207345;
  color: #FFF;
}
.btn-expand {
  width: 100% !important;
}
.btn-group + .btn-group {
  margin-left: 8px;
  margin-right: 8px;
}
