.form-control {
  border-radius: 0;
  font-size: 1rem;
}
label {
  font-size: 1rem;
}
.errors-group ul {
  margin-top: 10px;
}
.errors-group ul li {
  color: #CC0000;
}
.ui-select-bootstrap .ui-select-choices-row > a {
  font-size: 1rem;
}
.ui-select-bootstrap > .ui-select-match > .btn[disabled]:hover {
  background-color: #eee;
}
.ui-select-bootstrap > .ui-select-match > .btn[disabled] {
  cursor: inherit;
  opacity: 1;
}
.ui-select-bootstrap > .ui-select-match > .btn[disabled] i.caret {
  display: none;
}
