html, body {
  font-size: 80%;
  height: 100%;
  font-family: "roboto";
}

.header-container {
  background-color: @headerBackgroundColor;
  border-bottom: 1px solid @headerBorderColor;
  color: @headerColor;
  display: table;
  height: @headerHeight;
  position: relative;
  width: 100%;

  .environment-info {
    display: table-cell;
    font-size: 0.8rem;
    vertical-align: top;
  }

  .logo-header {
    max-height: @headerHeight;
    background: #fff;
    padding: 5px;
  }

  .user-header {
    display: table-cell;
    text-align: right;
    width: 1%;
    white-space: nowrap;
    font-size: 1rem;
    padding: 7.5px 10px;

    a {
      color: @headerColor;

      &:hover, &:focus, &:active, &:visited {
        text-decoration: none;
      }
    }

    .avatar {
      width: 35px;
      height: 35px;
      border: 1px solid @headerBorderColor;
      margin-left: 5px;
    }
  }

  .nav-toggle {
    i {
      font-size:2rem;
      vertical-align: middle;
    }

    @media(min-width: 768px) {
        display: none;
    }
  }
}

footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @footerHeight;
  background: @footerBackgroundColor;
  border-top: 1px solid @headerBorderColor;
  vertical-align: middle;
  color: @footerColor;
  font-size: 1rem;
  line-height: @footerHeight;
  padding: 0 10px;
  z-index: 1000;

  a {
    color: #fff;
  }
}

.layout-container {
  display: table;
  font-size: 1rem;
  height: ~"calc(100% - "@headerHeight + @footerHeight~")";
  width: 100%;
  table-layout: fixed;

  .nav-scroller,
  .content-scroller {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }

  .content-scroller {
    -webkit-overflow-scrolling: touch;
  }

  .nav-container {
    background-color: @navBackgroundColor;
    border-right: 1px solid @navBorderColor;
    color: @navColor;
    display: none;

    position: fixed;
    width: 100%;
    z-index: 9999;
    height: 100%;
  
    &.open {
      display: block;
    }

    @media(min-width: 768px) {
      position: relative;
      width: 50px;
      z-index: auto;
      height: auto;
      display: table-cell;

      &.open {
        display: table-cell;
      }
    }

    @media(min-width: 1200px) {
      width: @navWidth;
    }

    .nav {

      li.separator {
        border-top: 1px solid @navBackgroundColor;
      }

      li {

        a {
          background-color: @navMenuItemBackgroundColor;
          color: @navMenuItemColor;
          font-size: 1rem;
          padding: 15px;

          @media(min-width: 768px) {
            text-align: center;
          }

          @media(min-width: 1200px) {
            text-align: left;
          }

          i:first-child {
            margin-right: 15px;

            @media(min-width: 768px) {
              margin-right: 0;
            }

            @media(min-width: 1200px) {
              margin-right: 15px;
            }
          }

          i.nav-arrow {
            float: right;
            line-height: 1.5rem;
            font-size: 0.8rem;

            @media(min-width: 768px) {
              display: none;
            }

            @media(min-width: 1200px) {
              display: inline;
            }
          }

          > span.nav-link-text {
            @media(min-width: 768px) {
              display: none;
            }

            @media(min-width: 1200px) {
              display: inline;
            }
          }
        }

        a:hover, a.active {
          background-color: @navMenuItemBackgroundColorHover !important;
          color: @navMenuItemColorHover !important;
        }
      }

      li.open {
        > a {
          background-color: @navMenuItemBackgroundColorHover;
          color: @navMenuItemColorHover;

          > i.nav-arrow {
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
          }
        }
        .nav.open {
          max-height: 3000px;

          transition: max-height 1s linear;
          -ms-transition: max-height 1s linear;
          -moz-transition: max-height 1s linear;
          -webkit-transition: max-height 1s linear;
        }
      }

      .nav {
        max-height: 0;
        overflow-y: hidden;

        li {
          a {
            background-color: @navSubMenuItemBackgroundColor;
            color: @navSubMenuItemColor;
            font-size: 0.9rem;
            padding-left: 30px;

            @media(min-width: 768px) {
              padding-left: 15px;
            }

            @media(min-width: 1200px) {
              padding-left: 30px;
            }
          }

          a:hover {
            background-color: @navSubMenuItemBackgroundColorHover;
            color: @navSubMenuItemColorHover;
          }
        }
      }
    }

    .nav:not(:last-child) {
      border-bottom: 1px solid @navMenuBorderColor;
    }
  }

  .content-container {
    background: @contentBackgroundColor;
    display: table-cell;
    width: 100%;
  }

  .container-fluid { 
    margin: 0 -15px;
  }
}

.tooltip-nav {
  display: none;
  @media(min-width: 768px) {
    display: block;
  }

  @media(min-width: 1200px) {
    display: none !important;
  }

  .tooltip-inner {
    background-color: @navMenuItemBackgroundColorHover;
    color: @navMenuItemColorHover;
    border: 1px solid @navMenuItemBackgroundColorHover;
    font-size: 1rem;
    box-shadow: 0 2px 5px 0 rgba(35, 50, 55, 0.18), 0 2px 10px 0 rgba(35, 50, 55, 0.14);
  }

  .tooltip-arrow {
    border-right-color: @navMenuItemBackgroundColorHover !important;
  }
}


.fab-menu {
  position: fixed;
  bottom: ~"calc(20px + "@footerHeight~")";
  right: 20px;
  z-index: 10;

  .fab-button {
    background: @fabButtonBackgroundColor;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    box-shadow: 0 0 10px 1px #7F7676;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;

    i {
      font-size: 20px;
      position: absolute;
      top: 10px;
      left: 12px;
      color: @fabButtonColor;
    }
  }

  .fab-links-container {
    margin-bottom: 55px;
    width: 0;

    transform: scaleY(0);
    transform-origin: bottom;
    transition:transform 350ms ease;
  }

  .fab-links-container.open {
    box-shadow: 0 0 5px 2px #868686;
    width: auto;

    transform: scaleY(1);
  }

  .fab-links {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      background: @fabButtonBackgroundColor;

      a {
        display: block;
        padding: 10px;
        color: @fabButtonColor;
        text-decoration: none;
      }
    }

    li:hover {
      background-color: @fabLinkBackgroundHover;
    }
  }

  .fab-caret {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: @fabButtonBackgroundColor transparent transparent transparent;
    position: absolute;
    right: 10px;
  }
}

.fab-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.48);
  z-index: 7;
}

#__theme {
  display: none;
}

.no-scroll {
  overflow: hidden;
  .content-scroller {
    overflow: hidden;
  }
}