html,
body {
  font-size: 80%;
  height: 100%;
}
.header-container {
  background-color: #FEFEFE;
  border-bottom: 1px solid #D4D4D4;
  color: #333333;
  display: table;
  height: 50px;
  padding: 5px 10px;
  position: relative;
  width: 100%;
}
.header-container .environment-info {
  display: table-cell;
  font-size: 0.8rem;
  vertical-align: top;
}
.header-container .global-http-loading {
  display: table-cell;
  font-size: 20px;
  text-align: right;
  vertical-align: middle;
}
.layout-container {
  display: table;
  font-size: 1rem;
  height: calc(100% -  50px );
  width: 100%;
}
.layout-container .nav-scroller,
.layout-container .content-scroller {
  overflow: auto;
  position: relative;
}
.layout-container .nav-container {
  background-color: #353d47;
  border-right: 1px solid #353d47;
  color: #FEFEFE;
  display: table-cell;
  width: 175px;
}
.layout-container .nav-container .nav li a {
  background-color: #353d47;
  color: #FEFEFE;
  font-size: 1rem;
}
.layout-container .nav-container .nav li a i:first-child {
  margin-right: 15px;
}
.layout-container .nav-container .nav li a i.nav-arrow {
  float: right;
  line-height: 1.5rem;
  font-size: 0.8rem;
}
.layout-container .nav-container .nav li a:hover {
  background-color: #272B2F;
  color: #FEFEFE;
}
.layout-container .nav-container .nav li.open > a {
  background-color: #272B2F;
  color: #FEFEFE;
}
.layout-container .nav-container .nav li.open > a > i.nav-arrow {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
.layout-container .nav-container .nav li.open .nav.open {
  max-height: 3000px;
  transition: max-height 1s linear;
  -ms-transition: max-height 1s linear;
  -moz-transition: max-height 1s linear;
  -webkit-transition: max-height 1s linear;
}
.layout-container .nav-container .nav .nav {
  max-height: 0;
  overflow-y: hidden;
}
.layout-container .nav-container .nav .nav li a {
  background-color: #4A525A;
  color: #FEFEFE;
  font-size: 0.9rem;
  padding-left: 30px;
}
.layout-container .nav-container .nav .nav li a:hover {
  background-color: #272B2F;
  color: #FEFEFE;
}
.layout-container .nav-container .nav:not(:last-child) {
  border-bottom: 1px solid #3D4E63;
}
.layout-container .content-container {
  background: #F3F3F3;
  display: table-cell;
}
