h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1.page-title {
  color: @pageTitleColor;
  background: @pageTitleBackground;
  border-bottom: 1px solid @pageTitleBorderColor;
  border-top: 1px solid @pageTitleBorderColor;
  font-size: 1.7rem;
  margin-bottom: @pagePadding;
  padding: 15px @pagePadding;

  > i {
    color: @pageTitleIconColor;
    margin-right: 10px;
  }
}

.breadcrumb {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 0.9rem;
  margin: 0;
  padding-left: @pagePadding;
  padding-right: @pagePadding;
  background-color: @contentBackgroundColor;
}

.panel {
  background-color: @panelBackgroundColor;
  border: 1px solid @panelBorderColor;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 1rem;

  .nav-pills {
    box-shadow: 0 2px 5px 0 rgba(35, 50, 55, 0.18), 0 2px 10px 0 rgba(35, 50, 55, 0.14);
  }
}

.panel-heading {
  background-color: @panelHeadingBackgroundColor;
  border-bottom: 1px solid @panelInnerBorderColor;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: relative;

  .panel-heading-right {
    float: right;
    position: absolute;
    top: 0;
    right: 15px;
    height: 100%;
    line-height: 3rem;

    &.decal-right{
      margin-top: 1px;
      margin-right: 40px;
    }
  }

  .panel-heading-actions {
    border-left: 1px solid @panelInnerBorderColor;

    line-height: 3rem;
    height: 100%;
    padding: 0 0 0 15px;
    margin-left: 15px;
    display: inline-block;
  }
}

.table {
  margin-bottom: 0;
}

.nav-pills > li > a,
.alert,
.nav-tabs > li > a,
.list-group-item:first-child,
.list-group-item:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: @activeBackgroundColor;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: @activeBackgroundColor;
  border-color: @activeBackgroundColor;

  a {
    color: @activeColor;
  }
}

.little-panel {
  margin-bottom : 15px;

  .title {
    padding: 10px 15px;
    background-color: @activeBackgroundColor;
    color: @activeColor;

    i.fa {
      margin-right: 10px;
    }
  }

  .title[data-toggle="collapse"] {
    cursor: pointer;
  }

  .body {
    padding: 5px 0;
  }
}

.dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius:0;
  line-height: initial;
}

.modal-body {
  max-height: 500px;
  overflow: auto;
}

#flashMessage-container {
  position: absolute;
  z-index: 999999;
  top: 55px;
  left: 25%;
  margin: auto;
  width: 50%;

  .alert {
    box-shadow: 0 0 4px 0 #989898;
    word-wrap: break-word;
  }
}

.alert-success {
  background-color: @successBackgroundColor;
  border-color: @successBorderColor;
  color: @successColor;
}

.alert-danger {
  background-color: @dangerBackgroundColor;
  border-color: @dangerBorderColor;
  color: @dangerColor;
}


.badge {
  font-size: 1rem;
  font-weight: normal;
  vertical-align: initial;
}

.progress {
  margin: 0;
}

.section-title {
  padding: 10px;
  background: #DEDEDE;
  position: relative;

  .btn-group {
    position: absolute;
    right: 10px;
    top: 4px;
  }
}

.slice-selected {
  stroke: #ea2f2f !important;
  stroke-width: 2px !important;
}

nvd3 > svg {
  overflow: visible !important;
}

.modal {
  z-index: 2050;
}

.modal-backdrop {
  z-index: 2040;
}