h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1.page-title {
  color: #333333;
  background: #E0E0E0;
  border-bottom: 1px solid #D4D4D4;
  border-top: 1px solid #D4D4D4;
  font-size: 1.7rem;
  margin-bottom: 15px;
  padding: 15px 15px;
}
h1.page-title > i {
  color: #333333;
  margin-right: 10px;
}
.breadcrumb {
  border-radius: 0;
  font-size: 0.9rem;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.content-container .row {
  margin: 0;
}
.panel {
  background-color: #FEFEFE;
  border: 1px solid #D4D4D4;
  border-radius: 0;
  font-size: 1rem;
}
.panel-heading {
  background-color: #FEFEFE;
  border-bottom: 1px solid #D4D4D4;
  border-radius: 0;
  position: relative;
}
.panel-heading .panel-heading-actions {
  border-left: 1px solid #D4D4D4;
  float: right;
  line-height: 3rem;
  height: 100%;
  padding: 0 15px;
  position: absolute;
  top: 0;
  right: 0;
}
.table {
  margin-bottom: 0;
}
.nav-pills > li > a,
.alert,
.nav-tabs > li > a,
.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #4E5864;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #4E5864;
  border-color: #4E5864;
}
.list-group-item.active a,
.list-group-item.active:hover a,
.list-group-item.active:focus a {
  color: #FEFEFE;
}
