<div ng-controller="budgetCodeListController as self" ng-init="self.init(<?= $this->project ? $this->project->getId() : null ?>)" class="row">
	<div class="col-xs-12">
		<table-builder options="self.options" items="self.budgetCodes" class="table-builder">
			<div class="row">
				<div class="col-sm-4">
					<div ng-controller="filterController" class="table-filters little-panel">
						<div href="#filters-collapsed-budgetCode" data-toggle="collapse" class="title">
							<?= $this->icon('filters', 'fa-fw') ?>
							<?= $this->translate('filters') ?>
						</div>

						<div id="filters-collapsed-budgetCode" class="body collapse">
							<?= $this->tableFilter('__tb.apiParams.search.data.filters', $this->budgetCodeFilters()) ?>
							<div class="row">
								<div class="col-xs-6">
									<button ng-click="self.resetfullTextSearch(); __tb.resetFilters(); __tb.loadData()" class="btn">
										<?= $this->translate('table_filter_reset_button') ?>
									</button>
								</div>

								<div class="col-xs-6 text-right">
									<button ng-click="self.resetfullTextSearch(); __tb.loadData()" class="btn">
										<?= $this->icon('search', 'fa-fw') ?>
										<?= $this->translate('table_filter_button') ?>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<table-builder-columns></table-builder-columns>
				</div>

				<?php if ($this->acl()->isAllowed('application:e:query:r')) : ?>
					<div class="col-sm-4">
						<table-builder-queries></table-builder-queries>
					</div>
				<?php endif; ?>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="btn-group pull-right">
						<button ng-click="__tb.removeFromList()" class="btn btn-lg" tooltip="<?= $this->translate('tooltip_remove_from_list') ?>">
							<?= $this->icon('eraser', 'fa-fw pointer') ?>
						</button>

						<button ng-click="__tb.exportExcel()" class="btn btn-lg btn-excel" tooltip="<?= $this->translate('tooltip_export_xls') ?>">
							<?= $this->icon('excel', 'fa-fw pointer') ?>
						</button>
					</div>

					<div class="btn-group pull-right">
						<?php if ($this->acl()->isAllowed('budget:e:budgetCode:c')) : ?>
							<button ng-click="self.openModal()" class="btn btn-lg">
								<?= $this->icon('create') ?>
								<?= $this->translate('budgetCode_nav_form') ?>
							</button>
						<?php endif ?>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-xs-12">
					<table table-builder-table class="table table-bordered table-condensed table-hover">
						<thead>
							<tr>
								<th tb-column tb-name="selection" class="checkbox-column">
									<input type="checkbox" ng-model="__tb.selection" />
								</th>

								<th tb-column tb-name="name" tb-sortable="true" tb-toggle="true">
									<?= $this->translate('budgetCode_field_name') ?>
								</th>

								<th tb-column tb-name="createdAt" tb-sortable="true" tb-toggle="true" tb-hidden="true">
									<?= $this->translate('budgetCode_field_createdAt') ?>
								</th>

								<th tb-column tb-name="updatedAt" tb-sortable="true" tb-toggle="true" tb-hidden="true">
									<?= $this->translate('budgetCode_field_updatedAt') ?>
								</th>

								<th tb-column tb-name="actions" class="actions-column"></th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="budgetCode in self.budgetCodes" ng-class="{ editing: self.editedLine == budgetCode }">
								<td>
									<input type="checkbox" ng-model="budgetCode.selected" />
								</td>

								<td class="editable">
									<span ng-show="self.editedLine !== budgetCode">
										{{ budgetCode.name }}

										<?= $this->icon('inline-edit', '', [
											'ng-click' => 'self.editLine(budgetCode)',
											'ng-if' => 'budgetCode._rights.update'
										]) ?>
									</span>

									<span ng-if="self.editedLine == budgetCode">
										<input type="text" class="form-control input-sm" ng-model="self.editedLineFields.name" required />

										<field-errors field="name" errors="self.editedLineErrors"></field-errors>
									</span>
								</td>

								<td>{{ budgetCode.createdAt | dateFormat : 'DD/MM/YYYY' }}</td>

								<td>{{ budgetCode.updatedAt | dateFormat : 'DD/MM/YYYY' }}</td>

								<td>
									<div class="btn-group btn-group-actions" ng-if="self.editedLine != budgetCode">
										<?php if ($this->acl()->isAllowed('budget:e:budgetCode:r')) : ?>
											<a ng-if="budgetCode._rights.read" class="btn btn-xs btn-default" ng-click="self.openModal(budgetCode)" tooltip="<?= $this->translate('tooltip_edit') ?>">
												<?= $this->icon('edit') ?>
											</a>
										<?php endif ?>

										<?php if ($this->acl()->isAllowed('budget:e:budgetCode:d')) : ?>
											<a ng-if="budgetCode._rights.delete" ng-click="self.delete(budgetCode)" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_delete') ?>">
												<?= $this->icon('delete') ?>
											</a>
										<?php endif ?>
									</div>

									<div ng-if="self.editedLine == budgetCode" class="btn-group btn-group-actions">
										<button class="btn btn-xs btn-default" ng-click="self.saveEditedLine(budgetCode)" tooltip="<?= $this->translate('tooltip_save') ?>">
											<?= $this->icon('save') ?>
										</button>

										<button class="btn btn-xs btn-default" ng-click="self.editedLine = null" tooltip="<?= $this->translate('tooltip_cancel') ?>">
											<?= $this->icon('close') ?>
										</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</table-builder>
	</div>

	<div id="budgetCode-form" class="modal fade">
		<div class="modal-dialog">
			<form ng-submit="self.save()" class="modal-content">
				<div class="modal-header">
					<button data-dismiss="modal" type="button" class="close">&times;</button>

					<h4 class="modal-title">
						{{ self.budgetCode.id ? self.panelTitle : '<?= $this->translate('budgetCode_nav_form') ?>' }}
					</h4>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="form-group col-sm-12 required">
							<label><?= $this->translate('budgetCode_field_name') ?></label>

							<input type="text" name="name" class="form-control" autocomplete="off" ng-model="self.budgetCode.name" ng-readonly="!self.budgetCode._rights.update" required />

							<field-errors field="name" errors="self.errors.fields"></field-errors>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<?= $this->translate('close') ?>
					</button>

					<button ng-if="self.budgetCode._rights.update" type="submit" class="btn btn-submit" ng-disabled="self.loading.save">
						<?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
						<?= $this->translate('form_button_save') ?>
					</button>
				</div>
			</form>
		</div>
	</div>

	<!-- AGE SYNCHRONISATION -->
	<?php if ($this->module()->isActive('age') && $this->ageSynchronisationActive) : ?>
		<div ng-controller="ageSynchroController as age" ng-init='age.init()'>

			<fieldset>
				<legend>
					<?= $this->icon('age-synchro', 'fa-fw') ?>
					<?= $this->translate('age_synchro_legend') ?>
				</legend>
				<div style="margin: 0 25px 15px 20px;">
					<label><?= $this->translate('age_synchro_state_label') ?></label>
					<span>{{'age_synchro_state_' + age.synchro.status | translate}}</span>
					<div ng-if="age.synchro.status === 'pending'">
						<br />
						<hr />
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<label><?= $this->translate('age_synchro_flag_label') ?> :</label>
								<br />
								<label>
									<input type="checkbox" ng-model="age.synchro.budgetSeizable" />&nbsp;<?= $this->translate('age_synchro_flag_budgetSeizable') ?>
								</label>
								<br />
								<label>
									<input type="checkbox" ng-model="age.synchro.budgetPresented" />&nbsp;<?= $this->translate('age_synchro_flag_budgetPresented') ?>
								</label>
								<br />
								<label>
									<input type="checkbox" ng-model="age.synchro.executionSeizable" />&nbsp;<?= $this->translate('age_synchro_flag_executionSeizable') ?>
								</label>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<button class="btn btn-primary" ng-click="age.synchroniseProjectWithAge()"><?= $this->translate('age_synchro_btn_label') ?></button>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<button class="btn btn-warning" ng-click="age.preventAgeSynchronisationWithAge()"><?= $this->translate('age_synchro_lock_btn_label') ?></button>
							</div>
						</div>
						<br />
						<div class="row text-danger" ng-if="age.synchroValidationErrors.length > 0">
							<div class="col-lg-12">
								<p><?= $this->translate('age_synchro_validation_error') ?></p>
								<ul>
									<li ng-repeat="error in age.synchroValidationErrors">{{error | translate}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	<?php endif; ?>
	<!-- END OF AGE SYNCHRONISATION -->


</div>

<?php
$this->angular('js/src/budget/controller/budget-code/list.js');
$this->angular('js/src/budget/service/budgetCode.js');
$this->angular('js/src/project/controller/age-synchro.js');
$this->angular('js/src/project/service/age-synchro.js');
