<?php

use Budget\Entity\Account;

$budgetHTEnabled      = $this->module()->getClientModuleConfiguration('budget', 'ht');
$budgetGBCPEnabled    = $this->module()->getClientModuleConfiguration('budget', 'gbcp');
$expenseTypes         = $this->expenseTypes();
$posteExpenseBalances = $this->posteExpenseBalances();

?>

<div id="posteExpenseFormModal"
     class="modal fade"
     ng-controller="posteExpenseFormController as self"
     ng-init="self.init(
         '<?= $this->from ?>',
         <?= $this->object ? $this->object->getId() : 'null' ?>,
         <?= str_replace('"', '\'', json_encode($expenseTypes)) ?>,
         <?= str_replace('"', '\'', json_encode($posteExpenseBalances)) ?>
     )">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="posteExpenseForm" ng-submit="self.savePosteExpense();">
                <div class="modal-header">
                    {{self.posteExpense.id ? self.panelTitle : (<?= $this->module()->isActive('convention') ? 'true' : 'false' ?> && self.object.external ? '<?= $this->translate('poste_subvention_nav_form') ?>' : '<?= $this->translate('poste_expense_nav_form') ?>') }}
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id"
                           ng-model="self.posteExpense.id"/>

                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label><?= $this->translate('poste_expense_field_name') ?></label>
                            <input type="text" name="name" class="form-control" autocomplete="off"
                                   ng-model="self.posteExpense.name" ng-readonly="!self.posteExpense._rights.update || lockBudget"/>
                            <field-errors field="name" errors="self.errors.fields"></field-errors>
                        </div>
                    </div>

                    <div class="row" ng-if="self.reset">
                        <div class="form-group col-xs-12">
                            <label><?= $this->translate('poste_expense_field_account') ?></label>
                            <account-select
                                name="account"
                                ng-model="self.posteExpense.account"
                                ng-disabled="!self.posteExpense._rights.update || lockBudget"
                                form="posteExpenseForm"
                                configuration="{
                                    service: {
                                        apiParams: {
                                            search: {
                                                data: {
                                                    filters: {
                                                        type: {
                                                            op: 'eq',
                                                            val: '<?= Account::TYPE_EXPENSE ?>'
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }"
                            ></account-select>
                            <field-errors field="account" errors="self.errors.fields"></field-errors>
                        </div>
                    </div>

                    <?php if ($budgetGBCPEnabled): ?>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label><?= $this->translate('poste_expense_field_nature') ?></label>
                                <nature-select
                                    name="nature"
                                    ng-model="self.posteExpense.nature"
                                    ng-disabled="!self.posteExpense._rights.update || lockBudget"
                                    form="posteExpenseForm"
                                ></nature-select>
                                <field-errors field="nature" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>
                    <?php endif ?>

                    <?php if ($budgetGBCPEnabled): ?>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label><?= $this->translate('poste_expense_field_organization') ?></label>
                                <organization-select
                                    name="organization"
                                    ng-model="self.posteExpense.organization"
                                    ng-disabled="!self.posteExpense._rights.update || lockBudget"
                                    form="posteExpenseForm"
                                ></organization-select>
                                <field-errors field="organization" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>
                    <?php endif ?>

                    <?php if ($budgetGBCPEnabled): ?>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label><?= $this->translate('poste_expense_field_destination') ?></label>
                                <destination-select
                                    name="destination"
                                    ng-model="self.posteExpense.destination"
                                    ng-disabled="!self.posteExpense._rights.update || lockBudget"
                                    form="posteExpenseForm"
                                ></destination-select>
                                <field-errors field="destination" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>
                    <?php endif ?>

                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label><?= $this->translate('poste_expense_field_amount') ?></label>
                            <div class="input-group">
                                <input type="text" name="amount" class="form-control" autocomplete="off" input-mask="decimal"
                                       ng-model="self.posteExpense.amount" ng-readonly="!self.posteExpense._rights.update || lockBudget"/>
                                <div class="input-group-addon">
                                    <i class="fa fa-euro"></i>
                                </div>
                            </div>
                            <field-errors field="amount" errors="self.errors.fields"></field-errors>
                        </div>
                    </div>

                    <?php if ($budgetHTEnabled): ?>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label><?= $this->translate('poste_expense_field_amountHT') ?></label>
                                <div class="input-group">
                                    <input type="text" name="amountHT" class="form-control" autocomplete="off" input-mask="decimal"
                                           ng-model="self.posteExpense.amountHT" ng-readonly="!self.posteExpense._rights.update || lockBudget"/>
                                    <div class="input-group-addon">
                                        <i class="fa fa-euro"></i>
                                    </div>
                                </div>
                                <field-errors field="amountHT" errors="self.errors.fields"></field-errors>
                            </div>
                        </div>
                    <?php endif ?>

                    <div class="row" ng-if="self.reset">
                        <div class="form-group col-xs-12">
                            <label><?= $this->translate('poste_expense_field_parent') ?></label>
                            <poste-expense-select name="parent" ng-model="self.posteExpense.parent"
                                                  ng-disabled="!self.posteExpense._rights.update || lockBudget"
                                                  form="posteExpenseForm" configuration="{
                                    service: {
                                        apiParams: {
                                            search: {
                                                data: {
                                                    filters: {
                                                        project: {
                                                            op: 'eq',
                                                            val: self.posteExpense.project.parent.id || self.object.parent.id
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                            }"></poste-expense-select>
                            <field-errors field="parent" errors="self.errors.fields"></field-errors>
                        </div>
                    </div>

                    <?php if ($this->module()->isActive('keyword')) : ?>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <keywords-form-group entity="posteExpense" ng-model="self.posteExpense"></keywords-form-group>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        <?= $this->translate('close') ?>
                    </button>
                    <button class="btn btn-submit" ng-disabled="self.loading.save" ng-if="!lockBudget && self.posteExpense._rights.update">
                        <?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
                        <?= $this->translate('save') ?>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
