<div id="conventionLineFormModal" class="modal fade" ng-controller="conventionLineFormController as self" ng-init="self.init('<?= $this->from ?>', <?= $this->object ? $this->object->getId() : 'null' ?>, <?= str_replace('"', '\'', json_encode($this->expenseTypes())) ?>)">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="conventionLineForm" ng-submit="self.saveLine();">
                <div class="modal-header">
                    {{self.panelTitle}}
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id"
                           ng-model="self.line.id" />

                    <?php if ($this->from === 'project') : ?>
                    <div class="row">
                        <div class="form-group required col-xs-12">
                            <label><?= $this->translate('convention_line_field_convention') ?></label>
                            <convention-select name="convention" ng-model="self.line.convention" required="true" form="conventionLineForm"></convention-select>
                            <field-errors field="convention" errors="self.errors.fields"></field-errors>
                        </div>
                    </div>
                    <?php endif; ?>

                    <?php if ($this->from === 'convention') : ?>
                    <div class="row">
                        <div class="form-group required col-xs-12">
                            <label><?= $this->translate('convention_line_field_project') ?></label>
                            <project-select name="project" ng-model="self.line.project"
                                            required="true" form="conventionLineForm"></project-select>
                            <field-errors field="project" errors="self.errors.fields"></field-errors>
                        </div>
                    </div>
                    <?php endif; ?>


                    <div class="row">
                        <div class="form-group required col-xs-12">
                            <label><?= $this->translate('convention_line_field_percentage') ?></label>
                            <div class="input-group">
                                <input type="text" name="percentage" class="form-control" required autocomplete="off" input-mask="decimal"
                                       ng-model="self.line.percentage" ng-readonly="!self.line._rights.update" />
                                <div class="input-group-addon">
                                    %
                                </div>
                            </div>
                            <field-errors field="percentage" errors="self.errors.fields"></field-errors>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        <?= $this->translate('close') ?>
                    </button>
                    <button class="btn btn-submit" ng-disabled="self.loading.save">
                        <?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
                        <?= $this->translate('save') ?>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
