<div class="row" ng-controller="conventionLineListController as self" ng-init="self.init('<?= $this->from ?>', <?= $this->object ? $this->object->getId() : 'null' ?>, <?= str_replace('"', '\'', json_encode($this->expenseTypes())) ?>)">
    <div class="col-xs-12">
        <form name="conventionLineForm">
            <div class="table-scroller">
                <table id="convention-line-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                <?= $this->translate('convention_line_field_convention') ?>
                            </th>
                            <th>
                                <?= $this->translate('convention_line_field_percentage') ?>
                            </th>
                            <th colspan="{{self.financers.length * 2 + 1}}" class="text-center">
                                <?= $this->translate('convention_synthese_financer_repartition') ?>
                            </th>
                            <th>
                                <?= $this->translate('convention_synthese_time_spent') ?>
                            </th>
                            <th>
                                <?= $this->translate('convention_synthese_autofinancement') ?>
                            </th>
                            <th colspan="<?= sizeOf($this->expenseTypes()) ?>" class="text-center">
                                <?= ucfirst($this->translate('subventions_entities')) ?>
                            </th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th colspan="2" ng-repeat="financer in self.financers">
                                {{financer.name}}
                            </th>
                            <th>Total</th>
                            <th></th>
                            <th></th>
                            <?php
                            foreach ($this->expenseTypes() as $type) {
                                echo '<th>' . $this->translate('expense_type_' . $type) . '</th>';
                            }
                            ?>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="line in self.lines">
                            <td class="no-wrap">
                                <a href="<?= $this->url('convention/form') ?>/{{line.convention.id}}">
                                    {{line.convention.name}}
                                </a>
                            </td>
                            <td class="editable text-right no-wrap">
                                <span ng-show="self.editedLine !== line">
                                    {{line.percentage}}%
                                    <?= $this->icon('inline-edit', '', ['ng-click' => 'self.editLine(line)', 'ng-if' => 'line._rights.update' . ($this->from === 'project' && $this->acl()->onlyOwned('project:e:project:u') ? '&& self.isManager(' . $this->authStorage()->getUser()->getId() . ')' : '')]) ?>
                                </span>
                                <span ng-if="self.editedLine == line">
                                    <input type="text" class="form-control input-sm" ng-model="self.editedLineFields.percentage"/>
                                    <field-errors field="percentage" errors="self.editedLineErrors"></field-errors>
                                </span>
                            </td>
                            <td ng-repeat-start="financer in self.financers" class="text-right no-wrap">
                                <span ng-if="line.project.financerRepartitionIncomeArboRequested[financer.id]">
                                   {{self.getAmountFinancerProject(line.percentage, line.project.amountIncomeArboRequested, line.project.financerRepartitionIncomeArboRequested[financer.id].percentage) | currency : ''}} €
                                </span>
                            </td>
                            <td ng-repeat-end class="text-right no-wrap fit-content">
                                <span ng-if="line.project.financerRepartitionIncomeArboRequested[financer.id]">
                                    {{line.project.financerRepartitionIncomeArboRequested[financer.id].percentage | number : 1 || 0}}%
                                 </span>
                            </td>
                            <td class="text-right no-wrap">
                                {{(line.project.amountIncomeArboRequested * line.percentage) / 100 | currency : ''}} €
                            </td>
                            <td class="text-right no-wrap">
                                {{(line.project.timeSpent * line.percentage) / 100}} h.
                            </td>
                            <td class="text-right no-wrap">
                                {{(line.project.amountIncomeAutofinancementArboRequested * line.percentage) / 100 | currency : ''}} €
                            </td>
                            <?php
                            foreach ($this->expenseTypes() as $type) {
                                echo '<td class="text-right no-wrap">{{(line.project.amountExpenseArbo' . ucfirst($type) . ' * line.percentage) / 100 | currency : \'\'}} €</td>';
                            }
                            ?>
                            <td>
                                <div class="btn-group btn-group-actions" ng-if="self.editedLine !== line">
                                    <?php if ($this->acl()->isAllowed('convention:e:convention:d')) : ?>
                                        <a ng-if="line._rights.delete <?= ($this->from === 'project' && $this->acl()->onlyOwned('project:e:project:u') ? '&& self.isManager(' . $this->authStorage()->getUser()->getId() . ')' : '') ?>" href="" class="btn btn-xs btn-default" tooltip="<?= $this->translate('tooltip_delete') ?>" ng-click="self.deleteLine(line)">
                                            <?= $this->icon('delete') ?>
                                        </a>
                                    <?php endif; ?>
                                </div>
                                <div class="btn-group btn-group-actions" ng-if="self.editedLine == line">
                                    <button class="btn btn-xs btn-default" ng-click="self.saveEditedLine(line)" type="submit" tooltip="<?= $this->translate('tooltip_save') ?>">
                                        <?= $this->icon('save') ?>
                                    </button>
                                    <button class="btn btn-xs btn-default" ng-click="self.editedLine = null" type="button" tooltip="<?= $this->translate('tooltip_cancel') ?>">
                                        <?= $this->icon('close') ?>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="footer">
                            <th>Total</th>
                            <th></th>
                            <th ng-repeat-start="financer in self.financers" class="text-right no-wrap">
                                {{self.getAmountFinancerTotal(financer) | currency : ''}} €
                            </th>
                            <th ng-repeat-end></th>
                            <th class="text-right no-wrap">
                                {{self.getPartTotalAmountIncomeRequested() | currency : ''}} €
                            </th>
                            <th class="text-right no-wrap">
                                {{self.getTotalTimeSpent()}} h.
                            </th>
                            <th class="text-right no-wrap">
                                {{self.getTotalAmountIncomeAutofinancementRequested() | currency : ''}} €
                            </th>
                            <?php
                            foreach ($this->expenseTypes() as $type) {
                                echo '<th class="text-right no-wrap">{{self.getTotalAmountExpense("' . $type . '") | currency : \'\'}} €</th>';
                            }
                            ?>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </form>
    </div>
</div>
