.advancement-progress-project-tab {
  height: 35px;

  .progress-bar {
    line-height: 35px;
  }
}

.progress-done {
  background: #5cb85c;
  color: #FEFEFE;
  overflow: hidden;
}

.progress-late {
  background: #d9534f;
  color: #FEFEFE;
  overflow: hidden;
}

.progress-upper-target {
  background: #f0ad4e;
  color: #FEFEFE;
  overflow: hidden;
}

.progress-target {
  background: #4ECBF0;
  color: #FEFEFE;
  overflow: hidden;
}

.advancement-timeline-container {
  padding: 30px 40px;
  margin-bottom: 9rem;

  .advancement-progress-project-tab {
    position: relative;
    overflow: visible;

    &:hover {
      .timeline-create {
        display: block;
      }
    }
  }

  .text-up, .text-down {
    font-size: 7rem;
    position: absolute;
    text-align: center;
    color: #e0e0e0;
  }

  .text-up {
    top: -25px;
  }

  .text-down {
    top: 175px;
  }
}

.advancement-timeline-jalons {
  position: relative;
  margin-top: 100px;
}

.timeline-jalon-target,
.timeline-jalon-done {
  position: absolute;
  height: 100px;
  z-index: 10;

  .timeline-bar {
    height: 80px;
    position: absolute;
    width: 2px;
    background: #7b7a7a;
    margin: auto;
  }

  .timeline-panel {
    position: absolute;
    width: 80px;
    left: -40px;
    box-shadow: 0 2px 5px 0 rgba(35, 50, 55, 0.18), 0 2px 10px 0 rgba(35, 50, 55, 0.14);
    z-index: 11;

    .value {
      text-align: center;
      border: 2px solid #FEFEFE;
      padding: 8px;
    }

    .date {
      text-align: center;
      background: #DEDEDE;
      border: 2px solid #FEFEFE;
      font-weight: bold;
    }

    .remove {
      position: absolute;
      top: -8px;
      right: -8px;
      background: #FEFEFE;
      padding: 0 4px;
      border-radius: 100%;
      border: 1px solid #DEDEDE;
    }

    .name {
      position: absolute;
      white-space: nowrap;
      padding: 0 3px;
      background: #FEFEFE;
      box-shadow: 0 2px 5px 0 rgba(35, 50, 55, 0.18), 0 2px 10px 0 rgba(35, 50, 55, 0.14);
      max-width: 80px;
      text-overflow: ellipsis;
      overflow: hidden;

      &.to-left {
        right: 0;
      }
    }
    &:hover {
      cursor: pointer;
      z-index: 12;
      .name {
        overflow: hidden;
        max-width: none;
      }
    }
  }

  &:hover {
    cursor: pointer;
    z-index: 12;
  }
}

.timeline-jalon-target {
  bottom: 100%;

  .timeline-bar {
    bottom: -35px;
  }

  .timeline-panel {
    bottom: 45px;

    .value {
      background: #4ECBF0;
      color: #FEFEFE;
    }
  }
}

.timeline-jalon-done {
  .timeline-bar {
    top: 0;
  }

  .timeline-panel {
    top: 80px;

    .value {
      background: #5cb85c;
      color: #FEFEFE;
    }
  }
}

.timeline-create {
  display: none;
  position: absolute;
  height: 100%;
  cursor: pointer;

  i {
    font-size: 25px;
    color: #FEFEFE;
    line-height: 35px;
  }
}


