.advancement-progress-project-tab {
  height: 35px;
}
.advancement-progress-project-tab .progress-bar {
  line-height: 35px;
}
.progress-done {
  background: #5cb85c;
  color: #FEFEFE;
  overflow: hidden;
}
.progress-late {
  background: #d9534f;
  color: #FEFEFE;
  overflow: hidden;
}
.progress-upper-target {
  background: #f0ad4e;
  color: #FEFEFE;
  overflow: hidden;
}
.progress-target {
  background: #4ECBF0;
  color: #FEFEFE;
  overflow: hidden;
}
.advancement-timeline-container {
  padding: 30px 40px;
  margin-bottom: 9rem;
}
.advancement-timeline-container .advancement-progress-project-tab {
  position: relative;
  overflow: visible;
}
.advancement-timeline-container .advancement-progress-project-tab:hover .timeline-create {
  display: block;
}
.advancement-timeline-container .text-up,
.advancement-timeline-container .text-down {
  font-size: 7rem;
  position: absolute;
  text-align: center;
  color: #e0e0e0;
}
.advancement-timeline-container .text-up {
  top: -25px;
}
.advancement-timeline-container .text-down {
  top: 175px;
}
.advancement-timeline-jalons {
  position: relative;
  margin-top: 100px;
}
.timeline-jalon-target,
.timeline-jalon-done {
  position: absolute;
  height: 100px;
  z-index: 10;
}
.timeline-jalon-target .timeline-bar,
.timeline-jalon-done .timeline-bar {
  height: 80px;
  position: absolute;
  width: 2px;
  background: #7b7a7a;
  margin: auto;
}
.timeline-jalon-target .timeline-panel,
.timeline-jalon-done .timeline-panel {
  position: absolute;
  width: 80px;
  left: -40px;
  box-shadow: 0 2px 5px 0 rgba(35, 50, 55, 0.18), 0 2px 10px 0 rgba(35, 50, 55, 0.14);
  z-index: 11;
}
.timeline-jalon-target .timeline-panel .value,
.timeline-jalon-done .timeline-panel .value {
  text-align: center;
  border: 2px solid #FEFEFE;
  padding: 8px;
}
.timeline-jalon-target .timeline-panel .date,
.timeline-jalon-done .timeline-panel .date {
  text-align: center;
  background: #DEDEDE;
  border: 2px solid #FEFEFE;
  font-weight: bold;
}
.timeline-jalon-target .timeline-panel .remove,
.timeline-jalon-done .timeline-panel .remove {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #FEFEFE;
  padding: 0 4px;
  border-radius: 100%;
  border: 1px solid #DEDEDE;
}
.timeline-jalon-target .timeline-panel .name,
.timeline-jalon-done .timeline-panel .name {
  position: absolute;
  white-space: nowrap;
  padding: 0 3px;
  background: #FEFEFE;
  box-shadow: 0 2px 5px 0 rgba(35, 50, 55, 0.18), 0 2px 10px 0 rgba(35, 50, 55, 0.14);
  max-width: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.timeline-jalon-target .timeline-panel .name.to-left,
.timeline-jalon-done .timeline-panel .name.to-left {
  right: 0;
}
.timeline-jalon-target .timeline-panel:hover,
.timeline-jalon-done .timeline-panel:hover {
  cursor: pointer;
  z-index: 12;
}
.timeline-jalon-target .timeline-panel:hover .name,
.timeline-jalon-done .timeline-panel:hover .name {
  overflow: hidden;
  max-width: none;
}
.timeline-jalon-target:hover,
.timeline-jalon-done:hover {
  cursor: pointer;
  z-index: 12;
}
.timeline-jalon-target {
  bottom: 100%;
}
.timeline-jalon-target .timeline-bar {
  bottom: -35px;
}
.timeline-jalon-target .timeline-panel {
  bottom: 45px;
}
.timeline-jalon-target .timeline-panel .value {
  background: #4ECBF0;
  color: #FEFEFE;
}
.timeline-jalon-done .timeline-bar {
  top: 0;
}
.timeline-jalon-done .timeline-panel {
  top: 80px;
}
.timeline-jalon-done .timeline-panel .value {
  background: #5cb85c;
  color: #FEFEFE;
}
.timeline-create {
  display: none;
  position: absolute;
  height: 100%;
  cursor: pointer;
}
.timeline-create i {
  font-size: 25px;
  color: #FEFEFE;
  line-height: 35px;
}
