.analysis-map-panel-btn-left,
.analysis-map-panel-btn-right {
  height: 600px;
  background: #f7f7f7;
  border: 1px solid #dcdcdc;
  position: relative;
  width: 4rem;
  box-shadow: 0 0 10px 0 #d4d4d4;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 5px 0 rgba(35, 50, 55, 0.18), 0 2px 10px 0 rgba(35, 50, 55, 0.14)
  }

  span {
    display: block;
    position: absolute;
    white-space: nowrap;
  }
}

.analysis-map-panel-btn-left {
  span {
    transform: rotate(-90deg);
    left: -2rem;
    top: 4rem;
  }
}

.analysis-map-panel-btn-right {
  span {
    transform: rotate(90deg);
    left: -2.5rem;
    top: 5rem;
  }
}

.analysis-map-panel-header {
  background: #f7f7f7;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  font-size: 1.2rem;
  padding:10px;
  margin-bottom: 1rem;

  &:hover {
    box-shadow: 0 2px 5px 0 rgba(35, 50, 55, 0.18), 0 2px 10px 0 rgba(35, 50, 55, 0.14)
  }
}

.panel-analysis-map {
  .panel-title {
    a {
      font-size: 1.1rem;
    }
  }
}

#map {

  .legend {
    padding: 10px;

    .legend-box {
      display: none;
    }

    .key {
      white-space: nowrap;
      font-weight: bold;
    }
  }

  .leaflet-marker-icon.leaflet-div-icon {
    width: auto !important;
    height: auto !important;
    border: none;
    background: #FEFEFE;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  }


  .analysis-map-legend {

    position: absolute;
    bottom: 10px;
    z-index: 999;
    left: 10px;
    background: #FEFEFE;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    padding: 5px 10px;

    .color-legend {

      display: inline-block;
      vertical-align: bottom;

      .legend-step {
        .legend-text {
          height: 3rem;
          padding-left: 15px;
          font-weight: bold;
          position: relative;
        }
        .legend-color {
          width: 10px;
          height: 3rem;
          position: absolute;
          top: 0.5rem;
          left: 0;
        }

        &:last-child {
          .legend-text {
            height: auto;
            margin-top: -0.5rem;
          }
        }
      }
    }

    .legend-separator {
      width:  15px;
      display: inline-block;
    }

    .proportional-legend {

      display: inline-block;
      vertical-align: bottom;
      .proportional-legend-container {
        position: relative;
      }

      .proportional-legend-circle-container {
        position: absolute;
        top: 20px;
        left: 50%;
      }

      .proportional-legend-circle {
        border-radius: 100%;
        border: 1px solid #333;
        position: relative;
        opacity: 0.6;
        left: -50%;

        .proportional-legend-circle-span-container {
          position: absolute;
          left: 50%;

          &.min {
            top: -20px;
          }

          &.max {
            bottom: -20px;
          }
        }

        span {
          position: relative;
          left: -50%;
          font-weight: bold;
          color: #000;
        }
      }
    }
  }
}