.analysis-map-panel-btn-left,
.analysis-map-panel-btn-right {
  height: 600px;
  background: #f7f7f7;
  border: 1px solid #dcdcdc;
  position: relative;
  width: 4rem;
  box-shadow: 0 0 10px 0 #d4d4d4;
  cursor: pointer;
}
.analysis-map-panel-btn-left:hover,
.analysis-map-panel-btn-right:hover {
  box-shadow: 0 2px 5px 0 rgba(35, 50, 55, 0.18), 0 2px 10px 0 rgba(35, 50, 55, 0.14);
}
.analysis-map-panel-btn-left span,
.analysis-map-panel-btn-right span {
  display: block;
  position: absolute;
  white-space: nowrap;
}
.analysis-map-panel-btn-left span {
  transform: rotate(-90deg);
  left: -2rem;
  top: 4rem;
}
.analysis-map-panel-btn-right span {
  transform: rotate(90deg);
  left: -2.5rem;
  top: 5rem;
}
.analysis-map-panel-header {
  background: #f7f7f7;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 1rem;
}
.analysis-map-panel-header:hover {
  box-shadow: 0 2px 5px 0 rgba(35, 50, 55, 0.18), 0 2px 10px 0 rgba(35, 50, 55, 0.14);
}
.panel-analysis-map .panel-title a {
  font-size: 1.1rem;
}
#map .legend {
  padding: 10px;
}
#map .legend .legend-box {
  display: none;
}
#map .legend .key {
  white-space: nowrap;
  font-weight: bold;
}
#map .leaflet-marker-icon.leaflet-div-icon {
  width: auto !important;
  height: auto !important;
  border: none;
  background: #FEFEFE;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}
#map .analysis-map-legend {
  position: absolute;
  bottom: 10px;
  z-index: 999;
  left: 10px;
  background: #FEFEFE;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  padding: 5px 10px;
}
#map .analysis-map-legend .color-legend {
  display: inline-block;
  vertical-align: bottom;
}
#map .analysis-map-legend .color-legend .legend-step .legend-text {
  height: 3rem;
  padding-left: 15px;
  font-weight: bold;
  position: relative;
}
#map .analysis-map-legend .color-legend .legend-step .legend-color {
  width: 10px;
  height: 3rem;
  position: absolute;
  top: 0.5rem;
  left: 0;
}
#map .analysis-map-legend .color-legend .legend-step:last-child .legend-text {
  height: auto;
  margin-top: -0.5rem;
}
#map .analysis-map-legend .legend-separator {
  width: 15px;
  display: inline-block;
}
#map .analysis-map-legend .proportional-legend {
  display: inline-block;
  vertical-align: bottom;
}
#map .analysis-map-legend .proportional-legend .proportional-legend-container {
  position: relative;
}
#map .analysis-map-legend .proportional-legend .proportional-legend-circle {
  border-radius: 100%;
  border: 1px solid #333;
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: 0;
}
#map .analysis-map-legend .proportional-legend .proportional-legend-circle span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #FEFEFE;
}
#map .analysis-map-legend .proportional-legend .proportional-legend-circle.min {
  transform: translateX(-50%);
  left: 50%;
}
#map .analysis-map-legend .proportional-legend .proportional-legend-circle.min span {
  top: 0;
}
#map .analysis-map-legend .proportional-legend .proportional-legend-circle.max span {
  bottom: 0;
}
