.drop-here {
  position: absolute;
  width: 100%;
  background: @activeBackgroundColor;
  z-index: 1;
  height: 100%;
  border: 5px dashed @activeColor;
  font-size: 5rem;
  text-align: center;
  color: @activeColor;
  opacity: 0.7;
  display: none;
}

.drop-zone.drag-over {
  border: 5px dashed @activeBackgroundColor;
}


input[type="file"].hide-tooltip {
  color: transparent;
}
