.drop-here {
  position: absolute;
  width: 100%;
  background: rgba(84, 110, 122, 0.45);
  z-index: 1;
  height: 100%;
  border: 5px dashed #546e7a;
  font-size: 5rem;
  text-align: center;
  color: #FEFEFE;
}
