.template-editor {
  display: block;
  max-width: 700px;
  margin: auto;

  .mce-tinymce:not(.mce-fullscreen) {
    iframe {
      height: 842px !important;
    }
  }

  .mce-toolbar.mce-last {
     .mce-container.mce-last {
      float:right;

      button {
        background: @activeBackgroundColor;
        span {
          color: @activeColor;
        }
      }
    }
  }
}


.panel-variable {
  label.variable {
    display: inline;
  }
  label.variable:hover {
    background: lightgoldenrodyellow;
  }

  .variables-category {
    margin-bottom: 5px;
    display: block;
  }

  ul {
    list-style-type: circle;
    li {

      margin-bottom: 8px;

      .help-block {
        margin: 0;
      }
    }
  }
}