.field-group, .field {
  > .btn-group {
    display: none;
    margin-left: 15px;
  }

  &:hover {
    > .btn-group {
      display: inline-block;
    }
  }
}

.btn.green {
  border: 1px solid #62a420;
  background: #ffffff;
  color: #62a420;
  margin-right: 10px;

  &.checked,
  &:hover {
    background: #62a420;
    color: #ffffff;
  }
}

.btn.red {
  border: 1px solid #c92100;
  background: #ffffff;
  color: #c92100;
  margin-right: 10px;

  &.checked,
  &:hover {
    background: #c92100;
    color: #ffffff;
  }
}