.home-container {
  > .btn-group {
    display: none;
    margin-left: 5px;
  }

  &:hover {
    > .btn-group {
      display: inline-block;
      vertical-align: baseline;
    }
  }
}

h3.container-title {
  display: inline-block;
}

.container-variable li .help-block {
  margin: 0;
}

.entity, .entity:hover, .entity:active, .entity:focus, .entity:focus {
  font-size: 14px;
  display: block;
  font-weight: bold;
  color: #333;
}

// Chat
.chat {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

ul.chats {
  list-style: none;
  padding: 0 5px !important;
  max-height: 500px;

  .body, .attachment {
    display: block;
  }

  .thumb {
    width: 40px;
    display: inline-block;

    img {
      height: auto;
      max-width: 100%;
      vertical-align: middle;
    }
  }

  > li {
    margin: 20px auto;
    font-size: 12px;

    .media {
      position: relative;
      z-index: 1;
    }

    &.in {
      .media-body {
        text-align: left;
        border-left: 3px solid #16a085;
        margin-left: 65px;
        padding-left: 5px;
      }

      .media:after {
        content: "";
        height: 0;
        width: 0;
        border-bottom: 4px solid transparent;
        border-right: 4px solid #16a085;
        border-top: 4px solid transparent;
        position: absolute;
        top: 18px;
        left: 36px;
        z-index: 1;
      }
    }

    &.out {
      .media-body {
        border-right: 3px solid #e05d6f;
        margin-right: 65px;
        text-align: right;
        padding-right: 5px;
      }

      .media:after {
        content: "";
        height: 0;
        width: 0;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #e05d6f;
        border-top: 4px solid transparent;
        position: absolute;
        top: 18px;
        right: 36px;
        z-index: 1;
      }
    }
  }
}

#homeIndex {
  padding-top: 15px;

  table-builder-columns {
    display: none;
  }

  .separator {
    margin-bottom: 0;
  }

  &, #homeForm {
    .table-builder-pagination {
      margin: 5px 0 0;
    }
  }
}
