.home-container > .btn-group {
  display: none;
  margin-left: 5px;
}
.home-container:hover > .btn-group {
  display: inline-block;
  vertical-align: baseline;
}
h3.container-title {
  display: inline-block;
}
.container-variable li .help-block {
  margin: 0;
}
.entity,
.entity:hover,
.entity:active,
.entity:focus,
.entity:focus {
  font-size: 14px;
  display: block;
  font-weight: bold;
  color: #333;
}
.chat {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
ul.chats {
  list-style: none;
  padding: 0 5px !important;
  max-height: 500px;
}
ul.chats .body,
ul.chats .attachment {
  display: block;
}
ul.chats .thumb {
  width: 40px;
  display: inline-block;
}
ul.chats .thumb img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
ul.chats > li {
  margin: 20px auto;
  font-size: 12px;
}
ul.chats > li .media {
  position: relative;
  z-index: 1;
}
ul.chats > li.in .media-body {
  text-align: left;
  border-left: 3px solid #16a085;
  margin-left: 65px;
  padding-left: 5px;
}
ul.chats > li.in .media:after {
  content: "";
  height: 0;
  width: 0;
  border-bottom: 4px solid transparent;
  border-right: 4px solid #16a085;
  border-top: 4px solid transparent;
  position: absolute;
  top: 18px;
  left: 36px;
  z-index: 1;
}
ul.chats > li.out .media-body {
  border-right: 3px solid #e05d6f;
  margin-right: 65px;
  text-align: right;
  padding-right: 5px;
}
ul.chats > li.out .media:after {
  content: "";
  height: 0;
  width: 0;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #e05d6f;
  border-top: 4px solid transparent;
  position: absolute;
  top: 18px;
  right: 36px;
  z-index: 1;
}
#homeIndex table-builder-columns {
  display: none;
}
#homeIndex .separator {
  margin-bottom: 0;
}
#homeIndex .table-builder-pagination,
#homeForm .table-builder-pagination {
  margin: 5px 0 0;
}
