.keywords-tree ul[dnd-list] {
  position: relative;
}
.keywords-tree ul[dnd-list] li {
  margin-top: 5px;
}
.keywords-tree ul[dnd-list] li [dnd-handle] {
  display: none;
}
.keywords-tree.editing ul[dnd-list]:first-child {
  padding: 0;
}
.keywords-tree.editing ul[dnd-list] {
  min-height: 24px;
  list-style-type: none;
}
.keywords-tree.editing ul[dnd-list] li [dnd-handle] {
  display: inline;
  cursor: pointer;
  padding-right: 10px;
}
.keywords-tree.editing ul[dnd-list]::after {
  content: "...";
}
.keywords-tree.editing ul[dnd-list].dndDragover {
  border-left: 1px dotted #5b5b5b;
}
.keywords-tree.editing .dndDragging {
  opacity: 0.7;
}
.keywords-tree.editing .dndDraggingSource {
  display: none;
}
.keywords-tree.editing .dndPlaceholder {
  background-color: #ddd;
  min-height: 24px;
  display: block;
  position: relative;
}
