.keywords-tree {

  ul[dnd-list] {
    position: relative;

    li {
      margin-top: 5px;
      [dnd-handle] {
        display: none;
      }
    }
  }
}

.keywords-tree.editing {
  ul[dnd-list]:first-child {
    padding: 0;
  }

  ul[dnd-list] {
    min-height: 24px;
    list-style-type: none;

    li {
      [dnd-handle] {
        display: inline;
        cursor: pointer;
        padding-right: 10px;
      }
    }
  }

  ul[dnd-list]::after {
    content: "...";
  }

  ul[dnd-list].dndDragover {
    border-left: 1px dotted #5b5b5b;
  }

  .dndDragging {
    opacity: 0.7;
  }

  .dndDraggingSource {
    display: none;
  }

  .dndPlaceholder {
    background-color: #ddd;
    min-height: 24px;
    display: block;
    position: relative;
  }
}
