.memo-btn {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  font-size: 1rem;
}
.memo-btn.open {
  background: #ffffe8;
}
.memo-btn.open textarea.dropdown-menu {
  display: block;
}
.memo-btn .dropdown {
  padding: 7.5px 10px 14.5px 10px;
}
.memo-btn .dropdown-toggle {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #333;
}
.memo-btn .dropdown-toggle .fa.fa-certificate {
  position: absolute;
  font-size: 0.7rem;
  top: 10px;
  right: 22px;
  color: #c5251f;
}
.memo-btn textarea.dropdown-menu {
  display: none;
  resize: vertical;
  min-width: 450px;
  min-height: 200px;
  padding: 10px;
  background: #ffffe8;
  font-size: 1rem;
  border: none;
  outline: 0;
  color: #333;
}
.memo-btn textarea.dropdown-menu:focus {
  outline: 0;
}
