@publicationStatusDraftColor: rgb(253, 180, 92);
@publicationStatusDraftInverseColor: #FEFEFE;

@publicationStatusPublishedColor: rgb(35, 183, 229);
@publicationStatusPublishedInverseColor: #FEFEFE;

@publicationStatusArchivedColor: rgb(169, 169, 169);
@publicationStatusArchivedInverseColor: #FEFEFE;

@publicationStatusRejectedColor: rgb(240, 80, 80);
@publicationStatusRejectedInverseColor: #FEFEFE;

@publicationStatusValidatedColor: rgb(102, 189, 120);
@publicationStatusValidatedInverseColor: #FEFEFE;

@publicationStatusWaitingValidationColor: rgb(153, 114, 181);
@publicationStatusWaitingValidationInverseColor: #FEFEFE;

@publicationStatusPendingValidationColor: @publicationStatusArchivedColor;
@publicationStatusPendingValidationInverseColor: @publicationStatusArchivedInverseColor;

.badge.project_publicationStatus_draft {
  border: 1px solid @publicationStatusDraftColor;
  color: @publicationStatusDraftInverseColor;
  background: @publicationStatusDraftColor;
}

.badge.project_publicationStatus_pending {
  border: 1px solid @publicationStatusPendingValidationColor;
  color: @publicationStatusPendingValidationInverseColor;
  background: @publicationStatusPendingValidationColor;
}

.badge.project_publicationStatus_published {
  border: 1px solid @publicationStatusPublishedColor;
  color: @publicationStatusPublishedInverseColor;
  background: @publicationStatusPublishedColor;
}

.badge.project_publicationStatus_archived {
  border: 1px solid @publicationStatusArchivedColor;
  color: @publicationStatusArchivedInverseColor;
  background: @publicationStatusArchivedColor;
}

.badge.project_publicationStatus_validated {
  border: 1px solid @publicationStatusValidatedColor;
  color: @publicationStatusValidatedInverseColor;
  background: @publicationStatusValidatedColor;
}

.badge.project_publicationStatus_waiting_validation {
  border: 1px solid @publicationStatusWaitingValidationColor;
  color: @publicationStatusWaitingValidationInverseColor;
  background: @publicationStatusWaitingValidationColor;
}

.badge.project_publicationStatus_rejected {
  border: 1px solid @publicationStatusRejectedColor;
  color: @publicationStatusRejectedInverseColor;
  background: @publicationStatusRejectedColor;
}

.badge.project_publicationStatus_validated,
.badge.project_publicationStatus_waiting_validation,
.badge.project_publicationStatus_rejected,
.badge.project_publicationStatus_archived,
.badge.project_publicationStatus_published,
.badge.project_publicationStatus_pending,
.badge.project_publicationStatus_draft {

  font-size: 0.85rem;

  &:focus {
    outline: 0;
  }

  option {
    color: #333;
    background: #FEFEFE;
    font-size: 1rem;
  }
}

/**
 * Tree
 */
.tree {
  > ul {
    > li {
      &::before, &::after {
        border:0;
      }
    }
  }

  li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative;

    &::before, &::after {
      content:'';
      left:-20px;
      position:absolute;
      right:auto;
    }

    &::before {
      border-left:1px solid #999;
      bottom:50px;
      height:100%;
      top:0;
      width:1px;
    }

    &::after {
      border-top:1px solid #999;
      height:20px;
      top:23px;
      width:25px;
    }

    &:last-child::before {
      height:24px;
    }

    span.tree-collapse {
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      border:1px solid #999;
      border-radius:5px;
      display:inline-block;
      padding:3px 8px;
      text-decoration:none;
      cursor: pointer;

      &+*{
        margin-left: 5px;
      }
    }

    a:first-child{
      margin-left: 10px;
    }

    &.parent_li {
      >span {
        cursor:pointer;

        &:hover, &:hover+ul li span {
          background:#eee;
          border:1px solid #94a0b4;
          color:#000;
        }
      }
    }
  }
}

.flat-tree {
  li {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    position: relative;

    &:first-child {
      &::before, &::after {
        border: 0;
      }
    }

    &::before, &::after {
      content: '';
      left: -25px;
      position: absolute;
      right: auto;
    }

    &::before {
      border-left: 1px solid #999;
      height: 20px;
      top: -5px;
      width: 1px;
    }

    &::after {
      border-top:1px solid #999;
      top: 14px;
      width: 20px;
    }
  }
}

.filter-arbo-projects {
  .step {
    margin-bottom: 30px;

    .title {
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid @headerBackgroundColor;
      font-size: 1.2rem;
      color: @headerBackgroundColor;
      font-weight: bold;

      span {
        border: 2px solid @headerBackgroundColor;
        border-radius: 100%;
        font-size: 1rem;
        padding: 0 0.5rem;
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
      }

    }
  }
}

.change-template {
  font-size: 0.85rem;
  font-style: italic;
}

#project-tree {
  .progress {
    display: inline-block;
    vertical-align: text-top;
    width: 125px;
    margin-left: 10px;
  }

  .badge {
    width: 60px;
  }

  #columns-collapsed-node-tree ul {
    margin: 0;
    padding: 0 15px;
    list-style-type: none;
  }
}

.node-bold {
  font-weight: bold;
}

.gantt-options {
  text-align: right;
  margin-bottom: 10px;

  .dropdown-menu {
    a {
      position: relative;
      cursor: pointer;

      i.fa.fa-check {
        position: absolute;
        right: 5px;
        top: 7px;
      }
    }
  }
}

.show-fs {
  display: none;
}
.gantt-container.fullscreen {
  position: fixed;
  top: @headerHeight;
  left: 0;
  z-index: 9999999999;
  background: #FEFEFE;
  width: 100%;
  height: 100%;
  padding: 15px;
  .show-fs {
    display: block;
  }
}


#projectUpdateHistoryModal {
  color: #333;
}
