.badge.project_publicationStatus_draft {
  border: 1px solid #fdb45c;
  color: #FEFEFE;
  background: #fdb45c;
}
.badge.project_publicationStatus_pending {
  border: 1px solid #a9a9a9;
  color: #FEFEFE;
  background: #a9a9a9;
}
.badge.project_publicationStatus_published {
  border: 1px solid #23b7e5;
  color: #FEFEFE;
  background: #23b7e5;
}
.badge.project_publicationStatus_archived {
  border: 1px solid #a9a9a9;
  color: #FEFEFE;
  background: #a9a9a9;
}
.badge.project_publicationStatus_validated {
  border: 1px solid #66bd78;
  color: #FEFEFE;
  background: #66bd78;
}
.badge.project_publicationStatus_waiting_validation {
  border: 1px solid #9972b5;
  color: #FEFEFE;
  background: #9972b5;
}
.badge.project_publicationStatus_rejected {
  border: 1px solid #f05050;
  color: #FEFEFE;
  background: #f05050;
}
.badge.project_publicationStatus_validated,
.badge.project_publicationStatus_waiting_validation,
.badge.project_publicationStatus_rejected,
.badge.project_publicationStatus_archived,
.badge.project_publicationStatus_published,
.badge.project_publicationStatus_pending,
.badge.project_publicationStatus_draft {
  font-size: 0.85rem;
}
.badge.project_publicationStatus_validated:focus,
.badge.project_publicationStatus_waiting_validation:focus,
.badge.project_publicationStatus_rejected:focus,
.badge.project_publicationStatus_archived:focus,
.badge.project_publicationStatus_published:focus,
.badge.project_publicationStatus_pending:focus,
.badge.project_publicationStatus_draft:focus {
  outline: 0;
}
.badge.project_publicationStatus_validated option,
.badge.project_publicationStatus_waiting_validation option,
.badge.project_publicationStatus_rejected option,
.badge.project_publicationStatus_archived option,
.badge.project_publicationStatus_published option,
.badge.project_publicationStatus_pending option,
.badge.project_publicationStatus_draft option {
  color: #333;
  background: #FEFEFE;
  font-size: 1rem;
}
/**
 * Tree
 */
.tree > ul > li::before,
.tree > ul > li::after {
  border: 0;
}
.tree li {
  list-style-type: none;
  margin: 0;
  padding: 10px 5px 0 5px;
  position: relative;
}
.tree li::before,
.tree li::after {
  content: '';
  left: -20px;
  position: absolute;
  right: auto;
}
.tree li::before {
  border-left: 1px solid #999;
  bottom: 50px;
  height: 100%;
  top: 0;
  width: 1px;
}
.tree li::after {
  border-top: 1px solid #999;
  height: 20px;
  top: 23px;
  width: 25px;
}
.tree li:last-child::before {
  height: 24px;
}
.tree li span:first-child {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #999;
  border-radius: 5px;
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  cursor: pointer;
}
.tree li span:first-child + * {
  margin-left: 5px;
}
.tree li a:first-child {
  margin-left: 10px;
}
.tree li.parent_li > span {
  cursor: pointer;
}
.tree li.parent_li > span:hover,
.tree li.parent_li > span:hover + ul li span {
  background: #eee;
  border: 1px solid #94a0b4;
  color: #000;
}
.flat-tree li {
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
  position: relative;
}
.flat-tree li:first-child::before,
.flat-tree li:first-child::after {
  border: 0;
}
.flat-tree li::before,
.flat-tree li::after {
  content: '';
  left: -25px;
  position: absolute;
  right: auto;
}
.flat-tree li::before {
  border-left: 1px solid #999;
  height: 20px;
  top: -5px;
  width: 1px;
}
.flat-tree li::after {
  border-top: 1px solid #999;
  top: 14px;
  width: 20px;
}
.filter-arbo-projects .title {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #398a6b;
  font-weight: bold;
}
.filter-arbo-projects .title span {
  border: 2px solid #398a6b;
  border-radius: 100%;
  padding: 0 0.6rem;
  display: inline-block;
  margin-right: 10px;
}
#projectUpdateHistoryModal {
  color: #333;
}
