.kanban {
  display: flex;
}
.kanban .column {
  min-width: 300px;
  max-width: 300px;
  min-height: 650px;
  margin-right: 30px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}
.kanban .column .header {
  text-align: center;
  border-bottom: 1px solid #DEDEDE;
  padding: 5px;
  background: #f7f7f7;
}
.kanban .column .header .title {
  margin-bottom: 5px;
  font-weight: bold;
}
.kanban .column .body {
  height: 100%;
  max-height: 580px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}
.kanban .column .body .task-card,
.kanban .column .body .task-card-empty {
  display: inline-block;
  border: 1px solid #dadada;
  margin: 10px 0;
  border-radius: 5px;
  padding: 5px;
  background: #efefef;
  box-shadow: 0 1px 8px 0 #3333333b;
  cursor: all-scroll;
  width: 100%;
}
.kanban .column .body .task-card .project,
.kanban .column .body .task-card-empty .project {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 5px 0;
}
.kanban .column .body .task-card .users,
.kanban .column .body .task-card-empty .users {
  text-align: right;
  margin-bottom: 5px;
}
.kanban .column .body .task-card .users img,
.kanban .column .body .task-card-empty .users img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.kanban .column .body .task-card .progress,
.kanban .column .body .task-card-empty .progress {
  height: 4px;
}
.kanban .column .body .task-card-empty {
  width: 290px;
  height: 50px;
}
.kanban-wrapper {
  overflow: auto;
  padding: 10px 10px 10px 5px;
}
