<?php
$isMaster = $this->environment()->getClient()->isMaster();
$bubble   = $this->module()->getClientModuleConfiguration('indicator', 'analysis_bubble');
$line     = $this->module()->getClientModuleConfiguration('indicator', 'analysis_line');
$bar      = $this->module()->getClientModuleConfiguration('indicator', 'analysis_bar');
$pie      = $this->module()->getClientModuleConfiguration('indicator', 'analysis_pie');

$keywordsColumns = [];
foreach ($this->groups as $group) {
    $keywordsColumns['keyword' . $group->getId()] = [
        'name' => $group->getName(),
        'id' => $group->getId(),
    ];
}
?>


<div ng-controller="recapController as self"
    ng-init="self.init(<?= str_replace('"', '\'', htmlentities(json_encode($keywordsColumns))) ?>)">
    <?php if ($this->acl()->isAllowed('application:e:query:r')): ?>
        <div class="row">
            <div class="col-md-4  col-md-offset-4">
                    <div class="queries-toggle little-panel">
                    <div class="title" data-toggle="collapse" href="#columns-collapsed-node-tree">
                        <i class="fa fa-columns fa-fw"></i>
                        Colonnes
                    </div>
                    <div id="columns-collapsed-node-tree" class="body inner-filters-collapsed collapse">
                        <ul>
                            <li ng-repeat="column in self.columns">
                                <label>
                                    <input type="checkbox" ng-model="column.visible" ng-change="self.saveTableConfiguration()" />
                                    <span>{{ column.label }}</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="queries-toggler little-panel">
                    <div href="#queries-collapsed-node-tree-recap"
                         data-toggle="collapse"
                         class="title">
                        <i class="fa fa-shopping-basket fa-fw"></i>
                        Requêtes
                    </div>

                    <div id="queries-collapsed-node-tree-recap"
                         class="body  collapse">
                        <div ng-if="self.loadingQueries"
                             class="text-center">
                            <i class="fa fa-spin fa-circle-o-notch"></i>
                        </div>

                        <ul class="list-unstyled">
                            <li ng-repeat="query in self.queries">
                                <a ng-click="self.loadQuery(query)"
                                   class="pointer">
                                    <i ng-if="query.shared" class="fa fa-share-alt"></i> {{ query.name }}
                                </a>

                                <i ng-click="self.deleteQuery(query)" ng-if="query._rights.delete"
                                   tooltip="Supprimer"
                                   class="fa fa-trash pointer pull-right">
                                </i>
                            </li>
                        </ul>

                        <form ng-submit="self.saveQuery()"
                              name="queryForm">
                            <div class="input-group input-group-sm">
                                <input ng-model="self.query.name"
                                       placeholder="Nom de la requête"
                                       type="text"
                                       class="form-control"
                                       required/>

                                <span class="input-group-btn">
                                    <?php if (!$this->acl()->onlyOwned('application:e:query:r') && !$this->acl()->onlyOwned('application:e:query:u')) : ?>
                                        <label class="checkbox-inline" style="margin: 0 10px">
                                            <input type="checkbox" ng-model="self.query.shared"/>
                                            Partagée ?
                                        </label>
                                    <?php endif; ?>

                                    <button ng-disabled="self.loadingSaveQuery"
                                            type="submit"
                                            class="btn btn-submit">
                                        <i ng-if="self.loadingSaveQuery"
                                           class="fa fa-spin fa-circle-o-notch">
                                        </i>
                                        Enregistrer
                                    </button>
                                </span>
                            </div>

                            <field-errors field="name"
                                          errors="errors.fields">
                            </field-errors>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <?php endif ?>
    <div class="row separator">
        <div ng-controller="filterController as filter"
             ng-init="filter.init('indicator')"
             class="col-md-4">
            <div class="table-filters little-panel">
                <div class="title" data-toggle="collapse" href="#filters-collapsed-recap-indicator">
                    <?= $this->icon('filters', 'fa-fw') ?>
                    <?= $this->translate('filters') ?>
                    <?= ucfirst($this->translate('indicator_entity')) ?>
                </div>
                <div id="filters-collapsed-recap-indicator" class="body collapse">
                    <?= $this->tableFilter('self.filters.indicator', $this->indicatorFilters()); ?>
                </div>
            </div>
        </div>
        <?php if ($this->module()->isActive('project')): ?>
            <div ng-controller="projectFilterController as filter"
                 ng-init="filter.init('project', null, false)"
                 class="col-md-4">
                <div class="table-filters little-panel">
                    <div class="title" data-toggle="collapse" href="#filters-collapsed-recap-project">
                        <?= $this->icon('filters', 'fa-fw') ?>
                        <?= $this->translate('filters') ?>
                        <?= ucfirst($this->translate('project_entity')) ?>
                    </div>
                    <div id="filters-collapsed-recap-project" class="body collapse project">
                        <?= $this->tableFilter('self.filters.project', $this->projectFilters($isMaster ? ['external', 'ownership', 'networkAccessible', 'managers', 'validators', 'members', 'actors', 'ownership', 'parent', 'financer', 'level', 'budgetStatus'] : [])); ?>
                    </div>
                </div>
            </div>
        <?php endif ?>
        <div ng-controller="filterController as filter"
             ng-init="filter.init('measure')"
             class="col-md-4">
            <div class="table-filters little-panel">
                <div class="title" data-toggle="collapse" href="#filters-collapsed-recap-measure">
                    <?= $this->icon('filters', 'fa-fw') ?>
                    <?= $this->translate('filters') ?>
                    <?= ucfirst($this->translate('measure_entity')) ?>
                </div>
                <div id="filters-collapsed-recap-measure" class="body collapse">
                    <?= $this->tableFilter('self.filters.measure', $this->measureAnalysisFilters($isMaster ? ['indicator', 'project'] : ['indicator', 'project', 'client'])); ?>
                </div>
            </div>
        </div>
    </div>
    <div class="row separator">
        <div class="col-md-4">
            <div ng-controller="filterController"
                 class="table-filters little-panel">
                <div class="title" data-toggle="collapse" href="#filters-collapsed-recap-group">
                    <?= ucfirst($this->translate('group_by')) ?>
                </div>
                <div id="filters-collapsed-recap-group" class="body collapse project">
                    <select class="form-control" ng-model="self.filters.group">
                        <option value="indicator">
                            <?= ucfirst($this->translate('indicator_entity')) ?>
                        </option>
                        <?php if ($this->module()->isActive('keyword')): ?>
                            <option value="keyword">
                                <?= ucfirst($this->translate('keyword_entity')) ?>
                            </option>
                        <?php endif ?>
                        <?php if ($this->module()->isActive('map')): ?>
                            <option value="territory">
                                <?= ucfirst($this->translate('territory_entity')) ?>
                            </option>
                        <?php endif ?>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row separator">
        <div class="col-md-4 col-md-offset-4">
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn" ng-click="self.resetFilters();">
                        <?= $this->translate('table_filter_reset_button') ?>
                    </button>
                </div>
                <div class="col-xs-6 text-right">
                    <button class="btn" ng-click="self.applyFilters();">
                        <?= $this->icon('search', 'fa-fw') ?>
                        <?= $this->translate('table_filter_button') ?>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row separator" ng-if="self.loading">
        <div class="col-xs-12 text-center">
            <?= $this->icon('loading') ?>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right">
                <button class="btn btn-excel"
                        type="button"
                        ng-click="self.export()"
                        tooltip="<?= $this->translate('tooltip_export_xls') ?>">
                    <?= $this->icon('excel', 'fa-fw pointer') ?>
                </button>
            </div>
            <?php if ($bubble) : ?>
                <div class="btn-group pull-right">
                    <button type="button" class="btn" ng-click="self.view = 'bubble'">
                        <i class="fa fa-circle-o"></i>
                    </button>
                </div>
            <?php endif; ?>
            <?php if ($line) : ?>
                <div class="btn-group pull-right">
                    <button type="button" class="btn" ng-click="self.view = 'line'">
                        <i class="fa fa-line-chart"></i>
                    </button>
                </div>
            <?php endif; ?>
            <?php if ($bar) : ?>
                <div class="btn-group pull-right">
                    <button type="button" class="btn" ng-click="self.view = 'bar'">
                        <i class="fa fa-bar-chart"></i>
                    </button>
                </div>
            <?php endif; ?>
            <?php if ($bubble || $line || $bar ) : ?>
                <div class="btn-group pull-right">
                    <button type="button" class="btn" ng-click="self.view = 'table'">
                        <i class="fa fa-table"></i>
                    </button>
                </div>
            <?php endif; ?>
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-left">
                <?= $this->translate('number_filters') ?>
            </div>
        </div>
    </div>
    <div class="row" ng-show="self.view == 'line'">
        <div class="col-xs-12">
            <nvd3 options="self.chart.line.options" data="self.chart.line.data" api="self.chart.line.api"></nvd3>
        </div>
    </div>
    <div class="row" ng-show="self.view == 'bubble'">
        <div class="col-xs-12">
            <nvd3 options="self.chart.bubble.options" data="self.chart.bubble.data" api="self.chart.bubble.api"></nvd3>
        </div>
    </div>
    <div class="row" ng-show="self.view == 'bar'">
        <div class="col-xs-12">
            <nvd3 options="self.chart.bar.options" data="self.chart.bar.data" api="self.chart.bar.api"></nvd3>
        </div>
    </div>
    <div class="row" ng-show="self.view == 'table'">
         <div class="col-xs-12">
            <label><?=$this->translate('analysis_indicator_periodicity')?>&nbsp;&nbsp;</label>
            <button class="btn"  ng-class="{'btn-primary': self.periodicity==='MONTH'}" ng-click="self.setPeriodicity('MONTH')">
                <?=$this->translate('analysis_indicator_by_month')?>
            </button>
            <button class="btn" ng-class="{'btn-primary': self.periodicity==='QUARTER'}" ng-click="self.setPeriodicity('QUARTER')">
                <?=$this->translate('analysis_indicator_by_quarter')?>
            </button>
            <button class="btn" ng-class="{'btn-primary': self.periodicity==='YEAR'}" ng-click="self.setPeriodicity('YEAR')">
                <?=$this->translate('analysis_indicator_by_year')?>
            </button>

			<div ng-if="self.periodicity==='YEAR'" style="display: inline-block;">
				<button class="btn" 
					    ng-disabled="self.aggregateBy === 1" 
					    ng-click="self.setAggregateBy(self.aggregateBy - 1); " 
					    style="margin-bottom: 5px;">
                            <i class="fa fa-minus"></i>                    
                </button>
				 <span style="font-weight:bold;">
						 {{self.aggregateBy}}
                </span>
				<button class="btn"  
					    ng-click="self.setAggregateBy(self.aggregateBy + 1);" 
					    style="margin-bottom: 5px;">
                        <i class="fa fa-plus"></i>                    
                </button>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="table-scroller">
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                    <tr>
                        <th colspan="{{self.group == 'keyword' ? 3 : (self.group == 'territory' ? 2 : 1)}}">
                            <button class="btn btn-default btn-xs pull-left" ng-click="self.details = !self.details">
                                Afficher / Masquer les détails
                            </button>
                        </th>

                        <th ng-show="self.columns['type'].visible"></th>
                        <th ng-show="self.columns['description'].visible"></th>
                        <th ng-show="self.columns['definition'].visible"></th>
                        <th ng-show="self.columns['method'].visible"></th>
                        <th ng-show="self.columns['interpretation'].visible"></th>
                        <th ng-show="self.columns['uom'].visible"></th>
                        <th ng-show="self.columns['operator'].visible"></th>
                        <th ng-show="self.columns['createdAt'].visible"></th>
                        <th ng-show="self.columns['updatedAt'].visible"></th>
                        <?php
                            if ($this->module()->isActive('keyword')) {
                                foreach ($this->groups as $group) {
                                    echo '<th ng-show="self.columns[\'keyword' . $group->getId() . '\'].visible">';
                                    echo '</th>';
                                }
                            }
                        ?>
                        <th colspan="{{self.subPeriods  * (self.details ?  3 : 1)}}" ng-repeat="year in self.yearsAggregates">
                            {{year}}
                        </th>
                    </tr>
               <tr ng-show="self.hasSubPeriods()">
                    <th colspan="{{self.group == 'keyword' ? 3 : (self.group == 'territory' ? 2 : 1)}}"> </th>

                    <th ng-show="self.columns['type'].visible"></th>
                    <th ng-show="self.columns['description'].visible"></th>
                    <th ng-show="self.columns['definition'].visible"></th>
                    <th ng-show="self.columns['method'].visible"></th>
                    <th ng-show="self.columns['interpretation'].visible"></th>
                    <th ng-show="self.columns['uom'].visible"></th>
                    <th ng-show="self.columns['operator'].visible"></th>
                    <th ng-show="self.columns['createdAt'].visible"></th>
                    <th ng-show="self.columns['updatedAt'].visible"></th>
                        <?php
                            if ($this->module()->isActive('keyword')) {
                                foreach ($this->groups as $group) {
                                    echo '<th ng-show="self.columns[\'keyword' . $group->getId() . '\'].visible">';
                                    echo '</th>';
                                }
                            }
                        ?>
                        <th colspan="{{(self.details ?  3 : 1)}}" ng-repeat="period in self.periods">
                           <span ng-if="period.subPeriod"> {{ ('analysis_indicator_' + self.periodicity.toLowerCase() +'_'+ period.subPeriod)  | translate}}</span>
                        </th>
                    </tr>
                    <tr>
                        <th ng-if="self.group == 'keyword'">
                            <?= ucfirst($this->translate('group_entity')) ?>
                        </th>
                        <th ng-if="self.group == 'keyword'">
                            <?= ucfirst($this->translate('keyword_entity')) ?>
                        </th>
                        <th ng-if="self.group == 'territory'">
                            <?= ucfirst($this->translate('territory_entity')) ?>
                        </th>
                        <th>
                            <?= ucfirst($this->translate('indicator_entity')) ?>
                        </th>
                        <th ng-show="self.columns['type'].visible" ><?= $this->translate('indicator_field_type') ?></th>
                        <th ng-show="self.columns['description'].visible"><?= $this->translate('indicator_field_description') ?></th>
                        <th ng-show="self.columns['definition'].visible"><?= $this->translate('indicator_field_definition') ?></th>
                        <th ng-show="self.columns['method'].visible"><?= $this->translate('indicator_field_method') ?></th>
                        <th ng-show="self.columns['interpretation'].visible"><?= $this->translate('indicator_field_interpretation') ?></th>
                        <th ng-show="self.columns['uom'].visible"><?= $this->translate('indicator_field_uom') ?></th>
                        <th ng-show="self.columns['operator'].visible"><?= $this->translate('indicator_field_operator') ?></th>
                        <th ng-show="self.columns['createdAt'].visible"><?= $this->translate('indicator_field_createdAt') ?></th>
                        <th ng-show="self.columns['updatedAt'].visible"><?= $this->translate('indicator_field_updatedAt') ?></th>
                        <?php
                            if ($this->module()->isActive('keyword')) {
                                foreach ($this->groups as $group) {
                                    echo '<th  ng-show="self.columns[\'keyword' . $group->getId() . '\'].visible">' . $group->getName() . '</th>';
                                }
                            }
                        ?>
                        <th  ng-repeat-start="x in [].constructor(self.yearsAggregates.length * self.subPeriods) track by $index"  ng-show="self.details">
                            <?= ucfirst($this->translate('measure_type_target')) ?>
                        </th>
                        <th ng-show="self.details">
                            <?= ucfirst($this->translate('measure_type_done')) ?>
                        </th>
                        <th ng-repeat-end>
                            %
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="groupIndicator in self.groupIndicators">
                    <tr class="group" ng-if="self.hasIndicators(groupIndicator)">
                        <td  colspan="{{self.group == 'keyword' ? 3 : (self.group == 'territory' ? 2 : 1)}}" class="pointer" ng-click="groupIndicator.hideIndicators = !groupIndicator.hideIndicators">
                            <i class="fa fa-caret-down" ng-class="{'fa-caret-right' : groupIndicator.hideIndicators, 'fa-caret-down' : !groupIndicator.hideIndicators}"></i>
                            {{groupIndicator.name}}
                        </td>
                        <th ng-show="self.columns['type'].visible"></th>
                        <th ng-show="self.columns['description'].visible"></th>
                        <th ng-show="self.columns['definition'].visible"></th>
                        <th ng-show="self.columns['method'].visible"></th>
                        <th ng-show="self.columns['interpretation'].visible"></th>
                        <th ng-show="self.columns['uom'].visible"></th>
                        <th ng-show="self.columns['operator'].visible"></th>
                        <th ng-show="self.columns['createdAt'].visible"></th>
                        <th ng-show="self.columns['updatedAt'].visible"></th>
                        <?php
                            if ($this->module()->isActive('keyword')) {
                                foreach ($this->groups as $group) {
                                    echo '<th ng-show="self.columns[\'keyword' . $group->getId() . '\'].visible">';
                                    echo '</th>';
                                }
                            }
                        ?>
                        <td ng-repeat-start="period in self.periods" class="text-right" ng-show="self.details">
                            <span ng-if="groupIndicator.type == '<?= \Indicator\Entity\Indicator::TYPE_FREE ?>'">
                                {{self.getTargetValue(groupIndicator.data, period)}}
                            </span>
                            <span ng-if="indicator.type == '<?= \Indicator\Entity\Indicator::TYPE_FIXED ?>' && self.getTargetValue(indicator.data, period) !== null">
                                <span ng-style="{ backgroundColor: self.getTargetColor(indicator.data,  period)}" class="indicator-fixed-badge"></span>
                                {{self.getTargetText(groupIndicator.data,  period)}}
                            </span>
                        </td>
                        <td class="text-right" ng-show="self.details">
                            <span ng-if="groupIndicator.type == '<?= \Indicator\Entity\Indicator::TYPE_FREE ?>'">
                                {{self.getDoneValue(groupIndicator.data,  period)}}
                            </span>
                            <span ng-if="groupIndicator.type == '<?= \Indicator\Entity\Indicator::TYPE_FIXED ?>' && self.getDoneValue(indicator.data,  period) !== null">
                                <span ng-style="{ backgroundColor: self.getDoneColor(indicator.data,  period) }" class="indicator-fixed-badge"></span>
                                {{self.getDoneText(groupIndicator.data,   period)}}
                            </span>
                        </td>
                        <td  ng-repeat-end class="text-right" ng-class="{
                                    'indicator-ratio-100': self.getRatio(indicator.data,  period) >= 100,
                                    'indicator-ratio-50': self.getRatio(indicator.data,  period) > 0 && self.getRatio(indicator.data,  period) < 100,
                                    'indicator-ratio-0': self.getRatio(indicator.data,  period) <= 0 && self.getRatio(indicator.data,  period) !== null && self.getRatio(indicator.data,  period) !== ''
                                }">
                          {{self.getRatioText(groupIndicator.data,  period)}}  {{year}}
                        </td>
                    </tr>
                    <tr ng-repeat="indicator in self.getIndicators(groupIndicator.indicators)" ng-show="!groupIndicator.hideIndicators">
                        <td ng-if="self.group == 'keyword'">
                            {{indicator.group}}
                        </td>
                        <td ng-if="self.group == 'keyword'">
                            {{indicator.keyword}}
                        </td>
                        <td ng-if="self.group == 'territory'">
                            {{indicator.territory}}
                        </td>
                        <td>
                        {{indicator.name}} <i>{{indicator.uom ? '(' + indicator.uom + ')' : ''}}</i>
                        </td>
                        <td ng-show="self.columns['type'].visible">
                            <span> {{'indicator_type_' + indicator.type | translate}}</span>
                        </td>
                        <td ng-show="self.columns['description'].visible">
                            <span>{{indicator.description}}</span>
                        </td>
                        <td ng-show="self.columns['definition'].visible">
                            <span>{{indicator.definition}}</span>
                        </td>
                        <td ng-show="self.columns['method'].visible">
                            <span>{{indicator.method}}</span>
                        </td>
                        <td ng-show="self.columns['interpretation'].visible">
                            <span>{{indicator.interpretation}}</span>
                        </td>
                        <td ng-show="self.columns['uom'].visible">
                            <span>{{indicator.uom}}</span>
                        </td>
                        <td ng-show="self.columns['operator'].visible">
                            <span>{{'indicator_operator_' + indicator.operator | translate}}</span>
                        </td>
                        <td ng-show="self.columns['createdAt'].visible">
                            <span>{{indicator.createdAt | dateFormat : 'DD/MM/YYYY'}}</span>
                        </td>
                        <td ng-show="self.columns['updatedAt'].visible">
                            <span>{{indicator.updatedAt | dateFormat : 'DD/MM/YYYY'}}</span>
                        </td>
                        <?php
                            if ($this->module()->isActive('keyword')) {
                                foreach ($this->groups as $group) {
                                    echo '<td ng-show="self.columns[\'keyword' . $group->getId() . '\'].visible">';
                                        echo '<span class="comma-separated">';
                                            echo '<span ng-repeat="keyword in indicator.keywords[' . $group->getId() . ']">{{keyword.name}}</span>';
                                            echo '</span>';
                                    echo '</td>';
                                }
                            }
                        ?>
                        <td ng-repeat-start="period in self.periods" class="text-right" ng-show="self.details">
                            <span ng-if="indicator.type == '<?= \Indicator\Entity\Indicator::TYPE_FREE ?>'">
                                {{self.getTargetValue(indicator.data , period)}}
                            </span>
                            <span ng-if="indicator.type == '<?= \Indicator\Entity\Indicator::TYPE_FIXED ?>' && self.getTargetValue(indicator.data, period) !== null">
                                <span ng-style="{ backgroundColor: self.getTargetColor(indicator.data,  period)}" class="indicator-fixed-badge"></span>
                                {{self.getTargetText(indicator.data,  period)}}
                            </span>
                        </td>
                        <td class="text-right" ng-show="self.details">
                            <span ng-if="indicator.type == '<?= \Indicator\Entity\Indicator::TYPE_FREE ?>'">
                                {{self.getDoneValue(indicator.data,  period)}}
                            </span>
                            <span ng-if="indicator.type == '<?= \Indicator\Entity\Indicator::TYPE_FIXED ?>' && self.getDoneValue(indicator.data,  period) !== null">
                                <span ng-style="{ backgroundColor: self.getDoneColor(indicator.data,  period) }" class="indicator-fixed-badge"></span>
                                {{self.getDoneText(indicator.data,   period)}}
                            </span>
                        </td>
                        <td  ng-repeat-end class="text-right" ng-class="{
                                    'indicator-ratio-100': self.getRatio(indicator.data,  period) >= 100,
                                    'indicator-ratio-50': self.getRatio(indicator.data,  period) > 0 && self.getRatio(indicator.data,  period) < 100,
                                    'indicator-ratio-0': self.getRatio(indicator.data,  period) <= 0 && self.getRatio(indicator.data,  period) !== null && self.getRatio(indicator.data,  period) !== ''
                                }">
                          {{self.getRatioText(indicator.data,  period)}}  {{year}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
