<?php
$isMaster = $this->environment()->getClient()->isMaster();
?>

<div ng-controller="projectKeywordController as self">
    <div class="row separator" ng-if="self.loading">
        <div class="col-xs-12 text-center">
            <?= $this->icon('loading') ?>
        </div>
    </div>
    <div class="row separator">
        <div class="col-xs-12">
            <input type="checkbox" ng-model="self.divideTimes" ng-change="self.makeDivideTimes()"/>
            <label><?= $this->translate('analysis_time_project_divideTimes') ?></label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <label for="settingsTime"><?= $this->translate('timesheet_field_convert') ?></label>
            <settings-time-select name="settings-time" ng-model="settingsTime"></settings-time-select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <ul class="nav nav-pills nav-stacked separator">
                <li class="active">
                    <a><?= $this->translate('group_type_' . \Keyword\Entity\Group::GROUP_TYPE_REFERENCE) ?></a>
                </li>
                <li ng-repeat="group in self.projectKeywords | filter: {type: '<?= \Keyword\Entity\Group::GROUP_TYPE_REFERENCE ?>'}" ng-click="self.loadSunburstChart(group)" class="pointer">
                    <a>{{::group.name}}</a>
                </li>
            </ul>
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a><?= $this->translate('group_type_' . \Keyword\Entity\Group::GROUP_TYPE_KEYWORD) ?></a>
                </li>
                <li ng-repeat="group in self.projectKeywords | filter: {type: '<?= \Keyword\Entity\Group::GROUP_TYPE_KEYWORD ?>'}" ng-click="self.loadSunburstChart(group)" class="pointer">
                    <a>{{::group.name}}</a>
                </li>
            </ul>
        </div>
        <div ng-if="self.sunburst.data" class="col-sm-10">
            <div class="separator">
                <div class="section-title">
                    <b>{{self.sunburst.data[0].name}}</b>

                    <div class="btn-group">
                        <button class="btn btn-excel"
                                type="button"
                                ng-click="self.export('projectKeywords', null, self.sunburst.data[0].group_id, true)"
                                tooltip="<?= $this->translate('tooltip_export_xls') ?>">
                            <?= $this->icon('excel', 'fa-fw pointer') ?>
                        </button>
                    </div>
                </div>

                <nvd3 ng-if="self.sunburst.data[0].realSize > 0" options="self.sunburst.options" data="self.sunburst.data" api="self.sunburst.api"></nvd3>

                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th><?= ucfirst($this->translate('keyword_entity')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_done')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_done_percent')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_target')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_target_percent')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_left')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_left_percent')); ?></th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="data in self.all | filter: self.groupFilter">
                        <tr ng-repeat="projectKeyword in data.projectKeywords">
                            <td>{{ "&nbsp;".repeat(projectKeyword.level * 4) + projectKeyword.name }}</td>
                            <td class="text-right">{{ projectKeyword.done | number:2 }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ projectKeyword.done / settingsTime.hours | number:2 }} j.</span></td>
                            <td class="text-right">{{ projectKeyword.percentDone | number:2 }}%</td>
                            <td class="text-right">{{ projectKeyword.target | number:2  }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ projectKeyword.target / settingsTime.hours | number:2 }} j.</span></td>
                            <td class="text-right">{{ projectKeyword.percentTarget | number:2 }}%</td>
                            <td class="text-right">{{ projectKeyword.target - projectKeyword.done | number:2  }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ (projectKeyword.target - projectKeyword.done) / settingsTime.hours | number:2 }} j.</span></td>
                            <td class="text-right">{{ projectKeyword.percentTarget - projectKeyword.percentDone | number:2 }}%</td>
                            <td class="text-right">{{(projectKeyword.done / self.sunburst.data[0].realSize) * 100  | number: 1}} %</td>
                        </tr>
                        <tr>
                            <td><?= $this->translate('total') ?></td>
                            <td class="text-right">{{ data.totalDone | number:2 }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ data.totalDone / settingsTime.hours | number:2 }} j.</span></td>
                            <td class="text-right">100%</td>
                            <td class="text-right">{{ data.totalTarget | number:2  }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ data.totalTarget / settingsTime.hours | number:2 }} j.</span></td>
                            <td class="text-right">100%</td>
                            <td class="text-right">{{ data.totalTarget - data.totalDone | number:2  }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ (data.totalTarget - data.totalDone) / settingsTime.hours | number:2 }} j.</span></td>
                            <td class="text-right">100%</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
