<?php
$isMaster = $this->environment()->getClient()->isMaster();
?>

<div ng-controller="projectController as self" id="projectController">
    <div class="row separator" ng-if="self.loading">
        <div class="col-xs-12 text-center">
            <?= $this->icon('loading') ?>
        </div>
    </div>
    <div class="row separator">
        <div class="col-sm-12">
            <?php if (!$isMaster) : ?>
                <label>
                    <input type="checkbox" ng-model="self.projectAggregate" ng-change="self.aggregateProject()" />
                    <?= $this->translate('analysis_time_project_aggregate') ?>
                </label>
            <?php endif; ?>
            <div class="btn-group pull-right" ng-if="!self.projectAggregate">
                <button class="btn btn-excel" type="button" ng-click="self.export('projects')" tooltip="<?= $this->translate('tooltip_export_xls') ?>">
                    <?= $this->icon('excel', 'fa-fw pointer') ?>
                </button>
            </div>
            <div class="btn-group pull-right">
                <button class="btn" type="button" ng-click="self.switchChart()">
                    <i class="fa fa-fw" ng-class="{
                                'fa-pie-chart': self.chartTypes[self.j] == 'pie',
                                'fa-map': self.chartTypes[self.j] == 'sunburst',
                                'fa-bar-chart': self.chartTypes[self.j] == 'bar'
                            }"></i>
                </button>
            </div>
            <div class="btn-group pull-right" ng-if="self.chartTypes[self.j] == 'pie'">
                <button class="btn btn-configuration" type="button" ng-click="self.showConfigModal()" tooltip="<?= $this->translate('tooltip_config_graph') ?>">
                    <?= $this->icon('configuration', 'fa-fw pointer') ?>
                </button>
            </div>
        </div>
    </div>

    <div class="row" ng-show="self.chartTypes[self.j] == 'pie'">
        <div class="col-sm-12">
            <div ng-repeat="_chart in chart.projects" class="separator">
                <div class="section-title" ng-if="self.projectAggregate">
                    <b><?= $this->translate('project_initial_tree') ?></b>
                    <span ng-repeat="parent in chart.projects" ng-if="parent.parent !== null && parent.level <= _chart.level">
                        / {{parent.parent.name}}
                    </span>
                    <div class="btn-group">
                        <button class="btn btn-excel" type="button" ng-click="self.export('projects', _chart.parent.id)" tooltip="<?= $this->translate('tooltip_export_xls') ?>">
                            <?= $this->icon('excel', 'fa-fw pointer') ?>
                        </button>
                    </div>
                </div>

                <div id="chart" class="chart"></div>
                <div id="legend" class="legend"></div>
                <nvd3 options="_chart.options" data="_chart.data" api="_chart.api"></nvd3>

                <div class="row">
                    <div class="col-xs-4">
                        <label for="settingsTime"><?= $this->translate('timesheet_field_convert') ?></label>
                        <settings-time-select name="settings-time" ng-model="settingsTime"></settings-time-select>
                    </div>
                    <div class="col-xs-4 pull-right">
                        <input type="checkbox" name="showChildren" ng-model="self.showChildren"></input>
                        <label for="showChildren"><?= $this->translate('with_children_project') ?></label>
                    </div>
                </div>
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <?php if ($isMaster) : ?>
                                <th><?= ucfirst($this->translate('client')); ?></th>
                            <?php endif; ?>
                            <th class="th-sortable" ng-class="{
                                'th-sortable-asc': self.code == 'asc',
                                'th-sortable-desc': self.code == 'desc'
                            }" ng-click="self.sort('code')"><?= ucfirst($this->translate('project_field_code')); ?></th>
                            <th class="th-sortable" ng-class="{
                                'th-sortable-asc': self.name == 'asc',
                                'th-sortable-desc': self.name == 'desc'
                            }" ng-click="self.sort('name')"><?= ucfirst($this->translate('project_entity')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_done')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_done_percent')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_target')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_target_percent')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_left')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_left_percent')); ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="client in self.datas.res.clients"></tr>
                        <?php if ($isMaster) : ?>
                            <tr ng-init="client.unwrapProjects = false" ng-click="client.unwrapProjects = !client.unwrapProjects" ng-if="self.datas.res.projects[client.id].length > 0" class="group pointer">
                                <td>
                                    <i class="fa" ng-class="{
                                                'fa-caret-right': !client.unwrapProjects,
                                                'fa-caret-down': client.unwrapProjects
                                            }"></i>
                                    {{ client.name }}
                                </td>
                                <td colspan="8"></td>
                            </tr>
                        <?php endif; ?>
                        <tr ng-include="'projectTree'" ng-init="data=data;level=0;total=_chart" ng-show="(!self.isMaster || client.unwrapProjects)" ng-repeat-start="data in self.datas.res.projects[client.id]">
                        </tr>
                        <?php for ($i = 0; $i < 9; $i++) : ?>
                            <tr ng-include="'projectTree'" ng-init="data=data;level=<?= $i + 1 ?>;total=_chart" ng-show="(!self.isMaster || client.unwrapProjects) && self.showChildren && data.show" ng-repeat-start="data in data.children">
                            </tr>
                        <?php endfor ?>
                        <?php for ($i = 0; $i < 9; $i++) : ?>
                            <tr ng-repeat-end></tr>
                        <?php endfor ?>
                        <tr ng-repeat-end></tr>
                        <tr ng-repeat-end></tr>

                        <tr>
                            <td colspan="3"><?= $this->translate('total') ?></td>
                            <td class="text-right">{{ _chart.totalDone | number:2 }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ _chart.totalDone / settingsTime.hours | number:2 }} j.</span></td>
                            <td class="text-right">100%</td>
                            <td class="text-right">{{ _chart.totalTarget | number:2  }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ _chart.totalTarget / settingsTime.hours | number:2 }} j.</span></td>
                            <td class="text-right">100%</td>
                            <td class="text-right">{{ _chart.totalTarget - _chart.totalDone | number:2  }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ (_chart.totalTarget - _chart.totalDone) / settingsTime.hours | number:2 }} j.</span></td>
                            <td class="text-right">100%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" ng-show="self.chartTypes[self.j] == 'sunburst' || self.chartTypes[self.j] == 'bar'">
        <div class="row">
            <div ng-show="self.chartTypes[self.j] == 'sunburst'" class="col col-sm-10">
                <nvd3 ng-if="self.sunburst.data[0].realSize > 0" options="self.sunburst.options" data="self.sunburst.data" api="self.sunburst.api"></nvd3>
            </div>
            <div ng-show="self.chartTypes[self.j] == 'bar'" class="col-sm-12">
                <nvd3 options="self.barChart.options" data="self.barChart.data"></nvd3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label for="settingsTime"><?= $this->translate('timesheet_field_convert') ?></label>
                <settings-time-select name="settings-time" ng-model="settingsTime"></settings-time-select>
            </div>
            <div class="col-xs-4 pull-right">
                <input type="checkbox" name="showChildren" ng-model="self.showChildren"></input>
                <label for="showChildren"><?= $this->translate('with_children_project') ?></label>
            </div>
        </div>
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th></th>
                    <?php if ($isMaster) : ?>
                        <th><?= ucfirst($this->translate('client')); ?></th>
                    <?php endif; ?>
                    <th class="th-sortable" ng-class="{
                        'th-sortable-asc': self.code == 'asc',
                        'th-sortable-desc': self.code == 'desc'
                    }" ng-click="self.sort('code')"><?= ucfirst($this->translate('project_field_code')); ?></th>
                    <th class="th-sortable" ng-class="{
                        'th-sortable-asc': self.name == 'asc',
                        'th-sortable-desc': self.name == 'desc'
                    }" ng-click="self.sort('name')"><?= ucfirst($this->translate('project_entity')); ?></th>
                    <th><?= ucfirst($this->translate('timesheet_type_done')); ?></th>
                    <th><?= ucfirst($this->translate('timesheet_type_done_percent')); ?></th>
                    <th><?= ucfirst($this->translate('timesheet_type_target')); ?></th>
                    <th><?= ucfirst($this->translate('timesheet_type_target_percent')); ?></th>
                    <th><?= ucfirst($this->translate('timesheet_type_left')); ?></th>
                    <th><?= ucfirst($this->translate('timesheet_type_left_percent')); ?></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="client in self.datas.res.clients"></tr>
                <?php if ($isMaster) : ?>
                    <tr ng-init="client.unwrapProjects = false" ng-click="client.unwrapProjects = !client.unwrapProjects" ng-if="self.datas.res.projects[client.id].length > 0" class="group pointer">
                        <td>
                            <i class="fa" ng-class="{
                                                'fa-caret-right': !client.unwrapProjects,
                                                'fa-caret-down': client.unwrapProjects
                                            }"></i>
                            {{ client.name }}
                        </td>
                        <td colspan="8"></td>
                    </tr>
                <?php endif; ?>
                <tr ng-include="'projectTree'" ng-init="data=data;level=0;total=self.total" ng-show="(!self.isMaster || client.unwrapProjects)" ng-repeat-start="data in self.datas.res.projects[client.id]">
                </tr>
                <?php for ($i = 0; $i < 9; $i++) : ?>
                    <tr ng-include="'projectTree'" ng-init="data=data;level=<?= $i + 1 ?>;total=self.total" ng-show="(!self.isMaster || client.unwrapProjects) && self.showChildren && data.show" ng-repeat-start="data in data.children">
                    </tr>
                <?php endfor ?>
                <?php for ($i = 0; $i < 9; $i++) : ?>
                    <tr ng-repeat-end></tr>
                <?php endfor ?>
                <tr ng-repeat-end></tr>
                <tr ng-repeat-end></tr>

                <tr>
                    <td colspan="3"><?= $this->translate('total') ?></td>
                    <td class="text-right">{{ _chart.totalDone | number:2 }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ _chart.totalDone / settingsTime.hours | number:2 }} j.</span></td>
                    <td class="text-right">100%</td>
                    <td class="text-right">{{ _chart.totalTarget | number:2  }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ _chart.totalTarget / settingsTime.hours | number:2 }} j.</span></td>
                    <td class="text-right">100%</td>
                    <td class="text-right">{{ _chart.totalTarget - _chart.totalDone | number:2  }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ (_chart.totalTarget - _chart.totalDone) / settingsTime.hours | number:2 }} j.</span></td>
                    <td class="text-right">100%</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/ng-template" id="projectTree">
        <td style="padding-left:{{(level + 1) * 10}}px"
            ng-click="self.expandable(data, client)">
            <i  ng-show="data.children.length > 0" 
                class="fa" ng-class="{
                'fa-caret-right': !data.arrow,
                'fa-caret-down': data.arrow
            }"></i></td>
        <td ng-if="self.isMaster"></td>
        <td style="padding-left:{{level * 10}}px">{{ data.code }}</td>
        <td style="padding-left:{{level * 10}}px">{{ data.label || data.name }}</td>
        <td class="text-right">{{ data.done | number:2 }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ data.done / settingsTime.hours | number:2 }} j.</span></td>
        <td class="text-right">{{ (data.done / total.totalDone * 100 || 0) | number:2 }}%</td>
        <td class="text-right">{{ data.target | number:2  }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ data.target / settingsTime.hours | number:2 }} j.</span></td>
        <td class="text-right">{{ (data.target / total.totalTarget * 100 || 0) | number:2 }}%</td>
        <td class="text-right">{{ data.target - data.done | number:2  }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ (data.target - data.done) / settingsTime.hours | number:2 }} j.</span></td>
        <td class="text-right">{{ (data.target / total.totalTarget * 100 || 0) - (data.done / total.totalDone * 100 || 0) | number:2 }}%</td>

    </script>

    <div class="modal" id="configGraph">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <?= $this->translate('configuration_time_graph_rule') ?>
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                                <div class="form-check">
                                    <input type="checkbox" ng-model="self.configuration.timeGraph.title" class="form-check-input" id="title">
                                    <label class="form-check-label" for="title"><?= $this->translate('configuration_title_project') ?></label>
                                </div>

                                <div class="form-check">
                                    <input type="checkbox" ng-model="self.configuration.timeGraph.code" class="form-check-input" id="code">
                                    <label class="form-check-label" for="code"><?= $this->translate('configuration_code_project') ?></label>
                                </div>

                                <div class="form-check">
                                    <input type="checkbox" ng-model="self.configuration.timeGraph.percent" class="form-check-input" id="percent">
                                    <label class="form-check-label" for="percent"><?= $this->translate('configuration_percent') ?></label>
                                </div>

                                <div class="form-check">
                                    <input type="checkbox" ng-model="self.configuration.timeGraph.hours" class="form-check-input" id="hours">
                                    <label class="form-check-label" for="hours"><?= $this->translate('configuration_hours') ?></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        <?= $this->translate('close') ?>
                    </button>


                    <button class="btn btn-default" type="button" ng-click="self.saveConfiguration()">
                        <?= $this->icon('loading', '', ['ng-if' => 'self.loading.save']) ?>
                        <?= $this->translate('form_button_save') ?>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>