<?php
$isMaster = $this->environment()->getClient()->isMaster();
?>

<div ng-controller="territoryController as self">
    <div class="row separator" ng-if="self.loading">
        <div class="col-xs-12 text-center">
            <?= $this->icon('loading') ?>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a><?= ucfirst($this->translate('territory_entities')) ?></a>
                </li>
                <li ng-click="self.loadTerritories(self.territories)" class="pointer">
                    <a><?= $this->translate('all') ?></a>
                </li>
                <li ng-repeat="territory in self.territories track by $index" ng-click="self.loadTerritories(territory)" class="pointer">
                    <a>{{territory.name}}</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10">
            <div ng-repeat="_chart in chart.territories" class="separator">
                <div class="section-title">
                    <b>{{_chart.territory.name}}</b>
                    <span ng-repeat="parent in chart.territories" ng-if="parent.parent !== null && parent.level <= _chart.level">
                        / {{parent.parent.name}}
                    </span>

                    <div class="btn-group">
                        <button class="btn btn-excel"
                                type="button"
                                ng-click="self.export('territories', _chart.parent.id, _chart.territory.id)"
                                tooltip="<?= $this->translate('tooltip_export_xls') ?>">
                            <?= $this->icon('excel', 'fa-fw pointer') ?>
                        </button>
                    </div>
                </div>
                <nvd3 options="_chart.options" data="_chart.data" api="_chart.api"></nvd3>

                <div class="row">
                    <div class="col-xs-4">
                        <label for="settingsTime"><?= $this->translate('timesheet_field_convert') ?></label>
                        <settings-time-select name="settings-time" ng-model="settingsTime"></settings-time-select>
                    </div>
                </div>
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th><?= ucfirst($this->translate('territory_entity')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_done')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_done_percent')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_target')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_target_percent')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_left')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_left_percent')); ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in _chart.data">
                            <td>{{ data.label }}</td>
                            <td class="text-right">{{ data.done | number:2 }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ data.done / settingsTime.hours | number:2 }} j.</span></td>
                            <td class="text-right">{{ data.percentDone | number:2 }}%</td>
                            <td class="text-right">{{ data.target | number:2  }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ data.target / settingsTime.hours | number:2 }} j.</span></td>
                            <td class="text-right">{{ data.percentTarget | number:2 }}%</td>
                            <td class="text-right">{{ data.target - data.done | number:2  }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ (data.target - data.done) / settingsTime.hours | number:2 }} j.</span></td>
                            <td class="text-right">{{ data.percentTarget - data.percentDone | number:2 }}%</td>
                        </tr>
                        <tr>
                            <td><?= $this->translate('total') ?></td>
                            <td class="text-right">{{ _chart.totalDone | number:2 }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ _chart.totalDone / settingsTime.hours | number:2 }} j.</span></td>
                            <td class="text-right">100%</td>
                            <td class="text-right">{{ _chart.totalTarget | number:2  }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ _chart.totalTarget / settingsTime.hours | number:2 }} j.</span></td>
                            <td class="text-right">100%</td>
                            <td class="text-right">{{ _chart.totalTarget - _chart.totalDone | number:2  }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ (_chart.totalTarget - _chart.totalDone) / settingsTime.hours | number:2 }} j.</span></td>
                            <td class="text-right">100%</td>
                        </tr>
                    </tbody>
                </table>
                <br class="separator"/>
                <br class="separator"/>
            </div>
        </div>
    </div>
</div>
