<?php
$isMaster = $this->environment()->getClient()->isMaster();
?>
<div ng-controller="timesheetController as self">
    <div class="row separator" ng-if="self.loading">
        <div class="col-xs-12 text-center">
            <?= $this->icon('loading') ?>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-sm-12">
            <nvd3 options="chart.timesheets.options" data="chart.timesheets.data" api="apiTimesheets"></nvd3>
        </div>
    </div>-->
    <div class="row">
        <div class="col-xs-4">
            <label for="settingsTime"><?= $this->translate('timesheet_field_convert') ?></label>
            <settings-time-select name="settings-time" ng-model="settingsTime"></settings-time-select>
        </div>
        <div class="col-sm-12">
            <table class="table table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th><?= ucfirst($this->translate('timesheet_type_done')); ?></th>
                        <th><?= ucfirst($this->translate('timesheet_type_target')); ?></th>
                        <th><?= ucfirst($this->translate('timesheet_type_left')); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-right">{{ self.datas.totals.done }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ self.datas.totals.done / settingsTime.hours | number:2 }} j.</span></td>
                        <td class="text-right">{{ self.datas.totals.target }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ self.datas.totals.target / settingsTime.hours | number:2 }} j.</span></td>
                        <td class="text-right">{{ self.datas.totals.left }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ self.datas.totals.left / settingsTime.hours | number:2 }} j.</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>