<?php
$isMaster = $this->environment()->getClient()->isMaster();
?>

<div ng-controller="userController as self">
    <div class="row separator" ng-if="self.loading">
        <div class="col-xs-12 text-center">
            <?= $this->icon('loading') ?>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right">
                <button class="btn btn-excel"
                        type="button"
                        ng-click="self.export('users')"
                        tooltip="<?= $this->translate('tooltip_export_xls') ?>">
                    <?= $this->icon('excel', 'fa-fw pointer') ?>
                </button>
                <button class="btn" type="button" ng-click="self.switchChart(apiUsers, 'users')">
                    <i class="fa fa-fw" ng-class="{
                                    'fa-pie-chart': chart.users.options.chart.type == 'multiBarChart',
                                    'fa-bar-chart': chart.users.options.chart.type == 'pieChart',
                                }"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <nvd3 options="chart.users.options" data="chart.users.data" api="apiUsers"></nvd3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <label for="settingsTime"><?= $this->translate('timesheet_field_convert') ?></label>
            <settings-time-select name="settings-time" ng-model="settingsTime"></settings-time-select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th ng-if="self.isMaster"><?= ucfirst($this->translate('client')); ?></th>
                        <th><?= ucfirst($this->translate('user_entity')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_done')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_done_percent')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_target')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_target_percent')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_left')); ?></th>
                            <th><?= ucfirst($this->translate('timesheet_type_left_percent')); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="client in self.datas.res.clients"></tr>
                    <tr ng-init="client.unwrapUsers = false"
                        ng-if="self.isMaster && self.datas.res.users[client.id].length !== 0"
                        ng-click="client.unwrapUsers = !client.unwrapUsers"
                        class="group pointer">
                        <td>
                            <i class="fa" ng-class="{
                                            'fa-caret-right': !client.unwrapUsers,
                                            'fa-caret-down': client.unwrapUsers
                                        }"></i>
                            {{ client.name }}
                        </td>
                        <td colspan="4"></td>
                    </tr>
                    <tr ng-repeat="user in self.datas.res.users[client.id]"
                        ng-if="!self.isMaster || client.unwrapUsers">
                        <td ng-if="self.isMaster"></td>
                        <td>{{ user.name }}</td>
                        <td class="text-right">{{ user.done | number:2 }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ user.done / settingsTime.hours | number:2 }} j.</span></td>
                        <td class="text-right">{{ user.percentDone | number:2 }}%</td>
                        <td class="text-right">{{ user.target | number:2  }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ user.done / settingsTime.hours | number:2 }} j.</span></td>
                        <td class="text-right">{{ user.percentTarget | number:2 }}%</td>
                        <td class="text-right">{{ user.target - user.done | number:2  }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ (user.target - user.done) / settingsTime.hours | number:2 }} j.</span></td>
                        <td class="text-right">{{ user.percentTarget - user.percentDone | number:2 }}%</td>
                    </tr>
                    <tr ng-repeat-end></tr>
                        <tr>
                            <td><?= $this->translate('total') ?></td>
                            <td class="text-right">{{ self.totalDone | number:2 }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ self.totalDone / settingsTime.hours | number:2 }} j.</span></td>
                            <td class="text-right">100%</td>
                            <td class="text-right">{{ self.totalTarget | number:2  }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ self.totalTarget / settingsTime.hours | number:2 }} j.</span></td>
                            <td class="text-right">100%</td>
                            <td class="text-right">{{ self.totalTarget - self.totalDone | number:2  }} h.<span ng-if="settingsTime.hours">&nbsp;&nbsp; / &nbsp;&nbsp; {{ (self.totalTarget - self.totalDone) / settingsTime.hours | number:2 }} j.</span></td>
                            <td class="text-right">100%</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
