<div class="separator"></div>

<div class="row row-padding">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading">
                Actualités
            </div>
            <div class="panel-body">
                <h4>
                    Version de développement :
                </h4>
                <br />
                <p>
                    Nous vous rappelons que le projet est en cours développement et que vous vous situez sur une version de test.
                    <br />
                    Il est donc possible que certaines fonctionnalités soient par moment instables ou encore non implémentées.
                    <br />
                    Pour toute question, vous pouvez nous contacter à l'adresse <b>support@siter.fr</b> ou par téléphone au <b>+33 (0)9 72 54 52 46</b>.
                </p>
            </div>
        </div>
    </div>
</div>
